
.product-detail {
    .cart-and-ipay {
        .btn {
            
            @include media-breakpoint-up(xs) {
                min-width: 100%;
            }

            @include media-breakpoint-up(xl) {
                min-width: rem(151);
            }

            .google-pay-container {
            
                .gpay-button-fill > {
        
                    .gpay-button {
                        &.black.plain.short {
                            border-radius: rem(0);
                            width: rem(151);
                            height: rem(38.4);
                            margin-right: rem(8);
                        
                            @include media-breakpoint-up(xs) {
                                width: 100%;
                                height: rem(38.4);
                                margin-top: rem(3);
                            }

                            @include media-breakpoint-up(custom-md) {
                                margin-top: rem(4);
                            }

                            @include media-breakpoint-up(xl) {
                                width: rem(151);
                                height: rem(38.4);
                                margin-top: rem(0);
                            }
                        }
                        
                    }
                }
            }
        }
    }
}