@import "~movado/product/_imageCarousel";

.product-detail {
    .cs-carousel-wrapper {
      position: relative;
    }
} 

.primary-images {
    .quickview {
      @include custom-media-query1($small-screen-width , $small-screen-width4) { 
        position: relative;
        left: rem(14);
        bottom: rem(185);
      }
      @include media-breakpoint-up(sm) {
        bottom: rem(150);
        left: rem(20);
      }
      @include media-breakpoint-up(custom-md) {
        bottom: rem(142);
        left: rem(34);
      }
      @include media-breakpoint-up(md) {
        bottom: rem(176);
        left: rem(34);
      }
      @include media-breakpoint-up(lg) {
        bottom: rem(148);
        left: rem(34);
      }

    }
  }