.carousel-indicators {
  bottom: 0;
  li {
    height: rem(10);
    width: rem(10);
    margin: rem(2.5);
    border-radius: rem(10);
    border: 1px solid $grey10;
    background-color: $grey10;
    &.active {
      border-color: $black;
      background-color: $black;
    }
  }
}

.primary-images {
  .quickview {
    position: absolute;
    bottom: rem(80);
    left: rem(15);
    @include media-breakpoint-up(md) {
      bottom: rem(140);
      left: rem(40);
    }
    z-index: 1;
    i {
      &.fa-circle {
        border-radius: 1.563rem;
        box-shadow: 0 rem(2) rem(10) rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.ob-carousel-quickview {

    .cs-carousel-wrapper {
        position: relative;
    } 
     
    .quickview {
        bottom: rem(80);
        left: rem(15);

        @include media-breakpoint-up(md) {
            bottom: rem(92);
            left: rem(24);
        }
    }
}

#zoomProduct {

  padding: 0 !important;
  overflow: hidden;

  @include media-breakpoint-up(xs) {
    .modal-dialog {

      max-width: 100%;
      margin: 0;

    }

    .modal-header {
      border-width: 0;
      position: relative;
      z-index: 1;
    }

    .modal-content {
      border-width: 0;
      border-radius: 0;
    }

    .modal-body {
      height: 100vh;
      text-align: center;
      margin-top: rem(-56);
      padding: 0;
    }

    img {
      max-height: 100vh;
      max-width: 100%;
      touch-action: double-tap-zoom;
    }
  }

  @include media-breakpoint-up(xl) {
    .pinch-zoom-container {
      overflow: auto !important;
      min-height: 100%;

      .pinchZoom {
        position: relative !important;
        transform: none !important;
      }

      img {
        max-height: none;
        min-width: auto;
      }
    }
  }
}
