.mcs_hero-banner {
    width: 100%;
    padding: rem(0);

    &-row {
        padding-left: rem(0);
        padding-right: rem(0);

        > div {
            padding-left: rem(0);
            padding-right: rem(0);
        }
    }

    &-column {
        display: block;
        position: relative;
        text-decoration: none;

        a {
            text-decoration: none;
            
            &:hover {
                text-decoration: none;
            }
        }

        &-inner {
            position: absolute;
            bottom: rem(30);
            left: rem(30);

            .product {
                &-name {
                    color: $white;
                    font-family: $font-baskerville;
                    font-weight: 500;
                    font-size: rem(40);
                    margin-bottom: rem(15);
                }

                &-price {
                    color: $white;
                    font-family: $font-proxima-medium;
                    font-size: rem(24);
                    font-weight: 500;
                    margin-bottom: rem(20);
                }
            }

            &-btn {
                background-color: $amber;
                border-radius: rem(5);
                height: rem(48);
                color: $black;
                font-family: $font-proxima-medium;
                font-size: rem(20);
                text-transform: capitalize;
                letter-spacing: rem(0.8);
            }
        }


        img {
            max-width: 100%;
            width: 100%;
        }
    }

}

.mcs-category {
    padding-top: rem(75);

    &-heading {
        text-align: center;
        font-family: $font-baskerville;
        font-size: rem(36);
        font-weight: 500;
        margin-bottom: rem(35);
    }

    &-column {
        position: relative;
        margin-bottom: rem(40);
        padding: 0;
        min-height: rem(360);
        width: 100%;
        background-color: $light-grey;

        &-top {
           padding: rem(0);
        }
    
        &-bottom {
            position: absolute;
            bottom: rem(0);
            height: rem(112);
            width: rem(360);
            padding: rem(20) rem(30);
            background: linear-gradient(180deg, $white-transparent 0%, $white 100%);

            h4 {
                color: $black;
                font-family: $font-baskerville;
                font-weight: 500;
                font-size: rem(26);
            }

            &-link {
                font-family: $font-proxima-medium;
                font-size: rem(16);
                font-weight: 500;
                line-height: rem(25);
                color: $black1;
                text-decoration: underline;
            }
        }
    }
}

.mcs-feature {
    height: rem(188);
    background-color: $light-grey2;
    padding: rem(50) rem(0);

    &-content {

        h4 {
            color: $black1;
            font-family: $font-proxima-medium;
            font-size: rem(24);
            font-weight: 500;
        }

        p {
            color: $black1;
            font-family: $font-proxima-medium;
            font-size: rem(16);
            font-weight: 500; 
        }
    }
}

.mcs-brand {
    padding: rem(0);
    margin-top: rem(50);

    &-row {
        & > div:nth-child(2) {
            background-color: #F6F6F6;
        }
    }
    
    &-column {

        &-one {
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    
        &-two {
            padding-top: rem(50);
            padding-bottom: rem(50);

            li {
                color:#007BFF;
                font-size: rem(16);
                padding: rem(8) rem(0);

                a {
                    color: #212529;
                    text-decoration: underline;
                }
            }
        }
    }
}