@import '../variables';
@import '~movado/account/account';
@import '../components/formFields';

.account-pages {
    margin: rem(20px) auto;
    padding: 0;

    &.dashboard {
        max-width: rem(1000);
    }

    .account-heading {
        text-align: center;
        margin: 0 auto;
        max-width: rem(800);
        padding: rem(40) rem(20);
        width: 100%;
        font-family: $font-medium;

        &-title {
            text-transform: uppercase;
            font-family: $font-medium;
            font-size: rem(36);
            font-weight: 500;
            letter-spacing: rem(3.38);
            line-height: rem(42);
            margin-bottom: rem(15);

            @include media-breakpoint-up(lg) {
                font-size: rem(50);
                letter-spacing: rem(4.69);
                line-height: 1.5;
            }
        }

        &-copy {
            color: $black;
            font-size: rem(16);
            font-weight: 500;
            line-height: rem(23);
            letter-spacing: rem(0.5);
        }

        &-divider {
            border-color: $gray91;
            border-style: inset;
            border-bottom: 0;
            margin-top: rem(1);
            width: 80%;

            @include media-breakpoint-up(lg) {
                width: 45%
            }
        }
    }

    .card {

        &-header {

            a {
                text-transform: uppercase;
            }
        }

        &-body {

            &.card-info-group {
                padding-bottom: rem(8);
            }
        }

        .card-footer {

            .dashboard-order-card-footer-columns {

                &.card-info-group {
                    margin-bottom: 0;
                }
            }

            .field-label {
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }

    .card-msg {
        border: 0;

        h4 {
            font-family: $font-book;
            font-size: rem(20);
            line-height: rem(20);
            font-weight: 400;
            letter-spacing: normal;
        }

        .empty-order-msg {
            color: $light-gray;
        }
    }
    
    .insider-list {
        
        > div {
            width: 100%;
        }
    }

    .insider-card {
        width: 100%;
        margin-bottom: rem(20);

        &:hover {
            text-decoration: none;
        }

        @include media-breakpoint-up(md-down) {
            width: 25%;
        }

        &-inner {
            background-color: $light-white;
            box-shadow: 0 rem(2) rem(1) 0 hsla(0,0%,60%,.4), 0 rem(3) rem(5) rem(1) hsla(0,0%,75%,.25);
            margin: auto;
            padding: rem(30) 0;
            position: relative;
            text-align: center;
            width: 100%;

            @include media-breakpoint-up(md-down) {
                width: calc(100% - 15px);
                display: flex;
            }

            @include media-breakpoint-up(lg) {
                width: calc(100% - 20px);
            }
        }

        &-half {
            width: 100%;

            @include media-breakpoint-up(md-down) {
                width: 25%;
            }

            &-content {
                margin: auto;
                padding: 30px 0;
            }
        }

        &-check {
            right: rem(10);
            position: absolute;
            top: rem(10);
            display: none;
        }

        &-svg {
            min-height: rem(50);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        &-name {
            color: $dark-orange1;
            font-size: rem(14);
            font-weight: 500;
            letter-spacing: rem(1.17);
            line-height: rem(20);
            margin-bottom: rem(10);
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                font-size: rem(12);
            }

            @include media-breakpoint-up(xl) {
                font-size: rem(14);
            }
        }

        &-button {
            letter-spacing: rem(1.5);
            width: 100%;
            min-width: auto;
            color: $white;
            background: $black;
            padding-top: .5rem;
            padding-bottom: .5rem;
            max-width: initial;

            &:hover, &:focus {
                background: $light-green;
            }
        }
    }

    .swell-campaign { 

        &-list {
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            &-container {
                max-width: rem(1000);
                margin: 0 auto;
            }
    
            &-title {
                position: relative;
                margin: 0;
                margin-bottom: rem(20);

                span {
                    font-family: $font-book;
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    background-color: $white;
                    position: relative;
                    padding: 0 15px;
                }

                &::before {
                    width: calc(100% - 15px);
                    position: absolute;
                    top: 3px;
                    border-color: $gray11;
                }
            }
        }

        &-link {
            width: calc(50% - 10px);
            margin-bottom: rem(20);
            position: relative;
            text-align: center;

            @include media-breakpoint-up(lg) {
                width: 25%;
            }

            > div {
                padding: rem(30) 0;
                box-shadow: 0 rem(2) rem(1) 0 hsla(0,0%,60%,.4), 0 rem(3) rem(5) rem(1) hsla(0,0%,75%,.25);
                margin: auto;

                @include media-breakpoint-up(md-down) {
                    width: calc(100% - 15px);
                }

                @include media-breakpoint-up(lg) {
                    width: calc(100% - 20px);
                }

                .fa {
                    min-height: rem(50);
                    color: $chinese-silver;
                    font-size: rem(40);
                }

                h5 {
                    color: $dark-orange1;
                    font-family: $font-medium;
                    font-size: rem(14);
                    font-weight: 500;
                    letter-spacing: 1.17px;
                    line-height: rem(20);
                    margin-bottom: rem(10);
                    text-transform: uppercase;

                    @include media-breakpoint-up(lg) {
                        font-size: rem(12);
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: rem(14);
                    }
                }

                p {
                    font-family: $font-medium;
                    font-size: rem(11);
                    letter-spacing: rem(1.5);
                    color: $white;
                    background: $black;
                    padding: rem(8) rem(10);
                    width: 90%;
                    min-width: auto;
                    max-width: rem(200);
                    border: rem(2) solid $black;
                    transition: .3s ease-in;
                    letter-spacing: rem(1);
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 auto;
                    cursor: pointer;

                    &:hover, &:focus {
                        background: $light-green;
                    }
                }
            }
        }
    }

    .swell-redemption {

        &-list {
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            &-container {
                max-width: rem(1000);
                margin: 0 auto;
            }

            &-title {
                position: relative;
                margin: 0;
                margin-bottom: rem(20);

                span {
                    font-family: $font-book;
                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 20px;
                    background-color: $white;
                    position: relative;
                    padding: 0 15px;
                }

                &::before {
                    width: calc(100% - 15px);
                    position: absolute;
                    top: 3px;
                    border-color: $gray11;
                }
            }
            
            &-holder {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: rem(30);
                justify-content: flex-start;
            }
        }

        &-link {
            width: calc(50% - 10px);
            margin-bottom: 20px;

            @include media-breakpoint-up(md-down) {
                width: 50%;
            }

            &-inside {
                background-color: $light-white;
                box-shadow: 0 rem(2) rem(1) 0 hsla(0, 0%, 60%, .4), 0 rem(3) rem(5) rem(1) hsla(0, 0%, 75%, .25);
                margin: auto;
                margin-bottom: rem(20);
                padding: rem(50) 0;
                text-align: center;

                @include media-breakpoint-up(md-down) {
                    width: calc(100% - 15px);
                    margin: 0 rem(15);
                }
    
                @include media-breakpoint-up(lg) {
                    width: calc(100% - 30px);
                    padding: rem(50) 0 rem(40);
                }

                h2 {
                    color: $curious-blue;
                    font-family: $font-medium;
                    font-size: rem(30);
                    font-weight: 500;
                    letter-spacing: .7px;
                    line-height: rem(29);
                    margin-bottom: rem(5);
                        
                    @include media-breakpoint-up(lg) {
                        font-size: rem(42);
                        margin-bottom: rem(10);
                    }
                }
            }
        }
    }

    .how-to-redeem {
        display: block;

        @include media-breakpoint-up(lg) {
            padding-top: rem(10);
            display: flex;
        }

        &-container {
            max-width: rem(1000);
            margin: 0 auto;
        }

        &-content {
            display: block;
            text-align: center;

            @include media-breakpoint-up(lg) {
                align-items: center;
                display: flex;
                justify-content: space-between;
                min-width: rem(320);
                width: 40%;
            }
        }

        &-text {
            font-family: $font-medium;
            color: $curious-blue;
            font-size: rem(12);
            font-weight: 500;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                font-size: rem(18);
                letter-spacing: rem(1.5);
                padding: 0 rem(25);
                text-align: right;
            }
        }

        &-down-wrapper {
            display: block;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        &-right-wrapper {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        &-redemption {
            background-color: $white;
            box-shadow: 0 rem(2) rem(1) 0 hsla(0,0%,60%,.4), 0 rem(3) rem(5) rem(1) hsla(0,0%,75%,.25);
            margin: 0 auto;
            max-width: rem(360);
            padding: rem(10) rem(20);
            text-align: center;
            width: calc(100% - 15px);
            background-color: $white-gray;

            @include media-breakpoint-up(lg) {
                max-width: none;
                width: calc(50% - 15px);
            }

            &-text {
                font-family: $font-book;
                font-size: rem(16);
                letter-spacing: rem(2);
                color: $black;
                text-transform: uppercase;
                line-height: 1.767rem;
                margin: 0;

                span {
                    font-family: $font-medium;
                    color: $curious-blue;
                    font-weight: 500;
                }

                
                &-small {
                    color: $black;
                    font-size: rem(12);
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 1.767rem;
                    margin: 0;

                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}

.order-detail-container {
    padding-top: rem(20);
}

.order-list-card {
    padding-left: rem(15);
    padding-right: rem(15);
}

.earn-more-btn, .get-reward-btn {
    background: transparent;
    border: rem(1) solid $black;
    color: $black;
    font-size: rem(10.8);
    height: rem(45);
    white-space: nowrap;
}
