@import '../variables';
@import '~movado/account/addressBook';

.account-pages {
    .card-body.card-body-positioning {
        > div {
            font-size: rem(14);
            line-height: rem(21);
            letter-spacing: rem(2);
            color: $grey-dark-1;
            font-family: $font-primary;
        }
    }
    
        .btn-save {
            &:hover {
                background-color: $light-green;
                border: 0.125rem solid $black;
            }

            &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                background-color: $light-green;
                border: 0.125rem solid $black;
                box-shadow: none;
                outline: 0;
                line-height: normal;
            }

            &.btn-primary {

                &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                    background-color: $light-green;
                    border: 0.125rem solid $black;
                    box-shadow: none;
                    outline: 0;
                    line-height: normal;
                }
            }
        }
}