@import '../variables';
@import '~movado/account/addressBook';

.account-pages {
    margin: rem(20px) auto;
    padding: 0;

    .card-body.card-body-positioning {
        > div {
            font-size: rem(14);
            line-height: rem(21);
            letter-spacing: rem(2);
            color: $grey-dark-1;
            font-family: $font-primary;
        }
    }

    .address-book-header {
        margin-bottom: rem(20);

        &-title {
            font-family: $font-book;
            font-size: rem(30);
            line-height: rem(42);
            letter-spacing: 2.5px;
            text-transform: uppercase;
        }

        &-link {
            font-family: $font-book;
            color: $black;
            font-size: rem(12);
            line-height: rem(18);
            font-weight: 500;
            margin: auto 0;
            text-transform: uppercase;

            span {
                margin-right: rem(5);
            }
        }
    }

    .btn-save {
        &:hover {
            background-color: $light-green;
            border: 0.125rem solid $black;
        }

        &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
            background-color: $light-green;
            border: 0.125rem solid $black;
            box-shadow: none;
            outline: 0;
            line-height: normal;
        }

        &.btn-primary {

            &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                background-color: $light-green;
                border: 0.125rem solid $black;
                box-shadow: none;
                outline: 0;
                line-height: normal;
            }
        }
    }
}