@import '../variables';
@import '~movado/account/dashboard';

.account-pages {

    &.container {
        max-width: rem(1000);
        margin: 0 auto;
        padding: 0;
    }

    .account-heading {
        text-align: center;
        margin: 0 auto;
        max-width: rem(800);
        padding: rem(40) rem(20);
        width: 100%;
        font-family: $font-medium;

        .account-heading-title {
            text-transform: uppercase;
            font-family: $font-medium;
            font-size: rem(36);
            font-weight: 500;
            letter-spacing: rem(3.38);
            line-height: rem(42);
            margin-bottom: rem(15);
            display: inline-flex;

            .content-asset {
                display: contents;

                p {
                    display: contents;
                }
            }

            @include media-breakpoint-up(lg) {
                font-size: rem(50);
                letter-spacing: rem(4.69);
                line-height: 1.5;
            }
        }

        .account-heading-copy {
            color: $black;
            font-size: rem(16);
            font-weight: 500;
            line-height: rem(23);
            letter-spacing: rem(0.5);
        }

        .account-heading-divider {
            border-color: $gray91;
            border-style: inset;
            border-bottom: 0;
            margin-top: rem(1);
            width: 80%;

            @include media-breakpoint-up(lg) {
                width: 45%
            }
        }
    }

    .profile {

        .card-header {
            padding-bottom: 0;

            h3 {
                margin-top: rem(20);
                margin-bottom: 0;
            }
        }
    }

    .card {
        border-bottom: rem(1) solid $light-gray4;
        padding: rem(30) rem(15) rem(25);
        margin-bottom: 0;
        box-shadow: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        &.address {

            .card-header {

                p {
                    color: $black;
                    font-size: rem(16);
                }
            }
        }

        .card-header {
            border: 0;

            p {
                color: $light-gray;
                font-size: rem(14);
            }

            @include media-breakpoint-down(xs) {
                overflow-wrap: break-word;
                word-wrap: break-word;
                display: inline-flex;
            }

            h4 {
                font-family: $font-book;
                font-size: rem(20);
                line-height: rem(20);
                font-weight: 400;
                letter-spacing: normal;
            }

            h3 {
                color: $black;
                font-weight: 500;
                font-size: rem(14);
                line-height: rem(13);
                letter-spacing: rem(1);
                text-transform: uppercase;
            }

            a {
                font-size: rem(12);
                margin-left: rem(16);
                text-transform: uppercase;
                float: left;
                line-height: 1.5;

                &.order-label {
                    padding-left: rem(15);
                    border-left: rem(1) solid $gray11;
                }
            }
        }

        .card-body {

            p {
                font-family: $font-medium;
                color: $black;
                font-size: rem(16);
                font-weight: 500;
                margin: 0;
                line-height: rem(28.2);
                letter-spacing: rem(0.5);
            }

            div {

                div {
                    color: $black;
                }
            }
        }

        .card-footer {
            border-top: none;
            padding: 0;

            .card-link {
                text-transform: uppercase;
                text-decoration: underline;
                outline: 0;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.redeem-point-label {
    font-size: rem(12);
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: rem(10);
    padding-bottom: rem(20);
}
