@import '../variables';
@import '~movado/account/profile';
@import 'account';

.address-form {
    .form-control {
        border: rem(1) solid $cyan-blue1;
        padding: rem(20);
        font-family: $font-primary;
        letter-spacing: rem(1.5);
        color: $light-gray;
        line-height: 1;
        font-size: rem(14);
        width: 100%;
        
        &:focus {
            box-shadow: none;
        }
    }

    .form-control-label {
        color: $dark-orange1;
        font-size: rem(11);
        font-weight: 500;
        letter-spacing: rem(1);
        padding: 0;
        display: flex;

        &::after {
            margin-left: rem(4);
        }
    }

    .custom-select {
        border: rem(1) solid $cyan-blue1;
        padding: rem(20);
        font-family: $font-primary;
        letter-spacing: rem(1.5);
        color: $light-gray;
        line-height: 1;
        font-size: rem(14);
        width: 100%;

        &:not([size]):not([multiple]) {
            height: auto;
        }

        & + i {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    button {
        color: $white;
        background-color: $black;
        border: rem(2) solid $black;
        
        &:hover {
            background-color: $light-green;
            border: rem(2) solid $black;
            box-shadow: none;
        }
        
        &:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
        }
        
        &:not(:disabled):not(.disabled):active:focus, &:focus {
            box-shadow: none;
        }
    }

    a {
        border: rem(2) solid $black;
        
        &:hover {
            background-color: $black;
            color: $white;
            box-shadow: none;
        }
        
        &:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
        }
        
        &:not(:disabled):not(.disabled):active:focus {
            box-shadow: none;
        }
    }

    .tooltip-country {
        position: relative;
        visibility: visible;
        padding-left:rem(5);
        font-weight: 300;
      
        .tooltiptext {
            visibility: hidden;
            width: rem(220);
            background-color: $night-rider;
            color: $white;
            text-align: center;
            border-radius: rem(6);
            padding: rem(5) 0;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 305%;
            margin-left: rem(-60);
            opacity: 0;
            transition: opacity 0.3s;
            font-family: $font-primary;

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 9%;
                margin-left: rem(-5);
                border-width: rem(5);
                border-style: solid;
                border-color: $night-rider transparent transparent transparent;
            }

        }

        &:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}