.tk-futura-pt { font-family: 'brandon-grotesque',sans-serif; }
.tk-futura-pt-bold { font-family: 'brandon-grotesque',sans-serif; }

@mixin font-medium {
    font-family: 'brandon-grotesque',sans-serif, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin font-light {
    font-family: 'brandon-grotesque',sans-serif, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}

@mixin font-book {
    font-family: 'brandon-grotesque',sans-serif, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}