@import "../variables";
@import "../mixins";
@import "bootstrap/scss/variables";
@import "checkoutComponents";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";
@import "../components/creditCardField";


$checkout-font-weight: 600;

.card.ghost {
    opacity: 0.5;
}

.arrival-time {
    white-space: pre;
}

.billing-address {
    display: block;
}

.checkout-checkbox {
    font-size: 0.875em;
}

.edit-button,
.btn-show-details,
.btn-add-new {
    color: $primary;
    float: right;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.error-message {
    display: none;
}

.next-step-button {
    padding-bottom: rem(30);
}

.shipping-methods {
    font-size: 1.125em;
    font-weight: $checkout-font-weight;
}

.shipping-method-option {
    font-family: $font-book;
    font-size: rem(16);
    color: $grey14;
    letter-spacing: rem(2);
    line-height: rem(20);
    margin-bottom: rem(10);

    & span {
        text-transform: none;
    }
}

.shipping-method-pricing {
    font-family: $font-medium;
    font-size: rem(16);
    line-height: rem(19);
    letter-spacing: rem(2);
    margin-bottom: rem(10);
}

.multi-ship .multi-shipping {
    display: block;
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    .order-product-summary {
        .price {
            margin-top: auto;
        }

        .leading-lines {
            @include media-breakpoint-down(sm) {
                margin: rem(0) rem(10);
            }
            .grand-total-label {
                text-transform: uppercase;
            }
        }
    }

    .card-header {
        h4 {
            text-transform: uppercase;
            @include headline;
            &.pull-left {
                max-width: 90%;
                @include media-breakpoint-up(lg) {
                    font-size: rem(20);
                }
            }
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-top: 0;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 10px;
}

header {
    .checkout-header-placeholder {
        height: rem(85);
    }

    &.checkout-header {
        .sticky-header-placeholder {
            height: rem(60);

            @include media-breakpoint-up(md) {
                height: rem(60);
            }
        }

        .sticky-header-wrapper {
            &.fixed-header {
                @include media-breakpoint-up(md) {
                    .checkout-header-wrapper {
                        margin-top: rem(0);
                    }
                }
            }

            .desktop-menu-wrapper {
                @include media-breakpoint-up(xs) {
                    display: none;
                }

                @include media-breakpoint-up(sm) {
                    display: block;
                }
            }

            .mobile-menu-wrapper {
                @include media-breakpoint-up(xs) {
                    display: block;

                    .header-wrapper {
                        .checkout-logo {
                            width: rem(103);

                            &:before {
                                font-family: "FontAwesome";
                                content: '\f023';
                                font-size: rem(18);
                                margin-right: rem(5);
                                margin-bottom: rem(12);
                            }
                        }

                        .minicart-link {
                            top: rem(-6);
                        }

                        .minicart-quantity {
                            font-size: rem(12);
                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
        }
    }

    .checkout-header-wrapper {
        display: flex;
        align-items: center;
        height: rem(60);
        padding: rem(0) rem(20);
        border-bottom: rem(1) solid $grey2;

        @include media-breakpoint-up(sm) {
            padding: 0 rem(15) 0 rem(15);
            margin-top: rem(0);
            padding-top: rem(20);
        }

        @include media-breakpoint-up(lg) {
            padding: 0 rem(91.5) 0 rem(60);
            margin-top: rem(30);
        }
        @include media-breakpoint-up(xl) {
            padding: 0 rem(91.5) 0 rem(2);
            margin-top: rem(30);
        }
        @include custom-media-query1440($large-screen-width1440) {
            padding: 0 rem(91.5) 0 rem(100);
            margin-top: rem(30);
        }

        .right {
            margin-left: auto;
        }

        .header-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 58.33333%;
            width: 100%;

            @include media-breakpoint-up(sm) {
                max-width: 70%;
            }

            @include media-breakpoint-up(md) {
                max-width: 58.33333%;
            }

            .checkout-logo {
                width: rem(155);

                @include media-breakpoint-up(md) {
                    width: rem(155);
                    height: rem(30);

                    .logo-checkout-text {
                        font-size: rem(19);
                    }
                }

                img {
                    max-width: 100%;
                    width: rem(155);
                    filter: unset;

                    @include media-breakpoint-up(md) {
                        width: rem(155);
                    }
                }

                .logo-checkout-text {
                    font-family: $font-book;
                    color: $grey14;
                    font-size: rem(18);
                    line-height: rem(22);
                    text-transform: uppercase;
                    margin-top: rem(3);

                    a:hover {
                        text-decoration: none;
                    }
                }

                p {
                    @include media-breakpoint-up(xl) {
                        margin-bottom: 0;
                    } 

                    @include custom-media-query($large-screen-width) {
                        bottom: rem(32);
                    }
                }
                
            }

            .checkout-text {
                h5 {
                    display: flex;

                    .secure-text {
                        font-size: rem(15);
                        color: $grey8;
                        opacity: 0.4;
                        text-transform: uppercase;
                    }

                    &:before {
                        content: "";
                        width: rem(11);
                        height: rem(15);
                        display: inline-block;
                        margin-right: rem(10);
                        background: url(../../images/icon-lock.svg) center center no-repeat;
                    }
                }
            }
        }

        .minicart {
            &-link {
                height: rem(20);
                width: rem(20);
                display: inline-block;
                margin-right: rem(20);
                position: relative;
                top: rem(0);
                background: url(../../images/cart-icon-black.svg) center center no-repeat;
            }

            &-quantity {
                color: $white;
                background-color: $black;
                font-size: rem(12);
                right: rem(-10);
                top: rem(-10);
                width: rem(19);
                height: rem(19);
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: rem(1);
            }
        }

        .align-start-box {
            @include media-breakpoint-up(xl) {
                justify-content: flex-start;
                max-width: 90%;
                margin: auto;
            }
            
            @include custom-media-query1440($large-screen-width1440) {
                max-width: 100%;
            }
        }
    }
}

.checkout-progressbar {
    margin-bottom: rem(45);

    @include media-breakpoint-up(xs) {
        display: none;
    }

    @include media-breakpoint-up(sm) {
        display: block;
        margin: rem(24) auto;
        padding: 0 rem(15);
    }

    @include media-breakpoint-up(md) {
        margin: rem(24) auto;
        max-width: rem(940);
    }

    @include media-breakpoint-up(lg) {
        padding: 0 rem(15) 0 rem(60);
        margin: rem(64) auto rem(32);
        max-width: 100%;
    }

    @include media-breakpoint-up(xl) {
        padding: 0;
        margin: rem(71) auto rem(51);
        max-width: 90%;
    }

    @include custom-media-query1440($large-screen-width1440) {
        padding: 0 rem(15) 0 rem(100);
        margin: rem(71) auto rem(51);
        max-width: rem(1440);
    }

    li {
        @include media-breakpoint-up(sm) {
            margin-bottom: rem(10);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: rem(0);
        }

        p {
            display: flex;
            align-items: center;
            font-size: rem(12);
            text-transform: uppercase;
            text-decoration: none;
            margin-bottom: rem(0);
            line-height: 1.45;

            @include media-breakpoint-down(sm) {
                font-size: rem(10);
            }

            &:after {
                content: "";
                box-sizing: border-box;
                height: rem(2);
                width: rem(30);
                background-color: $black;
                opacity: 0.4;
                margin: rem(0) rem(10);

                @include media-breakpoint-down(sm) {
                    height: rem(2);
                    width: rem(14);
                    margin: rem(0) rem(5);
                }
            }

            .step {
                &-text {
                    color: $grey15;
                    opacity: 0.4;
                }

                &-no {
                    height: rem(21);
                    width: rem(21);
                    line-height: 1.4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $white;
                    border: 1px solid $grey15;
                    color: $grey15;
                    opacity: 0.4;
                    border-radius: 50%;
                    font-size: rem(12);
                    margin-right: rem(10);

                    @include media-breakpoint-down(sm) {
                        height: rem(16);
                        width: rem(16);
                        margin-right: rem(8);
                        font-size: rem(8);
                    }
                }
            }
        }
    }

    li {
        &.active {
            p {
                .step {
                    &-text {
                        color: $black;
                        opacity: 1;
                    }

                    &-no {
                        background: $black;
                        border: 1px solid $black;
                        color: $white;
                        opacity: 1;
                    }
                }
            }
        }

        &.completed {
            p {
                &:after {
                    color: $black;
                    opacity: 1;
                }

                .step {
                    &-no {
                        background: $parrot-green;
                        border: 1px solid $parrot-green;
                        color: $white;
                        opacity: 1;
                    }

                    &-text {
                        color: $parrot-green;
                        opacity: 1;
                    }
                }
            }
        }

        &:nth-child(4) p {
            &:after {
                content: "";
                height: rem(0);
                width: rem(0);
            }
        }
    }
}

.form-control-label {
    > .content-asset {
        display: inline-block;
    }
}

.billing-address,
.shipping-form{
    .form-group {
        .form-control {
            &.is-invalid {
                border: rem(1) solid $invalid-red;
                background: url("../../images/invalid.svg") center right no-repeat;
                background-position-x: 97%;
                @include media-breakpoint-down(sm) {
                    background: none;
                }
            }

            &#shippingState,
            &#shippingCountrydefault,
            &#shippingCountry,
            &#billingState,
            &#billingCountry {
                &.form-control {
                    &.is-invalid {
                        background-position-x: 90%;
                    }
                }
            }

            &#shippingZipCode,
            &#shippingLastName,
            &#shippingFirstName,
            &#shippingAddressCity,
            &#billingZipCode,
            &#billingAddressCity,
            &#billingFirstName,
            &#billingLastName {
                &.form-control {
                    &.is-invalid {
                        background-position-x: 93.5%;
                    }
                }
            }
        }

        .invalid-feedback {
            font-size: rem(11);
            font-weight: 500;
            letter-spacing: rem(0.33);
            line-height: rem(24);
            color: $invalid-red;
        }
    }
}

.checkout-form-error {
    margin-left: rem(16);
    margin-bottom: rem(30);
    height: rem(24);
    width: rem(600);
    color: $invalid-red;
    font-size: rem(14);
    font-weight: 500;
    letter-spacing: rem(0.75);
    line-height: rem(24);

    @include media-breakpoint-down(sm) {
        font-size: rem(13);
        margin-bottom: rem(20);
        letter-spacing: rem(0.7);
        background: url("../../images/invalid-mobile.svg") center left no-repeat;
        padding-left: rem(32);
        margin-top: rem(30);
    }
}

.shipping-method-option {
    .arrival-time {
        white-space: pre-wrap;
    }
}

.text_underline {
    text-decoration: underline;
    cursor: pointer;
}

.shipping-express-checkout {
    border: rem(1) solid;
    position: relative;
    padding: rem(14) 0;
    margin: rem(11) rem(0) rem(11);

    &_label {
        padding: rem(10);
        position: absolute;
        top: rem(-20);
        background: white;
        left: 50%;
        transform: translateX(-50%);
    }
}

.checkout-label-custom {
    @include media-breakpoint-up(xl) {
        max-width: rem(316);
        margin: 0 auto;
        width: rem(316);
        padding-left: rem(6);
    } 
    h5{
        @include media-breakpoint-up(xl) {
            margin-bottom: 0;
        }

    }
}

.mini-cart-wrapper {
    @include media-breakpoint-up(xl) {
        position: absolute;
        right: rem(48);
        top: rem(16);
    }

    @include custom-media-query($large-screen-width) {
        position: absolute;
        right: rem(92);
       
    } 
}

// Google Autocomplete Address Style -------------------------------
.pac-container {

    border: 1px solid $black;
    border-radius: rem(3);

    &::after {
        background-image: none !important;
        height: rem(0);
    }

    .pac-item {
        color: $google-grey1;
        font-family: $font-medium;
        font-size: rem(13);
        font-weight: 500;
        letter-spacing: rem(0.7);
        line-height: rem(24);
        
        .pac-item-query {
            color: $google-grey1;
            font-family: $font-medium;
            font-size: rem(13);
            font-weight: 500;
            letter-spacing: rem(0.7);
            line-height: rem(24);
        }
    }

    .pac-item:nth-child(even) {
        background-color: $white !important;
        height: rem(45) !important;
    }

    .pac-item:nth-child(odd) {
        background-color: $google-white1 !important;
        height: rem(45) !important;
    }
}
    .container-custom-inner-box {
        max-width: 1440px;
    }
    .checkout-content-container-inner {
        .error-space-left {
            @include custom-media-query1440($large-screen-width1440) {
                padding-left: rem(84);
            }
        }
        .left-section {
            @include custom-media-query1440($large-screen-width1440) {
                padding: rem(0) rem(0) rem(0) rem(100);
                max-width: 66.1%;
                flex: 0 0 66.1%;
            }
            .mx-shipping-box {
                @include custom-media-query1440($large-screen-width1440) {
                    max-width: rem(700);
                }
            }
            .shipping-summary {
                max-width: rem(700);

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
            .payment-summary {
                max-width: rem(700);

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
            .payment-form {
                max-width: rem(700);

                @include custom-media-query-max($medium-screen-width) {
                    max-width: 100%;
                }
                @include media-breakpoint-down(sm) {
                    max-width: 100%;
                }
            }
        }
        .right-section {
            @include custom-media-query1440($large-screen-width1440) {
                max-width: 33.9%;
                flex: 0 0 33.9%;
                padding: rem(0) rem(86);
            }
        }
        .credit-card-form-container {
            @include custom-media-query1440($large-screen-width1440) {
                margin: rem(0) rem(-10);
            }
            @include media-breakpoint-up(md) {
                margin: rem(0) rem(-10);
            }

            .mx-field-wrapper {
                @include media-breakpoint-down(xs) {
                    padding: rem(0) rem(5);
                }
            }
        }
        
        .mx-container-box1 {
            @include custom-media-query1440($large-screen-width1440) {
                max-width: rem(700);
            }
            .btn {
                height: rem(45);
                font-size: rem(15);
                font-weight: 500;
                letter-spacing: rem(0.75);
                line-height: rem(24);
                border: rem(2) solid $black;
                border-radius: rem(2);
                background-color: $black;
                color: $white;
            }
        }
    }