$font-gill-std-bold: "gill-sans-nova", Arial, sans-serif;
$font-gill-std-semibold: "gill-sans-nova", Arial, sans-serif;
$font-gills-light: "gill-sans-nova", Arial, sans-serif;;
$font-gill-std-normal: "gill-sans-nova", Arial, sans-serif;

$pink-rose: #E9D7D5;
$white-smoke:  #FFF3F1;
$gray20: #333333;
$dark-gray: #7B7B7B;
$custom-xl: rem(1440);
$gill-sans-font-stack: "Gill Sans";
$black-pearl: #010B19;
$storm-gray: #787A8A;
$seashell: #fdfbfa;
$pink: pink;
$grey-transparent-7: rgba(0,0,0,0.24) !default;
