@import url("https://p.typekit.net/p.css?s=1&k=dhz6mzh&ht=tk&f=39297.39302.39306&a=3707185&app=typekit&e=css");

@font-face {
    font-family: "gill-sans-nova-normal";
    src: url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "gill-sans-nova-light";
    src: url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "gill-sans-nova-bold";
    src: url("https://use.typekit.net/af/202898/00000000000000003b9b1f8a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/202898/00000000000000003b9b1f8a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/202898/00000000000000003b9b1f8a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
}

$font-gill-std-bold: "gill-sans-nova-bold", Arial, sans-serif;
$font-gill-std-semibold: "gill-sans-nova-normal", Arial, sans-serif;
$font-gills-light: "gill-sans-nova-light", Arial, sans-serif;;
$font-gill-std-normal: "gill-sans-nova-normal", Arial, sans-serif;

$pink-rose: #E9D7D5;
$white-smoke:  #FFF3F1;
$gray20: #333333;
$dark-gray: #7B7B7B;
$custom-xl: rem(1440);
$gill-sans-font-stack: "Gill Sans";
$black-pearl: #010B19;
$storm-gray: #787A8A;
$seashell: #fdfbfa;
$pink: pink;
$grey-transparent-7: rgba(0,0,0,0.24) !default;
$black-russian: #00091B;
$gainsboro: #D8D8D8;
