@import "~movado/variables";
@import "variables";
@import "~movado/mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "~movado/utilities/swatch";
@import "~movado/components/categoryTiles"; 
.plp-redesign {

    .custom-col {
        margin-bottom: rem(20);

        @include media-breakpoint-up(lg) {
            flex: 0 0 20%;
            max-width: 20%;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    #product-search-results {
        .product {
            &-tile {
                background: $snow;

                &:hover {
                    box-shadow: 0 rem(2) rem(6) rgba(155,155,155,0.5);
                    @include media-breakpoint-up(lg) { 
                        margin-bottom: rem(-56);
                        position: relative;
                        z-index: 9;
                    }

                    .cta-add-to-cart {
                        @include media-breakpoint-up(lg) { 
                            display: block;
                        }
                     }

                     .image-container {

                        a {
                            .tile-image {
                                &-primary {
                                    opacity: 0;
                                }
                                &-hidden {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .image-container {
                    background: $white-smoke;
                    border: none;
                    height: rem(340);
    
                    a {
                        height: 100%;
                        width: 100%;

                        .tile-image {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            transition: 0.3s all;
                            object-fit: contain;

                            &-hidden {
                                opacity: 0;
                            }
                        }
                    }

                    &:hover {
                        a {
                            .tile-image {
                                &-primary {
                                    opacity: 0;
                                }
                                &-hidden {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .tile-body {
                    text-align: left;
                    padding: rem(15) rem(20);
    
                    .pdp-link {
                        height: rem(44);
                        margin-bottom: rem(4);
                        overflow: hidden;

                        a {
                            font-size: rem(15);
                            font-family: $font-gills-light;
                            text-transform: capitalize;
                            line-height: ren(20);
                            letter-spacing: 0.5px;
                        }
                    }
    
                    .price {
                        &.price-to-center {
                            color: $gray20;
                            font-size: rem(14);
                            font-family: $font-gill-std-normal;
                            font-weight: normal;
                            letter-spacing: 0.5px;
                        }
                        @include media-breakpoint-up(sm) {
                            padding-left: 0;
                            &.price-to-center {
                                float: none;
                            }
                        }

                        .strike-through {
                            margin-right: rem(10);
                            color: $dark-gray;
                        }
                    }
                }
                .cta-add-to-cart {
                    display: block;
                    @include media-breakpoint-up(lg) { 
                        display: none;
                    }
                    margin-top: rem(15);

                    .add-to-cart-plp-redesign {
                        width: 100%;
                        background: transparent;
                        border: rem(1) solid $black;
                        border-radius: rem(3);

                        font-family: $font-gill-std-semibold;
                        font-size: rem(15);
                        color: $gray20;
                        font-weight: 600;
                        letter-spacing: 0.5px;

                        &:hover {
                            background-color: $gray20;
                            color: $white;
                            border-color: $gray20;
                        }

                        &.out-of-stock-btn {
                            cursor: default;
                        }
                    }
                }

                .pricing-save {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .price {
                        flex: 1;
                    }
                    .save-value {
                        font-family: $font-gill-std-semibold;
                        font-size: rem(12);
                        color: $black;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        padding: rem(3) rem(10);
                        background-color: $pink-rose;
                        border-radius: rem(5);
                    }
                }
            }

            &-family {
                font-family: $font-gill-std-semibold;
                font-size: rem(15);
                color: $gray20;
                font-weight: 600;
                letter-spacing: rem(1);
                text-transform: capitalize;
                margin-bottom: rem(5);
            }
        }
    }
}