@import "~movado/variables";
@import "variables";
@import "~movado/mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/mixins/breakpoints";
@import "~movado/utilities/swatch";
@import "~movado/components/categoryTiles"; 
.plp-redesign {
    margin-bottom: rem(70);

    .custom-col {
        margin-bottom: rem(10);
        padding-right: rem(5);
        padding-left: rem(5);

        @include media-breakpoint-up(sm) {
            padding-right: rem(8);
            padding-left: rem(8);
        }

        @include media-breakpoint-up(lg) {
            margin-bottom: rem(20);
            padding-right: rem(10);
            padding-left: rem(10);
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    #product-search-results {
        .product {
            &-grid {
                margin: 0 rem(-25);

                @include media-breakpoint-up(sm) {
                    margin: 0 rem(-20);
                }
                @include media-breakpoint-up(lg) {
                    margin: 0 rem(-15);
                }
            }

            &-tile {
                background: $snow;

                &:hover {
                    box-shadow: 0 rem(2) rem(6) rgba(155,155,155,0.5);
                    @include media-breakpoint-up(lg) { 
                        margin-bottom: rem(-56);
                        position: relative;
                        z-index: 9;
                    }

                    .cta-add-to-cart {
                        @include media-breakpoint-up(lg) { 
                            display: block;
                        }
                     }

                     .image-container {

                        a {
                            .tile-image {
                                &-primary {
                                    opacity: 0;
                                }
                                &-hidden {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .image-container {
                    background: $white-smoke;
                    border: none;
                    height: rem(225);


                    @include media-breakpoint-up(sm) {
                        height: rem(280);
                    }
                    @include media-breakpoint-up(lg) {
                        height: rem(340);
                    }
                    a {
                        height: 100%;
                        width: 100%;

                        .tile-image {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            transition: 0.3s all;

                            &-hidden {
                                opacity: 0;
                            }
                        }
                    }

                    &:hover {
                        a {
                            .tile-image {
                                &-primary {
                                    opacity: 0;
                                }
                                &-hidden {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .tile-body {
                    text-align: left;
                    padding: rem(10) rem(15);

                    @include media-breakpoint-up(sm) {
                        padding: rem(15) rem(20);
                    }

                    .pdp-link {
                        height: rem(40);
                        margin-bottom: rem(4);
                        overflow: hidden;

                        @include media-breakpoint-up(sm) {
                            height: rem(42);
                        }
                        @include media-breakpoint-up(lg) {
                            height: rem(44);
                        }
                        a {
                            font-size: rem(12);
                            font-family: $font-gills-light;
                            line-height: rem(18);
                            letter-spacing: 0.5px;

                            @include media-breakpoint-up(sm) {
                                font-size: rem(13);
                                line-height: rem(18);
                            }

                            @include media-breakpoint-up(lg) {
                                font-size: rem(15);
                                line-height: rem(20);
                            }
                        }
                    }
    
                    .price {
                        &.price-to-center {
                            color: $gray20;
                            font-size: rem(12);
                            font-family: $font-gill-std-normal;
                            font-weight: normal;
                            letter-spacing: 0.5px;

                            @include media-breakpoint-up(sm) {
                                font-size: rem(13);
                                line-height: rem(16);
                            }
                            @include media-breakpoint-up(lg) {
                                font-size: rem(14);
                                line-height: rem(20);
                            }
                        }
                        @include media-breakpoint-up(sm) {
                            padding-left: 0;
                            &.price-to-center {
                                float: none;
                            }
                        }

                        .strike-through {
                            margin-right: rem(5);
                            color: $dark-gray;

                            @include media-breakpoint-up(lg) {
                                margin-right: rem(10);
                            }
                        }
                    }
                }
                .cta-add-to-cart {
                    display: block;
                    @include media-breakpoint-up(lg) { 
                        display: none;
                    }
                    margin-top: rem(15);

                    .add-to-cart-plp-redesign {
                        width: 100%;
                        background: transparent;
                        border: rem(1) solid $black;
                        border-radius: rem(3);

                        font-family: $font-gill-std-semibold;
                        font-size: rem(13);
                        color: $gray20;
                        font-weight: 600;
                        letter-spacing: 0.5px;
        
                        @include media-breakpoint-up(lg) {
                            font-size: rem(15);
                        }

                        &:hover {
                            background-color: $gray20;
                            color: $white;
                            border-color: $gray20;
                        }

                        &.out-of-stock-btn {
                            cursor: default;
                        }
                    }
                }

                .pricing-save {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: rem(24);

                    .price {
                        flex: 1;
                    }
                    .save-value {
                        font-family: $font-gill-std-semibold;
                        font-size: rem(12);
                        color: $black;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        padding: rem(3) rem(10);
                        background-color: $pink-rose;
                        border-radius: rem(5);
                    }
                }
            }

            &-family {
                font-family: $font-gill-std-semibold;
                font-size: rem(12);
                color: $gray20;
                font-weight: 600;
                letter-spacing: rem(1);
                line-height: rem(14);
                text-transform: capitalize;
                margin-bottom: rem(5);
                height: rem(18);

                @include media-breakpoint-up(sm) {
                    font-size: rem(13);
                    line-height: rem(16);
                }

                @include media-breakpoint-up(lg) {
                    font-size: rem(15);
                    line-height: rem(20);
                }
            }
        }
    }

    .show-more {
        margin-top: rem(10);
        button {
            width: 100%;
            max-width: rem(400);
            height: rem(45);
            margin: 0 auto;
            background-color: $white;
            border: 1px solid $black;
            border-radius: rem(3);
            font-family: $font-gill-std-bold;
            font-weight: 600;
            font-size: rem(16);
            color: $gray20;
            line-height: rem(21);
            transition: 0.3s all;
            letter-spacing: 0.5px;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }

        #show-more-update {
            font-family: $font-gill-std-semibold;
            font-size: rem(12);
            font-weight: 600;
            color: $storm-gray;
            letter-spacing: 0.5px;
            line-height: rem(16);
            margin-bottom: rem(10);

            @include media-breakpoint-up(lg) {
                font-size: rem(14);
            }

            @include media-breakpoint-up(lg) {
                line-height: rem(20);
                font-size: rem(15);
            }
        }
    }
}