**/node_modules/
**/coverage/
**/.vscode
**/cartridge/static/**/css/*
**/cartridge/static/**/js/*
**/npm-debug.log
**/cartridges.zip
**/site_template.zip
**/.idea/
**/dw.json
**/.DS_Store
**/tmp/
!yotpo/cartridges/bm_yotpo/**/static/**
!**/module_pagedesigner**/cartridge/static/**/js/*
!**/module_pagedesigner**/cartridge/static/**/css/*
!**/int_listrak**/cartridge/static/**/js/*
!**/int_listrak_sfra**/cartridge/static/**/js/*
!einstein-recommendations.js
rkb.code-workspace
