@import "../commonPlaceholders";
@import "~movado/checkout/checkoutComponents";


.data-checkout-stage {
    .card-body {

        form {

            &.billing-form {

                .form-group {
                
                    .form-control {
            
                        &.input-wrapper-checkout {
            
                            &:focus {
            
                                + .field-label-wrapper {
                                    @include media-breakpoint-down(xs) {
                                        left: rem(26.4);
                                    }
            
                                    &.field-select-wrapper-box {
                                        left: rem(13);
                                    }
                                }

                                + .field-label-wrapper-card {
                                    left: rem(15);
                                }
                    
                                + .field-label-wrapper-card-1 {
                                    left: rem(24);
                                }
                        
                                + .field-label-wrapper-card-2 {
                                    left: rem(13);
                                }
                            
                                + .field-label-wrapper-card-3 {
                                    left: rem(24);
                                }
                            }
                        }            
                    }
        
                    .field-label-wrapper {
                        @include media-breakpoint-down(xs) {
                        left: 1.75em;
                        }

                        &.input-has-value {   
                            @include media-breakpoint-down(xs) {
                                left: rem(26.4);
                            }
                        }

                        &.field-label-wrapper-card {
                            left: rem(15);
        
                            &.input-has-value {
                                left: rem(15);
                            }
                        }
    
                        &.field-label-wrapper-card-1 {
                            left: rem(24);
        
                            &.input-has-value {
                                left: rem(24);
                            }
                        }
    
                        &.field-label-wrapper-card-2 {
                            left: rem(13);
        
                            &.input-has-value {
                                left: rem(13);
                            }
                        }
                
                        &.field-label-wrapper-card-3 {
                        left: rem(24);
                            
                            &.input-has-value {
                                left: rem(24);
                            }
                        }
            
                        &.field-select-wrapper-box {
                            left: rem(16);
        
                            &.input-has-value {
                                left: rem(13);
                            }
                        }
                    }
                }
            }
        }
    }
}