@import '../variables';
@import '~movado/checkout/checkout';
@import '../components/formFields';

.mvmt-checkout, .checkout-page, .receipt {

    .card-header {

        h4 {
            font-family: $font-book;
            font-weight: 500;
            font-size: rem(18);
            letter-spacing: normal;
            letter-spacing: 1.5px;
        }
    }

    .order-thank-you-msg {
        font-family: $font-medium;
        font-weight: 500;
        letter-spacing: normal;
        letter-spacing: 1.5px;
    }

    .shipping-method-block {

        .ship-method-header {
            font-family: $font-book;
            font-weight: 500;
            font-size: rem(18);
            letter-spacing: normal;
            letter-spacing: 1.5px;
         }
    }

    .summary-section-label {
        letter-spacing: normal;
        text-transform: capitalize;
        font-family: $font-book;
    }

    .form-group {

        .form-control {
            box-sizing: border-box;
            height: rem(45);
            border-radius: rem(5);
            border: rem(1) solid $light-silver;
            font-size: rem(14);
            font-family: $font-book;
            color: $light-gray7;
            background-color: $white;
            padding: 0 rem(10);
            transition: all 0.2s ease-out;

            @include media-breakpoint-down(sm) {
                font-size: rem(16);
            }

            &:focus {
                box-shadow: none;
                border-width: rem(2);
                border-color: $pelorous;
                padding-left: rem(9);
            }

            &.is-invalid {
                border-width: rem(2);
                border-color: $red1;
                padding-left: rem(9);
            }

            .cardNumber {
                padding-right: rem(50);
            }
        }

        .card-number-wrapper {

            &:after {
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .form-control-label {
            color: $gray1;
            font-size: rem(14);
            text-transform: capitalize;
            padding-bottom: 0;
            margin-bottom: rem(5);
        }

        .invalid-feedback {
            color: $red1;
            font-weight: 500;
            font-size: rem(14);
            letter-spacing: 0;
        }

        select {

            &.form-control {
                padding: rem(10);
                padding-right: rem(38);
                letter-spacing: normal;

                &:not([size]):not([multiple]) {
                    height: rem(45);
                    color: $gray1;
                    text-transform: capitalize;
                    color: $gray1;

                    &:focus {
                        box-shadow: none;
                        border-width: rem(2);
                        border-color: $blue;
                        padding: rem(9) rem(9);
                    }
                }
            }

            & + i {
                right: 0;
                height: rem(20);
                width: rem(36);
                top: rem(38);
                font-size: 0;
                color: $light-gray6;
                border-left: rem(1) solid $light-gray6;
                background: url("../../images/arrow-down.svg") center center no-repeat;
                background-size: rem(12);
            }
        }
    }

    .submit-shipping, .submit-payment, .order-confirmation-continue-shopping, .place-order, .checkout-as-guest, .submit-form-section button, .order-confirm-create-account .btn-block {
        letter-spacing: 1px;
        white-space: nowrap;
        padding: 0 rem(14);
        height: rem(52);
        line-height: rem(52);
        transition: opacity 0.3s ease-in-out;
        border: rem(1) solid $black;
        font-family: $font-book;
        font-size: rem(11);
        letter-spacing: rem(2);
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            background-color: $gossamer;
            color: $white;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .checkout-promo-code-submit {
        padding-left: rem(15) !important;
    }

    .checkout-promo-code-btn {
        height: rem(45);
        border-radius: rem(5);
        border-color: $light-green;
        background-color: $light-green;
        color: $white;

        &:hover, &:focus {
            border-color: $gossamer;
            background-color: $gossamer;
        }
    }

    .checkout-as-guest, .submit-form-section button {
        width: 100%;
        float: none;
    }

    .shipping-method {

        &-header {
            font-family: $font-book;
            font-weight: 500;
            font-size: rem(22);
            letter-spacing: normal;
            margin-bottom: rem(15);
        }

        &-list, &-list span {
            letter-spacing: normal;
        }
    }

    .order-total-summary {

        .leading-lines {

            span, p {
                letter-spacing: normal;
                font-family: $font-book;
                text-transform: uppercase;
                font-size: rem(14);
                letter-spacing: rem(1);
            }
        }
    }

    .order-product-summary {

        .leading-lines {

            .order-receipt-label {
                font-size: rem(14);
                font-family: $font-book;
            }

            .grand-total-price, .grand-total-price-value {
                font-family: $font-medium;
                font-size: rem(24);
                font-weight: 500;
                letter-spacing: -0.04em;
            }
        }
    }

    .payment-form {

        .payment-information {

            .accordion-link + label {

                &:after {
                    content: "\F107";
                    position: absolute;
                    font-family: "FontAwesome";
                    font-size: rem(18);
                    right: 0;
                }

                &:before {
                    border-radius: 100%;
                }
            }
        }
    }

    .single-shipping {

        span {
            letter-spacing: 0;
        }
    }

    .address-summary, .payment-details, .confirm-details {

        div, span, p {
            letter-spacing: normal;
            font-family: $font-book;
        }
    }

    .edit-button, .order-thank-you-email-msg {
        letter-spacing: normal;
        font-family: $font-book;
    }

    .right-section {
        font-family: $font-book;
        font-size: rem(14);
    }

    .payment-options, #forget-password-btn {
        font-family: $font-book;
        font-size: rem(14);
    }
}

.checkout-page {

    .btn-outline-primary {

        &:not(:disabled):not(.disabled) {
            white-space: nowrap;
            padding: 0 rem(14);
            height: rem(52);
            line-height: rem(52);
            border: rem(1) solid $black;
            font-family: $font-book;
            font-size: rem(11);
            letter-spacing: rem(2);
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

            svg {
                width: rem(26);
                vertical-align: middle;
                margin-top: rem(-7);

                path {
                    fill: $black;
                }
            }

            &:active, &:focus, &:hover {
                background-color: $gossamer;
                color: $white;
                box-shadow: none;

                svg {

                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
}

#mainContent .data-checkout-stage {
    @include media-breakpoint-down(xs) {
        margin-top: rem(8);
    }
}

header {
    &.checkout-header {
        .checkout-header-wrapper {

            &.header-wrapper {
                @include media-breakpoint-up(xss) {
                    margin-top: rem(15);

                    .checkout-logo {
                        svg {
                            width: rem(104);
                            height: rem(25);
                        }  
                    }

                    .v-middle {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%)
                    }
                }

                @include media-breakpoint-up(sm) {
                    .checkout-logo {
                        svg {
                            width: rem(125);
                            height: rem(30);
                        }
                        
                    }
                }

                @include media-breakpoint-up(md-down) {
                    margin-top: rem(0);
                }

                @include media-breakpoint-up(lg) {
                    margin-top: rem(36);
                }
            }

            .minicart-link {
                background: none;

                @include media-breakpoint-down(md) {
                    top: rem(-8);
                }

                @include media-breakpoint-down(sm) {
                    top: rem(0);
                }

                @include media-breakpoint-down(xs) {
                    top: rem(-6);
                }
            }

            .cart-icon {
                background: url(../../images/cart-icon-black.svg) center center no-repeat;
                width: rem(20);
                height: rem(20);
            }
    
            .checkout-text {
                h5 {
                    font-size: rem(15);
                    font-family: $font-medium;
                    color: $dark-gray;
                    opacity: 1;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.progressbar-container {
    .checkout-progressbar {
        margin-bottom: rem(45);
    
        @include media-breakpoint-up(xs) {
            display: none;
        }
        
        @include media-breakpoint-up(sm) {
            display: block;
            margin-top: rem(64);
            padding: 0 rem(15) 0 rem(15);
        }
        
        @include media-breakpoint-up(lg) {
            padding: 0 rem(80) 0 rem(100);
            padding-top: auto;
        }
    
        li {
            @include font-medium;
            @include media-breakpoint-up(sm) {
                margin-bottom: rem(15);
            }
    
            @include media-breakpoint-up(xxl) {
                margin-bottom: rem(0);
            }
    
            p {
                display: flex;
                align-items: center;
                font-size: rem(12);
                text-transform: uppercase;
                text-decoration: none ;
                margin-bottom: rem(0);

                @include media-breakpoint-down(sm) {
                    font-size: rem(10);
                }
         
                &:after {
                  content: "";
                  box-sizing: border-box;
                  height: rem(1.8);
                  width: rem(30);
                  background-color: $black;
                  opacity: 0.4;
                  margin:rem(0) rem(10);

                  @include media-breakpoint-down(sm) {
                    height: rem(2);
                    width: rem(14);
                    margin:rem(0) rem(5);
                  }
                }

                .step {
                    &-text {
                        color: $grey15;
                        opacity: 0.4;
                    }

                    &-no {
                        height: rem(21);
                        width: rem(21);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background:$white;
                        border:1px solid $grey15;
                        color: $grey15;
                        opacity: 0.4;
                        border-radius: 50%;
                        font-size: rem(12);
                        margin-right: rem(10);

                        @include media-breakpoint-down(sm) {
                            height: rem(16);
                            width: rem(16);
                            margin-right: rem(8);
                            font-size: rem(8);
                        }
                    }
                }
            }
        }
       
       li {
           &.active {
                p {

                    .step {
                        &-text {
                            color: $black;
                            opacity: 1;
                        }
    
                        &-no {
                            background:$black;
                            border:1px solid $black;
                            color: $white;
                            opacity: 1;
                        }
                    }
                }
           }
           
            &.completed {
                p {
                    
                    &:after {
                        color: $black;
                        opacity: 1;
                    }

                    .step {
                        &-text {
                            color: $parrot-green;
                            opacity: 1;
                        }
    
                        &-no {
                            background: $parrot-green;
                            border: 1px solid $parrot-green;
                            color: $white;
                            opacity: 1;
                        }
                    }
                }
            }
      
    
        &:nth-child(4) p {
            &:after {
            content: "";
            height: rem(0);
            width: rem(0);
          }
        }
       }
    
    }
}


.receipt {

    .order-total-summary {
        padding: 0 !important;
    }

    .confirm-details {
        margin-bottom: rem(30);
    }
}

#requestPasswordResetModal {

    .request-password-title, .forget-password-header-title {
        font-family: $font-medium;
        letter-spacing: rem(1);
    }

    .forget-password-header-para {
        font-family: $font-book;
        letter-spacing: rem(1);
    }

    .btn-block {
        letter-spacing: 1px;
        white-space: nowrap;
        padding: 0 rem(14);
        height: rem(52);
        line-height: rem(52);
        transition: opacity 0.3s ease-in-out;
        border: rem(1) solid $black;
        font-family: $font-book;
        font-size: rem(11);
        letter-spacing: rem(2);
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            background-color: $gossamer;
            color: $white;
        }
    }
}

.shipping-express-checkout {
    
    &_label { 
        font-size: rem(13);    
    }

    &-buttons {
        display: flex;

        @media only screen and (max-width: 320px){
            margin-left: rem(5);
        }
        
        .apple-pay-cart {
            border-radius: rem(4);
            padding: 0;
            height: rem(42);
            margin-left: rem(15);
            margin-top: 0;

            @include media-breakpoint-down(xs) {
                margin-left: rem(5);    
            }
        }
        
        .shipping-paypal-btn {
            padding: 0;
            background: $yellow;
            border-radius: rem(4);
            height: rem(42);
            width: 100%;
            margin-left: rem(15);
            margin-top: 0;

            @include media-breakpoint-down(xs) {
                margin-left: rem(5);    
            }
        }

        .shipping-amazon-btn {
            margin-left: rem(15);
            padding-left: 0;

            @include media-breakpoint-down(xs) {
                margin-left: rem(5);
                padding-right: rem(5); 
            }

            #AmazonPayButtonCheckout {
                width: 100% !important;
                height: rem(61) !important;
            }
        }
        
    }
}

.collapsible-promo-wrapper {
    outline: none;
    margin-top: rem(5);

    .form-group {
        margin: 0;
        outline: none;

        label.title {
            display: block;
            cursor: pointer;

            &::after {
                float: right;
                content: "\F107";
                font-family: "FontAwesome";
                font-size: 1.5rem;
            }

            &[aria-expanded="true"] {
                
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .collapsible-xl {

        .content {
            display: flex;
        }
        
        .collapse {
            &:not(.show) {
                display: none;
            }
        }
    }
}

.klarna {
  &-panel {
    &-image {
      width: rem(77);
      border-radius: rem(8);
      height: rem(39);
    }
  }
}