.addToCartModal {
    
    .modal-dialog {
        font-family: $font-HelveticaNeueLT-book;
    }

    .modal-body {
        font-family: $font-HelveticaNeueLT-book;       
    }

    p {
      font-family: $font-HelveticaNeueLT-book;
    }
    
    .btn {
        font-family: $font-HelveticaNeueLT-medium;
    }
}