.addToCartModal {
    
    .modal-dialog {
        font-family: $font-ProximaNova;
    }

    .modal-body {
        font-family: $font-ProximaNova;       
    }

    p {
      font-family: $font-ProximaNova;
    }
    
    .btn {
        font-family: $font-ProximaNova;
    }
}