@import "~ebel/components/common";

h1, h2, h3, h4, h5, h6 {
    font-family: $font-HelveticaNeueLT-book;
}

.modal-background {
    z-index: 1014;
}
.heading-two {
    font-family: $font-HelveticaNeueLT-book;
}