.footer {

    &-redesign {
        background-color: $footer-redesign-bg;
        padding-bottom: rem(10);

        .title { 
            &:hover, &:focus {
                text-decoration: none;
            }
        }

        .footer-item {
            letter-spacing: rem(0.75);
            font-family: $font-HelveticaNeueLT-book;
            
            h3 {
                border-bottom: 0;
                color: $light-black;
                a {
                    color: $light-black;
                    display: block;
                }
            }

            &.collapsible-xs {
                
                .title {
                
                    &:after {
                        @include media-breakpoint-down(md) {
                            content: '';
                            width: rem(15);
                            height: rem(15);
                            background: url(../../images/icons/arrow-down-mobile.png) center center no-repeat;
                            position: relative;
                            top: rem(12);
                        }
                    }
                }
                
                &.active {
                    .title {
                    
                        &:after {
                            @include media-breakpoint-down(md) {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }

            &-singup {
                @include media-breakpoint-down(md) {
                    padding: 0;
                }
            }
        }

        .content {
            li {
                a {
                    font-size: rem(13);
                }
            }
        }

        h3 {
            a {
                font-family: $font-HelveticaNeueLT-book;
                font-size: rem(14);
                font-weight: 600;
            }
        }

        .store-locator-heading {
            margin-top: rem(15);
        }

        .selectCountry,.selectLanguage {
            width: auto;

            .btn {
                font-family: $font-HelveticaNeueLT-medium;
                font-size: rem(15);
                letter-spacing: normal;
                text-transform: capitalize;
                padding: 0;

                @include media-breakpoint-up(lg) {
                    font-size: rem(12);
                }

                @include media-breakpoint-up(xl) {
                    font-size: rem(13);
                }
            }
  
            .content {
                position: absolute;
                background: $white;
                bottom: 2.2rem;
                width: 80%;
                padding: 0;
                border-radius: rem(5);
                box-shadow: rem(1) rem(4) rem(8) rgba(0, 0, 0, 0.1);
                right: rem(40);

                @include media-breakpoint-up(sm) {
                    width: 100%;
                    right: 0;
                    left: 0;
                }

                @include media-breakpoint-up(lg) {
                    width: 100%;
                    left: rem(-15);
                }

                .collapse-inner {
                    max-height: rem(255);
                    overflow-y: auto;
                    margin: rem(10) 0;
                    margin-bottom: 0;
                }
            }

            .title {
                font-family: $font-HelveticaNeueLT-medium;
                font-size: rem(15);

                &:focus {
                    box-shadow: none;
                }
            }

            span {
                position: relative;

                &::after, &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0.8rem .6rem 0;
                    left: 50%;
                    transform: translateX(-50%);
                    top: rem(-15);
                    z-index: 9;
                    display: none;
                }

                &::after {
                    bottom: rem(-15);
                    border-top-color: $white;
                }

                &::before {
                    bottom: rem(-15);
                    border-top-color: rgba(0,0,0,.25);
                }
            }
        }

        .selectCountry {
            min-width: rem(155);
            margin-right: rem(10);

            &.active {
                span {

                    &::after, &::before {
                        display: inline-block;
                    }
                }
            }

            .flag-icon {
                border: none;
                margin-right: rem(5);
            }
        }

        .selectLanguage {

            &.active {

                span {
                    &::after, &::before {
                        display: inline-block;
                    }
                }
            }

            .title {

                &:after {
                    margin-left: rem(10);
                }
            }

            .content {
                padding: rem(5) 0;
                
                &:after, &::before {
                    left: auto;
                    right: calc(20% - 10px);
                }
            }
        }

        .container-1366 {
            max-width: $container-1366;
            margin: 0 auto;
            
            @include media-breakpoint-up(lg) {
                padding-left: 2rem;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 3rem;
                padding-right: 2rem;
            }
        }

        .footer-signup-container {
            max-width: none;

            .footer-newsletter-email-field {
                height: rem(46) !important;
                font-family: $font-HelveticaNeueLT-book;
                font-size: rem(15);
                border: rem(2) solid $sonic-silver;
                background: transparent;
                border-right: 0;
                padding-top: 0.475rem;

                @include media-breakpoint-up(lg) {
                    padding-top: 0.375rem;
                }

            }

            .footer-newsletter-email-button {
                height: rem(46);
                width: rem(46);
                background: url(../../images/arrow_forward-24px.png) center center no-repeat;

                &:focus,&:active {
                    background: url(../../images/arrow_forward-24px.png) center center no-repeat;
                    box-shadow: none;
                }

                &:focus:active {
                    box-shadow: none;
                }
            }
        }

        .footerDropdown.selectors {
            margin-top: 0;
            width: auto;
            text-align: center;
            position: relative;

            @include media-breakpoint-up(sm) {
                text-align: left;
                display: flex;
                justify-content: space-between;
            }

            .esw-country-selector { 
                width: auto;
            }
        }

        .flag-icon {
            width: rem(29);
            height: rem(20);
            border-radius: rem(5);
            vertical-align: text-bottom;
        }

        #dropdownCountrySelector {
            &::after {
                margin-left: rem(5);
            }
        }

        .mCSB {

            &_scrollTools { 
                width: rem(16);

                .mCSB_dragger {

                    .mCSB_dragger_bar {
                        display: none;
                    }
                }
    
            }

            &_draggerRail {
                background-color: $dim-gray;
                width: rem(5);
                margin-right: rem(10);
            }

            &_draggerContainer {
                right: rem(25);
            }

            &_inside {
                .dropdown-item {
                    text-align: left;
                }
            }
        }

        .mCSB_inside > .mCSB_container {
            margin-right: 0;
        }

        .dropdown-item {
            text-align: left;
            font-size: rem(15);
            margin-bottom: rem(10);
            color: $grey8;
            padding: 0.25rem 1.2rem;

            &:hover {
                background: $white-grey;
            }
        }

        .copyright-footer-row {
            padding: 0;
        }

        .social-links {
            float: left;

            @include media-breakpoint-up(xl) {
                padding-left: 0;
            }

            a {
                font-size: rem(25);
            }

            li {
                float: left;
                margin: 0;
                margin-right: rem(12);

                &:last-child {
                    margin: 0;
                }
            }
        }

        .copyright {
            margin-top: 0;
            color: $storm-gray;
            font-family: $font-HelveticaNeueLT-book ;
            font-size: rem(12);
            text-align: center;

            @include media-breakpoint-up(sm) {
                font-size: rem(15);
                text-align: left;
            }

            @include media-breakpoint-down(md) {
                padding-left: rem(15);
            }
        }

        .back-to-top {
            bottom: rem(30);
            right: 0;
            position: absolute;

            @include media-breakpoint-up(sm) {
                position: relative;
                bottom: rem(12);
                float: none;
                margin-left: rem(20);
            }

            @include media-breakpoint-up(xl) {
                margin-left: rem(25);
            }
        }

        .social {
            margin-top: 0;
        }

        .UsableNetAssistive {

            h3 {
                font-size: rem(15);
                font-weight: 600; 
                text-transform: capitalize;
            }
        }

        .menu-footer {

            @include media-breakpoint-down(xs) {
                margin-top: 0;
            }
        }

        &-row { 
            justify-content: center;
            @include media-breakpoint-up(md) {
                margin-top: rem(25);
            }

            @include media-breakpoint-down(md) {
                padding-left: rem(15);
                padding-right: rem(15);
            }
        }

        .custom-col {
            @include media-breakpoint-up(sm) {
                flex: 0 0 59.33333%;
                max-width: 59.33333%;
            }

            @include media-breakpoint-up(lg) {
                flex: 0 0 66.66667%;
                max-width: 66.66667%;
            }

            @include media-breakpoint-up(xl) {
                flex: 0 0 75%;
                max-width: 75%;
            }
        }
    }

    &-top {
        background-color: $black;
        
        &-inner {
            
            @include media-breakpoint-up(sm) {
                padding: rem(20) 0;
            }
        }

        &-item {
            min-width: rem(250);
            margin-bottom: rem(40);
            padding-left: 2rem;

            &:first-child {
                margin-top: rem(40);

                @include media-breakpoint-up(sm) {
                    margin: 0;
                    padding: 0;
                }
    
            }

            @include media-breakpoint-up(sm) {
                min-width: auto;
                margin: 0;
                margin-left: rem(25);
                padding: 0;
            }

            @include media-breakpoint-up(lg) {
                min-width: rem(250);
                margin: 0;
            }

            &-heading {
                display: inline-block;
                
                h2 {
                    color: $white;
                    font-family: $font-HelveticaNeueLT-medium;
                    font-size: rem(14);
                    margin: 0;
                    margin-left: rem(15);

                    @include media-breakpoint-up(sm) {
                        margin-left: rem(5);
                    }

                    @include media-breakpoint-up(lg) {
                        margin-left: rem(15);
                    }
                }
            }

            &-icon {
                display: inline-block;

                i {
                    color: $white;
                }
            }
        }

        &-wrapper {
            flex-wrap: wrap;

            @include media-breakpoint-up(sm) {
                flex-wrap: nowrap;
            }
        }
    }

    &-item {
        letter-spacing: rem(1.75);

        @include media-breakpoint-down(md) {
            flex: 1;
        }

        @include media-breakpoint-down(xs) {
            flex: auto;
            width: 100%;
        } 

        &-singup {
            @include media-breakpoint-down(md) {
                flex: 2;
                min-width: rem(300);
            }  
            @include media-breakpoint-down(xs) {
                flex: auto;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-top: rem(12);
        }
    
        h3 {
            color: $light-black;
            a {
                color: $light-black;
                display: block;
            }
        }
    }
    
    &-redesign-ebl {
        background-color: $pink-light;
    }
}


.footer-signup-container {

    .footer-newsletter-email-field {
        height: rem(55);

        &:focus {
            box-shadow: none;
        }
    }

    .footer-newsletter-email-button {
        height: rem(55);
        width: rem(50);
    }

    .submission-status {
        font-size: rem(15);
        color: $red;
        margin-top: rem(10);

        .error {
            color: $red;
        }

        .success {
            color: $grey8;
        }
    }
}

.copyright-footer-row {
    padding-left: rem(135);
    padding-right: rem(105);

    .social {
        @include media-breakpoint-up(xl) {
            padding-right: rem(15);
            padding-left: rem(15);
        }

        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }
}