.header-banner {
    background-color: $drak-red;
}

header {

    &.new-header {

        .desktop-search {
            min-height: rem(170);
            
            .search-suggestions {
        
                h3 {
                    font-family: $font-HelveticaNeueLT-medium; 
                }

                .category-slot {
            
                    a {
                        font-family: $font-HelveticaNeueLT-book;            
                    }
                }
            }
            
            .search-close {
              font-family: $font-HelveticaNeueLT-book;
            }
           
        }

        .header-search-field {
            font-family: $font-HelveticaNeueLT-medium; 
        }

        .user {
            
            &.user-not-login {
      
                .popover {
            
                    .btn {
                        font-family: $font-HelveticaNeueLT-medium; 
                    }
                }
            }
        }

        .suggestions {

            .items-header > div {
                font-family: $font-HelveticaNeueLT-medium; 
            }

            .item {

                .name {
                    font-family: $font-HelveticaNeueLT-book;

                    a {
                        font-family: $font-HelveticaNeueLT-book; 
                    }
                }
            }
        }

        &.ebl-header-sec {

            @include media-breakpoint-up(lg) {
                
                &.new-header {
                    
                    .logo-ebl-box {
                        margin-top: rem(10);
                        
                        &.logo-ebl {
                            overflow: hidden;
                            height: rem(24);
                        }
                    }
                    
                    .logo-link {

                        img {
                            width: rem(144);
                        }
                    }

                    .header-wrapper {

                        .header-container {
                            height: rem(131);
                        }
                    }

                    .header-menu-wrapper {

                        &.sticky-header {

                            .header-wrapper {

                                .header-container {
                                    height: rem(98);
                                }
                            }
                        }
                    }
                }
            }
            
            // when the sticky add the styling apply
            &.new-header {
            
                .header-menu-wrapper {

                    &.sticky-header {
        
                        .overlay {
                            height: rem(98);
                        }
                    }
                }     
            }

            //whitout sticky apply the syling apply
            &.new-header {

                .overlay {
                    height: rem(131);
                }

                @include media-breakpoint-down(lg) {
                    
                    .logo-ebl-box {
                        
                        &.logo-ebl {
                            overflow: hidden;
                            height: rem(24);
                            margin-top: rem(7);

                            img {
                                width: rem(144);
                            }
                        }
                    }
                
                    .logo-link {

                        img {
                            width: rem(94);
                        }
                    }
                }

                // menu styling
                @import "menu";
            }
        }
    }
}

.accessible-link {
    font-family: $font-HelveticaNeueLT-book;
}

.header-banner {

    .html-slot-container {
        font-family: $font-HelveticaNeueLT-book;

        .carousel-item {
            font-family: $font-HelveticaNeueLT-book;
        }
    }
}