.header-banner {
    position: relative;
    z-index: 999;
    background-color: $drak-red;

    .html-slot-container {
        @include font-book;
        font-size: rem(14);

        @include media-breakpoint-down(sm) {
            font-size: rem(12);
        }

        @include media-breakpoint-down(xs) {
            font-size: rem(10);
        }
    }
}

.home-page-banner-image {

    img {
        width: 100%;
    }
}

header.new-header {
    @import "headerSearch";
    @import "menu";

    .overlay {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: rem(60);
        box-shadow: 0px 0px rem(14) rem(1) $grey-dark;
        z-index: 999;
        margin: 0;
        opacity: 0;
    }

    .top-search-tiles {
        display: flex;
        
        @include media-breakpoint-down(sm) {
            margin: 0 rem(-19);
        }
        
        .product {
            max-width: rem(165);
            margin-right: rem(5);

            &:last-child {
                margin: 0;
            }

            .product-tile {
                background: $white-smoke;
                min-height: unset;
                position: relative;

                .out-of-stock {
                    display: inline-block;
                    color: $storm-gray;
                    font-size: rem(9);
                    letter-spacing: normal;
                    padding: rem(2) rem(5);
                    background: $dark-pink;
                    @include font-book;
                    text-transform: capitalize;
                    border-radius: rem(10);
                    z-index: 99;
                    float: right;
        
                    @include media-breakpoint-down(sm) {
                        right: rem(5);
                    }

                    @include media-breakpoint-down(xs) {
                        font-size: rem(6);
                    }
                }

                .product-badge.left {
                    display: none;
                }

                .badge-container {
                    position: absolute;
                    top: rem(3);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 100%;
                    padding-left: rem(3);
                }

                .new-product, .pre-order    {
                    display: inline-block;
                    color: $storm-gray;
                    font-size: rem(9);
                    display: block !important;
                    letter-spacing: normal;
                    padding: rem(2) rem(5);
                    background: $grey9-light;
                    @include font-book;
                    text-transform: capitalize;
                    border-radius: rem(10);
                    z-index: 99;

                    @include media-breakpoint-down(sm) {
                        right: rem(5);
                    }
                    @include media-breakpoint-down(xs) {
                        font-size: rem(6);
                    }
                }

                .pre-order {
                    background: $grey9-light;
                    z-index: 999; 
                }

                .wishlistTile {
                    position: absolute;
                    top: rem(5);
                    left: rem(5);
                    height: rem(30);
                    display: none;
    
                    .fa-circle {
    
                        &::before {
                            content: unset;
                        }
                    }
    
                    .fa {
                        font-size: rem(20);
                        color: $gray-x11;
                    }
    
                    &:hover {
    
                        .fa-heart-o {
    
                            &::before {
                                content:"\F004";
                            }
                        }
                    }
                }

                &:hover {

                    .wishlistTile {
                        display: block;
                    }
                }

                @include media-breakpoint-down(sm) {
                    min-height: unset
                }

                .image-container {
                    border: none;

                    .quickview {
                        display: none;
                    }
                }

                .tile-body {
                    text-align: left;
                    padding: rem(10);
                    overflow: auto;

                    .pdp-link , .price {
                        display: block;
                        float: unset;
                        padding: 0;
                        margin: 0;
                    }

                    .price {
                        padding: 0;
                        display: block;
                        font-size: rem(12);
                        @include font-light;
                        float: unset;
                        letter-spacing: normal;
                        color: $grey8;
                    }

                    .product-name {
                        font-size: rem(12);
                        @include font-medium;
                        font-weight: bold;
                        color: $grey8;
                        letter-spacing: normal;
                        text-transform: capitalize;
                    }

                    .tile-discription, .tile-btns {
                        display: none;
                    }
                }
            }
        }
    }

    .desktop-search .header-search-field {
        opacity: 0;
    }

    .navbar-toggler-custom {
        padding: 0;
    }

    .header-icon {
        height: rem(20);
        width: rem(20);
        display: inline-block;
        margin-right: rem(20);
        position: relative;
        top: rem(1);

        @include media-breakpoint-down(xs) {
            margin-right: rem(15);
        }

        .minicart-quantity {
            right: rem(-11);
            top: rem(-6);
        }
    }


    .tile-discription {
        display: none;
    }
    
    .minicart {
        margin-right: rem(20);
    }

    .menu-text {
        font-size: rem(15);
        font-family: $font-book;
        color: $white;
        letter-spacing: rem(0.5);
    }

    .header-wrapper {

        .header-container {
            @include media-breakpoint-down(sm) {
                height: rem(45);
                padding: 0 rem(10);
                > div {
                    padding: 0;
                }
            }
        }
    }

    .sticky-header-placeholder {
        height: auto;
    }

    .user {
        margin-right: rem(20);
        padding: rem(18) rem(4) rem(16) rem(3);
        outline: none;
        border-bottom: 2px solid transparent;

        &:hover {
            border-color: $black;
        }

        .popover {
            padding: rem(10) rem(20);
            padding-bottom: rem(20);
            width: rem(150);
            left: rem(-48);
            top: rem(60);
            box-shadow: unset;
            border-radius: unset;

            &-cart-icon-hidden {
                left: rem(-80);
            }

            a {
                font: rem(15) $font-primary;
            }

            &::before {
                content: unset;
            }
        }

        &.user-not-login {
            
            .popover {
                padding: rem(20) rem(13);
                min-height: auto;

                .btn {
                    padding: rem(12) 0;
                    text-transform: uppercase;
                    font-size: rem(16);
                    @include font-medium;
                    color: $grey8;
                    border-radius: 0;
                    white-space: unset;

                    &:hover {
                        color: $white;
                    }

                    &:focus {
                        box-shadow: none;
                        outline: -webkit-focus-ring-color auto 1px;
                        
                    }
                }
            }
        }

        &:focus {
                outline: -webkit-focus-ring-color auto 1px;
        }
        
        &:hover {

            .popover {
                display: block;
            }
        }

        .user-icon {
            height: rem(20);
            width: rem(20);
            display: inline-block;
            background: url("../images/user-icon-white.svg") center center no-repeat;
            cursor: pointer;
        }

        &.user-login {

            .user-icon {
                background: url("../images/user-icon-white-fill.svg") center center no-repeat;
            }
        }
    }

    .navbar-toggler-custom {
        cursor: pointer;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.1875rem;
        outline: none;

        .fa-bars {
            height: rem(13);
            width: rem(19);
            background: url("../images/menu-toggle.svg") center center no-repeat;
            margin-right: rem(5);

            &::before {
                content: unset;
            }
        }
    }

    .search-icon {
        background: url("../images/search-icon-white.svg") center center no-repeat;
        top: rem(-1);
    }

    .minicart-link {
        background: url("../images/cart-icon-white.svg") center center no-repeat;
    }

    .logo-link {

        img {
            filter: invert(1);
        }
    }

    .header-search-field{
        font-family: $font-medium;
        font-size: rem(16);
        border: none;
        border-bottom: 2px solid $dark-gray;
        border-radius: 0;
        outline: none;
        width: 100%;
        padding: 0;
        padding-bottom: rem(10);

        &:focus {
            box-shadow: none;
        }
    }

    .desktop-search {
        position: fixed;
        background: $white;
        width: 100%;
        top: 0;
        padding: 0 rem(15);
        padding-top: rem(25);
        display: none;
        padding-bottom: rem(5);

        .search-recomendation    {
            margin-top: rem(16);
        }

        .html-slot-container {
            p {
                margin: 0;
            }
        }

        .search-suggestions {
            padding: rem(15) rem(0);
            padding-top: rem(0);
            @include media-breakpoint-up(lg) {
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;
            }

            h3 {
                color: $storm-gray;
                @include font-medium;
                font-size: rem(15);
                font-weight: 600;
                letter-spacing: normal;
                margin-bottom: rem(15);
                text-transform: capitalize;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: rem(10);
                }
            }

            .category-slot {
                margin-bottom: rem(20);

                a {
                    display: inline-block;
                    color: $grey8;
                    font-family: $font-book;
                    font-size: rem(15);
                    letter-spacing: normal;
                    text-decoration: none;
                    opacity: 0;
                    text-transform: none;

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: rem(1);
                        background: $black;
                        transition: width .3s;
                        position: relative;
                        top: rem(1.5)
                    }

                    &:hover {
        
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        
        .logo-link {

            img {
                filter: unset;
            }
        }

        .dropdown-menu {
             opacity: 0;
             display: unset;
        }

        .search-close {
            font-family: $font-book;
            font-size: rem(15);
            color: $grey8;
            text-transform: uppercase;
            padding: rem(2px) 0;
            background: $white url("../images/close-button.svg") right center no-repeat;
            background-size: 13px;
            padding-right: rem(25px);
            text-decoration: none;
            margin-right: rem(10px);
            letter-spacing: normal;
            
            &:focus {
                outline: -webkit-focus-ring-color auto 1px;
            }
        }
        
        form {
            position: relative;
        }
        
        .search-close-mobile {
            position: absolute;
            top: rem(4);
            right: rem(2);
            height: rem(20);
            margin: 0;
        }

        
        .slick-dots {

            li {
                width: 4%;
                height: rem(2);
                background: $gray-x11;
                margin: 0;

                button {
                    height: 100%;
                    width: 100%;

                    &::before{
                        content: unset;
                    }
                }

                &.slick-active {
                    background: $black;
                }
            }
        }
    }

    .header-menu-wrapper {
        transition: 0.2s;

        .desktop-menu {
            position: static;
        }

        .desktop-menu .nav-item.sub-dropdown.dropdown.gtm-customEvent.show .slick-list {
            width: 100%;
        }

        .desktop-menu .featured-promotion.gtm-customEvent#custom-slick-slider-control .slick-list {
                width: rem(500);
        }

        &.sticky-header, &.non-sticky {
            background-color: $white;
            position: relative;

            .header-container {
                box-shadow: rem(1) rem(1) rem(7) 0 $grey-transparent-7;
            }

            .user {

                .popover {
                    box-shadow: rem(-1) rem(4) rem(6) rem(-3) $grey3;
                }
            }

            .menu-text {
                color: $black;
            }
        }

        @include media-breakpoint-up(lg) {

            &:hover {
                background-color: $white;

                .navbar-toggler-custom {
                    cursor: pointer;

                    .fa-bars {
                        background: url("../images/menu-toggle-black.svg") center center no-repeat;
                    }
                }

                .search-icon {
                    background: url("../images/search-icon-black.svg") center center no-repeat;
                }

                .user {

                    .user-icon {
                        background: url("../images/user-icon-black.svg") center center no-repeat;
                    }

                    &.user-login {

                        .user-icon {
                            background: url("../images/user-icon-fill.svg") center center no-repeat;
                        }
                    }
                }

                .minicart-link {
                    background: url("../images/cart-icon-black.svg") center center no-repeat;
                }

                .logo-link {

                    img {
                        filter: unset;
                    }
                }

                .desktop-menu {
                    position: static;

                    .nav-link {
                        color: $black;
                    }
                }
            }
        }

        &.sticky-header, &.non-sticky {

            .navbar-toggler-custom {
                cursor: pointer;

                .fa-bars {
                    background: url("../images/menu-toggle-black.svg") center center no-repeat;
                }
            }

            .search-icon {
                background: url("../images/search-icon-black.svg") center center no-repeat;
            }

            .user {

                .user-icon {
                    background: url("../images/user-icon-black.svg") center center no-repeat;
                }

                &.user-login {

                    .user-icon {
                        background: url("../images/user-icon-fill.svg") center center no-repeat;
                    }
                }
            }

            .minicart-link {
                background: url("../images/cart-icon-black.svg") center center no-repeat;
            }

            .logo-link {

                img {
                    filter: unset;
                }
            }

            .desktop-menu {
                position: static;

                .nav-link {
                    color: $black;
                }
            }
        }


    }

    .navbar-nav {

        .nav-link {
                font-size: rem(14);
        }
    } 

    .header-logo {

        p {
                margin: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    
    header.new-header {

        .fixed-header {

            .header-menu-wrapper {
                position: fixed;
            }
        }


        .header-banner {

            .html-slot-container {
                font-size: rem(15);
            }
        }

        .logo-link {

            img {
                width: rem(155);
            }
        }

        .header-wrapper {

            .header-container {
                height: rem(60);
            }
        }

        .sticky-header-placeholder {
            height: auto;
        }

        .header-menu-wrapper {
            background-color: transparent;
        }

        .fixed-header {

            .header-menu-wrapper {
                background: $white;
            }
        }
    }
}

@include media-breakpoint-down(lg) {

    header.new-header {

        .header-wrapper {
            background: $white;
            position: relative;
        }
        .fixed-header {
          
            .header-wrapper {
                position: fixed;
            }
        }
        .multilevel-dropdown {

            .close-menu {
                background-color: $white;
                position: relative;

                .close-button {
                    right: 0;
                }
            }

            .featured-promotion {
                display: block;
            }
        }
    }

    .fixed-header {

        .header-wrapper {
            background: $white;
        }
    }
}

@media only screen and (max-width: $custom-xl) {

    header.new-header {

        .desktop-menu {

            .nav-item {
                margin: 0 rem(8px);

                .nav-link {
                    font-size: rem(14);
                    letter-spacing: rem(0.5);
                }
            }

            .dropdown-menu {

                .dropdown-link {
                    font-size: rem(14);
                }
            }

            .featured-promotion {

                p {

                    span {
                        font-size: rem(14);
                    }
                }
            }

            .slick-dots {

                li {
                    width: rem(50);
                }
            }
        }
    }
}

@media only screen and (max-width: $custom-lg) {

    header.new-header { 

        .desktop-menu {

            .nav-item {
                margin-left: 10px;
                margin-right: 0;

                .nav-link {
                    font-size: rem(12);
                    letter-spacing: normal;
                }
            }

            .dropdown-menu {

                .dropdown-link {
                    font-size: rem(12);
                }
            }

            .featured-promotion {

                p {

                    span {
                        font-size: rem(12);
                    }
                }
            }

            .slick-dots {

                li {
                    width: rem(30);
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {

    .search-suggestions {
        display: flex;
        justify-content: space-between
    }
}

.show-overlay {
    display: block;
    z-index: 99;
}

header.new-header {

        .mobile-menu, .desktop-menu {

                .movado-header-dropdown {

                        .slick-dots {
                                bottom: rem(-10);

                                li {
                                        width: 2%;
                                }
                        }
                }
        }
}

@include media-breakpoint-up(lg) {

        header.new-header {

                .main-menu {

                        .dropdown-menu {

                                .movado-header-dropdown {

                                        .header-tiles {

                                                &.slick-slider {
                                                        display: grid;
                                                        padding-left: rem(26);
                                                }
                                        }
                                }
                        }
                 }
        }
}

header {
    &.ebl-header-sec {

        @include media-breakpoint-up(lg) {
            
            &.new-header {
                
                .logo-ebl-box {
                    margin-top: rem(10);
                    
                    &.logo-ebl {
                        overflow: hidden;
                        height: 1.5rem;
                    }
                }
                
                .logo-link {

                    img {
                        width: rem(144);
                    }
                }

                .header-wrapper {

                    .header-container {
                        height: rem(131);
                    }
                }

                .header-menu-wrapper {

                    &.sticky-header {

                        .header-wrapper {

                            .header-container {
                                height: rem(98);
                            }
                        }
                    }
                }
            }
        }
        // when the sticky add the styling apply
        &.new-header {
          
            .header-menu-wrapper {

                &.sticky-header {
    
                    .overlay {
                        height: rem(98);
                    }
                }
            }
                
        }

        //whitout sticky apply the syling apply
        &.new-header {

                .overlay {
                        height: rem(131);
                }
                @include media-breakpoint-down(lg) {
                  
                        .logo-ebl-box {
                            
                            &.logo-ebl {
                                    overflow: hidden;
                                    height: 1.5rem;
                                    margin-top: rem(7);

                                    img {
                                        width: rem(144);
                                    }
                            }
                        }
                    
                        .logo-link {

                                img {
                                    width: rem(94);
                                }
                        }
                }
        }
    }
}