.main-menu {

    .dropdown-menu {

        .featured-promotion {
            
            h3 {
                font-family: $font-HelveticaNeueLT-medium;
                 font-weight: 600;
            }
        }
    }
}

.desktop-menu {

    .dropdown-item {

        a {
            font-family: $font-HelveticaNeueLT-book;
            font-weight: 400;
        }
    }

    .nav-item {
        .nav-link {
            font-family: $font-HelveticaNeueLT;
        }
    }
}

.multilevel-dropdown {

    .navbar {

        .close-menu {
            .close-button {
                font-family: $font-HelveticaNeueLT-book;
                font-weight: 400;
            }

            .back {
                font-family: $font-HelveticaNeueLT-book;
                font-weight: 400;
            }
        }

        .dropdown-menu {

            .dropdown-link {
                font-family: $font-HelveticaNeueLT-book;
                font-weight: 400;  
            }
        }
    }

    .country-selector-mobile {

        .country-selector-wrapper {
          
            select {
                font-family: $font-HelveticaNeueLT-book;
                font-weight: 400;
            }
        }
    }

    li.top-category {

        .nav-link {
            font-family: $font-HelveticaNeueLT-medium;
            font-weight: 500;
        }
    }

    .mobile-login {

        li.top-category {

            .nav-link {
                font-family: $font-HelveticaNeueLT-book;
                font-weight: 400;
            }
        }

        .my-account {

            .dropdown-link {
                font-family: $font-HelveticaNeueLT-book;
                font-weight: 400;

            }
        }
    }

    .nav-item {

        .nav-link {

            font-family: $font-HelveticaNeueLT-book;
            font-weight: 400;
          
        }
    }

    .shop-by-collection-slide {

        .featured-promotion {

            p {
               
                a {
                   
                    span {
                        font-family: $font-HelveticaNeueLT-book;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.mobile-menu {

   .movado-header-dropdown {

        .header-tiles    {

            span {
                font-family: $font-HelveticaNeueLT-book;
                font-weight: 400;
            }
        }
    }
}
