.leading-lines {
    &.justify-content-between {
        &.leading-lines-wrapper {
        
            .end-lines {
                background-color: transparent;
            }
        }

        &.grand-total {

            .end-lines {
                background-color: transparent;
            }
        }
    }
}



.data-checkout-stage {

    .left-section {

        .form-group {

            .form-control {
                &.input-wrapper-checkout {
                    padding-left: rem(10);
                }
            }
        }
    }
}
