@import "~concord/checkout/checkout";

header {

    .checkout-header-wrapper {

        .minicart-quantity { 
            font-size: rem(12);
            right: rem(-10);
            top: rem(-10);
            width: rem(19);
            height: rem(19);
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: rem(1);
        }

        .minicart-link {
            height: rem(20);
            width: rem(20);
            display: inline-block;
            position: relative;
            top: 0;
            background: url(../../images/cart-icon-black.svg) 50% no-repeat;
        }
    }
}

.data-checkout-stage {

    .order-product-summary {

        .product-summary-block {

            .product-line-item {

                .line-item-name {

                    span {
                        font-family: $font-raleway-medium;
                        color: $light-black2;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.receipt {
    
    .order-product-summary {

        .product-summary-block {

            .line-item-name {

                span {
                    color: $grey14;
                }
            }
        }
    } 
}