.floating-header-banner {
    height: 100%;
    position: relative;
    width: 100%;

    .desktop-image {
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    .mobile-image {
        display: none;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    img {
        pointer-events: none;
        width: 100%;
    }

    .header-banner-content {
        display: flex;
        justify-content: center;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        align-items: center;
        top: 0;
        width: 100%;

        .header-banner-title {
            color: $white;
            font-family: $font-medium;
            font-size: rem(40);
            letter-spacing: rem(5);
            line-height: rem(49);
            font-weight: normal;
            text-transform: uppercase;
            width: 80%;
            margin: auto;

            @include media-breakpoint-up(lg) {
                font-size: rem(60);
                letter-spacing: rem(12.5);
                width: 100%;
            }

            @include media-breakpoint-down(xs) {
                font-size: rem(36);
                width: 100%;
            }
        }
    }
}

.section-locations-hero {
    margin-bottom: 0;
    position: relative;
    display: block;

    .location-hero {
        text-align: center;
        width: 100%;

        p {
            margin: 0;
            width: 100%;
        }

        img {
            max-width: 100%;
            height: rem(200);
            width: 100%;
            object-position: 50%;
            object-fit: cover;

            @include media-breakpoint-down(md) {
                height: rem(115);
            }
        }

        .location-hero-title {
            transform: translateY(-50%);
            color: $white;
            font-family: $font-medium;
            font-weight: 500;
            font-size: rem(60);
            text-transform: uppercase;
            letter-spacing: rem(12);
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 50%;

            @include media-breakpoint-down(md) {
                font-size: rem(36);
                letter-spacing: rem(5);
            }

            @include media-breakpoint-down(xss) {
                font-size: rem(32);
            }
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    border: rem(2) solid $black;
    transition: .3s ease-in;
    min-width: rem(200);
    padding: rem(14) rem(20);
    font-size: rem(14);
    letter-spacing: 1.87px;
    line-height: rem(18);
    text-align: center;
    text-transform: uppercase;
    font-family: $font-bold;
    font-weight: 600;
    cursor: pointer;
}

.button-outline {
    color: $black;
    font-size: rem(12);
    letter-spacing: 1.6px;
    line-height: rem(18);
    background: transparent;

    &:hover{
        color: $white;
        background-color: $black;
    }
}

.opacity-0 {
    opacity: 0;
}

.w-80 {
    width: 80%;
}

.m-0-auto {
    margin: 0 auto;
}

.tab-bar-main {
    font-family: $font-medium;
    display: flex;
    justify-content: center;
    border-top: rem(1) solid $light-gray4;
    border-bottom: rem(1) solid $light-gray4;
    background: linear-gradient(0deg, $white, $light-gray3);
    width: 100%;
    z-index: 6;
    position: static;
    top: auto;

    .tab-bar-menu-open-btn {
        background: linear-gradient(0deg, $white, $white-smoke2);
        border: 0;
        padding: rem(20);
        color: $dark-gray;
        font-size: rem(12);
        line-height: 1;
        display: inline-block;
        width: 100%;
        position: relative;
        letter-spacing: rem(1);
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        outline: 0;

        svg {
            right: 0;
            float: right;
        }

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .tab-bar-menu-close-btn {
        text-align: center;
        background: linear-gradient(0deg, $white, $white-smoke2);
        border-bottom: rem(1) solid $light-gray4;
        font-size: rem(12);
        line-height: 1;
        vertical-align: middle;
        padding: rem(20);
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        letter-spacing: rem(1);
        cursor: pointer;
        outline: 0;
        margin-bottom: rem(25);

        @include media-breakpoint-up(lg) {
            display: none;
        }

        svg {
            position: absolute;
            top: 50%;
            right: rem(20);
            transform: translateY(-50%);
            width: rem(10);
            height: rem(10);
        }
    }

    .tab-bar-menu {
        position: fixed;
        transform: translateX(100%);
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        background-color: $white;
        transition: transform 0.35s,opacity 0.35s;
        z-index: 11;
        opacity: 0;
        left: 0;
        right: 0;

        @include media-breakpoint-down(md) {

            &.dashboard-active {
                z-index: 1015;
                transform: translateX(0);
                opacity: 1;
            }
        }

        @include media-breakpoint-up(lg) {
            z-index: 1;
            opacity: 1;
            position: static;
            border-left: rem(0) solid $light-gray4;
            display: flex;
            justify-content: center;
            padding: 0;
            background-color: transparent;
            transform: none;
            transition: none;
            height: auto;
            max-width: rem(800);
        }
    }

    .tab-bar-menu-link {
        border: rem(1) solid $dark-gray;
        color: $light-gray6;
        cursor: pointer;
        display: block;
        font-weight: 500;
        line-height: 1;
        letter-spacing: rem(1.5);
        margin: 0 auto rem(15);
        font-size: rem(12);
        text-align: center;
        text-transform: uppercase;
        padding: 0 rem(25);
        width: auto;
        color: $black;
        text-decoration: none;

        &.tab-bar-sign-out {
            display: none;
            text-decoration: underline;
            color: $dark-red;
            border: rem(1) solid $dark-red;

            @include media-breakpoint-down(md) {
                display: block;
            }
        }

        &.is-tab-bar-menu-link-active {

            @include media-breakpoint-up(lg) {
                background-color: $white-gray;
            }
        }

        &:hover, &:focus {
            background-color: $white-gray;
        }

        @include media-breakpoint-up(lg) {
            border: 0;
            border-right: rem(1) solid $light-gray4;
            display: inline-block;
            font-size: rem(11);
            line-height: rem(48);
            margin: 0;
            padding: 0 rem(25);
            transition: background-color .25s ease-out;
            width: auto;

            &:first-of-type {
                border-left: rem(1) solid $light-gray4;
            }
        }

        @include media-breakpoint-down(md) {
            font-weight: 500;
            line-height: 1;
            letter-spacing: rem(1.5);
            display: block;
            margin: 0 auto rem(15);
            font-size: rem(12);
            color: $black;
            text-transform: uppercase;
            padding: rem(25);
            text-align: center;
            cursor: pointer;
            border: rem(1) solid $grey7;
            width: calc(100% - 50px);
        }
    }
}
.form-group {

    &.required {

         .form-control-label {
    
            &::after {
                content: "*";
                color: $black;
            }

            &::before {
                content: "";
                color: $black;
            }
        }
    }
}

.account-dashboard-tab-sticky {
    position: fixed;
    width: 100%;
    margin-top: rem(18);

    @include media-breakpoint-up(lg) {
        margin-top: 0;
    }
}

.heading-three {
    text-transform: uppercase;
}

.custom-select-wrapper {

    .custom-select-form-wrapper {
        border: rem(1) solid $cyan-blue1;
        padding: rem(20);
        color:$light-gray;
        text-transform: none;
        font-family: $font-book;
        background: $white url(../images/up-and-down-arrows.svg) 95% 50% no-repeat;
        font-size: rem(14);
        line-height: rem(13);

        &:not([size]):not([multiple]) {
            height: rem(57);

            &:focus {
                box-shadow: 0 0 0 rem(1) $pale-blue;
                border-color: $pale-blue;
            }

            @include media-breakpoint-down(lg) {

                &:focus {
                    box-shadow: 0 0 0 rem(1) $corvette;
                    border-color: $corvette;
                }
            }
        }
    }
}

.widgets-title {
    margin: rem(20);
    overflow :hidden;
    text-align: left;
    line-height: 1.6em;

    &::before {
        display: block;
        float: right;
        margin-top: .8em; 
        border-top: 1px solid $light-gray4;
        width: 50%;
        content: "";
    }
}

.point-alter-image {
    width: rem(30);
    height: rem(30);
}

ul {
    list-style: none;
}


.plp-grid-overlay {

    @include media-breakpoint-up(lg) {
        display: block;
        background-color: $transparent-black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
        transition: opacity .35s;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.veil {
    z-index: 9999;
}

body {

    &.lock-bg {
        height: 100%;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            overflow: auto;
        }
    }
}

.extra-large-container {
    max-width: rem(1680);
    margin: 0 auto;
}

.modal-background {
    z-index: 99999;
}

.veil {
    z-index: 999999;
}

.modal {
    z-index: 999999;
}

.modal-backdrop {
    z-index: 99999;
}

.product-card-wrapper {
    
    .veil {
        z-index: 999;
    }
}

.product-tile-redesign {

    .tile-body {

        .price {

            del {

                .strike-through {
                    margin-right: rem(5);
    
                    span {
                        color: $light-gray2;
                        font-weight: 600;
                    }
                }

                & + span {
                    span {
                        color: $dark-red;
                    }
                }
            }
        }
    }
}

@keyframes nodeInserted {

    from {
        outline-color: $white;
    }
    
    to {
        outline-color: $black;
    }
}
 
div {
    
    &.yotpo {
    
        &.bottomLine {
    
            .star-clickable {
                animation-duration: 0.01s;
                animation-name: nodeInserted;
            }
        }
    }
}

.custom-clp-social {
    background-color: $white;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: rem(41);
    border-bottom: rem(1) solid $alice-blue;
    border-top: rem(1) solid $alice-blue;
    position: absolute;
    top: rem(53);
    width: 100%;
    z-index: 6;
    transition: transform .3s ease;
    transform: translateZ(0);

    @include media-breakpoint-up(lg) {
        top: rem(124);
        border-top: none;
        display: flex;

        &.sticky {
            top: rem(83);
            position: fixed;
        }
    }

    ul {
        display: flex;
        width: 100%;
        margin-bottom: 0;
        padding: 0;

        li {
            width: rem(52);
            text-align: center;
            border-right: rem(1) solid $alice-blue;

            a {
                height: rem(40);
                display: block;
                width: 100%;
            }
            
            i {
                color: $black;
                vertical-align: middle;
                line-height: rem(40);
                font-size: rem(18);
            }
        }
    }
}

.cart-message {
    padding: 0 rem(30);
}

// Styles for promo code form on cart and checkout page
.collapsible-promo-wrapper {
    .form-control {
      border-right: 0;
    }
  
    [class*="collapsible-"] {
      margin-bottom: 0;
        .title {
            width: 100%;
            line-height: rem(17);
            cursor: pointer;
  
            &::after {
                content: "\F107";
                font-size: rem(24);
                font-family: "FontAwesome";
                float: right;
            }
        }

    }
}