@import 'variables';
@import '~movado/miniCart';

.popover {
    font-family: $font-book;
}

.minicart {

    .popover {
        background-color: $white;
        border: 0;
        border-top: rem(1) solid $white-gray;
        height: 100vh;
        position: fixed;
        width: rem(440);
        max-width: rem(440);
        transform: translate(50%,-50%);
        top: 49%;
        transition: 0.5s ease-in-out;
        right: rem(-440);
        display: block;
        z-index: 99;
        opacity: 1;

        @include media-breakpoint-down(md) {
            width: 90%;
            max-width: 90%;
        }

        @include media-breakpoint-down(xs) {
            min-width: auto;
        }

        &.show {
            right: 0;
            transform: translate3d(0%, -49%, 0);
        }

        &:before, &:after {
            content: none;
        }

        .cart {
            border: 0;
            padding: 0;
            margin: 0;
            height: 100%;

            @include media-breakpoint-down(md) {
                width: 100%;
                max-width: 100%;
            }

            .title-free-shipping {
                text-align: center;
                margin-bottom: rem(15);
                line-height: rem(40);
                height: rem(41);
                text-transform: uppercase;
                border-bottom: rem(1) solid $white-gray;
                width: 100%;
                letter-spacing: rem(0.5);
                color: $light-green;
                font-size: rem(12);
                font-family: $font-medium;
                font-weight: 500;

                img, svg {
                    padding-right: rem(7);
                    padding-bottom: rem(2);
                }
            }

            .row {
                margin: 0;
            }

            .mini-cart-header {
                padding: rem(8) rem(16);
                display: inline-flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                border-bottom: rem(1) solid $light-gray4;
                height: rem(41);

                .cart-img {
                    float: left;
                    line-height: rem(10);
                }

                h4 {
                    font-family: $font-medium;
                    font-size: rem(16);
                    text-align: center;
                    letter-spacing: rem(1.6);
                    font-weight: 500;
                    line-height: initial;
                    margin: 0;
                    padding: 0;
                }

                .close-cart-img {
                    background-color: transparent;
                    float: right;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    margin-top: rem(-2);
                    padding: 0;

                    img, svg {
                        width: rem(10);
                        height: rem(8);
                    }

                    &:focus {
                        outline: 0;
                    }
                }
            }

            .product-summary {
                height: 100%;
                margin: 0;
                padding: 0;

                .col-12 {
                    padding: 0;
                }

                &:last-child {

                    .card {
                        border-bottom: none;
                    }
                }

                .card {
                    width: 100%;
                    margin-bottom: rem(15);
                    box-shadow: none;
                    border-radius: 0;
                    border: 0;
                    padding: 0 rem(18);
                    border-bottom: rem(1) solid $light-gray4;

                    .card-body {
                        padding: 0;

                       .product-line-item {
                            box-shadow: none;
                            border-radius: 0;
                            border: 0;
                            padding: 0;

                            .product-line-item-details.item-info {
                                overflow: hidden;
                            }

                            .quantity-form {

                                .quantity {
                                    overflow: visible;
                                    padding: rem(2) rem(15) rem(2) rem(2);
                                    box-shadow: inset 0 0 rem(2) rem(1) $light-gray4;
                                    outline: 0;
                                    border: 0;
                                    line-height: 1.15;
                                    margin: 0;
                                    width: rem(60);
                                    height: rem(50);
                                    border-radius: rem(1);
                                    font-size: rem(14);
                                    letter-spacing: rem(1);
                                    font-weight: 400;
                                    text-indent: rem(15);
                                }
                            }

                            .item-image {
                                height: rem(73);
                                width: rem(73);
                                margin-right: 0;

                                .product-image {
                                    margin: 0;
                                }
                            }

                            .item-attributes {
                                color: $black;
                                padding-left: rem(15);
                                width: 65%;
                                padding-right: rem(16);
                                flex: auto;

                                @include media-breakpoint-down(xs) {
                                    width: 50%;
                                }

                                @include media-breakpoint-down(xss) {
                                    width: 45%;
                                }

                            }

                            .line-item-name {
                                width: 100%;
                                letter-spacing: rem(1.5);
                                margin: 0;
                                font-family: $font-medium;
                                text-decoration: none;
                                display: inline-block;
                                overflow: hidden;
                                white-space: nowrap;
                                max-width: 90%;
                                text-overflow: ellipsis;

                                a, span {
                                    color: $black;

                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }

                            .price {

                                .total-amount {
                                    font-family: $font-book;
                                    font-size: rem(11);
                                    letter-spacing: rem(1.5);
                                    color: $black;
                                    font-style: normal;
                                    font-weight: normal;
                                }
                            }

                            .remove-line-item {
                                float: left;

                                .remove-btn {
                                    font-size: rem(9);
                                    text-decoration: none;
                                    color: $red1;
                                    line-height: rem(18);
                                    letter-spacing: rem(1);
                                    cursor: pointer;
                                    margin: 0;

                                    &:hover, &:focus {
                                        outline: 0;
                                    }

                                    &:not(:disabled):not(.disabled):active {
                                        background-color: transparent;
                                        border-color: transparent;
                                    }

                                    &:hover:after {
                                        opacity: 1;
                                    }

                                    &:after {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        bottom: rem(2);
                                        height: rem(1);
                                        width: 10%;
                                        opacity: 0;
                                        background: $red1;
                                        transition: all .25s;
                                    }

                                    span {

                                        &:focus {
                                            outline: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .minicart-footer {
            padding: 0;
            bottom: 0;
            position: absolute;
            width: 100%;
            background-color: $white;

            .cart-checkout-options {
                width: 100%;
                display: block;

                .cart-checkout {
                    background-color: transparent;
                    position: relative;
                }

                .guest {

                    label {
                        margin-bottom: 0;
                    }
                }

                .checkout-btn-label {
                    text-align: center;
                    width: 100%;
                    letter-spacing: rem(0.82);
                    outline: none;
                    height: rem(55);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: rem(12);
                    flex: 1;
                    cursor: pointer;

                    .checkout-sub {
                        color: $light-green2;
                        display: block;
                        font-style: italic;
                        font-weight: 400;
                        letter-spacing: normal;
                        text-transform: none;
                        font-size: rem(12);
                        margin-top: rem(-5);
                        outline: 0;
                    }
                }

                input[type="radio"] {
                    transform: translateY(-60%);
                    top: 48%;
                    clip: auto;
                    padding: 0;
                    margin: 0;
                    font-size: rem(12);
                    appearance: none;
                    display: block;
                    width: rem(20);
                    height: rem(20);
                    border-radius: rem(10);
                    border: rem(2) solid $light-gray2;
                    position: absolute;
                    left: rem(35);
                    cursor: pointer;
                    outline: 0;

                    + label {
                        position: initial;

                        &:before {
                            content: none;
                        }
                    }

                    &:checked {
                        border: none;
                        background-color: transparent;
                        background-size: contain;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-image: url(../images/greentick.svg);

                        + label {
                            background-color: $transparent-green;

                            &:before {
                                content: none;
                            }
                        }
                    }
                }
            }

            .mini-cart-login, .mini-cart-registration, .checkout-with-account , .mini-cart-forget-password {
                display: none;
            }

            .continue-checkout-btn {
                padding-top: rem(12);
                display: block;

                .checkout-btn {
                    line-height: rem(18);
                }
            }

            .checkout-with-account {

                .sign-in {
                    color: $white;
                    border: rem(2) solid $light-green;
                    background-image: linear-gradient($light-green, $light-green3);

                    &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                        background-image: linear-gradient($light-green3, $light-green5);
                    }
                }

                .create-account {
                    color: $light-green;
                    border: rem(2) solid $light-green;
                    background-image: linear-gradient($white, $white);
                }

                button {
                    cursor: pointer;
                    text-align: center;
                    margin: rem(2) rem(2) rem(10) 0;
                    padding: rem(20);
                    font-weight: 600;
                    font-size: rem(14);
                    line-height: rem(18);
                    width: 49%;
                    float: left;
                    letter-spacing: rem(1.87);

                    &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                        box-shadow: none;
                    }

                    @include media-breakpoint-down(xss) {
                        font-size: rem(10);
                        padding: rem(20) rem(8);
                    }

                }
            }

            .login-oauth {
                display: block;

                .oauth-facebook {
                    margin-right: 1%;
                    background-color: #3b5998;

                    &:hover {
                        background-color: #3b61b3;
                    }
                }

                .oauth-google {
                    background-color: #dd4b39;

                    &:hover {
                        background-color: #f74e38;
                    }
                }

                a {
                    height: rem(51);
                    color: $white;
                    text-align: left;
                    padding: rem(16);
                    font-weight: 600;
                    font-size: rem(12);
                    border: none;
                    line-height: rem(18);
                    margin-bottom: 1%;
                    margin-top: 1%;
                    width: 49.5%;
                    float: left;

                    svg, img {
                        width: rem(24);
                        height: rem(24);
                        margin-right: rem(22);
                        margin-left: rem(10);
                        vertical-align: -50%;

                        @include media-breakpoint-down(xs) {
                             margin-right: rem(16);
                             margin-left: 0;
                        }

                        @include media-breakpoint-down(xss) {
                             margin-right: 0;
                             margin-left: 0;
                        }
                    }

                    span {
                        margin-left: rem(3);
                    }

                    &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                        box-shadow: none;
                        border-color: none;
                        color: $white;
                    }
                }
            }

            .mini-cart-login, .mini-cart-registration, .mini-cart-forget-password {
                padding: rem(35) rem(35) 0;
                margin-bottom: rem(25);

                .form-control {
                    width: 100%;
                    display: block;
                    padding: rem(16);
                    font-size: rem(12);
                    border: rem(1) solid $light-gray4;
                    letter-spacing: rem(1);
                    margin-bottom: rem(5);
                    line-height: 1;

                    &:focus {
                        border-color: $light-gray4;
                        box-shadow: none;
                        color: $black
                    }
                }

                button[type="submit"] {
                    line-height: rem(18);
                    font-weight: 600;
                    margin: 0;
                }

                .forgot-password {
                    text-align: center;
                    margin-top: rem(6);

                    a {
                        cursor: pointer;
                        color: $black;
                        font-size: rem(10);
                        letter-spacing: rem(1);
                        text-align: center;
                        text-decoration: underline;
                        text-transform: uppercase;
                    }
                }

                .form-group {
                    margin: 0;
                }

                .custom-checkbox {
                    margin-bottom: rem(5);
                }

                input[type="checkbox"] {

                    &:focus {
                        box-shadow: none;
                        border: none;
                        outline: none;
                    }

                    &:checked {

                        &:focus {
                            box-shadow: none;
                            border: none;
                            outline: none;
                        }

                        + label {

                            &:focus {
                                box-shadow: none;
                                outline: 0;
                            }

                            &:before {
                                background-color: $light-green4;
                                border-color: transparent;
                            }
                        }
                    }

                    + {

                        label {

                            &:focus {
                                box-shadow: none;
                                outline: 0;
                            }

                            &:before {
                                color: $white;
                                border: rem(2) solid $light-gray2;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }

            .checkout-btn, button[type="submit"] {
                font-weight: 600;
                margin-bottom: rem(12);
                display: block;
                font-size: rem(14);
                letter-spacing: rem(2);
                background-color: $light-green;
                color: $white;
                padding: rem(14) rem(5);
                text-align: center;
                line-height: 1;
                border: 0;
                border-radius: rem(1);
                transition: all 0.25s ease-in-out;

                &:hover {
                    background-image: linear-gradient($light-green, $light-green3);
                    border-color: $light-green3;
                }

                &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}