.mini-cart {

    &-show-recommendations { 
        background-color: $nobel;
        font-family: $font-book;
        font-size: rem(14);
        display: block;
        color: $white;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &-hide-recommendations {
        position: absolute;
        display: block;
        height: rem(15);
        width: rem(15);
        line-height: 0;
        font-size: 0;
        z-index: 2;
        cursor: pointer;
        right: 0;
        transform: rotateZ(90deg); 
        padding: 0;
        border: none;
        background: url("../../images/arrow-left.svg") center center no-repeat; 

        &:focus {
            outline: none;
        }
        
    }

    &-product-list {
        margin-bottom: rem(20);
        margin: 0 rem(-16.1); 
    }

    &-recommendations {
        background-color: $white;

        .upsell {

            &-collection {
                width: 100%;
                letter-spacing: rem(1.5);
                margin: 0;
                font-family: $font-bold;
                font-weight: bold;
                text-decoration: none;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                max-width: 90%;
                text-overflow: ellipsis;
                text-transform: uppercase;
                color: $black; 
                height: rem(21);
            }

            &-wrapper {
                text-align: center;
                position: relative;

                &:hover {
                    .upsell_text {
                        p {
                            background-color: $light-green;
                            color: $white;
                            transition: 0.3s ease;
                        }
                    }
                }
            }

            &-price {
                margin-bottom: rem(5);

                .price {
                    font-family: $font-bold;
                    font-weight: bold;
                    font-size: rem(12);
                    line-height: 1.1;
                    color: $black;
                    padding: 0;
                    padding-bottom: rem(2);
                    height: rem(30.5);
                    font-weight: bold; 

                    .sales .value {
                        font-weight: bold; 
                        font-size: rem(12)
                    }

                    span {
                        display: block;
                        margin: 0;

                        .strike-through .value {
                            font-weight: bold;   
                            font-size: rem(12)
                        }

                    }
                }
            }

            &-description {
                width: 100%;
                font-size: rem(14);
                margin-bottom: auto;
                text-transform: capitalize;
                line-height: 1.2;
                font-family:$font-bold;
                font-weight: bold; 
                letter-spacing: rem(.2);
                margin-bottom: rem(5);
                text-transform: uppercase; 
                color: $black; 

                @include media-breakpoint-up(sm) {
                    font-size: rem(11);
                }
            }

            &-image {
                margin: 0 auto;
                height: rem(120);
                object-fit: cover;
            }
        }

        .slick-arrow {
            position: absolute;
            display: block;
            height: rem(15);
            width: rem(15);
            line-height: 0;
            font-size: 0;
            z-index: 1;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            border: none;

            &.slick-disabled {
                background: none;
                pointer-events: none;
            }

            &:focus {
                outline: none;
            }
        }

        .slick-next {
            right: rem(10);
            background: url("../../images/arrow-right.svg") center center no-repeat;
        }

        .slick-prev {
            left: rem(10);
            background: url("../../images/arrow-left.svg") center center no-repeat;
        }
    }

    &-add-to-cart {
        background-color: $emerald; 
        width: 100%;
        color: $white;

        &:hover {
            color: $white;
        }
    }
}