@import 'variables';
@import '~movado/mixins';

@mixin collection-title-font {
    color: $light-black;
    font-family: $font-medium;
    font-weight: 500;
    letter-spacing: rem(0);
    font-size: rem(34);
    line-height: rem(41);
}

@mixin collection-subtitle-font {
    color: $light-black;
    @include font-light;
    font-weight: 400;
    letter-spacing: rem(0);
    font-size: rem(24);
}