.mvmt-plp {
    
    &-redesign {

        .image-container {
        
            .product-tag-content {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                height: auto;

                .exclusive-badges {
                    margin: 0;
                    display: flex;
                }
    
                .badge  {
                    background-color: $badge-bg;
                    border: rem(1) solid $gray88-solid;
                    font-size: rem(10);
                    font-weight: 500;
                    border-radius: rem(13);
                    margin: 0;
                    padding: rem(2) rem(15);
                    line-height: normal;
                    letter-spacing: rem(0.83);
                    color: $black;
                    height: auto;

                    @include media-breakpoint-up(lg) {
                        letter-spacing: rem(0.5);
                        padding: rem(3) rem(15);
                    }

                    &.red-tag {
                        background-color: $speech-red-light;
                        color: $white;
                    }
                }
            }

            .plp-image-carousel {
                position: relative;
                .slick {

                    &-dots {
                        position: absolute;
                        display: flex;
                        padding: 0;
                        top: rem(10);
                        right: rem(10);

                        li {
                            margin-right: rem(5);

                            &:last-child {
                                margin-right: rem(0);
                            }

                            button {
                                font-size: 0;
                                width: rem(5);
                                height: rem(5);
                                padding: 0;
                                border: 0;
                                border-radius: 100%;
                                background-color: rgba(0, 0, 0, 0.2);

                                &:focus {
                                    outline: none;
                                }
                            }

                            &.slick-active {
                                button {
                                    background-color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }

        .tile {
            &-body {
                margin-top: rem(10);
                padding-top: 0;
            }
        }
    }
}