h1 {
    font-family: $font-ivypresto-headline;
}

h2 {
    font-family: $font-ivypresto-headline;
}

h3 {
    font-family: $font-brandon-grotesque;
}

h4 {
    font-family: $font-brandon-grotesque;
}

h5 {
    font-family: $font-brandon-grotesque;
}

h6 {
    font-family: $font-brandon-grotesque;
}

p {
    font-family: $font-brandon-grotesque;
}