$light-gray: #5c5c5c;
$light-gray6: #bfbfbf;
$light-gray7: #404040;
$gray8: #f3f3f3;
$gray9: #8f8f8f;
$gray10: #ddd; 
$gray1: #808080;
$light-green: #53c563;
$light-green2: #62c077;
$red1: #d9021b;
$blue: #0051b2;

//font Families:
$font-medium : "futura-pt-medium", Arial, sans-serif !default;
$font-book : "futura-pt", Arial, sans-serif !default;
$font-bold : "futura-pt-bold", Arial, sans-serif !default;
$font-primary: $font-book;

$light-gray5: #f6f6f6;

$grid-breakpoints: (
    xss: 0,
    xs: 375,
    sm: 544px,
    md: 769px,
    lg: 992px,
    xl: 1200px
) !default;