//font Families:
$font-medium : "futura-pt-medium", Arial, sans-serif !default;
$font-book : "futura-pt", Arial, sans-serif !default;
$font-bold : "FuturaStd-Bold", Arial, sans-serif !default;
$font-primary: $font-book;