$comet: #6A6C77;
$comet2: #6B6D76;
$dark-gray: #333;
$deep-orange-yellow: #f7dd52;
$grey-chateau: #a2a09f;
$gunpowder: #2b2e38;
$gray1: #808080;
$gray7: #777777;
$gray8: #f3f3f3;
$gray9: #8f8f8f;
$gray10: #ddd;
$gray11: #979797;
$gray12: #696969;
$gray13: #606263;

$light-gray: #5c5c5c;
$light-gray2: #929292;
$light-gray3: #fafafa;
$light-gray4: #e8e8e8;
$light-gray5: #f6f6f6;
/* need to verify light-gray6 variable, need to change its name */
$light-gray6: #d8d8d8;
$flash-white: #f4f3f1;

$light-gray6: #bfbfbf;
$light-gray7: #404040;
$light-gray8: #D1D1D1;
$light-gray11: #F7F7F7;
$light-gray12: #2C2C2C;
$light-gray9: #c7c7c7;
$light-white: #fefefe;
$chinese-silver: #cbcbcb;
$mardi-gras: #060506;
$ivory: #faf9f3;

$light-gray10: #efefef;
$light-gray13: #c2c2c2;
$light-silver: #d9d9d9;

$light-green: #53c563;
$light-green2: #53c56e;
$light-green3: #66cb74;
$light-green4: #51C96D;
$light-green5: #72cf7f;
$light-green6: #62c077;
$light-green7: #57cb71;
$light-green8: #6bd182;
$gossamer: #3aab4a;

$light-blue: #3b61b3;
$curious-blue: #1d93d9;
$light-red: #f74e38;
$speech-red: #cb0707;
$corvette: #E7BF74;
$speech-red-light: rgba(203,7,7,0.89);

$white-gray: #f7f8f9;
$dark-blue: #3b5998;
$dark-red: #a40000;
$dark-red2: #dd4b39;
$pelorous: #1990c6;
$pale-blue: #9bbcf3;

$dark-gray: #222222;
$dark-gray1: #212121;
$dark-orange1: #231103;
$white-smoke2: #efefef;

$transparent-green: #f1faf3;
$transparent-gray: rgba(0, 0, 0, 0.8);
$transparent-black: rgba(0, 0, 0, 0.4);
$light-black-shadow:  rgba(0, 0, 0, 0.24);
$white-shadow: rgba(214,214,214,0.5);

$white: #ffffff;
$dark-gray: #222222;
$dark-gray1: #212121;
$cyan-blue: #f7f8f9;
$cyan-blue1: #ced4da;
$red: #a40000;
$green: #53c563;
$gray94: #f0f0f0 !default;
$white-grey: #eaeaea !default;
$gray-x11: #bcbec0 !default;
$regent-grey: #787A8A !default;
$gray90: #E5E5E5 !default;
$gray91: #e8e8e8 !default;
$gray93: #ededed;
$gull-gray-light: rgba(160, 169, 186, 0.1) !default;
$parrot-green: #99CB7F !default;
$gray-green: rgba(102,152,76,0.1) !default;
$dark-green: #66984C !default;
$white-smoke: #F2F2F2 !default;
$gray-overlay: rgba(242,242,242,0.89) !default;
$dark-pink: #ead7dc !default;
$grey9-light:  #d6d7d8 !default;
$gray98: #fafafa !default;
$zircon: #eaebeb;
$black: #000000;
$apple-green: #53c563;
$alice-blue: #F7F8F9;
$gray36: #5c5c5c;
$snow: #fcfcfc;
$night-rider: #2C2C2C;
$alice-dark: #f9f9f9;
$emerald: #4BC760;
$nobel: #B7B7B7;
$light-blue-icons: #1D9ED9;
$gray88: rgba(224, 224, 224, 0.89);
$gray88-solid: #E0E0E0;
$badge-bg: rgba(238,238,238,0.69);
$emerald: #53C56F;

@mixin font-bold {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin font-medium {
    font-family: "futura-pt", "sans-serif";
    font-weight: 500;
    font-style: normal;
}

@mixin font-light {
    font-family: "futura-pt", "sans-serif";
    font-weight: 300;
    font-style: normal;
}

@mixin font-book {
    font-family: "futura-pt", "sans-serif";
    font-weight: 400;
    font-style: normal;
}

$red1: #d9021b;
$blue: #0051b2;


//font Families:
$font-medium : "futura-pt", Arial, sans-serif !default;
$font-book : "futura-pt", Arial, sans-serif !default;
$font-bold : "futura-pt-bold", Arial, sans-serif !default;
$font-primary: "futura-pt", Arial, sans-serif !default;
$font-sans-serif: "sans-serif", "futura-pt", Arial;

$font-oswald-regular: "oswald", "futura-pt", Arial !default;
$font-oswald-bold: "oswald", "futura-pt", Arial !default;
$font-oswald-semi-bold: "oswald", "futura-pt", Arial !default;
$font-oswald-medium: "oswald", "futura-pt", Arial !default;
$font-oswald-light: "oswald", "futura-pt", Arial !default;
$font-oswald-extra-light: "oswald", "futura-pt", Arial !default;
$custom-xl: 1440px;

$grid-breakpoints: (
    xss: 0,
    xs: 375,
    sm: 544px,
    md-down: 768px,
    md: 769px,
    lg: 992px,
    xl: 1280px,
    xl-custom: 1440px,
    xxl: 1920px
) !default;

$container-max-width: 1440px;
$custom-xl: 1280px;
$custom-lg: 1070px;
$custom-sm: 800px;
$custom-md-width: 991px;
$custom-sm-width: 767px;
$custom-mobile: 600px;
/* Button Mixins */

@mixin btn-outline-primary {

    &:not(:disabled):not(.disabled) {
        white-space: nowrap;
        padding: 0 rem(14);
        height: rem(52);
        line-height: rem(52);
        border: rem(1) solid $black;
        font-family: $font-book;
        font-size: rem(11);
        letter-spacing: rem(2);
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:active, &:focus, &:hover {
            background-color: $gossamer;
            color: $white;
            box-shadow: none;
        }
    }
}

@mixin  btn-primary {
    letter-spacing: 1px;
    white-space: nowrap;
    padding: 0 rem(14);
    height: rem(52);
    line-height: rem(52);
    transition: opacity 0.3s ease-in-out;
    border: rem(1) solid $black;
    font-family: $font-book;
    font-size: rem(11);
    letter-spacing: rem(2);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        background-color: $gossamer;
        color: $white;
    }
}