#yotpoReviews {

    #yotpo-reviews-top-div  {

        &.yotpo.yotpo-main-widget {

            .main-widget.yotpo-display-wrapper {

                .yotpo-review.yotpo-regular-box-filters-padding {
                    border-bottom: none;
                }

                .yotpo-reviews-header {

                    .reviews-amount {
                        font-size: rem(14) !important;
                        line-height: rem(18) !important;
                        font-family: Futura-pt,arial,sans-serif !important;
                        font-weight: 500 !important;
                        color: #5c5c5c !important;
                        display: none;

                        @include media-breakpoint-up(md) {
                            display: block;
                        }
                    }
                }

                .yotpo-review.yotpo-regular-box {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    padding: rem(25) 0 rem(22) !important;
                    letter-spacing: rem(1.5);
                    border-bottom: none;

                    .yotpo-main {
                        margin-left: 0 !important;
                        position: relative;
                        width: 100%;
                        content: "";

                        &:before {
                            content: "";
                            position: absolute;
                            top: rem(-10);
                            left: rem(-50);
                            height: calc(100% + 40px);
                            width: rem(1);
                            background: #e8e8e8;
                        }

                        @include media-breakpoint-up(md) {
                            width: 80%;
                        }

                        .content-title {
                            line-height: rem(20);
                            letter-spacing: rem(1.25);
                            font-family: Futura-pt,arial,sans-serif !important;
                            color: $black !important;
                            text-transform: uppercase;
                            width: 100%;
                            max-width: rem(660);

                            @include media-breakpoint-up(md) {
                                font-size: rem(22);
                                line-height: rem(24);
                                letter-spacing: rem(2.29);
                            }
                        }

                        .yotpo-review-wrapper {
                            width: 100%;
                            max-width: rem(660);
                            
                            .content-review {
                                font-size: rem(14);
                                line-height: rem(18);
                                letter-spacing: 0;
                                font-family: Futura-pt,arial,sans-serif !important;
                                color: #5c5c5c !important;
                                background-color: transparent !important;
                            }

                        }
                    }

                    .yotpo-header {
                        width: rem(200);
                        padding-left: 0;
                        min-height: rem(50);
                        position: unset !important;

                        @include media-breakpoint-up(md) {
                            padding-left: rem(10);
                            min-height: rem(110);
                        }
                        
                        .yotpo-icon-profile {
                            display: none !important;
                        }

                        &-element {
                            flex-wrap: wrap;
                            padding-top: rem(2);
                            color: #6A6C77;


                            &.yotpo-header-actions {
                                display: none !important;
                                position: absolute;
                                right: 0;
                                flex-wrap: wrap;
                            }

                            .y-label.yotpo-user-name {
                                font-size: rem(11) !important;
                                line-height: rem(12) !important;
                                letter-spacing: rem(1.38) !important;
                                color: $black !important;
                                text-transform: uppercase;
                                margin-bottom: rem(2);
                                max-width: 100% !important;
                                font-family: Futura-pt,arial,sans-serif !important;

                                @include media-breakpoint-up(md) {
                                    max-width: 100%!important;
                                }

                            }

                            .yotpo-review-stars {
                                width: 100%;

                                .yotpo-icon-star {
                                    color: #f7dd52 !important;
                                    margin-bottom: rem(10);
                                }
                            }

                        }
                    }

                    .yotpo-footer {
                        width: 100%;
                        margin-left: 0 !important;
                        position: unset !important;

                        .footer-actions {
                            position: absolute;

                            .yotpo-action {

                                .yotpo-icon-share{
                                    font-size: rem(12);
                                    color: $black !important;
                                }

                                .y-label {
                                    font-family: Futura-pt,arial,sans-serif !important;
                                    font-size: rem(9) !important;
                                    line-height: rem(12) !important;
                                    letter-spacing: rem(1.12)  !important;
                                    text-transform: uppercase !important;
                                    color: $black !important;
                                }

                                .yotpo-icon-seperator {
                                    font-size: rem(12);
                                    color: $black !important;
                                    display: none !important;
                                }
                            }
                        }

                        .footer-additional-actions {
                            position: absolute;
                            top: rem(25);
                            right: 0;

                            .yotpo-review-date {
                                font-family: Futura-pt,arial,sans-serif !important;
                                font-size: rem(9)!important;
                                line-height: rem(15)!important;
                                letter-spacing: rem(.9) !important;
                                color: #a2a09f !important;
                            }
                        }

                        .yotpo-helpful {

                            .label-helpful {
                                font-family: Futura-pt,arial,sans-serif !important;
                            }

                            .yotpo-icon-btn-small {

                                .yotpo-icon { 
                                    color: $black !important;
                                    font-size: rem(12);
                                }

                                .vote-sum {
                                    font-family: Futura-pt,arial,sans-serif !important;
                                    font-size: rem(9) !important;
                                    line-height: rem(12) !important;
                                    letter-spacing: rem(1.12) !important;
                                    color: $black !important;
                                    text-transform: uppercase !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.yotpo-bottomline-top-div {

    .standalone-bottomline {

        .yotpo-stars {

            .yotpo-icon-star {
                color: #f7dd52 !important;
                margin-bottom: 0.625rem;
            }
        }
    }
}