@import 'variables';
@import '~movado/cart';

.cart-section-wrapper {

    > .container {
        max-width: rem(1200);
    }
}

.cart-page {

    .card, .product-card-wrapper {
        margin-bottom: 0rem;
        box-shadow: none;
        border-radius: 0rem;
        border: 0rem;
    }

    .page-title {
        margin: 0;
        padding: rem(14) 0;
        text-transform: uppercase;
        font-weight: 800;
        font-size: rem(22);
        letter-spacing: 0;
        color: $black;
    }

    .totals {
         background-color: $white;

        .page-title {
            border-bottom: rem(1) solid $light-gray6;
        }

        .cart-order-outer-box {
            background-color: $gray8;
            border-radius: rem(6);

            @include media-breakpoint-down(md) {
                background-color: transparent;
                border-radius: 0;
                font-weight: 600;
            }

            .cart-order-box {
                width: 100%;
                float: left;
                margin: 0 rem(20);
                padding: 0 0 rem(32) 0;
                margin-bottom: rem(16);
            }

            .grand-total-label, .grand-total {
                font-family: $font-primary;
                font-size: rem(23);
                margin: 0;
                padding: rem(32) rem(10);
                min-height: rem(60);
                font-weight: 500;

                @include media-breakpoint-down(md) {
                    font-weight: 600;
                }
            }

            .checkout-continue {
                padding-left: rem(10);
                padding-right: rem(10);

                .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):focus {
                     box-shadow: inset 0 rem(1) rem(3) rgba(0,0,0,.2);
                }

                .btn-primary:not(:disabled):not(.disabled):active {
                    box-shadow: inset 0 rem(1) rem(3) rgba(0,0,0,.2);
                    background-color: $light-green;
                    border-color: $light-green;
                }

                a {
                    font-size: rem(18);
                    font-weight: 500;
                    margin-bottom: rem(16);
                    padding: 0 rem(14px);
                    height: rem(48);
                    line-height: rem(44);
                    background-color: $light-green;
                    border-color: $light-green;
                    box-shadow: none;
                    border-radius: rem(4);
                    letter-spacing: rem(3);

                    &:hover {
                        background-color: $light-green2;
                        border-color: $light-green2;
                    }
                }

                .home-btn {
                    background-color: $light-gray6;
                    border-color: $light-gray6;
                }

                p {
                    margin: 0;
                    font-size: rem(14);
                    color: $gray1;
                    letter-spacing: 0;
                    text-align: center;
                    font-weight: 400;
                    font-style: normal;
                }
            }
        }

        .cart-customer-service-outer-box {
            background-color: $gray8;
            border-radius: rem(6);

            > .content-asset {
                width: 100%;
            }

            .cart-customer-service-box {
                margin: 0 rem(20);
                padding: 0 0 rem(16) 0;

                .phone, .email {
                    margin: 0;
                    font-size: rem(16);

                    > a, span {
                        color: $light-gray7;
                        text-decoration: none;
                    }
                }

                .phone {
                    padding: rem(16) rem(10) 0  rem(10);
                }

                .email {
                    padding: rem(16) rem(10);
                }
            }
        }
    }

    .product-info {
        padding: 0;

        .continue-shopping {
            text-transform: uppercase;
            text-decoration: none;
            margin: rem(16) 0 0;
            padding: 0 rem(14);
            letter-spacing: 0;
            line-height: rem(48);
            font-size: rem(14);
            color: $gray1;

            > img, svg {
                padding-bottom: rem(2);
                padding-right: rem(5);
                width: rem(24);
                height: rem(24);
            }
        }

        .item-info {
            border-bottom: 0rem;
            align-items: center;

            .product-image {
                height: rem(98);
                width: rem(98);
                border: rem(1) solid $light-gray6;
                border-radius: rem(4);
                transition-duration: 0.3s;

                @include media-breakpoint-down(xs) {
                    height: rem(58);
                    width: rem(58);
                }
            }

            .line-item-header {

                .line-item-name {
                    width: auto;
                    font-size: rem(16);
                    font-family: $font-primary;

                    > a {
                        color: $light-gray7;
                        text-decoration: none;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        letter-spacing: 0;
                    }
                }
            }

            .line-item-total-price {

                .price {

                    .total-amount {
                        font-size: rem(18);
                        color: $light-gray7;
                        transition: font-size 0.3s;
                        letter-spacing: rem(1.5);
                    }
                }
            }

            .remove-line-item {

                .remove-btn {
                    font-size: rem(14);
                    padding: 0 rem(10);
                    text-decoration: underline;
                    color: $red1;
                    background: $white;
                    border-color: $white;
                    letter-spacing: rem(3);

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}