@import 'variables';
@import '~movado/cart';

.cart-section-wrapper {

    > .container {
        max-width: rem(1200);
    }
}

.cart-page {

    .card, .product-card-wrapper {
        margin-bottom: 0rem;
        box-shadow: none;
        border-radius: 0rem;
        border: 0rem;
    }

    .page-title {
        margin: 0;
        padding: rem(14) 0;
        text-transform: uppercase;
        font-weight: 800;
        font-size: rem(22);
        letter-spacing: 0;
        color: $black;
    }

    .totals {
         background-color: $gray8;

        .page-title {
            margin: 0;
            border-bottom: rem(1) solid $light-gray6;
        }

        .grand-total-label, .grand-total {
            font-family: $font-primary;
            font-size: rem(23);
            margin: 0;
            padding: rem(32) rem(10);
            min-height: rem(60);
        }

        .total-section {

            .checkout-continue {
                padding-left: rem(10);
                padding-right: rem(10);

                .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):focus {
                     box-shadow: inset 0 rem(1) rem(3) rgba(0,0,0,.2);
                }

                .btn-primary:not(:disabled):not(.disabled):active {
                    box-shadow: inset 0 rem(1) rem(3) rgba(0,0,0,.2);
                    background-color: $light-green;
                    border-color: $light-green;
                }

                a {
                    font-size: rem(18);
                    font-weight: 500;
                    margin-bottom: rem(16);
                    padding: 0 rem(14px);
                    height: rem(48);
                    line-height: rem(44);
                    background-color: $light-green;
                    border-color: $light-green;
                    box-shadow: none;
                    border-radius: rem(4);

                    &:hover {
                        background-color: $light-green2;
                        border-color: $light-green2;
                    }
                }
            }

            p {
                margin: 0;
                font-size: rem(14);
                color: $gray1;
                letter-spacing: 0;
                text-align: center;
                font-weight: 400;
                font-style: normal;
            }
        }
    }

    .product-info {

        .item-info {
            border-bottom: 0rem;

            .product-image {
                height: rem(98);
                width: rem(98);
                border: rem(1) solid $light-gray6;
                border-radius: rem(4);
                transition-duration: .3s;
            }

            .line-item-header {

                .line-item-name {
                    width: auto;
                    font-size: rem(16);
                    font-family: $font-primary;
                    color: $light-gray7;

                    > a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

}