@charset "UTF-8";
@import "~movado/typography";
@import "~movado/variables";
@import "~movado/mixins";
@import "~movado/bootstrap-custom-import";
@import "~movado/bootstrapOverrides";
@import "~movado/utilities/responsiveUtils";
@import "font-awesome/scss/font-awesome";
@import "flag-icon";
@import "~movado/components/common";
@import "~movado/components/productCommon";
@import "~movado/components/footer";
@import "~movado/components/hero";
@import "~movado/components/headers";
@import "~movado/components/notification";
@import "~movado/components/countrySelector";
@import "~movado/components/pricing";
@import "~movado/components/productTiles";
@import "~movado/components/tabs";
@import "~movado/components/breadcrumb";
@import "~movado/components/spinner";
@import "~movado/components/carousel";
@import "~movado/components/cartProductTile";
@import "~movado/components/tooltip";
@import "~movado/components/headerSearch";
@import "~movado/components/newsletterSignUp";
@import "~movado/components/applePay";
@import "~movado/components/welcomeMatModal";
@import "~movado/components/modVideo";
@import "~movado/components/shareViaEmailOverlay";
@import "~movado/components/heroBanner";
@import "~movado/product/bonus-product";
@import "~movado/notFound";
@import "~movado/lib/slick";
@import "~movado/needHelp";
@import "~movado/components/primaryImagesCarousel"; 
@import "~movado/components/emailOptInPopUp";