@import 'variables';
@import '~movado/csrf';

.error-page-content {

    .btn-primary {

        &.btn {

            &.continue-shopping {
                border-radius: 64.5px;
                background-color: $dark-gray2;
                border-color: $dark-gray2;
                box-shadow: none;
    
                &:hover,&:focus {
                    background-color: $dark-blue-btn;
                    border-color: $dark-blue-btn;
                    box-shadow: none;
                }
            }
        }
    }
}