@charset 'UTF-8';
@import 'variables';
@import 'utilities/fonts';
@import './commonGlobal';
@import 'common';
@import 'components/buttons';
@import 'components/header';
@import 'miniCart';
@import 'components/footer';
@import 'components/newsletterSignUp';
@import 'components/recommendationSlider';
@import 'components/productTiles';
@import 'components/clp';
@import 'components/mobileMenu';
@import 'components/homeSlots';
@import '_yotpo';
@import "_miniCartRecommendatation";
