@import 'variables';
@import '~movado/login';
@import 'components/formFields';

.page {

    header + div {
        position: relative;
    }

    .login-background {

        p {
            margin: 0;
        }

        img {
            object-fit: cover;
            max-width: 100%;
            height: 100%;
            object-position: 50%;
        }
    }
}

.login-page {
    margin-top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: rem(70) rem(50);
    height: 100%;

    .equal-height {
        max-width: rem(1200);
        margin: 0 auto;
    }

    .create-link, .login-link {

        &.is-mobile-link-active {
            border-bottom: rem(4) solid $black;
        }
    }

    .mobile-links-section {
        padding: rem(20) 0 rem(10);

        a {
            color: $black;
            font-size: rem(12);
            font-weight: 500;
            letter-spacing: rem(0.82);
            line-height: rem(16);
            padding-bottom: rem(5);
            text-transform: uppercase;
            margin: 0 rem(20);
            width: auto;
        }
    }

    .card {
        box-shadow: none;
        border-radius: 0;
        border: none;
        margin-bottom: 0;

        &.track-order {
            margin: auto 0;
            align-self: center;
        }
    }

    .login-section-body {
        padding: rem(32) rem(100);
        min-height: rem(655);

        @include media-breakpoint-down(lg) {
            padding: rem(32);
        }

        @include media-breakpoint-down(sm) {
            padding: rem(16);
        }

        .login-form-nav {

            .tab-pane {

                &-or {
                    text-align: center;

                    h1 {
                        font-size: rem(19);
                        letter-spacing: rem(1.23);
                        font-weight: 500;
                        line-height: rem(23);
                        margin: rem(10) 0;
                        font-family: $font-medium;
                        text-transform: uppercase;
                    }
                }
            }

            .nav-tabs {

                .nav-item {

                    .nav-link {
                        text-transform: uppercase;
                        letter-spacing: rem(0.82);
                        line-height: rem(16);
                        color: $black;
                        padding-bottom: rem(12);

                        @include media-breakpoint-down(xs) {
                            font-size: rem(12);
                            font-weight: 500;
                            padding-bottom: rem(5);
                        }

                        &.active {
                            border-bottom: rem(4) solid $black;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0;
        max-width: 100%;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }

    .create-account-section {
        margin: auto 0;

        + .login-subtitle {
            margin: rem(10) 0;
        }

        .card {
            background-color: $white-gray;
        }

        &-header-title {
            text-align: center;
            margin: 0 auto;
            padding: rem(32) rem(24);
            width: 100%;

            @include media-breakpoint-down(md) {
                padding: rem(32) rem(4);
            }

            h1 {
                font-size: rem(36);
                letter-spacing: rem(3.38);
                font-family: $font-medium;
                font-weight: 500;
                line-height: 1.2;
                text-transform: uppercase;
                margin-bottom: 0;
            }

            p {
                font-size: rem(16);
                font-weight: 500;
                line-height: rem(23);
                color: $light-gray;
                font-family: $font-medium;
                letter-spacing: rem(0.5);
            }
        }

        &-logo {
            display: flex;

            @include media-breakpoint-down(md) {
                justify-content: space-between;
                margin: auto;
                width: rem(500);
            }

            @include media-breakpoint-down(xs) {
                margin: 0;
                width: auto;
            }

            &-div {
                width: 100%;

                .login-logo-wrap {
                    align-items: center;
                    background-color: $white-gray;
                    border-radius: rem(50);
                    display: flex;
                    height: rem(88);
                    justify-content: center;
                    margin: auto auto rem(10);
                    overflow: hidden;
                    padding: rem(10);
                    width: rem(88);
                }

                p {
                    color: $black;
                    font-size: rem(12);
                    font-weight: 500;
                    line-height: rem(20);
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
    }

    .login-welcome-back {
        text-align: center;
        padding: rem(50) rem(20) rem(30);

        @include media-breakpoint-down(sm) {
            padding: rem(50) rem(0) rem(30);
        }

        h1 {
            font-size: rem(36);
            letter-spacing: rem(3.38);
            text-transform: uppercase;
            font-family: $font-medium;
        }

        p {
            font-size: rem(16);
            font-weight: 500;
            line-height: rem(23);
            color: $light-gray;
            letter-spacing: rem(0.5);
            margin: 0;
            font-family: $font-medium;
        }
    }

    .login-subtitle {

        h1 {
            font-size: rem(16);
            font-weight: 500;
            line-height: rem(23);
            text-align: center;
            font-family: $font-medium;
            text-transform: uppercase;
            letter-spacing: rem(2.5);
        }
    }

    form {

        &.registration {

            button {
                width: 45%;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
        }

        &.trackorder {

            .card-body {
                padding-left: rem(32);
                padding-right: rem(32);

                @include media-breakpoint-down(md) {
                    padding-top: 0;
                }

                button {
                    width: 46%;
                    margin: 0 auto;

                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                }

                .track-order-header {
                    padding: rem(32) rem(20) rem(30);

                    @include media-breakpoint-down(lg) {
                        padding: rem(32) 0;
                    }

                    @include media-breakpoint-down(md) {
                        padding: 0 rem(20) rem(30);
                    }

                    @include media-breakpoint-down(sm) {
                        margin-top: rem(2);
                        padding: 0 rem(0) rem(30);
                    }

                    &-text {
                        font-size: rem(36);
                        letter-spacing: rem(3.38);
                        text-transform: uppercase;
                        font-family: $font-medium;
                        text-align: center;
                        border: 0;
                    }

                    &-description {
                        font-size: rem(16);
                        font-weight: 500;
                        line-height: rem(23);
                        color: $light-gray;
                        font-family: $font-medium;
                        letter-spacing: rem(0.5);
                        text-align: center;
                        display: inline;
                    }

                   & a {
                        text-decoration: underline;
                        letter-spacing: rem(0.5);
                        text-transform: uppercase;
                        font-size: rem(11);
                        color: $black;
                        cursor: pointer;
	 
                   }
                }
            }

            .check-order {

                @include media-breakpoint-down(md) {
                    padding: rem(15) rem(20);
                    border-top: 1px solid $cyan-blue1;
                }
            }
        }

        &.login, &.trackorder, &.registration, &.reset-password-form {

            .forget-password-header-title {
                color: $black;
                font-size: rem(16);
                font-weight: 500;
                line-height: rem(23);
                margin-top: rem(32);
                margin-bottom: rem(10);
                text-transform: uppercase;
                font-family: $font-medium;
            }

            .send-email-btn {
                display: flex;
                width: 100%;
                vertical-align: middle;
                align-items: center;
                margin-bottom: rem(14);

                @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;
                }

                button {
                    font-size: rem(10.8);
                    transition: all 0.25s ease-in-out;
                    letter-spacing: rem(1.6);
                    padding: rem(16);
                    line-height: 1;
                    margin-right: 26%;
                    color: $black;
                    background: $white;

                    @include media-breakpoint-down(sm) {
                        width: 50%;
                    }

                    @include media-breakpoint-down(xs) {
                        width: 100%;
                    }

                    &.btn {
                        border-width: rem(1);
                    }

                    &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                        box-shadow: none;
                        transition: opacity 0.25s ease-in-out;
                        color: $white;
                        background: $black;
                        border: rem(1) solid $black;
                    }
                }

                a {
                    text-decoration: underline;
                    letter-spacing: rem(1);
                    white-space: nowrap;
                    font-size: rem(10.8);
                    padding: rem(16) rem(28);
                    text-transform: uppercase;
                    transition: all 0.25s ease-in-out;
                    cursor: pointer;
                }
            }

            .submit-form-section {

                button {
                    width: 45%;

                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                }
            }

            .btn {
                font-size: rem(14);
                transition: all 0.25s ease-in-out;
                border-radius: rem(1);
                letter-spacing: rem(1.6);
                padding: rem(16) 0;
                line-height: 1;
                border-width: rem(2);

                &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                    box-shadow: none;
                    transition: opacity 0.25s ease-in-out;
                    background: $light-green;
                    border: rem(2) solid $black;
                }
            }

            .create-account {

                @include media-breakpoint-down(md) {
                    display: inline-block;
                    width: auto;
                    padding: rem(16) rem(25);
                }
            }

            .forgot-password {
                padding: rem(16) 0;
                line-height: 1;

                a {
                    text-decoration: underline;
                    letter-spacing: rem(1);
                    text-transform: uppercase;
                    font-size: rem(11);
                    color: $black;
                    cursor: pointer;
                }
            }

            .form-group {

                &.required {
                     .form-control-label {
                        &::after {
                            content: "";
                        }

                        &::before {
                            content: "*";
                            color: $red;
                        }
                    }
                }

                .form-control-label {
                    font-size: rem(11);
                    font-weight: 500;
                    letter-spacing: rem(0.92);
                    display: block;

                    &::before {
                        content: '';
                    }
                }

                .form-control {
                    width: 100%;
                    display: block;
                    padding: rem(16);
                    font-size: rem(13);
                    border: rem(1) solid $light-gray4;
                    letter-spacing: rem(1);
                    margin-bottom: rem(5);
                    line-height: 1;

                    &.is-invalid {
                        border-color: $red;
                    }

                    &.custom-select {
                        padding: 0 rem(32);
                    }

                    &:focus {
                        border-color: $light-gray4;
                        box-shadow: none;
                        color: $black;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }
            }
        }
    }

    .login-oauth {
        display: block;

        .oauth-facebook {
            margin-right: 2%;
            background-color: $dark-blue;

            &:hover {
                background-color: $light-blue;
            }
        }

        .oauth-google {
            background-color: $dark-red2;

            &:hover {
                background-color: $light-red;
            }
        }

        a {
            text-align: center;
            text-transform: uppercase;
            line-height: 1;
            font-size: rem(14);
            padding: rem(16) 0;
            transition: all .25s;
            margin: rem(9.44) 0;
            color: $white;
            font-weight: 600;
            border: none;
            margin-bottom: 1%;
            margin-top: 1%;
            width: 49%;
            float: left;

            svg, img {
                width: rem(24);
                height: rem(24);
                margin-right: rem(5);
                vertical-align: -40%;

                @include media-breakpoint-down(xs) {
                     margin-right: rem(0);
                     margin-left: 0;
                }
            }

            span {
                margin-left: rem(3);
            }

            &:not(:disabled):not(.disabled):active:focus, &:focus, &:hover {
                box-shadow: none;
                border-color: none;
                color: $white;
            }
        }
    }
}