@import 'variables';
@import '~movado/search';

.search-banner {
    position: relative;
    overflow: hidden;

    &__image {
        width: 100%;
        height: rem(210);
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-up(lg) {
            height: rem(300);
        }
    }

    &__content {
        width: 100%;
        max-width: rem(350);
        margin: 0 auto;
        padding: rem(25);
        box-sizing: border-box;
        text-align: center;
        background-color: $white;

        @include media-breakpoint-up(lg) {
            display: block;
            text-align: left;
            position: absolute;
            top: 50%;
            left: rem(50);
            transform: translateY(-50%);
        }
    }

    &__title {
        display: none;
        margin-bottom: 10px;
        color: $black;
        font-family: $font-medium;
        font-size: rem(40);
        font-weight: 500;
        letter-spacing: rem(4);
        line-height: rem(42);

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &__copy {
        display: none;
        color: $light-gray2;
        font-size: rem(12);
        line-height: rem(16);
        word-break: break-word;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}

.mvmt-plp {

    .product-price-mobile {
        display: none;
    }

    .plp-filter {
        &-bar {
            // position: sticky;
            // opacity: 1;
            // top: 124px;
            border-top: rem(1) solid $light-gray4;
            border-bottom: rem(1) solid $light-gray4;
            background: linear-gradient(0deg,$white,$light-gray3);
            z-index: 6;

            &-inner {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 0;
                min-width: 100%;
                max-width: 100%;
                z-index: 7;
            }
        }

        &-options {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 6;
            border-left: rem(1) solid $light-gray4;
        }

        &-lists {
            display: flex;
        }

        &-list {

        }

        &-btn {
            font-family: $font-medium;
            font-size: rem(11);
            font-weight: 500;
            line-height: rem(46);
            letter-spacing: rem(1.5);
            text-transform: uppercase;
            width: rem(125);
            text-align: center;
            transition: background-color .25s ease-out;
            background-color: transparent;
            border: none;
            border-right: rem(1) solid $light-gray4;
            padding: 0 rem(10);

            &:hover {
                background-color: $white-gray;
            }
        }
    }
}