@import 'variables';
@import '~movado/search';

.search-banner {
    position: relative;
    overflow: hidden;

    &__image {
        width: 100%;
        height: rem(210);
        object-fit: cover;
        object-position: center;

        @include media-breakpoint-up(lg) {
            height: rem(300);
        }
    }

    &__content {
        width: 100%;
        max-width: rem(350);
        margin: 0 auto;
        padding: rem(25);
        box-sizing: border-box;
        text-align: center;
        background-color: $white;

        @include media-breakpoint-up(lg) {
            display: block;
            text-align: left;
            position: absolute;
            top: 50%;
            left: rem(50);
            transform: translateY(-50%);
        }
    }

    &__title {
        display: none;
        margin-bottom: 10px;
        color: $black;
        font-family: $font-medium;
        font-size: rem(40);
        font-weight: 500;
        letter-spacing: rem(4);
        line-height: rem(42);

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &__copy {
        display: none;
        color: $light-gray2;
        font-size: rem(12);
        line-height: rem(16);
        word-break: break-word;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}

.mvmt-plp {

    .product-price-mobile {
        display: none;
    }
}


.search-bottom-text {
    max-width: rem(940);
    padding: rem(50) rem(20);
    text-align: center;
    line-height: rem(22);
    letter-spacing: normal;
    margin: 0;
    font-weight: 500;
    color: $gray36;
    margin: 0 auto;
    
    p {
        color: $gray36;
        font-size: rem(14);
        line-height: rem(28);
        letter-spacing: rem(0.5);
        font-weight: 400;
        font-style: normal;
    }
}

.mvmt-plp-container {
    background-color: $cyan-blue;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    
    .cs-bottom-carousel-wrapper {

        margin-left: rem(20);
        margin-right: rem(20);
        margin-bottom: rem(20);
        
        @include media-breakpoint-down(md) {
            margin-left: rem(-15);
            margin-right: rem(-15);
        }

        .slick-slide { 
            margin: 0 rem(20);
            width: rem(217);
        }
        
        .carousel-title {
            margin-top: rem(56); 
            margin-bottom: rem(40);
            margin-left: rem(20);
            
            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }
        
        .slick-arrow {
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            padding: rem(5) rem(8);
            cursor: pointer;
            top: 28%;
            position: absolute;
            z-index: 1;
            background-size: rem(5);
            background-color: $white;
            width: rem(60);
            height: rem(60);
            border: 1px solid $chinese-silver;
            box-shadow: 0 rem(32) rem(80) rem(-40) rgba(0,0,0,.25), 0 rem(4.8) rem(16) 0 rgba(0,0,0,.3);
            font: normal normal normal 0 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 0;
        }
        
        .slick-arrow.slick-prev {
            left: rem(-6);
            
            &:before {
                content: "\F053";
                font-size: rem(10);
            }
        }
        
        .slick-arrow.slick-next {
            right: rem(-6);
            
            &:before {
                content: "\f054";
                font-size: rem(10);
            }
        }
        
    }

    .plp-bottom-slot {
        
        height: 100%; 
              
        a {
            &:hover {
                text-decoration: none;
            }
        }
         
 
        .collection-bottom {
            display: flex;
            background-color: $white;
            height: rem(53);
            padding: rem(10) rem(5) rem(10) rem(15);
            
            &-image {
                margin: 0;
                padding-right: rem(10);
                width: rem(35);
                max-height: rem(40);
                vertical-align: middle;
                padding: 0;
                margin-right: rem(10);
                margin-top: rem(2);
                height: rem(30);
            }
             
            &-text {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-transform: uppercase;
                text-align: justify;
                vertical-align: middle;
                width: calc(100% - 73px);
                padding: 0 rem(5) 0 rem(13);
                padding-top: rem(7);
                border-left: rem(1) solid $light-gray2;
            }
            
            svg {
                margin-top: rem(11);
                width: rem(9);
                height: rem(9);
            }
            
        }
    }
}