@import "~movado/_miniCart";
@import "variables";

.minicart {
    font-family: $font-book;

    .minicart-quantity {
      font-size: rem(13);
      top: rem(-16);

      @include media-breakpoint-down(sm) {
         top: rem(-11);
         right: rem(-12);
      } 

      @include media-breakpoint-down(xs) {
         top: rem(-9);
         right: rem(-13);
       }

    }

    .minicart-icon {
        font-size: rem(19);
        background: url("../images/shopping-bag-icon.svg") center center no-repeat;
        height: rem(30);
        width: rem(24);
        background-size: contain;
        display: inline-block;

        @include media-breakpoint-down(xs) {
            width: rem(16);
            height: rem(20);
        }
    }

    h4 {
        font-size: rem(18);
        font-family: $font-medium;
        font-weight: 500;
    }

    .bonus-line-item-heading {
        font-family: $font-primary;
        font-size: rem(16);
    }

    .sub-total-label {
        font-weight: bold;
        font-size: rem(18);
        font-family: $font-bold;
    }
    .promo-msg {
        font-size: rem(14);
        font-family: $font-primary;
    }
    .sub-total {
        font-size: rem(18);
        font-weight: bold;
        font-family: $font-bold;
    }
    .line-item-attributes {
        font-family: $font-medium;
        font-weight: 500;
    }
    .view-cart {
        font-family: $font-book;
    }
    .popover {
        font-family: $font-medium;
        font-weight: 500;
    }
}

.model-name {
    font-size: rem(14);
    font-family: $font-medium;
    font-weight: 500;
}
label.quantity-label {
    font-family: $font-medium;
    font-weight: 500;
    font-size: rem(14);
}

