.page-not-found {
  max-width: rem(1300);
  width: 100%;
  margin: 0 auto;
  img,
  source {
    width: 100%;
  }
  .hero-banner {
    position: relative;
  }
  .notfound-title {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
  .notfound-message {
    margin-top: rem(40);
    margin-bottom: rem(40);
  }
  .continue-shopping {
    margin-bottom: 0;
  }
  .container {
    margin-bottom: rem(40);
  }
}
