//font Families:
$font-proxima-thin    : "Proxima-nova" !default;
$font-proxima-medium  : "Proxima-nova" !default;
$font-proxima-regular : "Proxima-nova" !default;
$font-baskerville     : "Baskerville Display PT" !default;
$white : #fff !default;
$black :#000 !default;
$amber :#FFC107 !default;

@mixin equal-padding-container($custom-padding) {
    padding-left : #{ $custom-padding };
    padding-right: #{ $custom-padding };
}