@import "~movado/cart";
@import "./commonPlaceholders";
@import "./variables";


$spacer: 0.625em;
$negative-spacer: -0.625rem;


.checkout-button-wrapper {
  .estimated-price {
    font-family: $font-medium;
    font-size: rem(16);
    font-weight: 500;
  }
}


.product-edit {

  a {
    font-size: 0.813em;
  }
}

.line-item-attributes {
  font-size: 0.813rem;
  font-family: $font-primary;
}


.line-item-name {
  font-size: 1em;
  font-weight: bold;
}

.line-item-price {
  font-size: 1em;
  font-weight: bold;
}

.line-item-price-info {
  font-size: 0.75em;
}

.product-to-remove {
  font-weight: bold;
}

.product-info {
  .remove-btn {
    font-size: 1.625em;
  }
}

.grand-total {
  font-size: 1em;
  font-weight: 600;
}

.more-ways-text {
  font-family: $font-medium;
  font-size: rem(14);
  font-weight: 500;
}

.cart-header-wrapper {
  .cart-header {

    font-family: $font-book;
    font-size: rem(26);
    @include media-breakpoint-up(md) {
      font-size: rem(32);
    }
  }

}

.product-card-wrapper {


  .product-gift-wrap {
    .gift-description-font {
        font-size: rem(14);
    }

    .character-limit,
    .gift-check + label {
      font-family: $font-book;
      font-weight: 300;
      font-size: rem(14);
    }

  }
}

.totals {
  .price-label,
  .cost {
    font-family: $font-book;
    font-weight: 300;
    font-size: rem(14);
  }

  .grand-total-label,
  .grand-total {
    font-family: $font-bold;
  }
}

.cart-empty {
  .empty-cart-header {
    font-family: $font-medium;
    font-weight: 500;
    font-size: rem(26);
  }
}



.estimated-price {
    .grand-total {
        font-family: $font-medium;
        font-weight: 500;
    }
}

.cart-disclaimer-message-movado {
    p {
            font-size: rem(15);
            font-family: $font-medium;
            font-weight: 300;
      }
}