@import "~movado/search";
@import "variables";
@import "./mixins";

.header-bar {
    button.close {
        @include headline;
        i{
          font-size: rem(20);
        }
    }

    .fa.fa-close::before {
        font-size: 1.25em;
    }

}

.search-results-container {
  margin-right: rem(-15);
  margin-left: 0;

  .product-counter-wrapper {
    width: rem(1110);
  
    .searech-results-wrapper {
      padding: 0;

      .sorting-rules-filters{
        box-sizing: border-box;
        height: rem(46);
        border: rem(1) solid $black2;
        border-radius: rem(4);
        background-color: $white1;
        line-height: 1.4;
      }

      .secondary-bar {

        .reset {
          box-sizing: border-box;
          height: rem(46);
          border: rem(1) solid $border-color;
          border-radius: rem(4);
          padding: rem(12);
          line-height: 1.4;
        }
      }

    }
  }
}

.refinements {

    .values {

        li {

          a {
            font-size: rem(16);
            font-family: $font-regular;
            font-weight: 400;
          }
          .fa-square-o{
            font-size: rem(20);
          }
        }
    }
}



.grid-header,
.content-grid-header {

    @include media-breakpoint-only(xs) {
        .result-count {
            font-size: rem(12);
        }

    }


}

.result-count {
    font-size: rem(20);
    font-family: $font-medium;
    font-weight: 500;
    @include media-breakpoint-up(custom-md) {
      max-width: rem(775);
      flex: 0 0 rem(775);
      padding: 0;
    }
}

.sort-filters-button {
  @include media-breakpoint-up(custom-md) {
    max-width: rem(315);
    flex: 0 0 rem(315);
    padding: 0;
  }
}

.refinement {
  margin: 0;
  padding: 0;
  height: rem(60);
  display: flex;
  justify-content: center;

    &.card {
      border-bottom: 0 none;
      border-left: 0 none;
      border-right: 0 none;
      border-radius: 0;
      box-shadow: none;
      border-top: rem(1) solid #979797;

      &:last-child {
        border-bottom: rem(1) solid #979797;
      }

        .card-header {
          font-family: $font-medium;
          font-weight:500;
          font-size: rem(16);
          height: rem(25);
          

          &::after {
            content: "\f067";
            top: rem(18);
          }
          &:focus{
            outline: none;
          }
	    }
      &.active {
        height: auto;

          .card-header {
             height: rem(25);
             
             &::after{
                 content: "\f068";
                 top: rem(2);
             }
          }

          .card-body {
            margin-top: rem(20);
          }
      }


    }
}

.product-tiles-wrapper {
  @include media-breakpoint-up(custom-md) {
    max-width: rem(775);
    flex: 0 0 rem(775);
    padding: 0;
  }
}

.search-keywords {
    font-weight: bold;
}

.filter-bar {

    li {

        &.filter-value {
            a {
                font-size: rem(14);
            }
        }

        &.swatch-filter {
            font-size: 1.38em;
            &::after {

                font: normal normal normal 14px/1 FontAwesome;

                font-size: 1em;

            }
        }
    }
}

.search-tips {
    h5{
      font-family:$font-medium;
      font-weight:500;
      font-size: rem(18);
    }
}



.search-nav {
    .nav-link{
      font-size: rem(18);
      font-family: $font-medium;
      font-weight:500;
    }
}


.search-results {
  .result-count {

    p, .search-tips li {
        font-size: rem(20);
        font-family: $font-medium;
        font-weight:500;
    }

    p a {
      font-family: $font-bold;
      font-weight:bold;
    }

    .make-bold {
      font-weight: 500;
    }
  }
}

.refinement-bar {

  @include media-breakpoint-up(custom-md) {
    max-width: rem(315);
    flex: 0 0 rem(315);
    padding: 0;
  }
}

.result-count > span  {
  font-size: rem(20);

  @include media-breakpoint-down(xs) {
    font-size: rem(14);
    font-family: $font-medium;
    font-weight: 500;
  }
}
.grid-header select {
  font-family: $font-regular;
  font-size: rem(16);
  font-weight: 400;

  @include media-breakpoint-down(xs) {
    font-size: rem(16);
    font-family: $font-regular;
    font-weight: 400;
  }
}

.grid-header, .content-grid-header {
    @include media-breakpoint-down(xs) {
        .filter-results {
            font-size: rem(16);
            font-family: $font-regular;
            font-weight: 400;
        }
    }
}
