@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "~base/components/toastMessage";
@import "mixins";

/*Wishlist designs need to move it wishlist specific css*/
.my-wishlist-page, .wishlist-page{

  .wishlistItemCards{
      .product-card-price{
          .line-item-price-info{
              font-size: rem(14);
          }

      }
      .edit-add-to-wishlist{
        .edit{
          font-size: rem(14);
          font-family: $font-medium;
        }
      }
      .line-item-attributes{
        font-size: rem(14);
        font-family: $font-medium;
      }
  }

  .wl-social-sharing{
      .wl-social-sharing-text{
          font-size: rem(16);
      }
  }
}
