@import '../variables';
@import '~movado/checkout/checkout';

header {
    .logo-link {
        img {
            width: rem(80);
            @include media-breakpoint-up(lg) {
                width: rem(96);
            }
        }
    }
}

header {
    .checkout-header-wrapper {
        .logo-link {
            img {
                width: rem(64);
                object-fit: cover;
                object-position: top;
                height: 2rem;
                margin: rem(15) rem(5) 0 rem(5);
            }
        }
    }
}