@import '../variables';
@import '~movado/checkout/checkout';

header {

    .checkout-header-wrapper {

        .checkout-logo {
            .logo-link {
                img {
                    width: rem(96);
                }
             }
 
             &:before {
                 margin-bottom: 4%;
             }
     
             > .html-slot-container {
                 margin: rem(5);
             }
     
             .logo-checkout-text {
                 margin-top: 0rem;
                 margin-bottom: 4%;
             }
         }
     }
 }