

$black-dark: #000000 !default;
$light-black: #1E1E1E;
$dark-light-black: #060506;
$white-dark: #FFFFFF !default;
$light-white: #F9F9F9;
$light-gary-black: #333333;
$light-gray-white: #999999;
$light-gray-brown: #666666;
$dark-gray: rgba(6,5,6,0.6);

$green: #50A12E;

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 769px,
    lg: 992px,
    xl: 1200px
) !default;

//font Families:
$font-demi: "futura-pt", sans-serif, Arial;
$font-medium : "FuturaStd-Medium", Arial, sans-serif !default;
$font-book : "FuturaStd-Book", Arial, sans-serif !default;
$font-bold : "FuturaStd-Bold", Arial, sans-serif !default;
$font-demi: "futura-pt", sans-serif, Arial;


@mixin font-medium {
    font-family: "futura-pt", "sans-serif";
    font-weight: 500;
    font-style: normal;
}

@mixin font-book {
    font-family: "futura-pt", "sans-serif";
    font-weight: 400;
    font-style: normal;
}

@mixin font-Std {
    font-family: "FuturaStd-Medium", Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}