@import "_variables";
@import "bootstrap/scss/mixins/breakpoints";

.pickup-store {
  &-line-item-name {
    margin-left: rem(10);
    margin-top: rem(10);

    a {
      color: $dark-light-black;
      font-family: $font-medium;
      font-weight: 500;
    }
  }

  &-total-amount {
    font-family: $font-demi !important;
  }

  &-product-detail {
    margin-top: rem(15);
  }

  &-cart-availability {
    margin-bottom: rem(45);
  }

  &-product-info {
    border: rem(1) solid $light-gray-info;
    box-shadow: 0 rem(2) rem(6) 0 $gray-shadow;
  }

  &-inventory {

    &-seperator {
      height: rem(110);
      border-left: rem(2) solid $light-gray;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-down(md) {
          border-left: none;
          justify-content: flex-start;
      }
      
      .unavailable-text {
          font-family: $font-book-std;
      }
    }

    &-status {
      display: flex;
      align-items: flex-start;
      line-height: rem(20);

      &-icon {
        padding: rem(10);
        margin-right: rem(10);

        &-available {
          background: url("../../images/pickup-store-inventory-icon.svg")
            no-repeat center;
        }

        &-unavailable {
          background: url("../../images/no-stock-availability.svg")
            no-repeat center;

              &.store-pick-store-unavailable {
                background: url("../../images/pickupstore-icon.svg")
                  no-repeat center;
              }
        }

        &-online {
          background: url("../../images/pickup-store-inventory-icon.svg")
            no-repeat center;
          margin-bottom: rem(15);
        }
      }

      span {
        color: $dark-light-black;
        font-family: $font-book;
        font-size: rem(14);
        font-weight: 300;
        letter-spacing: rem(0.61);
        line-height: rem(18);
      }

      .unavailable-text {
        color: $alert;
      }
    }
  }

  &-rectangle {
    box-sizing: border-box;
    min-height: rem(86);
    border: rem(1) solid $light-gray-info;
    background-color: $gray-info;
    box-shadow: 0 rem(2) rem(6) 0 $gray-shadow;
    margin-bottom: rem(20);
    padding: rem(19) rem(30) rem(19) rem(20);

    .checkbox {
      margin-bottom: rem(5);

      &-label {
        color: $light-black;
        font-family: $font-std-medium;
        font-size: rem(16);
        font-weight: 500;
        letter-spacing: rem(1.14);
        line-height: rem(20);
      }
    }

    &-store-detail {
      color: $light-black;
      font-family: $font-book;
      font-size: rem(14);
      font-weight: 300;
      letter-spacing: rem(1);
      line-height: rem(20);
      margin-left: rem(29);

      .change {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .custom-checkbox {

        .pickup-checkbox {
            padding-left: rem(4);

            &::before {
                border: rem(2) solid $black-dark;
                border-radius: rem(3);
                box-shadow: none;
                background: transparent;
                left: rem(-27);
            }

            &::after {
              left: rem(-27);
            }

            &.disabled{
                border: rem(2) solid $gray-info;
                &::before {
                  border-color: $light-black2;
                }
            }
        }
    } 
  }

  &-error {
    display: flex;
    align-items: center;

    &-rectangle {
      box-sizing: border-box;
      min-height: rem(71);
      border: rem(1) solid $alert-box;
      border-radius: 0 0 rem(3) rem(3);
      background-color: $alert-box-bg;
      margin-bottom: rem(20);
      padding: rem(15.5) rem(20);
    }

    &-text {
      color: $alert-text;
      font-family: $font-book-std;
      font-size: rem(14);
      font-weight: 300;
      letter-spacing: rem(0.82);
      line-height: rem(20);
      width: rem(650);
    }

    &-icon {
      padding: rem(10);
      background: url("../../images/warning.svg")
      no-repeat center;
      margin-right: rem(20);
      margin-left: rem(0);
    }
  }
}
