@import "_variables";
@import "bootstrap/scss/mixins/breakpoints";

.pdp-store-pickup-wraper {
    width: auto;
    background-color: #F9F9F9;
    margin-bottom: 20px;
    height: 120px;

    .pdp-store-pickup {

        &-inventory {
            width: 50%;
        }

        &-inventory-icon {
            display: inline-block;
            margin: 0;
            width: 23%;
            padding-top: 20px;
            padding-left: 15px;
        }

        &-delevery {
            display: inline-block;
            width: 73%;
            position: absolute;
            margin-top: 20px;
        }
    }
    .stock-for-deliver {
        color: #060506;
        font-family: $font-book;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.61px;
        line-height: 17px;
    }
    .pick-up-store-openings {
        opacity: 0.8;
        color: #1E1E1E;
        font-family: $font-book;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.76px;
        line-height: 20px;
        margin: 0;
    }

    .pdp-store-pickup {

        &-address {
            width: 50%;
        }

        &-store-icon {
            display: inline-block;
            margin: 0;
            width: 23%;
            padding-top: 20px;
            padding-left: 15px;
        }

        &-availabilty {
            display: inline-block;
            width: 73%;
            position: absolute;
            margin-top: 20px;
        }
    }
    .available-for-store {
        color: #060506;
        font-family: $font-book;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.61px;
        line-height: 17px;
    }
    .available-pickup-stores {
        opacity: 0.8;
        color: #1E1E1E;
        font-family: $font-book;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
        margin: 0;
    }
    .pick-up-store-change-store {
        opacity: 0.8;
        color: #1E1E1E;
        font-family: $font-book;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.76px;
        line-height: 20px;
        margin: 0;
        text-decoration: underline;
        cursor: pointer;
    }
    
}
  