@import "~oliviaburton_redesign/_variables";
.listrak-back-in-stock-notification-container-main {
    margin-bottom: rem(30);

    .btn-primary {
        font-family: $font-gill-std-semibold;
    }
    .back-in-stock-notification-email-notification-copy {
        height: auto;
        margin-bottom: rem(10);
        font-family: $font-adobe;
        font-size: rem(20);
        letter-spacing: rem(1.71);
        line-height: rem(25);
        font-style: initial;
    }
    
    .back-in-stock-notification {

        &-phone {
            width: 100%;
            border-radius: 0;
            border: rem(1) solid $black;
            font-family: $font-gill-std-semibold;
            height: rem(45);
            padding-left: rem(15);
            padding-right: rem(97);
            background: transparent;
            font-size: rem(15);
            font-weight: 500;
            letter-spacing: rem(1);
            line-height: rem(20);
            color: $black;

            &:focus {
                outline: $black;
            }
    
            &:-ms-clear {
                display: none;
            }
        }
        &-form {
            max-width: rem(430);
    
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }

            .error-msg {
                text-align: left;
                color: $red;
                margin: rem(5) 0;
            }
        }
        
        &-email {
            font-family: $font-gill-std-semibold;
            font-size: rem(15);
            font-weight: 500;
            letter-spacing: rem(1);
            line-height: rem(20);
            color: $black;
        }
    }
}
.back-in-stock-notification-container {
    margin-bottom: rem(30);

    .back-in-stock-notification {

        &-form {
            max-width: rem(430);
    
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }
    
        &-button {
            font-family: $font-gill-std-semibold;
        }
    
        &-confirmation-copy {
            font-family: $font-gill-std-semibold;
            margin-bottom: 0;
        }
    
        &-container-success {
    
            p {
                font-family: $font-gill-std-semibold;
                font-size: 16px;
                letter-spacing: 0.3px;
                line-height: 24px;
                color: $sinbad;
            }
        }
    
        &-email {
            font-family: $font-gill-std-semibold;
            font-size: rem(15);
            font-weight: 500;
            letter-spacing: rem(1);
            line-height: rem(20);
            color: $black;
        }
    
        &-email-notification-copy {
            height: rem(21);
            font-family: $font-adobe;
            font-size: rem(20);
            letter-spacing: rem(1.71);
            line-height: rem(25);
            font-style: initial;
        }
    
    }
}