@import "~movado/components/carousel";

.carousel-container-wrapper {
    max-width: 100%;
    padding: rem(0) rem(20);
    overflow: hidden;
}

.full-width-max-1300 {
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}