@import "~movado/components/carousel";

.carousel-container-wrapper {
    max-width: 100%;
    padding: rem(0) rem(20);
    overflow: hidden;
}

.full-width-max-1300 {
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}
// home page hero banner carousel and recommendation carousel dots to bars
.carousel-main-wrapper {

    .cs-carousel-wrapper {

        .js-carousel {

            .slick-dots {

                li {
                    margin-right: rem(0);
                }
                .slick-active {

                    button {
                        opacity: 1;
                    }
                }
            }

            .slick-dots {

                li {

                    button {
                        box-sizing: border-box;
                        height: rem(1);
                        width: rem(28);
                        border: rem(2) solid $black3;
                        opacity: 0.1;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}

// pdp product recommendation carousel dots to bars
.pdp-product-recommendation {

    .cs-carousel-wrapper {

        .js-carousel {

            .slick-dots {

                li {
                    margin-right: rem(0);
                }
                .slick-active {

                    button {
                        opacity: 1;
                    }
                }
            }

            .slick-dots {

                li {

                    button {
                        box-sizing: border-box;
                        height: rem(1);
                        width: rem(28);
                        border: rem(2) solid $black3;
                        opacity: 0.1;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}