@import '~movado/components/_welcomeMatModal';

.welcomeMat {

    .modal-dialog {

        .modal-content {

            .modal-body {

                .eswModal-content {

                    .btn-primary {
                        
                        background-color: $dark-cyan;
                        border: rem(1) solid $dark-cyan;
    
                        &:hover,
                        &:focus {
                            background-color: $white;
                            color: $black;
                            border: rem(1) solid $black;
                        }
                    }
                }
            }
        }
    }
}