@import "../variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "account";
@import "../utilities/deleteCardButton";

.card-body-positioning {
    position: relative;
    padding-right: rem(50);
}

.card-make-default-link {
    margin-top: 0.625em;
    a {
        font: rem(16) $font-HelveticaNeueLT-medium;
        line-height: rem(19);
        letter-spacing: rem(2);
        font-weight: 500;
        text-decoration:underline;
    }
}

.remove-btn {
    @include delete-card-button();

    width: 3rem;
}

.account-pages {
    .card-body.card-body-positioning {
        > div {
            font-size: rem(14);
            line-height: rem(21);
            letter-spacing: rem(2);
            color: $grey-dark-1;
        }
    }
    
    .justify-content-center {
        margin-top: rem(10);
        .back-link {
            margin: rem(10) 0;
            display: block;
            text-decoration:underline;
        }
    }
    .btn-light {
        background-color: $grey9;
        color: $black;
        &:hover {
            background-color: $grey9;
            color: $black;
            cursor: pointer;
        }
    }
}
