.shipping-method-option {
    .arrival-time {
        white-space: pre-wrap;
    }
}

header {
    &.checkout-header {
        .sticky-header-wrapper {
            .header-wrapper.checkout-header-wrapper {
                .minicart {
                    &-quantity {
                        color: $black;
                        background-color: $pink-grey;
                    }
                }
            }

            .desktop-menu-wrapper {
                @include media-breakpoint-up(xs) {
                    display: none;
                }

                @include media-breakpoint-up(sm) {
                    display: block;
                }
            }

            .mobile-menu-wrapper {
                @include media-breakpoint-up(xs) {
                    display: block;

                    .header-wrapper.checkout-header-wrapper {
                        .v-middle {
                            position: absolute;
                            top: 58%;
                            transform: translateY(-50%);
                        }

                        .checkout-logo {
                            width: rem(110);

                            img {
                                width: 100%;
                            }

                            &:before {
                                font-family: "FontAwesome";
                                content: "\f023";
                                font-size: rem(18);
                                margin-right: rem(5);
                                margin-bottom: rem(12);
                            }
                        }
                    }

                    .header-wrapper {
                        .minicart {
                            &-link {
                                @include media-breakpoint-down(xs) {
                                    margin-right: rem(0);
                                    top: rem(0);
                                }
                            }

                            &-quantity {
                                color: $black;
                                background-color: $pink-grey;
                                font-size: rem(12);
                            }
                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
        }

        .checkout-header-wrapper {
            @include media-breakpoint-up(lg) {
                padding: 0 rem(91.5) 0 rem(60);
                margin-top: rem(33);
            }
            @include media-breakpoint-up(xl) {
                padding: 0 rem(91.5) 0 rem(4);
                margin-top: rem(30);
            }
            @include custom-media-query-1440($large-screen-width-1440) {
                padding: 0 rem(91.5) 0 rem(100);
                margin-top: rem(30);
            }

            .header-left {
                .checkout-logo {
                    width: rem(150);

                    @include media-breakpoint-up(md) {
                        width: rem(150);
                        height: rem(27);
                    }

                    @include media-breakpoint-up(xl) {
                        width: rem(155);
                    }

                    @include custom-media-query($large-screen-width) {
                        width: rem(155);
                    }
                    
                }

                .checkout-text {
                    h5 {
                        .secure-text {
                            font-family: $font-museo-light;
                            font-size: rem(14);
                            color: $light-gray5;
                            opacity: 0.8;
                        }
                    }
                }
            }

            .minicart {
                &-link {
                    height: rem(20);
                    width: rem(20);
                    display: inline-block;
                    margin-right: rem(0);

                    @include media-breakpoint-down(xs) {
                        margin-right: rem(20);
                    }
                }
            }

            @include media-breakpoint-up(sm) {
                padding-top: rem(0);
            }
        }
    }
}

.progressbar-container {
    .checkout-progressbar {
        margin-bottom: rem(45);

        @include media-breakpoint-up(xs) {
            display: none;
        }

        @include media-breakpoint-up(sm) {
            display: block;
            margin: rem(32) auto rem(24);
            padding: 0;
        }

        @include media-breakpoint-up(md) {
            padding: 0;
            margin: rem(71) auto rem(30);
            max-width: 100%;
        }

        @include media-breakpoint-up(lg) {
            padding: 0;
            margin: rem(71) auto rem(16);
            max-width: 100%;
        }

        @include media-breakpoint-up(xl) {
            padding: 0;
            margin: rem(105) auto rem(51);
        }
    
        @include custom-media-query-1440($large-screen-width-1440) {
            margin: rem(105) auto rem(51);
        }

        li {
            font-family: $font-gill-std-medium;

            @include media-breakpoint-up(sm) {
                margin-bottom: rem(10);
            }

            @include media-breakpoint-up(xxl) {
                margin-bottom: rem(0);
            }

            p {
                display: flex;
                align-items: center;
                font-size: rem(12);
                text-transform: uppercase;
                text-decoration: none;
                margin-bottom: rem(0);

                @include media-breakpoint-down(md) {
                    letter-spacing: rem(1);
                }

                @include media-breakpoint-down(sm) {
                    font-size: rem(10);
                    letter-spacing: rem(1);
                }

                @include media-breakpoint-up(lg) {
                    font-size: rem(10);
                }
    
                @include media-breakpoint-up(xl) {
                    font-size: rem(10);
                }
    
                @include custom-media-query-1440($large-screen-width-1440) {
                    font-size: rem(12);
                }

                &:after {
                    content: "";
                    box-sizing: border-box;
                    height: rem(2);
                    width: rem(30);
                    background-color: $black;
                    opacity: 0.4;
                    margin: rem(0) rem(10);

                    @include media-breakpoint-down(sm) {
                        height: rem(2);
                        width: rem(14);
                        margin: rem(0) rem(5);
                    }
                }

                .step {
                    &-text {
                        color: $grey15;
                        opacity: 0.4;
                    }

                    &-no {
                        height: rem(21);
                        width: rem(21);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $white;
                        border: 1px solid $grey15;
                        color: $grey15;
                        opacity: 0.4;
                        border-radius: 50%;
                        font-size: rem(12);
                        margin-right: rem(10);

                        @include media-breakpoint-down(sm) {
                            height: rem(16);
                            width: rem(16);
                            margin-right: rem(8);
                            font-size: rem(8);
                        }
                    }
                }
            }
        }

        li {
            &.active {
                p {
                    .step {
                        &-text {
                            color: $black;
                            opacity: 1;
                        }

                        &-no {
                            background: $black;
                            border: 1px solid $black;
                            color: $white;
                            opacity: 1;
                        }
                    }
                }
            }

            &.completed {
                p {
                    &:after {
                        color: $black;
                        opacity: 1;
                    }

                    .step {
                        &-text {
                            color: $parrot-green;
                            opacity: 1;
                        }

                        &-no {
                            background: $parrot-green;
                            border: 1px solid $parrot-green;
                            color: $white;
                            opacity: 1;
                        }
                    }
                }
            }

            &:nth-child(4) p {
                &:after {
                    content: "";
                    height: rem(0);
                    width: rem(0);
                }
            }
        }
    }
}

header {
    .checkout-header-wrapper {
        .align-start-box {
            @include media-breakpoint-up(xl) {
                justify-content: flex-start;
                max-width: 100%;
            }
        }
    }
}


.data-checkout-stage {

    .checkout-content-container-inner {

        .mx-container-box1 {
            
            .btn {
                border: rem(2) solid $pink-hot;
                background-color: $pink-hot;
                color: $black;
                
                &:focus {
                    border-color: $pink-hot;
                }

                &:active {
                    border-color: $black;
                }
            }
        }
        .left-section {
            @include media-breakpoint-up(md) {
                padding: rem(0) rem(20);
            }
        
            @include media-breakpoint-up(xl) {
                padding: rem(0) rem(30) rem(0) rem(40);
            }
        
            @include custom-media-query-1440($large-screen-width-1440) {
                padding: rem(0) rem(0) rem(0) rem(100);
                max-width: 65.278%;
                flex: 0 0 65.278%;
            }
        }

        .right-section {
            @include media-breakpoint-up(xl) {
                padding: rem(0) rem(59.2);
            }

            @include custom-media-query-1440($large-screen-width-1440) {
                max-width: 34.7%;
                flex: 0 0 34.7%;
                padding: rem(0) rem(83) rem(0) rem(82);
            }

            @include media-breakpoint-down(lg) {
                padding: rem(0) rem(30);
            }

            @include media-breakpoint-down(md) {
                padding: rem(0) rem(20);
            }
            
            @include custom-media-query-max($medium-screen-width) {
                padding: rem(0) rem(15);
            }
        }

        .card-border-none {
        
            .card-body {
    
                .info-icon {
            
                  &.info-icon-email {
                      top: rem(12.6);

                      &.icon-right-wrapper {
                          top: rem(12.6);
                      }
                  }
                }
              }
        }
    }
}

header {

    &.checkout-header {

        .header-redesign-wrapper {

            @include custom-media-query-1440($large-screen-width-1440) {
                max-width: 65.278%;
                flex: 0 0 65.278%;
            }
    
            .checkout-header-wrapper {
                @include media-breakpoint-down(md) {
                    justify-content: space-between;
                    padding: rem(0) rem(20);
                }
                @include media-breakpoint-up(md) {
                    padding: rem(20) rem(20) rem(0);
                }

                @include media-breakpoint-up(lg) {
                    padding: rem(20) rem(30) rem(0) rem(20);
                }
    
                @include media-breakpoint-up(xl) {
                    padding: rem(0) rem(30) rem(0) rem(36);
                    margin-top: rem(42);
                }
    
                @include custom-media-query-1440($large-screen-width-1440) {
                    padding: rem(0) rem(60) rem(0) rem(100);
                    margin-top: rem(42);
                }
            }
    
            .header-left {
    
                &.align-start-box {
                    @include media-breakpoint-down(md) {
                        max-width: 100%;
                    }
                }
            }
    
        }
    
        .header-redesign-wrapper2 {
            background: $grey20;
    
            @include custom-media-query-1440($large-screen-width-1440) {
                flex: 0 0 34.722%;
                max-width: 34.722%;
                padding: 0;
            }
    
            .checkout-header-wrapper {
                background: $grey20;
                @include media-breakpoint-down(md) {
                    background: $grey20;
                }
                @include media-breakpoint-up(md) {
                    padding-top: rem(13);
                }

                @include media-breakpoint-up(lg) {
                    padding: rem(0) rem(45) rem(0) rem(36);
                }

                @include media-breakpoint-up(xl) {
                    padding: rem(0) rem(92) rem(0) rem(36);
                    margin-top: rem(42);
                }
    
                @include custom-media-query-1440($large-screen-width-1440) {
                    padding: rem(0) rem(92) rem(0) rem(60);
                    margin-top: rem(42);
                }
    
                .right {
                    justify-content: flex-end;
    
                    @include media-breakpoint-up(md) {
                        padding-right: rem(10);
                    }
    
                    @include media-breakpoint-up(lg) {
                        padding-right: rem(0);
                    }

                    &.mini-cart-wrapper {
                        @include media-breakpoint-up(xl) {
                            position: relative;
                            right: rem(0);
                        }
                    }               
                }
            }
        }
    
        .d-hide-mobile-wrapper {
            @include custom-media-query-max($medium-screen-width) {
                display: none;
            }
        }
    
        .d-show-desktop-wrapper {
            @include media-breakpoint-up(md) {
                display: none;
            } 
        }

        .sticky-header-wrapper {

            &.fixed-header {

                .header-redesign-wrapper {

                    .checkout-header-wrapper {

                        .align-start-box {

                            @include media-breakpoint-up(md) {
                                max-width: 58.33%;
                            }

                            @include media-breakpoint-up(lg) {
                                max-width: 100%;
                            }

                            .checkout-label-custom {
                                @include media-breakpoint-up(md) {
                                    padding-right: rem(15);
                                }

                                @include media-breakpoint-up(lg) {
                                    padding-right: rem(0);
                                }
                            }
                        }
                    }
                }

                .header-redesign-wrapper2 {

                    .checkout-header-wrapper {
                        background: $grey20;

                        @include media-breakpoint-up(md) {
                            padding-top: rem(13);
                        }

                        @include media-breakpoint-up(lg) {
                            padding-top: rem(20);
                        }

                        @include media-breakpoint-up(xl) {
                            padding-top: rem(0);
                        }

                        @include custom-media-query-1440($large-screen-width-1440) {
                            padding-top: rem(0);
                        }

                        .right {

                            &.mini-cart-wrapper {
                                @include media-breakpoint-up(md) {
                                    justify-content: flex-end;
                                    width: 38%;
                                    margin-left: rem(0);
                                    padding-right: rem(0);
                                }

                                @include media-breakpoint-up(lg) {
                                    justify-content: flex-end;
                                    width: auto;
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.overlayer-box {
    background-color: $grey-transparent-8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 5;
}