@import "~movado/checkout/checkoutLogin";

.checkout-page {

    .card {

        .card-body {

            .checkout-as-guest {

                background-color: $dark-cyan;
                border: rem(1) solid $dark-cyan;

                &:hover {
                    background-color: $white;
                    color: $black;
                    border: rem(1) solid $black;
                }
            }
            
            .login {

                .btn-primary {

                    background-color: $dark-cyan;
                    border: rem(1) solid $dark-cyan;

                    &:hover {
                        background-color: $white;
                        color: $black;
                        border: rem(1) solid $black;
                    }
                }
            }

            .btn-outline-primary {

                &:active {
                    background-color: $dark-cyan !important;
                    border: rem(1) solid $dark-cyan !important;
                }
            }

            .reset-password-form {

                .send-email-btn {

                    .btn-primary {

                        background-color: $dark-cyan;
                        border: rem(1) solid $dark-cyan;

                        &:hover {
                            background-color: $white;
                            color: $black;
                            border: rem(1) solid $black;
                        }
                        
                        &:active {
                            color: $white;
                            background-color: $dark-cyan;
                            border: rem(1) solid $dark-cyan;
                        }
                    }
                }
            }
        }
    }
}