.shipping-method-option {
    .arrival-time {
        white-space: pre-wrap;
    }
}

header {
    &.checkout-header {
        .sticky-header-wrapper {
            .header-wrapper.checkout-header-wrapper {
                .minicart {
                    &-quantity {
                        color: $black;
                        background-color: $pink-grey;
                    }
                }
            }

            .desktop-menu-wrapper {
                @include media-breakpoint-up(xs) {
                    display: none;
                }

                @include media-breakpoint-up(sm) {
                    display: block;
                }
            }

            .mobile-menu-wrapper {
                @include media-breakpoint-up(xs) {
                    display: block;

                    .header-wrapper.checkout-header-wrapper {
                        .v-middle {
                            position: absolute;
                            top: 58%;
                            transform: translateY(-50%);
                        }

                        .checkout-logo {
                            width: rem(110);

                            img {
                                width: 100%;
                            }

                            &:before {
                                font-family: "FontAwesome";
                                content: "\f023";
                                font-size: rem(18);
                                margin-right: rem(5);
                                margin-bottom: rem(12);
                            }
                        }
                    }

                    .header-wrapper {
                        .minicart {
                            &-link {
                                @include media-breakpoint-down(xs) {
                                    margin-right: rem(0);
                                    top: rem(0);
                                }
                            }

                            &-quantity {
                                color: $black;
                                background-color: $pink-grey;
                                font-size: rem(12);
                            }
                        }
                    }
                }

                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
        }

        .checkout-header-wrapper {
            @include media-breakpoint-up(lg) {
                padding: 0 rem(91.5) 0 rem(60);
                margin-top: rem(33);
            }

            .header-left {
                .checkout-logo {
                    width: rem(150);

                    @include media-breakpoint-up(md) {
                        width: rem(150);
                        height: rem(27);
                    }

                    @include media-breakpoint-up(xl) {
                        position: absolute;
                        left: rem(30);
                        width: rem(104);
                    }

                    @include custom-media-query($large-screen-width) {
                        position: absolute;
                        left: rem(48);
                        width: rem(155);
                    }
                    
                }

                .checkout-text {
                    h5 {
                        .secure-text {
                            font-family: $font-museo-light;
                            font-size: rem(14);
                            color: $light-gray5;
                            opacity: 0.8;
                        }
                    }
                }
            }

            .minicart {
                &-link {
                    height: rem(20);
                    width: rem(20);
                    display: inline-block;
                    margin-right: rem(0);

                    @include media-breakpoint-down(xs) {
                        margin-right: rem(20);
                    }
                }
            }

            @include media-breakpoint-up(sm) {
                padding-top: rem(0);
            }
            
            .obright-menu{
                &.mini-cart-wrapper {
                    @include media-breakpoint-up(xl) {
                        position: absolute;
                        right: rem(40);
                        top: rem(0);
                    }
    
                    @include custom-media-query($large-screen-width) {
                        position: absolute;
                        right: rem(56);
                        top: rem(16);
                    } 
                }
            }

        }
    }
}

.progressbar-container {
    .checkout-progressbar {
        margin-bottom: rem(45);

        @include media-breakpoint-up(xs) {
            display: none;
        }

        @include media-breakpoint-up(sm) {
            display: block;
            margin: rem(16) auto rem(12);
            padding: 0 rem(15);
        }

        @include media-breakpoint-up(lg) {
            padding: 0 rem(15);
            margin: rem(56) auto rem(16);
            max-width: rem(940);
           
        }

        @include media-breakpoint-up(xl) {
            margin: rem(56) auto rem(32) auto;
            max-width: rem(940);

        }

        li {
            font-family: $font-gill-std-medium;

            @include media-breakpoint-up(sm) {
                margin-bottom: rem(10);
            }

            @include media-breakpoint-up(xxl) {
                margin-bottom: rem(0);
            }

            p {
                display: flex;
                align-items: center;
                font-size: rem(12);
                text-transform: uppercase;
                text-decoration: none;
                margin-bottom: rem(0);

                @include media-breakpoint-down(md) {
                    letter-spacing: rem(1);
                }

                @include media-breakpoint-down(sm) {
                    font-size: rem(10);
                    letter-spacing: rem(1);
                }

                &:after {
                    content: "";
                    box-sizing: border-box;
                    height: rem(2);
                    width: rem(30);
                    background-color: $black;
                    opacity: 0.4;
                    margin: rem(0) rem(10);

                    @include media-breakpoint-down(sm) {
                        height: rem(2);
                        width: rem(14);
                        margin: rem(0) rem(5);
                    }
                }

                .step {
                    &-text {
                        color: $grey15;
                        opacity: 0.4;
                    }

                    &-no {
                        height: rem(21);
                        width: rem(21);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $white;
                        border: 1px solid $grey15;
                        color: $grey15;
                        opacity: 0.4;
                        border-radius: 50%;
                        font-size: rem(12);
                        margin-right: rem(10);

                        @include media-breakpoint-down(sm) {
                            height: rem(16);
                            width: rem(16);
                            margin-right: rem(8);
                            font-size: rem(8);
                        }
                    }
                }
            }
        }

        li {
            &.active {
                p {
                    .step {
                        &-text {
                            color: $black;
                            opacity: 1;
                        }

                        &-no {
                            background: $black;
                            border: 1px solid $black;
                            color: $white;
                            opacity: 1;
                        }
                    }
                }
            }

            &.completed {
                p {
                    &:after {
                        color: $black;
                        opacity: 1;
                    }

                    .step {
                        &-text {
                            color: $parrot-green;
                            opacity: 1;
                        }

                        &-no {
                            background: $parrot-green;
                            border: 1px solid $parrot-green;
                            color: $white;
                            opacity: 1;
                        }
                    }
                }
            }

            &:nth-child(4) p {
                &:after {
                    content: "";
                    height: rem(0);
                    width: rem(0);
                }
            }
        }
    }
}

header {
    .checkout-header-wrapper {
        .align-start-box {
            @include media-breakpoint-up(xl) {
                justify-content: flex-start;
                max-width: 100%;
            }
        }
    }
}

.checkout-box-container {
    .align-start-box {
        .checkout-label-custom {
            @include media-breakpoint-up(xl) {
                max-width: rem(940);
                margin: 0 auto;
                width: rem(940);
                padding-left: rem(29);
            }
        }
    }
}
