.sub-footer{
    line-height: 1em;
     p{
     
     margin-top:20px;
     font-size: smaller;
     padding-left: 5px;
     
   }
    .sub-footer-content {
        display: flex;
        margin-top: 20px;
    }
    
    .hp-icon{
       
       width: 70px !important;
    }
}