@import "~movad_redesign/vars";
@import '~concord/variables';

//font Families:
$font-raleway : "raleway", Arial, sans-serif !default;
$font-raleway-medium : "raleway", Arial, sans-serif !default;
$font-raleway-book : "raleway", Arial, sans-serif !default;
$font-raleway-bold : "raleway", Arial, sans-serif !default;
$font-raleway-font : "raleway", Arial, sans-serif !default;
