@import "~movado/product/detail";

.primary-images {
    .product-badges {
        .badge-right {
            left: auto;
            right: rem(20);
            top: rem(20);
            img {
                width: rem(60);
                height: rem(60);
            }
        }
    }
}
