@import "~movado/product/detail";
@import "../variables";
@import "../components/backInStockNotification";

.product-detail {
  &-redesign {
    max-width: rem(1440);
    margin: 0 auto;

    &.product-wrapper {
      height: rem(740);
    }

    .primary-images {
      position: relative;
      width: 100%;
      text-align: center;

      .cs-carousel-wrapper {
        position: relative;
        margin-bottom: 0;
      }

      .main-ob-carousel {
        padding: rem(10) rem(40) 0;

        @include media-breakpoint-up(md) {
          padding: 0;
        }

        @include media-breakpoint-up(lg) {
          padding-left: rem(100);
        }

        .slick {
          &-slide {
            text-align: center;

            img {
              display: inline-block;
            }

            .carousel-tile {
              overflow: visible;

              &.active {
                min-height: 80vh;
              }

              &.disabled {
                @include media-breakpoint-down(md) {
                  pointer-events: none;
                }
              }
            }

            .slide-video {
              position: absolute;
              min-width: 100%;
              max-width: 100%;
              height: 100%;
              width: inherit;
              max-height: 100%;
              object-fit: cover;
              margin: 0 auto;
              right: 0;
              display: block;
            }
          }

          &-dots {
            background: $light-grey2;
            margin: 0 auto;
            display: flex;
            max-width: rem(200);
            justify-content: center;
            left: 50%;
            transform: translateX(-50%);
            margin-right: rem(12);

            @include media-breakpoint-up(lg) {
              width: rem(150);
              margin-top: 0;
              position: absolute;
              top: 0;
              left: rem(50);
              display: block;
              background: transparent;
              height: rem(400);
              overflow-y: scroll;

              &::-webkit-scrollbar {
                width: 0;
              }
            }

            li {
              height: rem(1);
              margin: 0;
              flex: 1;
              max-width: rem(130);

              button {
                height: 100%;
                width: 100%;
                border-radius: 0;
                background: $gainsboro;
                vertical-align: text-top;

                @include media-breakpoint-up(lg) {
                  background: transparent;
                  outline: none;
                  vertical-align: initial;
                }

                &:focus {
                  outline: none;
                }

                img {
                  display: none;

                  @include media-breakpoint-up(lg) {
                    width: 100%;
                    height: 100%;
                    display: block;
                  }
                }
              }

              &.slick-active {
                button {
                  background: $black;
                }
              }

              @include media-breakpoint-up(lg) {
                height: rem(82);
                width: rem(82);
                border-radius: 100%;
                overflow: hidden;
                margin: 0 rem(5);
                margin-bottom: rem(12);
                cursor: pointer;
                transition: all 0.4s;
                box-shadow: 0 rem(2) rem(4) 0 hsla(0, 0%, 78%, 0.6);
                border: rem(2) solid transparent;
                display: inline-block;

                &:hover {
                  box-shadow: 0 rem(6) rem(4) 0 hsla(0, 0%, 78%, 0.6);
                  border-color: $light-grey;
                }
              }
            }
          }

          &-arrow {
            position: absolute;
            outline: none;

            &.slick-prev {
              background: url("../../images/LeftArrowMob.svg") center center
                no-repeat;

              @include media-breakpoint-up(lg) {
                display: none !important;
              }
            }

            &.slick-next {
              background: url("../../images/RightArrowMob.svg") center center
                no-repeat;

              @include media-breakpoint-up(lg) {
                background: url("../../images/RightArrow.svg") center center
                  no-repeat;
                right: rem(-48);
              }
            }
          }
        }

        .pointer-none {
          pointer-events: none;
        }

        .cursor-context {
          cursor: context-menu;
        }
      }
    }

    .js-zoom-image {
      background: url("../../images/zoom_in.svg") center center no-repeat;
      width: rem(40);
      height: rem(40);
      position: absolute;
      margin-left: rem(20);
      top: rem(400);
      outline: none;

      @include media-breakpoint-up(lg) {
        position: absolute;
        margin-left: rem(150);
        top: rem(475);
      }
    }

    &.detail-specs {
      padding: 0;

      @include media-breakpoint-up(lg) {
        padding-right: rem(15);
        padding-left: rem(15);
      }
    }

    &.product-wrapper {
      position: relative;
      padding-top: rem(70);

      @include media-breakpoint-up(lg) {
        padding-top: rem(140);
      }

      .product-section-mobile {
        @include media-breakpoint-down(md) {
          padding-top: rem(30);
          background-color: $white;
          border-radius: rem(40) rem(40) 0 0;
          box-shadow: 0 0 rem(6) 0 rgba(196, 196, 196, 0.5);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: rem(5);
            background-color: $white;
            bottom: rem(-5);
          }
        }
      }

      .family-name {
        @include font-gill($font-size: 20, $font-weight: 600);
        line-height: rem(35);
        color: $black;
        text-transform: capitalize;
        text-align: center;
        margin: 0;

        @include media-breakpoint-up(lg) {
          font-size: rem(34);
          line-height: rem(41);
          margin-bottom: rem(5);
          text-align: left;
        }
      }

      .product-name {
        @include font-gill($font-size: 20, $font-weight: 300);
        line-height: rem(35);
        color: $gray20;
        text-transform: capitalize;
        width: auto;
        text-align: center;

        @include media-breakpoint-up(lg) {
          line-height: rem(30);
          margin-bottom: rem(5);
          text-align: left;
        }
      }

      .price-rating {
        margin-top: rem(10);
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
          margin-top: rem(20);
          justify-content: initial;
        }

        .estimated-text {
          display: none;
        }
      }

      .product-options {
        margin-bottom: rem(20);
        text-align: center;

        @include media-breakpoint-up(lg) {
          text-align: initial;
        }
      }

      .ratings {
        margin-left: rem(30);
        margin-top: 0;
        background: transparent;

        &-mobile {
          margin: 0;
          padding: 0;
          margin-bottom: rem(15);
        }

        .yotpo {
          a {
            @include font-gill($font-size: 12, $font-weight: 300);
            color: $gray20 !important;
            margin-left: rem(10);

            @include media-breakpoint-up(lg) {
              margin-left: rem(20);
              font-size: rem(15);
            }
          }

          .yotpo-bottomline {
            float: initial;
            justify-content: center;

            @include media-breakpoint-up(lg) {
              justify-content: initial;
              float: left;
            }
          }
        }
      }

      .prices {
        padding: 0;

        span {
          @include font-gill($font-size: 28, $font-weight: 300);
          line-height: rem(45);
          color: $gray20;

          @include media-breakpoint-up(lg) {
            font-size: rem(34);
            line-height: rem(41);
          }
        }
      }

      .affirm {
        &-as-low-as {
          @include font-gill($font-size: 13);
          line-height: rem(18);
          color: $gray20;
          margin: rem(20) 0;
          text-align: center;

          @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            text-align: left;
          }
        }

        &-modal-trigger {
          padding: 0;
          @include font-gill($font-size: 13);
          line-height: rem(18);
          color: $gray20;
          display: inline-block;
          margin-left: rem(2);
        }
      }

      .klarna-promo-parent-container {
        margin-bottom: 0;
        margin-top: rem(20);

        .container {
          border: none;
          max-width: initial;
          padding: 0;
          @include font-gill($font-size: 13);
          line-height: rem(18);
          color: $gray20;
          margin-top: rem(20);
          background: transparent;
          text-align: left;

          .link {
            padding: 0;
            @include font-gill($font-size: 13);
            line-height: rem(18);
            color: $gray20;
            display: inline-block;
            margin-left: rem(2);
          }
        }
      }

      .description {
        display: none;

        @include media-breakpoint-up(lg) {
          margin-top: rem(40);
          display: block;
        }

        .value {
          @include font-gill($font-weight: 300);
          line-height: rem(25);
          color: $gray20;
        }
      }

      .product-top-detail {
        margin-top: rem(80);
        padding: 0;

        @include media-breakpoint-up(lg) {
          margin-top: rem(0);
          flex: 0 0 43.4%;
          max-width: 45.4%;
          padding-right: rem(15);
          padding-left: rem(60);
        }

        .cart-and-ipay {
          @include media-breakpoint-down(md) {
            margin: 0;
            padding: 0 rem(10);

            > div {
              padding: 0;
            }
          }
        }
      }

      .primary-images {
        @include media-breakpoint-up(lg) {
          flex: 0 0 56.6%;
          max-width: 56.6%;
        }

        .slick {
          &-slide {
            img {
              margin: 0 auto;
              height: rem(375);
              width: rem(375);

              @include media-breakpoint-up(lg) {
                height: rem(450);
                width: rem(450);
              }
            }
          }
        }
      }
    }

    .description-and-detail {
      margin: 0;
      padding: rem(30) 0 rem(40) 0;
      text-align: center;

      @include media-breakpoint-up(lg) {
        text-align: initial;
        padding: rem(60) 0 rem(100) 0;
      }

      .product-attributes {
        margin: 0;

        @include media-breakpoint-up(lg) {
          margin-right: rem(-15);
          margin-left: rem(-15);
        }
      }

      .why-buy-me-details {
        color: $gray20;
        font-family: $font-GaramondMTPro-italic;
        font-size: rem(20);
        line-height: rem(25);
        text-align: center;
        margin-bottom: rem(20);

        @include media-breakpoint-up(lg) {
          font-size: rem(40);
          line-height: rem(48);
          margin-bottom: rem(30);
        }
      }

      .bottom-description {
        max-width: rem(550);
        margin: 0 auto;
        margin-bottom: rem(40);
        padding: 0 rem(15);
        position: relative;

        p {
          @include font-gill($font-weight: 300);
          line-height: rem(25);
          text-align: center;
        }

        @include media-breakpoint-up(lg) {
          padding: 0;
          height: auto;
        }

        .show-text {
          position: absolute;
          background-color: $white;
          @include font-gill($font-weight: 300);
          text-decoration: underline;
          bottom: rem(1);
          right: rem(22);
          padding-left: rem(5);
          text-transform: lowercase;
        }

        .morecontent {
          span {
            display: none;

            @include media-breakpoint-up(lg) {
              display: inline;
            }
          }

          .morelink {
            text-transform: lowercase;
            text-decoration: underline;

            @include media-breakpoint-up(lg) {
              display: none;
            }
          }
        }
      }

      .details {
        &-img-atrribute {
          padding: 0;

          @include media-breakpoint-up(lg) {
            padding-right: rem(15);
            padding-left: rem(15);
          }
        }

        &-img {
          img {
            margin-bottom: rem(20);

            @include media-breakpoint-up(lg) {
              height: rem(500);
              width: rem(500);
              margin-bottom: rem(0);
            }
          }
        }

        &-list {
          @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            margin-left: rem(50);
          }

          .attribute {
            &-detail {
              margin-top: 0;
              margin-left: rem(0);
              padding: rem(10) 0;
              border-bottom: rem(1) solid $cyan-blue;

              &:last-child {
                margin: rem(0);
              }

              @include media-breakpoint-up(lg) {
                margin-top: 0;
                margin-left: rem(0);
                padding: 0;
                margin-bottom: rem(30);
                border: none;
              }
            }

            &-name {
              @include font-gill($font-weight: 300);
              color: $gray20;
              line-height: rem(25);
              margin-bottom: rem(5);
            }

            &-value {
              @include font-gill($font-weight: 600);
              color: $gray20;
              line-height: rem(21);
              text-transform: capitalize;
              margin: 0;
            }
          }

          &-height {
            @include media-breakpoint-up(lg) {
              display: flex;
            }
          }
        }
      }
    }

    .product-availability {
      margin: 0;
    }

    .availability-msg {
      @include font-gill($font-size: 12, $font-weight: 600);
      line-height: rem(20);
      color: $dark-gray;
      text-transform: capitalize !important;

      @include media-breakpoint-up(lg) {
        font-size: rem(15);
        line-height: rem(20);
      }

      li {
        text-transform: capitalize !important;
      }
    }

    .shipping-callout {
      span {
        @include font-gill($font-size: 12, $font-weight: 600);
        line-height: rem(16);
        color: $dark-gray;
        text-transform: capitalize;
        position: relative;
        padding-left: rem(10);
        margin-left: rem(10);

        @include media-breakpoint-up(lg) {
          font-size: rem(15);
          line-height: rem(20);
        }

        &::before {
          content: "";
          position: absolute;
          height: rem(10);
          width: rem(1);
          background: $dark-gray;
          left: 0;
          top: 50%;
          transform: translateY(-45%);

          @include media-breakpoint-up(lg) {
            height: rem(13);
          }
        }
      }
    }

    .product-breadcrumb {
      position: absolute;
      top: rem(20);
      left: rem(20);
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }

      .breadcrumb {
        &-item {
          a {
            @include font-gill(
              $font-size: 12,
              $font-weight: 600,
              $letter-spacing: 0.5
            );

            line-height: rem(16);
            color: $black;
            margin-left: rem(5);
          }

          &:first-child {
            a {
              margin-left: 0;
            }
          }

          &:last-child {
            a {
              color: $dark-gray;
            }
          }

          + .breadcrumb-item {
            padding-left: rem(10);

            &::before {
              content: "";
              display: inline-block;
              width: rem(6);
              height: rem(10);
              background: url(../../images/next.svg) center center no-repeat;
              position: relative;
              background-size: contain;
              margin: 0 rem(2);
              top: rem(1);
            }
          }
        }
      }
    }

    .add-to-cart-actions {
      margin-top: rem(15);
      text-align: center;

      @include media-breakpoint-up(lg) {
        margin-top: rem(20);
        text-align: initial;
      }

      .add-to-cart {
        width: 100%;
        height: rem(45);
        background: $black;
        @include font-gill($font-weight: 600);
        line-height: rem(20);
        text-transform: uppercase;
        color: $white;
        border-color: $black;
        border-radius: rem(3);
        margin: 0;
        max-width: rem(355);
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
          width: rem(330);
        }

        &:hover,
        &:focus {
          background-color: transparent;
          box-shadow: none;
          color: $black;
        }
      }
    }
  }
}
