.clp-banner {
    position: relative;

    .shop-all-hero-image {
        width: 100%;

        &--mobile {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        &--desktop {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    .shop-all-hero-scroll-trigger {
        display: none;

        @include media-breakpoint-up(lg) {
            bottom: 0;
            display: block;
            left: 50%;
            padding: rem(15);
            position: absolute;
            text-align: center;
            transform: translateX(-50%);
        }

        .js-smooth-scroll {
            text-decoration: none;
            display: inline-block;

            p {
                font-size: rem(14);
                margin: 0;
                color: $white;
                text-transform: uppercase;
                font-family: $font-book;
            }

            svg, img {
                width: rem(10);
            }
        }
    }
}

.cat-min-nav {

    &-container {
        display: flex;
        flex-wrap: nowrap;
        padding: rem(15) 0 rem(20);
        overflow-x: auto;
        justify-content: flex-start;

        @include media-breakpoint-up(lg) {
            justify-content: center;
            padding: rem(20) 0 rem(35);
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-slide {
        max-width: rem(130);
        flex: 0 0 auto;
        margin: 0 rem(5);
        transition: all .3s ease;
        cursor: pointer;
        text-align: center;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        @include media-breakpoint-up(sm) {
            margin: 0 rem(25);
        }

        @include media-breakpoint-up(lg) {
            margin: 0 rem(50);

            &:hover {
                transform: translateY(-15px);
            }
        }

        &-label {
            color: $black;
            font-size: rem(14);
            @include font-medium;
            font-weight: 500;
            letter-spacing: 1.17;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.static-content {

    &-wrapper {
        display: block;

        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
            padding: 0 rem(30);
            max-width: rem(1300);
        }
    }

    &-img {
        width: 100%;

        @include media-breakpoint-up(lg) {
            padding: 0;
            width: 50%;
        }

        img {
            width: 100%;
        }
    }

    &-info {
        width: 100%;
        text-align: center;
        padding: rem(30) rem(20) 0;

        @include media-breakpoint-up(lg) {
            width: 50%;
            display: flex;
            padding: rem(30) 10% 0;
            flex-direction: column;
            margin: auto;
            text-align: left;
        }

        &-inner {
            @include media-breakpoint-up(lg) {
                width: 80%;
                margin: auto;
            }
        }

        &-title {
            color: $black;
            font-size: rem(24);
            line-height: rem(24);
            margin-bottom: rem(20);
            text-transform: uppercase;
            @include font-bold;

            @include media-breakpoint-up(lg) {
                font-size: rem(60);
                line-height: rem(60);
                max-width: 50%;
                letter-spacing: rem(5.62);
                margin-bottom: rem(10);
                @include font-medium;
            }
        }

        &-line {
            color: $black;
            font-size: rem(12);
            @include font-medium;
            letter-spacing: rem(1);
            line-height: 1.5;
            margin-bottom: rem(20);
            margin-left: auto;
            margin-right: auto;
            max-width: 80%;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                margin-left: 0;
                margin-right: 0;
                font-size: rem(14);
                letter-spacing: rem(1.17);
                max-width: 100%;
            }
        }

        &-button {
            max-width: rem(215);
            border-width: rem(1);


            @include media-breakpoint-down(lg) {
                margin-left: auto;
                margin-right: auto;
            }

            &:hover {
                background-color: $black;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.category-product-listing {
    display: flex;
    flex-wrap: wrap;
    padding: rem(30) rem(5) rem(25);
    max-width: $container-max-width;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    box-sizing: border-box;

    @include media-breakpoint-up(lg) {
        padding: rem(40) rem(35) rem(25);
    }

    @include media-breakpoint-up(xl) {
        padding: rem(50) rem(45) rem(25);
    }

    li {
        width: 50%;
        margin: 0 0 rem(20);
        padding: rem(3) rem(4) 0;

        @include media-breakpoint-up(sm) {
            width: 25%;
            flex-basis: 33%;
            padding: rem(5) rem(15) 0;
        }

        @include media-breakpoint-up(lg) {
            padding: rem(35) 0 0;
            flex-basis: 25%;
        }
    }
}

.strap {

    &-slot-container {

        h2 {
            font-size: rem(14);
            font-family: $font-medium;
            font-weight: 500;
            letter-spacing: rem(1);
            line-height: rem(20);
            margin-bottom: rem(5);
            text-align: center;
            text-transform: uppercase;
            padding: rem(25) rem(30);
            transition: all .5s ease;
            transition-delay: 1s;
            
            @include media-breakpoint-up(md-down) {
                margin-bottom: rem(15);
                padding: rem(70) rem(30) rem(50);
            }
        }
    }

    &-carousel {
        display: none !important;
        max-width: $container-max-width;
        margin: 0 auto;
        padding: 0 rem(1);

        @include media-breakpoint-up(lg) {
            display: block !important;
        }

        .slick {
            &-arrow {
                position: absolute;
                display: block;
                cursor: pointer;
                top: 50%;
                margin-top: -2%;
                background-color: $cyan-blue;
                border: rem(1) solid $white-grey;
                color: $black;
                z-index: 5;
                padding: rem(5) rem(9);
                font-family: $font-medium;
                font-weight: 500;
                font-size: rem(12);
                text-transform: uppercase;
                line-height: rem(25);
                letter-spacing: rem(0.5);

                &:focus {
                    outline: none;
                }
            }

            &-next {
                right: 0;
                
                svg {
                    margin-left: rem(5);
                }
            }

            &-prev {
                left: 0;

                svg {
                    margin-right: rem(5);
                }
            }

            &-slide {
                transition: transform .3s ease;
                cursor: pointer;
                
                &:hover {
                    transform: translateY(-15px);
                }

                &:focus {
                    outline: none;
                }
                
                img {
                    width: 100%;
                }

                a {
                    text-decoration: none;
                }

                h3 {
                    color: $black;
                    font-family: $font-medium;
                    font-size: rem(12);
                    font-weight: 500;
                    text-transform: uppercase;
                    padding-top: rem(10);
                    padding-bottom: rem(15);
                    line-height: 1.767rem;
                    letter-spacing: rem(0.5);
                    text-align: center;

                    @include media-breakpoint-up(md-down) {
                        font-size: rem(14);
                        padding-bottom: rem(25);
                    }
                }
            }

            &-disabled {
                display: none !important;
            }
        }
    }

    &-guide-footer {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: rem(55) rem(15);
        transition: top .3s;
        background-color: $white-gray;
        
        @include media-breakpoint-up(lg) {
            font-size: rem(20);
            padding: rem(60) rem(30);
        }

        h3 {
            font-family: $font-medium;
            font-weight: 500;
            font-size: rem(14);
            line-height: rem(20);
            max-width: rem(300);
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 1.25rem;
            letter-spacing: rem(2.5);
            text-transform: uppercase;

            @include media-breakpoint-up(md-down) {
                font-size: rem(16);
                line-height: 1.4;
                max-width: initial;
            }
        }

        .button {
            font-family: $font-medium;
            font-weight: 600;
            font-size: rem(12);
            padding: rem(18) rem(30);
            letter-spacing: rem(1.6);
            line-height: 1;
            max-width: max-content;
            display: inline-block;
            margin: 0 auto;
            text-decoration: none;

            &:focus, &:hover {
                color: $white;
                background-color: $black;
            }

            @include media-breakpoint-up(md-down) {
                padding: rem(18) rem(60);
            }
        } 
    }

    &-category-mobile {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 0 rem(15);

        @include media-breakpoint-up(lg) {
            display: none;
        }

        a {
            text-align: center;
            width: 50%;
            transition: transform .3s ease;
            cursor: pointer;

            img {
                width: 100%;
                max-width: 80%;
                margin-bottom: rem(15);
            }

            h3 {
                color: $black;
                font-size: rem(12);
                font-family: $font-medium;
                font-weight: 500;
                text-transform: uppercase;
                padding-bottom: rem(15);
            }
        }
    }
}