.home-email-signup {
    background-color: $white;
    margin: 0rem;

    .footer-social-links {
        display: none;

        @include media-breakpoint-down(sm) {
            display: block;
            padding-top: rem(10);
            padding-bottom: rem(10);
        }
    }

    .email-description {
        text-transform: uppercase;
        color: $black;
        line-height: 1;
        text-align: left;
        font-size: rem(12);
        font-family: $font-primary;
        margin-bottom: rem(15);
        letter-spacing: rem(2.29);
        padding: 0rem;
    }

    .form-control {
        border: 0rem;
        padding: 0 rem(20);
        border-radius: 0rem;
        color: $white;
        background-color: $black;
        line-height: 1.2;
        letter-spacing: 0rem;
        font-style: italic;
        font-size: rem(12);
        font-family: $font-primary;
        font-weight: 400;
        height: rem(40);
        text-overflow: inherit;

        &:focus {
            box-shadow: none;
        }
    }


    .input-group {
        max-width: rem(300);
        background: $black;

        ::placeholder {
            color: $white;
        }

        .btn-primary:not(:disabled):not(.disabled):active:focus {
            box-shadow: inherit;
        }

        .btn-primary {
            letter-spacing: 0rem;
            font-family: $font-primary;
            font-weight: 400;
            line-height: 0rem;
            margin: 0rem;
            padding: rem(6) rem(17);
            box-shadow: inherit;

            &:hover {
                opacity: 0.75;
            }

            &:focus {
                box-shadow: inherit;
            }

            > svg, img {
                height: rem(12);
                width: rem(14);
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
        }
    }

    .submission-status {
        font-size: rem(14);
        padding-bottom: rem(15);
        margin-top: 0rem;
        text-align: left;

        &.success {
            color: $light-green;
        }

        &.error {
           color: $red;
        }
    }

    .footer-more-fields {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 90%;
        transform: translate(50%,-50%);
        background-color: $white;
        opacity: 0;
        transition: .5s ease-in-out;
        padding: rem(25);
        z-index: -1;

        @include media-breakpoint-down(sm) {
            padding: rem(16);
        }

        &.is-active {
            transform: translate(-50%, -50%);
            opacity: 1;
            z-index: 9999;

            @include media-breakpoint-up(lg) {
                transform: translateY(-50%);
                top: 33%;
            }
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 33%;
            left: rem(-305);
            width: rem(310);
        }

        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 0;
            height: 0;
            right: rem(-15);
            border-style: solid;
            border-width: rem(15) 0 rem(15) rem(15);
            border-color: transparent transparent transparent $white;
            top: 50%;
            transform: translateY(-50%);

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        span {
            display: block;
            text-align: center;
        }

        .close-footer-more {
            display: block;
            position: absolute;
            top: rem(7);
            right: rem(10);
            outline: 0;
            border: 0;
            cursor: pointer;
            padding: 0;
            background: transparent;

            > svg, img {
                width: rem(11);
                height: rem(11);
            }
        }

        .footer-more-title {
            text-transform: uppercase;
            font-family: $font-oswald-regular;
            font-size: rem(14);
            font-weight: 400;

            > svg, img {
                width: rem(14);
                height: rem(14);
                margin-right: rem(8);
                position: relative;
                top: rem(-1);
            }
        }

        .footer-more-small {
            letter-spacing: rem(1.5);
            color: $light-gray;
            font-size: rem(11)
        }

        ::placeholder {
            color: $light-gray;
        }

        input {
            width: 100%;
            padding: rem(10);
            background-color: $white;
            border: rem(1) solid $light-gray4;
            font-size: rem(11);
            letter-spacing: rem(1.5);
            color: $light-gray;
            border-radius: 0rem;
            outline: 0;
            font-style: normal;
        }

        fieldset {
            padding: rem(5.6) rem(12) rem(10);
            display: block;
            margin-inline-start: rem(2);
            margin-inline-end: rem(2);
            min-inline-size: min-content;
            border-width: rem(2);
            border-style: groove;
            border-color: threedface;
            border-image: initial;
        }

        select {
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            font-size: rem(11);
            background-color: $white;
            letter-spacing: rem(1.5);
            border: rem(1) solid $light-gray4;
            color: $light-gray;
            border-radius: 0;
            padding: rem(10);
            outline: 0;

            option {
                outline: 0;
            }
        }

        select::-ms-expand {
          display: none;
        }

        .footer-more-label {
            text-transform: capitalize;
            font-size: rem(11);
            letter-spacing: rem(1.5);
            color: $black;
            display: block;
            text-align: center;
            margin: rem(12) 0rem rem(5);
            width: auto;
        }

        .footer-select-third {
            width: 33%;

            &:nth-child(2) {
                margin: 0 10px;
            }
        }

        .submit_button {
            width: 100%;
            margin-top: rem(25);
            padding: rem(12) 0rem;
            font-size: rem(14);
            box-shadow: inherit;
            border-width: rem(2);

            @include media-breakpoint-down(sm) {
                margin-top: rem(16);
            }

            &:hover {
                background: $light-green;
                transition: opacity .25s ease-in-out;
            }
        }

        .btn-primary:focus, .btn-primary.focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
            box-shadow: inherit;
        }
    }
}

.footer-form-overlay {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $transparent-gray;
    visibility: hidden;
    transition: all .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
}

.email-popup {
    z-index: 9999999;
}