@import "~movado/account/account";
@import "../variables";

.account-pages{

  .card {
      .card-body{
          .account-wishlist-item {
            .remove-from-wishlist {
              font-size: rem(24);
              font-weight: 300;
              font-family: $font-medium;
            }

          }
          dt,.field-label{
            font-size: rem(14);
            font-family: $font-medium;
          }
          dd,.field-value{
            font-size: rem(14);
          }
          & > div{
            div{
              font-size: rem(14);
              &.dashboard-cards-block-title{
                font-family: $font-medium;
                font-weight: 500;
              }
            }
          }
      }
      .card-footer {
          .card-link{
              font-size: rem(14);
          }
          .field-label{
            font-size: rem(14);
            font-family: $font-medium;
          }
          .field-value{
            font-size: rem(14);
          }
      }
  }
  .wl-social-sharing{
    .wl-social-sharing-text{
      font-size: rem(14);
    }
  }
}
