@import "~movado/account/account";
@import "../mixins";
@import "variables";

.account-pages{

  .card {
    .card-header {
      border-bottom: 1px solid $grey3;
      padding: rem(12) rem(20) rem(7) rem(20);
      h3,
      h4{
          text-transform: uppercase;

          @include Accountheadline;
          &.pull-left{
            max-width:90%;
            @include media-breakpoint-up(lg){
              font-size: rem(20);
            }
          }
      }
      a.pull-right{
        font-size: rem(14);
      }
    }

      .card-body{
          .account-wishlist-item {
            .remove-from-wishlist {
              font-size: rem(24);
              font-weight: 300;
              font-family: $font-medium;
            }

          }
          dt,.field-label{
            font-size: rem(14);
            font-family: $font-medium;
          }
          dd,.field-value{
            font-size: rem(14);
          }
          & > div{
            div{
              font-size: rem(14);
              &.dashboard-cards-block-title{
                font-family: $font-medium;
                font-weight: 500;
              }
            }
          }
      }
      .card-footer {
          .card-link{
              font-size: rem(14);
          }
          .field-label{
            font-size: rem(14);
            font-family: $font-medium;
          }
          .field-value{
            font-size: rem(14);
          }
      }
  }
  .wl-social-sharing{
    .wl-social-sharing-text{
      font-size: rem(14);
    }
  }
}


