@import "~movado/checkout/checkoutComponents";

.klarna {
  &-panel {
    &-image {
      width: rem(68);
      background: url("../../../images/klarna.svg") center center no-repeat;
      height: rem(15);
      position: absolute;
      left: rem(23);
      top: rem(13);
    }
  }
}

.klarna-payment-message {
  width: 395px;
  opacity: 0.6;
  color: #000000;
  font-family: "FuturaStd-Medium", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 20px;
}

.klarna-pay-letter-option {
  height: 20px;
  width: 304px;
  color: #000000;
  font-family: "FuturaStd-Medium", Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 20px;
  padding: 10px;
}

.payment-options{
  .nav-link {
    position: relative;
  }

  .klarna-payment-button {
    background-color: #FFBBCE!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-check {
    .panel-title {
      .accordion-link {
        + label {
          &:before {
            width: rem(22)!important;
            height: rem(22)!important;
          } 
        }
      }
    }
  } 
}
