.card-number-wrapper {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 8px;
        background-repeat: no-repeat;
        background-image: url('../../images/Visa-master.svg');
        background-size: contain;
        width: 127px;
        height: 30px;
        top: 9px;
    }

    &[data-type="visa"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -226px -110px;
        width: 48px;
    }

    &[data-type="mastercard"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -26px -157px;
        width: 48px;
    }

    &[data-type="amex"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -294px -16px;
        width: 48px;
    }

    &[data-type="discover"]::after {
        background-image: url('../../images/payment-types.png');
        background-size: auto;
        background-position: -93px -110px;
        width: 48px;
    }
}
