.primary-images {
  .cs-carousel-wrapper {

    .slick-slide,
    .slick-list,
    .cs-carousel {
      margin: 0;
      display: block;
    }

    .carousel-tile {
      display: table-cell;
      position: relative;
      width: 100%;
    }

      .poster-frame-video {
        height: rem(600);
        max-width: rem(600);
        margin: 0 auto;

          @include media-breakpoint-down(lg) {
              height: rem(542);
              max-width: rem(542);
          }

          @include media-breakpoint-down(md) {
              height: rem(928);
              max-width: rem(928);
          }

          @include custom-media-query-max($medium-screen-width) {
              height: rem(705);
              max-width: rem(705);
          }

          @include media-breakpoint-down(xs) { 
              height: rem(392);
              max-width: rem(392);
          }

          @media (max-width:$small-screen-width375) {
              height: rem(342);
              max-width: rem(342);
          }

          .slide-video {
            
              @include media-breakpoint-up(xl) {
                  padding: 0;
              }
          }
      }

    .slick-arrow {
      top: 42%;
      background-color: rgba($white, 0.5);
      background-size: rem(10);
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }

  .slide-video {
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    width: inherit;
    max-height: 100%;
    object-fit: cover;
    margin: 0 auto;
    right: 0;
    top: 0;

    &-ie{
      display: none;
    }

  }
  
  .slick-active {

    .slide-video-ie {
      display: block;
    }

  }

  .pointer-none {
    pointer-events: none;
  }

  .cursor-context {
    cursor: context-menu;
  }

}

// MSS-1397 video height width fixed
.container-fluid {

    &.pdp-v-one {

        .primary-images {

            .traditional-main-carousel {

                .poster-frame-video {

                    .slide-video {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

        }

    }
}