.welcomeMat {
    padding-left: 0 !important;
    span {
        font-size: rem(24);
    }

    .logo-link {
        img {
            height: rem(48);
        }
    }

    @include media-breakpoint-down(sm) {
        .logo-link {
            img {
                height: rem(28);
            }
        }
    }

    select + i {
        &.fa {
            right: rem(4);
            font-size: rem(24);
            top: rem(6.4);
        }
    }
    
    .modal-header {
    	background-color: $grey-light;
    }
    
    .continue-here {
        text-transform: none;
    }
}

.want-to-ship {
    background-color: black !important;
}

.welcome-mat-body {
    letter-spacing: normal;
    font-weight: 600;
}

.welcomeMat {
     span {
        font-size: rem(18);
    }
}