.email-popup {
    backdrop-filter: brightness(60%);
    z-index: 100000;
    
    .email-popup-position-left-bottom {
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .email-popup-position-right-bottom {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .email-popup-container {
        max-width: 100%;
        width: 50%;
        max-height: 100%;
        height: 50%;
    }

    .email-popup-content {
        height: 100%;
    }
}