.minicart {
     
    .bonus-line-item-heading {
        font-family: $font-HelveticaNeueLT-book;
    }

    .sub-total-label {
        font-family: $font-HelveticaNeueLT-bold;
    }

    .promo-msg {
        font-family: $font-HelveticaNeueLT-book;
    }

    .sub-total {
        font-family: $font-HelveticaNeueLT-bold;
    }

    .line-item-attributes {
        font-family: $font-HelveticaNeueLT-medium;
    }

    .view-cart {
        font-family: $font-HelveticaNeueLT-medium;
    }
}

.model-name {
    font-family: $font-HelveticaNeueLT-medium;
}

label.quantity-label {
    font-family: $font-HelveticaNeueLT-medium;
}

.line-item-promo {
    font-family: $font-HelveticaNeueLT-book;
}