@import "~movad_redesign/vars";
@import '~ebel/variables';

$drak-red: #bb4f35;
$pink-light: #FAF4ED;
$dark-gray: #444444;
$light-black: #000000;

//font Families:
$font-ProximaNova : "proxima-nova", sans-serif;
