@import "~movad_redesign/vars";
@import '~ebel/variables';

$drak-red: #bb4f35;
$pink-light: #FAF4ED;

//font Families:
$font-HelveticaNeueLT : "HelveticaNeueLT-Roman", helvetica, arial, sans-serif !default;
$font-HelveticaNeueLT-medium : "HelveticaNeueLT-Roman", helvetica, arial, sans-serif !default;
$font-HelveticaNeueLT-book : "HelveticaNeueLTStd-ThEx", helvetica, arial, sans-serif !default;
$font-HelveticaNeueLT-bold : "HelveticaNeueLT-Roman", Arial, sans-serif !default;
$font-HelveticaNeueLT-font : "HelveticaNeueLT-LightExt", helvetica, arial, sans-serif !default;