@import '~movado/search';
@import '~movad_redesign/search';
@import 'vars';
@import 'mixins';

.plp-new-design {

    &.search-results  {

        .hovered-tile {

            @media (min-width:$custom-lg1) {

                .tile-body {
                    height: rem(166);
    
                    .tile-discription {
                        max-height: rem(42);
                    }
                }
            }
        }
    }
  .filter-box {
    
    &.filter-bar-sticky {
      top: rem(98);
      z-index: 800;
      
      @include media-breakpoint-down(md) {
        top: rem(60); 
      }

      @include media-breakpoint-down(sm) {
        top: rem(44);
      }
    }
  }

    .filter-bar {

        ul {
            padding-top: rem(15);
        }

        .filter-value {

            a {
                font-family: $font-ProximaNova;
            }
        }
    }

    .product-grid {

        #show-more-update {
            font-family: $font-ProximaNova;
        }
    }

    .filter-btn {

        button {
            font-family: $font-ProximaNova;
        }
    }

    .result-count {

        p {
            font-family: $font-ProximaNova;

            span {
                font-family: $font-ProximaNova;
            }
        }
        
        > span {
            font-family: $font-ProximaNova;
        }

        .make-bold, .category-name {
            font-family: $font-ProximaNova;
        }
    }

    .plp-show-more {

        button {
            font-family: $font-ProximaNova;
        }
    }

    .refinement-bar {

        .custom-select {
            font-family: $font-ProximaNova;
        }

        .custom-select {

            .custom-select__option {
                font-family: $font-ProximaNova;
            }
            
            &> .custom-select__option {
                font-family: $font-ProximaNova;
            }
        }

        .refinement.card {
           
            .card-header {
                font-family: $font-ProximaNova;
            }

            .selection-tab {
                font-family: $font-ProximaNova;
            }
        }

        .close-refinebar {
            font-family: $font-ProximaNova;
        }

        .header-bar {
          
            .secondary-bar {

                .reset {
                    font-family: $font-ProximaNova;
                }
            }
        }
    }
   
    .product-tile {
        background: $white;

        .promotions, .plp-promotions {
           
            .callout.promo-msg {
                font-family: $font-ProximaNova;
                color: $dark-blue2;
            }
        }

        .out-of-stock, .pre-order {
            font-family: $font-ProximaNova;
        }

        .plp-botton-text {

            .pre-order-text {
                font-family: $font-ProximaNova;
            } 
        }

        .new-product {
            font-family: $font-ProximaNova;
        }

        .tile-body {

            .price {
                font-family: $font-ProximaNova;
            }

            .product-name {
                font-family: $font-ProximaNova;
            }

            .tile-detail-btn {
                font-family: $font-ProximaNova;
            }

            .tile-discription, .product-not-available-msg {  
                font-family: $font-ProximaNova;
                max-height: rem(36);
            }
        }
    }

    .hovered-tile {

      .tile-btns {
          font-family: $font-ProximaNova;

        .product-detail {

          .cart-and-ipay {

            >div {

              .plpToCart {
                font-family: $font-ProximaNova;
              }
            }
          }
        }
      }
    }
}

.plp-discover.plp-new-design {

    .discover-head {
    
        h2 {
            font-family: $font-ProximaNova;
        }

        p {
            font-family: $font-ProximaNova;
        }
    }
}


.search-nav {

    .nav-link {
        font-family: $font-ProximaNova;
    }
}

.grid-header {
    min-width: rem(202.22);
    min-height: rem(20);
}

.filter-btn-main {
    min-width: rem(64.05);
    min-height: rem(19);
}

.search-results-updated {
    height: rem(80);
    padding: 0 rem(40);
  
    @media(max-width:$custom-lg4) {
      padding: 0 rem(24);
  
    }

    .search-results-sec {

      .search-result-desktop {

        .left-sec {

          .filter-and-count {

            .grid-header {

              .result-count {

                @media (max-width:$custom-lg4) {

                  .mobile-category-name {
                    color: $light-black;
                  }

                  span {
                    color: $dark-gray;
                  }
                }

                > .d-none {

                    label {
                    color: $light-black;
                  }

                  span {
                    color: $dark-gray;
                  }
                }
              }
            }
          }
        }

        .right-sec {

          .filter-box {

            &.filter-bar-sticky {

              .filter-and-count {

                .grid-header {

                  .result-count {

                    @media (max-width:$custom-lg4) {

                      .mobile-category-name {
                        color: $light-black;
                      }

                      span {
                        color: $dark-gray;
                      }
                    }

                    > .d-none {

                      label {
                        color: $light-black;
                      }

                      span {
                        color: $dark-gray;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }