.back-in-stock-notification-container {
    margin-top: rem(30);

    .back-in-stock-notification {
        &-form {
            height: rem(45);
            box-sizing: border-box;
            max-width: rem(430);
            border: rem(1) solid $black;
        }
        
        &-email {
            width: rem(416);
            opacity: 0.5;
            color: $black;
            font-family: $font-gill-std-semibold;
            font-size: rem(15);
            font-weight: 500;
            letter-spacing: rem(1);
            line-height: rem(20);
            border: none;
            height: rem(20);
            margin-top: rem(11);
        }

        &-email-notification-copy {
            margin-bottom: rem(10);
            height: rem(21);
            width: rem(430);
            color: $black;
            font-family: $font-GaramondPro;
            font-size: rem(20);
            font-style: italic;
            letter-spacing: rem(1.71);
            line-height: rem(25);
        }

        &-marketing-container {
            position: relative;
            overflow: hidden;
            margin-top: rem(10);

            .checkmark {
                left: rem(0);
            }
            input {
                position: absolute;
            }
        }

        &-confirmation-copy {
            height: rem(20);
            width: rem(360);
            color: $gray36;
            font-family: $font-primary;
            font-size: rem(13);
            letter-spacing: rem(0.5);
            line-height: rem(15);
            padding-top: rem(2);
            padding-left: rem(11);
        }
    }

    &-success p {
        color: $black;
        font-family: $font-primary;
        margin-left: rem(10);
    }

    &-success img {
        height: rem(20.83);
        width: rem(20.83);
    }
}