.ob-footer {
    background-color: $seashell;
    overflow: hidden;
    
    .footer-redesign {
        padding-bottom: 0;
        max-width: $custom-xl;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 rem(100);

        @include media-breakpoint-down(lg) {
            padding: 0 rem(50);
        }
    
        &-container {
            padding: rem(60) 0;
            padding-top: rem(0);
            justify-content: space-between;

            @include media-breakpoint-down(sm) {
                padding: 0;
            }
        }
    
        &-links {
            display: flex;
    
            .footer-item {
                margin-left: rem(100);

                @include media-breakpoint-down(lg) {
                    margin-left: rem(50);
                }
            }
        }
    
        @include media-breakpoint-up(sm) {
            margin-top: rem(30);
        }

        @include media-breakpoint-down(sm) {
            padding: 0;
            overflow: hidden;
        }

        .copyright {
            color: $gray20;
            font-family: $font-gill-std-normal;
            font-size: rem(14);
            line-height: rem(22);
    
            @include media-breakpoint-down(sm) {
                text-align: center;
            }
        }
    
        .container-fluid {
            max-width: 100%;
        }
    
        .social-links {
            max-width: 100%;
            float: left;
    
            li {
    
                @include media-breakpoint-down(sm) {
                    width: auto;
                    margin: rem(5) rem(14) rem(5) rem(5);
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
    
            a {
                font-size: rem(26);
                
                &.title {
                   color: $black;
                   font-family: $font-gill-std-semibold;
                   font-size: rem(17);
                   font-weight: 500;
                   line-height: rem(22);
                   text-decoration: none;
                   pointer-events: none;
                }
            }
        }

        .selector-wrapper {

            @include media-breakpoint-down(md) {
                margin-right: rem(-70);
            }
            @include media-breakpoint-down(sm) {
                margin-right: rem(0);
            }

        }
    
        .footer-item {
    
            &-sub-items {
    
                @include media-breakpoint-down(sm) {
                    padding: rem(16);
                    background-color: $pink-smoke;
                }
            }
    
            &-social-icons {
                margin-left: rem(-5);
                margin-bottom: rem(24);
    
                @include media-breakpoint-down(sm) {
                    margin-bottom: 0;
    
                    .social-links {
                        width: 100%;
                        text-align: center;

                        li {
                            float: none;
                            display: inline-block;
                        }
                    }
                }
            }

            &-mobile-menu-footer {
                width: 100%;
                display: inline-block;
                margin: rem(20) 0;
                text-align: center;
                font-weight: bold;
                font-size: rem(14);
                padding: 0 rem(20);
    
                li {
                    display: inline-block;
                    text-align: center;
                    padding: 0 rem(4);
                    letter-spacing: rem(3);
                }
            }
    
            &-social-icons, &-country-selector, &-language-selector {
                display: block;
                width: 100%;
                float: left;
            }
    
            &-news-letter {
                display: block;
                width: 100%;
    
                @include media-breakpoint-down(sm) {
                    text-align: center;
                    background: inherit;
                    padding-top: rem(12);
                }
    
                p {
                    color: $gray20;
                    font-family: $font-gills-light;
                    font-size: rem(15);
                    font-weight: 300;
                    line-height: rem(20);
                    width: rem(300);
                    letter-spacing: rem(0.5);
    
                    @include media-breakpoint-down(lg) {
                        width: rem(280);
                    }
                    
                    @include media-breakpoint-down(md) {
                        width: rem(230);
                    }
                    
                    @include media-breakpoint-down(sm) { 
                        width: 100%;
                    }
                }
            }
    
            &-title {
                font-family: $font-gill-std-semibold;
                font-weight: 500;
                line-height: rem(22);
                font-size: rem(17);
                pointer-events: none;
                margin-bottom: rem(15);
                display: inline-block;
                border: none;
                color: $black;
                
                @include media-breakpoint-down(sm) {
                    line-height: rem(35);
                    color: $gray20;
                    font-size: rem(20);
                }
    
                &:after {
                    content: none;
                }
            }
    
            &-country-selector, &-language-selector { 
    
                @include media-breakpoint-down(sm) {
                    margin-top: rem(16);
                }
    
                .country-selector-wrapper {
                    margin-left: 0;
                    display: flex;
    
                    @include media-breakpoint-down(sm) {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                    }
    
                    .flag-icon {
                        width: rem(28);
                        height: rem(20);
                        min-width: rem(28);
                        min-height: rem(20);
                    }
    
                    select {
                        color: $gray20;
                        font-family: $font-gill-std;
                        font-size: rem(15);
                        font-weight: 600;
                        line-height: rem(21);
                        vertical-align: bottom;
                        background: url("../images/baseline-keyboard_arrow_down-24px.png") right center no-repeat;
                        margin-left: rem(10);
                        padding-right: rem(10);
                    }
                }
            }

            &-language-selector {

                .country-selector-wrapper {

                    @include media-breakpoint-down(md) {
                        margin-top: rem(10);

                        select {
                            margin-left: rem(0);
                        }
                    }

                    @include media-breakpoint-down(sm) {
                        margin-top: rem(0);
                    }

                }
            }
    
            .home-email-signup {
                background-color: transparent;
                border-radius: rem(5);
    
                @include media-breakpoint-down(sm) {
                    margin: rem(16);
                    background-color: transparent;
                }
    
                form {
    
                    .input-group {
                        width: rem(300);
                        background-color: inherit;

                        @include media-breakpoint-down(lg) {
                            width: rem(260);
                        }

                        @include media-breakpoint-down(md) {
                            width: rem(230);
                        }

                        @include media-breakpoint-down(sm) {
                            width: 100%;
                        }
    
                        .form-control {
                            height: rem(45);
                            border: rem(2) solid $dim-grey;
                            border-right-width: 0;
                            font-family: $font-museo-light;
                            border-radius: rem(5) 0 0 rem(5);
    
                            @include media-breakpoint-down(sm) {
                                background-color: transparent;
                                font-family: $font-gill-std;
                                font-size: rem(15);
                                font-weight: 600;
                                line-height: rem(20);
                                color: $storm-gray;
                            }
                        }
    
                        &-btn {
                            width: rem(65);
                            background-color: $black;
                            position: relative;
                            border: none;
                            border-radius: 0 rem(5) rem(5) 0;
    
                            .email-signup-arrow {
                                font-size: rem(0);
                                width: 100%;
                                background: url("../images/right-arrow-flat-icon.png") center center no-repeat;
                                height: 100%;
                                top: 0;
                                left: 0;
                                position: absolute;
                                -webkit-appearance: none;
                            }
                        }
                    }
                }
            }
    
            &-mobile-links {
                display: block;
                text-align: center;
                padding: 0 rem(20);
                float: left;
                margin-top: rem(40);
                width: 100%;
                display: none;
                
                @include media-breakpoint-down(sm) {
                    display: block;
                }
                
                li {
                    display: inline-block;
                    margin: 0 rem(7);
                    margin-bottom: rem(20);
    
                    a {
                        color: $black;
                        font-family: $font-gill-std;
                        font-size: rem(12);
                        line-height: rem(16);
                        font-weight: 600;
                    }
                }
            }
        }
        
        h3 {
        
            a {
            
                &.title {
                    color: $gray20;
                    font-family: $font-gill-std-semibold;
                    font-size: rem(15);
                    font-weight: 500;
                    line-height: rem(21);
                    text-transform: capitalize;
                }
            }
        }
    
        .content {
        
            li {
            
                a {
                  color: $gray20;
                  font-size: rem(12);
                  line-height: rem(20);
                  font-family: $font-gill-std-normal;
                  font-weight: 400;
                }
            }
        }
        
        .html-content-container {
        
           .content-item {
               height: rem(180);
            }
        }
    
        .back-to-top {
            position: absolute;
            right: rem(5);
            top: rem(-50);
        }
    
        .credit-list {
            text-align: right;
    
            img {
                margin: 0 rem(5);
            }
        }
    }
}


.sub-footer-container {
    background-color: $pink-smoke;
    padding: rem(28) rem(25);
    
    @include media-breakpoint-down(sm) {
        display: none;
    }

    .html-content-wrapper {
        max-width: rem(1240);
        margin: 0 auto;
    }

    .html-content-container {
        
        .hp-icon {
            min-width: rem(93);
            max-width: rem(93) !important;
            height: rem(93) !important;
            margin: 0;
            margin-right: rem(20);
        }
    }

    .content-item {
        display: flex;
        padding: rem(5);
        letter-spacing: 0.05em;
        text-align: center;

        @include media-breakpoint-down(md) {
            display: block;
        }
        
        &-text {
            padding-right: rem(25);
            
            @include media-breakpoint-down(md) {
                padding: rem(0) re(10);
            }
            
            p, h3 {
                font-family: $font-gills-light;
                font-weight: 300;
                font-size: rem(14);
                color: $black-pearl;
                line-height: rem(22);
                text-align: left;

                @include media-breakpoint-down(md) {
                    text-align: center;
                }
            }

            p {
                margin: 0;
            }

            h3 {
                font-family: $font-gill-std-semibold;
                line-height: initial;
                font-weight: 500;
                margin-bottom: rem(8);
            }
        }
    }
}

.footer-bottom {
    margin: 0;
    justify-content: space-between;
    position: relative;

    @include media-breakpoint-down(sm) {
        justify-content: center;
    }
}

.footer-redesign {
    .dropdown-country-selector {
        max-height: rem(200);
        overflow-y: scroll;
     
        .dropdown-item {
            padding-left: rem(15) !important;
        }
    }
    
    @include media-breakpoint-down(md) {
        .headerDropdown {
            text-align: center;
            width: 100% !important;

            .esw-country-selector  {
                border: none !important;
            }
        }

        .selectCountry {
            z-index: 99;
        }
    }

}
