.redesign-header {
    
    .account-wrapper {
        
        p {
            margin: 0;
        }

        .logo-link {
            
            img {
                width: rem(130);
                height: rem(70);
    
                @include media-breakpoint-up(lg) {
                    width: rem(170);
                }
            }
        }
    }

    .mobile-search {
        background: url("../images/round-search-24px.png") center center no-repeat;
        border: none;
        width: rem(20);
        height: rem(20);
        margin-left: rem(10);
        padding: 0;
    }

    .header-wrapper { 

        .right {
            display: flex;
            width: 25%;
            justify-content: flex-end;

            .site-search {

                .search-field {
                    width: rem(180);
                    height: rem(19);
                    padding-bottom: rem(11);

                    &::placeholder {
                        font-size: rem(10);
                        color: $dark-gray;
                    }
                }

                .fa-search {
                    right: rem(6.4);
                    top: 50%;
                    right: 0.4rem;
                    font-size: rem(10);
                    transform: translateY(-50%);
                }
            }
            
            &-icon {
                
                img {
                    margin-right: rem(15);
                    max-width: initial;
                    @include media-breakpoint-up(lg) {
                        margin-right: rem(20);
                    }
                }
            }
        }
    }

    .minicart {
        
        a {
            
            &.minicart-link {
                display: inline-block;
            
                img {
                    max-width: initial;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {

        .header-wrapper {

            .header-container {
                height: rem(80);
            }

            .left {
                width: 25%;
            }

            .middle-menu {
                width: 100%;
            }
            
            .navbar {
                height: rem(80);
                width: 100%;
                position: static;
            }

        }

        .sticky-header-wrapper {
            height: rem(80);
    
        }

        &-container {
                margin: 0;
                max-width: 100%;
    
            &-menu {
                width: 100%;
    
                &-group {
                    display: flex;
                    justify-content: center;
                }
            }

            .navbar-expand-lg {
                max-width: 100%;
            }
        }
    }

    .header-menu-wrapper { 
        padding: 0;
        box-shadow: rem(1) rem(2) rem(5) 0 $grey-transparent-7;
    }

    .left {
        
        button {
            
            .menu-icon {
                background: url("../images/round-menu-24px.png") center center no-repeat;
                top: rem(3);
            }
        }
    }

    .navbar-header {
        @include media-breakpoint-down(md) {
            display: flex;
            align-items: center;
        }
    }
}

.header-banner {

    .html-slot-container {

        color: $black;
        font-family: $font-gill-std;
        font-size: rem(14);
        font-weight: 600;

        @include media-breakpoint-down(sm) {
            font-size: rem(12);
        }
    }
}

.checkout-header {

    .redesign-quantity {
        right: rem(-25);
    }
}