@import '~movado/components/primaryImagesCarousel';

.poster-frame-video {
    height: rem(646);

    @include media-breakpoint-down(lg) {
      height: rem(552);
    }

    @include media-breakpoint-down(md) {
      height: rem(945);
    }

    @include custom-media-query-max($medium-screen-width) {
      height: rem(722);
    }

    @include media-breakpoint-down(xs) { 
      height: rem(409);
    }

    @media (max-width:$small-screen-width375) {
      height: rem(360);
    }
  }