@import '~movado/components/productTiles';

.product-tile {

    .tile-body {

        .color-swatches {


            .swatch-plus-box {

                a {
                    &.square-swatch {
                        width: rem(25.2);
                        min-width: rem(25.2);
                        height: rem(25.2);
                        background: $white;
                        border-radius: rem(12.6);
                        border: rem(1) solid $grey-transparent-5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: rem(4.382);
                        position: relative;

                        .swatch-counter {
                            font-size: rem(12);
                            font-weight: 500;
                            color: $black;
                            font-family: $font-gill-std-semibold;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}