.addToCartModal {
    .modal-dialog {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.7rem 0;
    }
    .modal-body {
        padding: rem(20) rem(10);
    }
    p {
        font-family: $font-raleway-bold;
        line-height: rem(25);
        letter-spacing: rem(.4);
        margin-bottom: rem(30);
    }
    
    .btn:last-child {
        text-decoration: underline;
        margin-top: rem(20);
    }

}