$mvmt-custom-lg: 1024px;
$mvmt-custom-xl2: 1200px;
$blog-font-primary: futura-pt, Arial, sans-serif;
$mvmt-custom-sm: 615px;
$mvmt-custom-md: 960px;
$mvmt-custom-md1: 992px;
$md: 768px;
$honeyDew: #F2F4F2;
$mvmt-custom-xxl: 1280px;
$mvmt-custom-down-xxl: 1279px;