@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../commonPlaceholders";

$checkout-font-weight: 600;

$receipt-font-size: rem(14);
$receipt-spacing: 0.625em;
$stored-payment-spacing: rem(16);

.page {
  background-color: $white;
}

.checkout-card-header {
  color: $grey14;
  text-transform: uppercase;
}

.grand-total-price {
  float: right;
}

.grand-total-label,
.grand-total-price {
  @extend %card-header;
  margin-bottom: rem(10);
}

.order-receipt-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-divider {
  margin-left: -$receipt-spacing;
  margin-right: -$receipt-spacing;

  hr {
    border-top: dashed 0.063em;
  }
}

.shipment-block + .shipment-block::before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed $horizontal-rule-grey;
  margin: $receipt-spacing -0.625em;

  @include media-breakpoint-up(lg) {
    margin: $receipt-spacing -1.225em;
  }
}

.data-checkout-stage {
  padding-top: rem(10);
  margin-bottom: rem(50);
  
  .top-grandtotal-label {
    text-transform: uppercase;
  }
  .card-body {
    padding: rem(15) rem(10);
  }
  .card-header {
    @extend %card-header;
    padding-left: rem(10);
    padding-right: rem(10);
    padding-bottom: rem(7);
  }
  .form-group {
    .form-control-label {
      margin-bottom: 0;
      font-family: inherit;
      font-size: rem(14);
      line-height: rem(17);
      letter-spacing: rem(0.4);
      color: $grey14;
      padding-bottom: rem(4);
    }

    > .info-icon {
        padding-bottom: rem(4);
    }

    .form-control {
      border: rem(1) solid $grey14;
      color: $grey14;
    }

    .expirationDate {
      margin-top: rem(2);
    }
    
    .add-address,
    .edit-address {
      margin-top: rem(10);
    }
  }
  .custom-select {
    font-family: $font-HelveticaNeueLT-medium;
    font-size: rem(14);
    line-height: rem(17);
    letter-spacing: rem(0.4);

    @include media-breakpoint-down(sm) {
      font-size: rem(16);
    }
    + i {
      top: rem(30);
      right: rem(8);
      height: rem(20);
      width: rem(36);
    }
  }
  .single-shipping {
    .card-header {
      color: $grey14;
    }

    .summary-section-label {
      margin-bottom: 0;
    }
  }

  .shipping-method-block {
    .ship-method-header {
      @extend %card-header;
      color: $grey14;
      margin-top: rem(10);
      margin-bottom: rem(10);
      text-transform: uppercase;
    }
  }

  .order-total-summary {
    .order-receipt-label,
    .text-right,
    .sub-total {
      font-family: $font-HelveticaNeueLT-medium;
      font-size: rem(16);
      letter-spacing: rem(0.4);
      line-height: rem(21);
      color: $grey14;
      font-weight: 500;
    }

    .grand-total {
      .order-receipt-label,
      .text-right {
        font-family: $font-HelveticaNeueLT-bold;
        font-size: rem(18);
        letter-spacing: rem(0.4);
        line-height: rem(22);
        color: $grey14;
      }
    }
  }

  .multi-shipping-checkbox-block {
    display: none;
  }
  .checkout-promo-code-form .form-group {
    padding: 0 rem(10);
  }
  @include media-breakpoint-down(xs) {
    padding-left: rem(10);
    padding-right: rem(10);
    overflow-x: hidden;
    .order-summary-card {
      border: none;
      box-shadow: unset;
      .card-header {
        border: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .field-right,
    .right-section {
      padding-left: rem(5);
    }
    .field-left,
    .left-section {
      padding-right: rem(5);
    }
    .checkout-promo-code-form .form-group {
      padding: 0;
    }
  }
 
  @include media-breakpoint-up(lg) {
    padding-top: rem(0);
  }
}

.shipping-method {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hero-confirmation {
  background-image: url("../../images/thankyou.jpg");
  background-position-y: -8.125em;
}

.product-summary-block {
  margin: 1em 0;
  .line-item-name {
    @extend %card-header;
    text-transform: uppercase;
  }
}

.leading-lines {
  overflow: hidden;
  margin: 0;

  label {
    background-color: white;
  }

  .start-lines {
    padding: 1px;

    span {
      position: relative;
      background-color: white;
      z-index: 2;
    }

    &::before {
      float: left;
      width: 0;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      z-index: 1;
      color: #adadad;
    }
  }

  .end-lines {
    padding: 1px;

    span {
      position: relative;
      background-color: white;
      z-index: 2;
    }
  }

  &.justify-content-between {
    .end-lines {
      background: $white;
    }
  }

  &.leading-lines-wrapper {
      border-bottom: rem(1) dashed $grey-dark-3;
      &:first-child {
        padding-bottom: rem(8);
      }
      &:not(:first-of-type) {
        padding: rem(8) 0;
      }
      
      .start-lines {

          &::before {
              content: "";
          }
      }

    .order-label-wrapper {
        margin-bottom: rem(0);
        color: $black;
        font-size: rem(13);
        font-weight: 300;
        letter-spacing: rem(0.7);
        line-height: rem(20);

        span {
            color: $black;
            font-size: rem(13);
            font-weight: 300;
            letter-spacing: rem(0.7);
            line-height: rem(20);
        }
      
        &.order-discount-total {
            color: $parrot-green;
        }
    }

      .end-lines {
        
          .text-right {
              margin-bottom: rem(0);
            
              .shipping-total-cost {
                  color: $parrot-green;
              }
          }
      }
  }
}

.summary-details {
  font-family: $font-HelveticaNeueLT-book;
  font-size: rem(14);
  letter-spacing: rem(0.4);
  line-height: rem(21);
  margin-bottom: rem(16);
  color: $grey-dark-1;
}

.summary-details .address-summary {
  margin-bottom: 0.5em;
  line-height: rem(21);
}

.summary-section-label {
  font-family: $font-HelveticaNeueLT-medium;
  font-size: rem(14);
  letter-spacing: rem(0.4);
  line-height: rem(17);
  color: $grey14;
  text-transform: uppercase;
}

.add-payment {
  margin-top: $stored-payment-spacing;
}

.selected-payment {
  background-color: $gray-200;
}

.saved-security-code {
  margin-top: $stored-payment-spacing;
}

.saved-credit-card-type {
  font-weight: 600;
}

.saved-payment-information {
  margin-top: $stored-payment-spacing;
  margin-bottom: $stored-payment-spacing;
}

.payment-form {
  margin-bottom: 0;
  .card-body {
    padding-bottom: 0;
  }
  .payment-information {
    .panel {
      padding-right: rem(10);
      padding-left: rem(10);
      margin-left: rem(-10);
      margin-right: rem(-10);
      border-top: rem(1) solid $border-color;
    }

    .accordion-link {
      margin-top: rem(8);
      + label {
        &:after,
        &:before {
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          content: "\F107";
          position: absolute;
          font-family: "FontAwesome";
          font-size: rem(18);
          right: 0;
        }
      }
      &:checked {
        + label::after {
          content: "\F106";
        }
      }
    }

    .affirm-payment-method {
      @include media-breakpoint-up(md) {
        padding: 0 rem(10) rem(10) rem(10);
        margin: 0;
        width: 100%;
        .affirm-product-modal {
          text-decoration: underline;
        }
      }
    }

    .affirm-panel-image {
      width: rem(75);
      vertical-align: inherit;
    }
  }
}

.checkout-hidden {
  display: none;
}

.card-image {
  margin-top: rem(8);
  width: 100%;
}

.cancel-new-payment {
  margin-top: $stored-payment-spacing;
}

.form-check.start-lines {
  padding-left: rem(24);
}

.multi-ship .single-shipping .shipping-content {
  display: none;
}

.multi-ship .shipping-summary .single-shipping {
  display: none;
}

.gift-message-block {
  padding-top: rem(16);
}
.confirm-details {
  .heading-three {
    text-transform: uppercase;
  }
}

.confirm-details .shipping-method,
.confirm-details .shipping-method-price {
  margin-bottom: 0;
}

.multi-ship .confirm-details .single-shipping {
  display: none;
}

.multi-shipping {
  display: none;
}

.data-checkout-stage {

    .card-border-none {
        border: none;
        box-shadow: none;
        padding: rem(0);
        
        .heading-content-label {
            color: $grey8;
            font-size: rem(15);
            font-weight: 500;
            letter-spacing: rem(0.7);
            line-height: rem(21);
        }

        .card-body {
            padding: rem(0);

            .info-icon {

              &.info-icon-email {
                  position: absolute;
                  right: rem(25);
                  top: rem(11);

                  .icon {
                      background-image: url("../../images/info-icon.svg");
                      background-repeat: no-repeat;
                      background-size: cover;
                      width: rem(15);
                      height: rem(15);
                      background-color: transparent;
                  }

                  &.icon-right-wrapper {
                      right: rem(64);
                      top: rem(11);

                      @include media-breakpoint-down(sm) {
                          right: rem(25);
                      }
                  }
              }

            }

            .shipping-address-block {
                @include custom-media-query-1440($large-screen-width-1440) {
                    max-width: rem(700);
                    padding-left: rem(5);
                }
            }
        }

        &.card-bottom-space {
            margin-bottom: rem(20);
        }
    }

    .card-bottom-space {
        margin-bottom: rem(20);
    }

    .field-left {

        &.mx-field-wrapper {
            @include custom-media-query-1440($large-screen-width-1440) {
                padding: rem(0) rem(10);
            }
        }
    }

    .mx-field-wrapper {
        @include custom-media-query-1440($large-screen-width-1440) {
            padding: rem(0) rem(10);
        }

        .form-group {
            margin-bottom: rem(20);
          
            @include media-breakpoint-down(xs) {
                margin-bottom: rem(15);
            }
        }
    }

    .field-right {

        &.mx-field-wrapper {
            @include custom-media-query-1440($large-screen-width-1440) {
                padding: rem(0) rem(10);
            }
        }
    }

    .form-group {

        .form-control-label {

            &.field-label-wrapper {
              color: $grey8;
              font-size: rem(13);
              font-weight: 500;
              letter-spacing: rem(0.7);
              line-height: rem(20);
            }
        }
        .form-control {

            &.input-wrapper-checkout {
                height: rem(45);
                border: rem(1) solid $grey16;
                border-radius: rem(3);
                color: $grey6;
                font-size: rem(13);
                font-weight: 500;
                letter-spacing: rem(0.7);
                line-height: rem(24);
                color: $grey6 !important;
                padding-top: rem(16);

                &:focus {
                    border-color: $black;
                    box-shadow: none;

                    + .field-label-wrapper {
                        transition: 0.2s ease-in-out;
                        top: 0;
                        left: 2em;
                        height: rem(24);
                        color: $grey15;
                        font-size: rem(10);
                        font-weight: 500;
                        letter-spacing: rem(0.7);
                        line-height: rem(20);
                        width: 100%;
                        pointer-events: none;
                        
                        &.field-select-wrapper-box {
                            left: rem(16);
                        }
                    }

                  + .field-label-wrapper-card {
                      left: rem(15);
                  }
            
                  + .field-label-wrapper-card-1 {
                      left: rem(24);
                    }
            
                  + .field-label-wrapper-card-2 {
                      left: rem(15);
                    }
                  
                  + .field-label-wrapper-card-3 {
                      left: rem(24);
                    }
                }

                &.is-invalid {

                    &:focus {
                        border: rem(1) solid $invalid-red;
                    }
                }
            }

            &.custom-select-box {
                height: rem(45);
                border: rem(1) solid $grey16;
                border-radius: rem(3);
                background-color: $grey-dark-2;
                margin-top: rem(0);

                &:focus {
                    border-color: $black;
                    box-shadow: none;
                }

                + i {
                    top: rem(14);
                }

                &.is-invalid {

                    &:focus {
                        border: rem(1) solid $invalid-red;
                    }
                }
            }
        }

        .field-label-wrapper {
            position: absolute;
            top: 1em;
            left: 2em;
            color: $grey15;
            transition: 0.2s ease-in-out;
            width: 100%;
            pointer-events: none;
            text-transform: capitalize;

            &.input-has-value {
                transition: 0.2s ease-in-out;
                top: 0;
                left: 2em;
                height: rem(24);
                color: $grey15;
                font-size: rem(10);
                font-weight: 500;
                letter-spacing: rem(0.7);
                line-height: rem(20);
                width: 100%;
                pointer-events: none;
            }

            &.field-select-wrapper-box {
                left: rem(16);

              &.input-has-value {
                left: rem(16);
              }
            }

            &.field-label-wrapper-card {
                left: rem(15);

              &.input-has-value {
                  left: rem(15);
              }
            }

            &.field-label-wrapper-card-1 {
                left: rem(24);

                &.input-has-value {
                    left: rem(24);
                }
            }

            &.field-label-wrapper-card-2 {
                left: rem(15);

                &.input-has-value {
                    left: rem(15);
              }
            }
        
            &.field-label-wrapper-card-3 {
                left: rem(24);
                
                &.input-has-value {
                    left: rem(24);
                }
            }
        }

        &.required {

          .form-control-label {

            &.field-label-wrapper {
              &::before {
                content: "";
                color: transparent;
              }

              &::after {
                content: "*";
                color: $grey15;
              }
            }
          }
        }
    }

    .card-header-inner-wrapper {
        max-width: rem(350);
        margin-bottom: rem(20);
    }

    .grand-total {

        &.grand-total-wrapper{
            padding: rem(8) 0;

          .start-lines {

              &::before {
                  content: '';
              }

            .order-receipt-label {
                margin-bottom: rem(0);
                color: $grey8;
                font-size: rem(14);
                font-weight: 500;
                letter-spacing: rem(0.65);
                line-height: rem(21);
            }
          }

          .end-lines {

              .text-right {
                  margin-bottom: rem(0);

                  .grand-total-sum {
                      font-size: rem(14);
                      color: $grey8;
                      font-weight: 500;
                      letter-spacing: rem(0.65);
                      line-height: rem(21);
                  }
              }
          }
        }
    }
    
    .card-body {

        form {

            &.billing-form {

                .form-group {
                
                    .form-control {
            
                        &.input-wrapper-checkout {
              
                            &:focus {
              
                                + .field-label-wrapper {
                                    @include media-breakpoint-down(xs) {
                                        left: rem(26.4);
                                    }
              
                                    &.field-select-wrapper-box {
                                        left: rem(13);
                                    }
                                }

                                + .field-label-wrapper-card {
                                    left: rem(15);
                                }
                      
                                + .field-label-wrapper-card-1 {
                                    left: rem(24);
                                }
                        
                                + .field-label-wrapper-card-2 {
                                    left: rem(13);
                                }
                              
                                + .field-label-wrapper-card-3 {
                                    left: rem(24);
                                }
                            }
                        }            
                    }
          
                    .field-label-wrapper {
                        @include media-breakpoint-down(xs) {
                          left: 1.75em;
                        }

                        &.input-has-value {   
                            @include media-breakpoint-down(xs) {
                                left: rem(26.4);
                            }
                        }

                        &.field-label-wrapper-card {
                            left: rem(15);
        
                            &.input-has-value {
                                left: rem(15);
                            }
                        }
      
                        &.field-label-wrapper-card-1 {
                            left: rem(24);
          
                            &.input-has-value {
                                left: rem(24);
                            }
                        }
      
                        &.field-label-wrapper-card-2 {
                            left: rem(13);
          
                            &.input-has-value {
                                left: rem(13);
                            }
                        }
                  
                        &.field-label-wrapper-card-3 {
                          left: rem(24);
                            
                            &.input-has-value {
                                left: rem(24);
                            }
                        }
            
                        &.field-select-wrapper-box {
                            left: rem(16);
          
                            &.input-has-value {
                                left: rem(13);
                            }
                        }
                    }
                }
            }
        }
    }
}

#mainContent {
  
    .data-checkout-stage {

        &.data-checkout-stage-redesign {
          margin-bottom: rem(0);
          padding-top: rem(16);

          .pop-up-container-box {

              .pop-up-box-space {
                  padding-top: rem(10);
              }
          }
          .order-product-summary {
      
              .product-summary-block {
      
                    .card {
        
                          &.product-line-item {
          
                                &.product-card-wrapper {
                                  
                                      &.product-card-container {
                                        
                                          &:last-child {
                                            border-bottom: rem(0);
                                          }

                                          .product-line-item-details {
                                              @include media-breakpoint-down(xs) {
                                                  margin-top: rem(16);
                                              }
                                          }
                                      }
                                }
                          }
                    }
              }
          }
        }
    }
}