@import "./mixins";

%card-box {
  box-shadow: 0 rem(2) rem(2) 0 $grey-transparent-7;
  border-radius: rem(3);
  border: rem(1) solid $grey3;
}

%address-link {
  margin-top: rem(15);
  font-family: $font-HelveticaNeueLT-medium;
  font-size: rem(14);
  line-height: rem(14);
  color: $grey14;
}

%store-name {
  font-size: rem(18);
  color: $grey14;
  line-height: rem(24);
}

%store-map {
  font-family: $font-HelveticaNeueLT-book;
  font-size: rem(15);
  color: $grey14;
}

%card-header {
  font-family: $font-HelveticaNeueLT-medium;
  font-size: rem(16);
  letter-spacing: rem(0.4);
  line-height: rem(19);
}
