@import "variables";
@import "mixins";
@import "./commonPlaceholders";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/deleteCardButton";

$spacer: 0.625em;
$negative-spacer: -0.625rem;

.single-approaching-discount {
  color: $success;
  padding: rem(10);
  @extend %card-box;
}

.checkout-button-wrapper {
  position: static;
  width: auto;
  bottom: 0;
  z-index: 50;
  padding-right: 0;
  padding-left: 0;

  @include media-breakpoint-down(xs) {
    padding-top: rem(13);
    border-top: rem(1) solid $grey4;
  }

  .estimated-price {
    font-family: $font-medium;
    font-size: rem(16);
    letter-spacing: rem(2);
    line-height: rem(19);
    font-weight: 500;
    color: $grey14;
    text-transform: uppercase;
    margin: rem(10) 0;
  }

  .checkout-btn {
    margin-bottom: rem(10);

    @include media-breakpoint-down(xs) {
      margin-bottom: rem(15);
    }
  }
}

.google-pay-container {
   .gpay-button.black {
      border-radius: rem(0);
   }
}

.paypal-btn,
.paypal-btn:disabled {
  background-color: $yellow;
  border-color: $yellow;
}

.edit {
  margin-right: 0.625em;
}

.product-edit {
  margin-top: auto;

  a {
    font-size: 0.813em;
  }
}

.line-item-attributes {
  font-size: 0.813rem;
  margin: 0;
  font-family: $font-primary;
}

.item-attributes {
  display: inline-block;
  vertical-align: top;
}

#mainContent .bonus-product-line-item.product-card-wrapper > hr.custom-horizontal-rule {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.line-item-divider {
  margin: $spacer $negative-spacer $spacer $negative-spacer;
}

.line-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  color: $darker-gray;
  font-weight: bold;
  margin-bottom: $spacer;
  width: 90%;
}

.line-item-price {
  font-size: 1em;
  color: $darker-gray;
  font-weight: bold;
}

.line-item-price-info {
  font-size: 0.75em;
  margin-bottom: 0.5rem;
}

.no-margin-top {
  margin-top: 0;
}

.number-of-items {
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

.optional-promo {
  color: $primary;
}

.product-info {
  @include media-breakpoint-up(md) {
    height: auto;
  }
}

.product-to-remove {
  font-weight: bold;
}

.item-image {
  height: rem(80);
  width: rem(80);
  margin-right: rem(16);
  flex-grow: 0;
  flex-shrink: 0;

  img.product-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: rem(80);
  }
}

.quantity-form {
  margin-bottom: 0;
  margin-top: -0.313em;
}

.product-info {
  .remove-btn {
    color: $slightly-darker-gray;
    font-size: 1.625em;
    padding: 0;
    position: absolute;
    top: $negative-spacer;
    right: 0.25rem;
    border: none;
    background-color: $white;
  }

  .remove-btn-lg {
    @include delete-card-button();

    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    z-index: 1;
  }
}

.bonus-product {
  display: block;
  text-align: center;
}

.remove-line-item {
  position: relative;
}

.sub-total {
  font-weight: bold;
}

.grand-total {
  font-size: 1em;
  font-weight: 600;
}

.line-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bundle-includes {
  font-size: 0.813em;
  margin-bottom: 0.625em;
}

.cart-page .bundled-line-item + .bundled-line-item::before,
.cart-page .bonus-line-item-row + .bonus-line-item-msg::before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed $horizontal-rule-grey;
  margin: 0.625em -0.625em;
}

.quantity-label {
  font-size: 0.813em;
}

.quantity {
  width: 100%;
  min-width: 5em;
}

.bundle-misc {
  font-size: 0.813rem;

  @include media-breakpoint-down(md) {
    margin-bottom: 0.625em;
  }
}

.valid-cart-error {
  min-height: 6.5rem;
}

.bundled-line-item {
  .item-attributes {
    margin-left: 0;
  }
}

.bonus-product-button {
  margin-right: 1.5em;
}

.more-ways-text {
  font-family: $font-medium;
  font-size: rem(16);
  letter-spacing: rem(0.4);
  line-height: rem(19);
  font-weight: 500;
  @include media-breakpoint-down(xs) {
    padding-top: rem(5);
  }
}

.cart-header-wrapper {
  .cart-header {
    margin: 0;
    padding: rem(15);
    left: 0;
    font-family: $font-book;
    color: $grey14;
    text-transform: uppercase;
    font-size: rem(26);
    letter-spacing: rem(0.4);
    line-height: rem(35);
    @include media-breakpoint-up(md) {
      font-size: rem(32);
      letter-spacing: rem(0.95);
      line-height: rem(42);
    }
  }

  .estimated-total {
    line-height: rem(19);
    color: $grey-dark-1;
  }

  .affirm-as-low-as {
    text-align: center;
    line-height: rem(19);
    .affirm-modal-trigger {
      display: table;
      margin: 0 auto;
      font-size: rem(13);
      line-height: rem(14);
    }
  }
}

.product-card-wrapper {
  .product-image {
    height: rem(80);
    width: rem(80);
  }

  .item-info {
    margin-left: rem(-10);
    margin-right: rem(-10);
    border-bottom: rem(1) solid $horizontal-rule-grey;
  }

  .product-gift-wrap {
  	.gift-message-wrapper, .character-limit {
  		display: none;
  	}
    .gift-text {
      resize: none;
      border: rem(1) solid $grey-dark-1;
    }

    .gift-message-blank, .gift-message-error {
      color: $danger;
      display: none;
    }

    .character-limit,
    .gift-check + label {
      color: $grey-transparent-6;
      font-family: $font-book;
      font-weight: 300;
      font-size: rem(14);
      letter-spacing: rem(0.4);
      line-height: rem(17);
    }

    .gift-check + label {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

.totals {
  .shippingMethods {
    text-transform: capitalize;
    + i {
      top: rem(35);
    }
  }

  .price-label,
  .cost {
    font-family: $font-book;
    font-weight: 300;
    font-size: rem(14);
    letter-spacing: rem(0.88);
    line-height: rem(17);
    color: $grey14;
  }

  .grand-total-label,
  .grand-total {
    font-family: $font-bold;
    font-weight: bold;
  }
}

.cart-empty {
  .empty-cart-header {
    font-family: $font-medium;
    font-weight: 500;
    font-size: rem(26);
    letter-spacing: rem(2);
    line-height: rem(31);
  }
}
