@import '../variables';
@import '~movado/product/detail';

.gallery-slider {
    .slick-prev, .slick-next {
        border: rem(1) solid $chinese-silver;
        box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,.25), 0 0.3rem 1rem 0 rgba(0,0,0,.3);
        cursor: pointer;
        font-size: rem(10);
        padding: rem(23) rem(25);
        position: absolute;
        top: 50%;
        z-index: 5;
        background: $white;
        transform: translateY(-50%);
    }

    .slick-next {
        right: 0;
    }
}