@import '~movado/checkout/checkout';
@import "checkoutComponents";
@import "../vars";

body {
    font-family: $the-futura-font;
}

.shipping-method-option {
    font-family: $the-futura-font;
}

.shipping-method-pricing {
    font-family: $the-futura-font;
}

header {

    .checkout-header-wrapper {

        .minicart-link {
            width: rem(16);
            height: rem(16);
            background: url(../../images/shopping-bag.svg) center center no-repeat;
        }

        .minicart-quantity { 
            right: rem(-3);
            top: rem(-1);
            width: rem(4);
            height: rem(4);
        }

        .header-left {

            .checkout-logo {

                .logo-checkout-text {
                    font-family: $the-futura-font;
                }
            }
        }
    }
}

// Google Autocomplete Address Style -------------------------------
.pac-container {

    .pac-item {
        font-family: $the-futura-font;

        .pac-item-query {
            font-family: $the-futura-font;
        }
    }
}
