.redesign-header {

    .logo-link {
        img {
            width: rem(170);
            height: rem(70);
        }
    }

    @include media-breakpoint-down(lg) {
        .header-menu-wrapper {
            position: initial;
            padding: 0;
        }
    }

    @include media-breakpoint-up(lg) {

        .header-wrapper {
            .middle-menu {
                width: 100%;
            }
            
            .right {
                display: flex;
                justify-content: flex-end;

                .site-search {
    
                    .search-field {
                        width: 160px;
                        height: rem(19);
                    }

                    .fa-search {
                        top: rem(4);
                        right: rem(6.4);
                    }
                }
                
                &-icon {
                    height: rem(19);
                    margin-right: rem(20);
                }
            }

            .navbar {
                height: rem(80);
                width: 100%;
                position: static;
            }

        }

        .sticky-header-wrapper {
            height: rem(80);
    
        }

        &-container {
                margin: 0;
                max-width: 100%;
    
            &-menu {
                width: 100%;
    
                &-group {
                    display: flex;
                    justify-content: center;
                }
            }

            .navbar-expand-lg {
                max-width: 100%;
            }
        }
    }
}