.redesign-header {

    @include media-breakpoint-up(lg) {
        .main-menu {
            height: auto;
    
            .navbar-nav {
                position: static;
    
                .dropdown-menu {
                    padding-left: rem(180);
                    padding-right: rem(147);
                    margin: rem(-15) rem(-15) 0;
                    box-shadow: none;

                    .dropdown-item {
                        margin-bottom: rem(20);
                        padding: 0;
                    }

                    .browse-collection {

                        .dropdown-toggle {
                            margin-bottom: rem(36);
                        }

                        .dropdown-menu { 
                            padding-left: rem(20);
                            padding-right: 0;
                        }
                    }
                }
            }
            .nav-item {
    
                &.show, &:hover {
                    box-shadow: none;
                }
                a {
                    border-bottom: rem(1) solid transparent;
                    &.show, &:hover {
                        border-color: #E9D7D5;
                    }
                }
    
                .nav-link {
                    font-weight: 600;
                    font-size: rem(14);
                    text-transform: capitalize;
                    padding: 0rem;
                    margin: rem(30) rem(20);
                    font-family: $font-gill-std;
                    line-height: rem(20);
                }
            } 
        }
    }
}