.redesign-header {

    .desktop-view {
        .main-menu {
            height: auto;
    
            .navbar-nav {
                position: static;

                .dropdown-toggle {

                    &:after {
                        display: none;
                    }
                }
                .dropdown-menu {
                    padding-left: rem(180);
                    padding-right: rem(147);
                    box-shadow: none;

                    .dropdown-item {
                        margin-bottom: rem(20);
                        padding: 0;
                    }

                    .browse-collection {

                        .dropdown-toggle {
                            margin-bottom: rem(36);
                        }

                        .dropdown-menu { 
                            padding-left: rem(20);
                            padding-right: 0;
                            margin: rem(-15) rem(-15) 0;
                        }
                    }
                }
            }
            .nav-item {
    
                &.show, &:hover {
                    box-shadow: none;

                    .dropdown-toggle.nav-link {
                        border-color: #E9D7D5;
                    }
                }
                a {
                    border-bottom: rem(1) solid transparent;
                    width: fit-content;
                    &.show, &:hover {
                        border-color: #E9D7D5;
                    }
                }
    
                .nav-link {
                    font-weight: 600;
                    font-size: rem(14);
                    text-transform: capitalize;
                    padding: 0rem;
                    margin: rem(30) rem(6.4);
                    font-family: $font-gill-std;
                    line-height: rem(20);

                    @include media-breakpoint-up (xl) {
                        margin: rem(30) rem(20);
                    }
                }
            } 
        }
    }

}