.redesign-header {

    @include media-breakpoint-up(lg) {
        .main-menu {
            height: auto;
    
            .navbar-nav {
                position: static;
    
                .dropdown-menu {
                    padding-left: rem(180);
                    padding-right: rem(147);
                    margin: rem(-15) rem(-15) 0;
                    box-shadow: none;

                    .dropdown-item {
                        margin-bottom: rem(20);
                        padding: 0;
                    }

                    .browse-collection {
                        .dropdown-menu { 
                            padding-left: rem(20);
                            padding-right: 0;
                        }
                    }
                }
            }
            .nav-item {
    
                &.show, &:hover {
                    box-shadow: none;
                }
                a {
                    border-bottom: 3px solid transparent;
                    &.show, &:hover {
                        border-color: #E9D7D5;
                    }
                }
    
                .nav-link {
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    font-size: 12px;
                    text-transform: capitalize;
                    padding: 0rem;
                    margin: 0.9375rem 0.75rem;
                }
            } 
        }
    }
}