
.tk-futura-pt { font-family: "futura-pt",sans-serif; }
.tk-futura-pt-bold { font-family: "futura-pt-bold",sans-serif; }

.filter-and-count {
    visibility: hidden
}

@mixin font-medium {
    font-family: "futura-pt", "FuturaStd-Medium", sans-serif, Arial;
    font-weight: 500;
    font-style: normal;
}

@mixin font-light {
    font-family: "futura-pt", "FuturaStd-Book", sans-serif, Arial;
    font-weight: 300;
    font-style: normal;
}

@mixin font-book {
    font-family: "futura-pt", "FuturaStd-Book", sans-serif, Arial;
    font-weight: 400;
    font-style: normal;
}

@mixin font-demi {
    font-family: "futura-pt", "FuturaStd-Medium", sans-serif, Arial;
    font-weight: 600;
    font-style: normal;
}

@mixin font-lato-bold {
    font-family: "lato", "FuturaStd-Bold", sans-serif, Arial;
    font-display:auto;font-style:normal;font-weight:700;
}