@font-face {font-family: 'MuseoSlab-100';font-display: optional;src: url('../webfonts/39E093_0_0.eot');src: url('../webfonts/39E093_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_0_0.woff2') format('woff2'),url('../webfonts/39E093_0_0.woff') format('woff'),url('../webfonts/39E093_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab-700';font-display: optional;src: url('../webfonts/39E093_1_0.eot');src: url('../webfonts/39E093_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_1_0.woff2') format('woff2'),url('../webfonts/39E093_1_0.woff') format('woff'),url('../webfonts/39E093_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab-900';font-display: optional;src: url('../webfonts/39E093_2_0.eot');src: url('../webfonts/39E093_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_2_0.woff2') format('woff2'),url('../webfonts/39E093_2_0.woff') format('woff'),url('../webfonts/39E093_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab-300';font-display: block;src: url('../webfonts/39E093_3_0.eot');src: url('../webfonts/39E093_3_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_3_0.woff2') format('woff2'),url('../webfonts/39E093_3_0.woff') format('woff'),url('../webfonts/39E093_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab-1000';font-display: block;src: url('../webfonts/39E093_4_0.eot');src: url('../webfonts/39E093_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_4_0.woff2') format('woff2'),url('../webfonts/39E093_4_0.woff') format('woff'),url('../webfonts/39E093_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab-500';font-display: block;src: url('../webfonts/39E093_5_0.eot');src: url('../webfonts/39E093_5_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_5_0.woff2') format('woff2'),url('../webfonts/39E093_5_0.woff') format('woff'),url('../webfonts/39E093_5_0.ttf') format('truetype');}
 
  
//@font-face {font-family: 'RockwellStd';src: url('../webfonts/39E093_6_0.eot');src: url('../webfonts/39E093_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_6_0.woff2') format('woff2'),url('../webfonts/39E093_6_0.woff') format('woff'),url('../webfonts/39E093_6_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'GaramondMTPro-Italic';font-display: block;src: url('../webfonts/39E093_7_0.eot');src: url('../webfonts/39E093_7_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E093_7_0.woff2') format('woff2'),url('../webfonts/39E093_7_0.woff') format('woff'),url('../webfonts/39E093_7_0.ttf') format('truetype');}
 

@font-face {font-family: 'RockwellStd';font-display: block;src: url('../webfonts/39E094_0_0.eot');src: url('../webfonts/39E094_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E094_0_0.woff2') format('woff2'),url('../webfonts/39E094_0_0.woff') format('woff'),url('../webfonts/39E094_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'GillSansMTStd-Light';font-display: block;src: url('../webfonts/39E094_1_0.eot');src: url('../webfonts/39E094_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E094_1_0.woff2') format('woff2'),url('../webfonts/39E094_1_0.woff') format('woff'),url('../webfonts/39E094_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'GaramondMTStd-Italic';font-display: block;src: url('../webfonts/39E094_2_0.eot');src: url('../webfonts/39E094_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/39E094_2_0.woff2') format('woff2'),url('../webfonts/39E094_2_0.woff') format('woff'),url('../webfonts/39E094_2_0.ttf') format('truetype');}
 
@font-face {font-family: 'Gill-Sans-MT-Medium';font-display: block;src: url('../webfonts/Gill-Sans-MT-Medium.woff') format('woff');}

@font-face {font-family: 'Adobe-Garamond-Pro-Italic';src: url('../webfonts/AdobeGaramondProItalic.ttf') format('truetype');}
 
//font family
$font-museo-std: "MuseoSlab-500", "Courier New", monospace;
$font-museo-light: "MuseoSlab-300", "Courier New", monospace;
$font-gill-std: "GillSansMTStd-Light", Arial, sans-serif;
$font-gill-std-medium: "Gill-Sans-MT-Medium", Arial, sans-serif;
$font-gills-light: "GillSansMTStd-Light", Arial, sans-serif;
$font-family-adobe: "GaramondMTPro-Italic", Times, serif;
$font-adobe: "GaramondMTPro-Italic", Times, serif;
$Adobe-Gramond-Pro-Italic: 'Adobe-Garamond-Pro-Italic';

//font size
$font-size-title-heading1: rem(60);
$font-size-title1: rem(56);
$font-size-title2: rem(52);
$font-size-title3: rem(48);
$font-size-title4: rem(44);
$font-size-title5: rem(40);
$font-size-title6: rem(36);
$font-size-main-heading1: rem(30);
$font-size-main-heading2: rem(28);
$font-size-main-heading3: rem(26);
$font-size-main-heading4: rem(24);
$font-size-main-heading5: rem(22);
$font-size-main-heading6: rem(20);
$font-size-heading1: rem(18);
$font-size-heading2: rem(16);
$font-size-heading3: rem(15);
$font-size-text-heading1: rem(14);
$font-size-text-heading2: rem(13);
$font-size-text1: rem(12);
$font-size-text2: rem(11);
$font-size-text3: rem(10);
$font-size-text4: rem(9);

//font weight
$font-semi-bold: 500;
$font-light: 300;
$font-semi-bolder: 600;

//color
$black: #000;
$black1: #111;
$black2: #2e2e2e;
$black3: #333;
$black-opacity-5: rgba(0, 0, 0, 0.5);
$black-opacity-8: rgba(0, 0, 0, 0.8);
$black-opacity-6: rgba(0, 0, 0, 0.6);
$white: #fff;
$white-smoke: #f0f0f0;
$white-smoke-light: #f7f7f7;
$grey: #868686;
$grey49: #7d7d7d;
$pink-grey: #ead7d5;
$pink-grey1: #FFF3F1;
$pink-hot: #e9a9c6;
$pink-grey-light: #E9D7D5;
$dim-grey: #666;
$grey1: #575555;
$grey2: #FAFAFA;
$grey3: rgba(134,134,134,0.1);
$grey4: #757575;
$grey5: #3C3C3C;
$grey6: #BDBDBD;
$grey8: #7B7B7B;
$dark-grey1: #999;
$dark-grey2: #bbbdbf;
$dark-grey3: #615f5f;
$extra-dark-grey: #060506;
$extra-light-grey: #ccc;
$alice-dark: #f9f9f9;
$gray10: #ddd;
$aqua-blue: #00a1e0;
$cod-gray: #121212;
$gray92: #EBEBEB;
$sinbad: #9CD1C8;
$light-black: #191919;

$white-gray: #f7f8f9 !default;
$light-green: #53c563 !default;
$light-gray2: #929292 !default;
$light-gray4: #e8e8e8 !default;
$light-gray5: #5c5c5c !default;
$light-grey-3: rgba(200,200,200,0.5);
$light-grey-4: rgba(255,255,255,0.2);


$transparent-gray: rgba(0, 0, 0, 0.8) !default;

//box shadows
$form-box-shadow: 0 rem(2) rem(2) 0 rgba(0, 0, 0, 0.24);

$large-screen-width-1440: 1440px;

@mixin custom-media-query-1440($large-screen-width-1440) {
    @media (min-width:#{$large-screen-width-1440}) {
        @content;
    }
}
