@charset "UTF-8";

@import "~movado/global";
@import "variables";
@import "text/includes";
@import "components/header";
@import "components/footer";
@import "miniCart";
@import "staticContent";
@import "components/productWhyBuyMe";
@import "bootstrapOverrides";
@import "components/headerSearch";
@import "checkout/checkout";
@import "cart";
@import "components/_backInStockNotification";