@import 'variables';
@import '~movado/login';

.login-form-nav {

    .hidden-xs-down {
        font-family: $font-gill-std-medium;
    }

    .privacy-policy {
        font-family: $font-gill-std-medium;
    }

    .form-group {

        .form-control-field-label {
            font-family: $font-gill-std-medium;
        }
    }
}

.login-page {

    input[placeholder],label {
        font-family: $font-gill-std-medium;
    }
}

.track-order-header-description {
    
    & a {
        font-family: $font-gill-std-medium;
    }
}

.checkout-content {

	.card.payment-form {

		.payment-information {

			.payment-options {

				.nav-item {

					.credit-card-label {
                        font-family: $font-gill-std-medium;
					}
				}
			}
		}
	}
}

.container {
    &.login-page {

        .card-body {

            .login-form-nav {

                .form-group {

                    .form-control-field-label {
                        font-family: $font-gill-std-medium;
                    }
                }
            }
        }
    }
}
