@import 'variables';
@import '~movado/login';

.login-form-nav {

    .hidden-xs-down {
        font-family: $font-gill-std-medium;
    }

    .privacy-policy {
        font-family: $font-gill-std-medium;
    }

    .reset-password-form {

        .btn-primary {

            background-color: $dark-cyan;
            border: rem(1) solid $dark-cyan;
            
            &:hover {
                background-color: $white;
                color: $black;
                border: rem(1) solid $black;
            }

            &:active {
                color: $white !important;
                background-color: $dark-cyan !important;
                border: rem(1) solid $dark-cyan !important;
            }
        }
    }
}

.login-page {

    input[placeholder],label {
        font-family: $font-gill-std-medium;
    }

    .card {

        .card-body {

            .login {

                .btn-primary {
                    background-color: $dark-cyan;
                    border: rem(1) solid $dark-cyan;
    
                    &:hover {
                        background-color: $white;
                        color: $black;
                        border: rem(1) solid $black;
                    }
                }
            }

            .registration {

                .btn-primary {
                    background-color: $dark-cyan;
                    border: rem(1) solid $dark-cyan;
    
                    &:hover {
                        background-color: $white;
                        color: $black;
                        border: rem(1) solid $black;
                    }
                }
            }
        }
        .trackorder {

            .card-body {

                .btn-primary {
                    background-color: $dark-cyan;
                    border: rem(1) solid $dark-cyan;
    
                    &:hover {
                        background-color: $white;
                        color: $black;
                        border: rem(1) solid $black;
                    }
                }
            }
        }
    }
}

.track-order-header-description {
    
    & a {
        font-family: $font-gill-std-medium;
    }
}