.back-in-stock-notification {

    &-container {

        @include media-breakpoint-down(sm) {
            margin-right: rem(7);
            margin-left: rem(13);
        }
    }

    &-marketing-container {
        position: relative;
        
        .checkmark { 
            left: 0;
        }
    }

    &-listrack-container {
        margin-bottom: rem(0);
    }
    
    &-email-notification-copy {
        font-family: $font-primary;
        text-transform: uppercase;
    }

    &-confirmation-copy {
        font-family: $font-primary;
    }
}