#mainContent {

  .product-breadcrumb {
      background: $white-gray;
      display: flex;
      justify-content: space-between;
      padding: rem(9) rem(16) rem(8);
      margin: 0;
      .row {

          > div {
              flex-basis: auto;
          }
      }

      @include media-breakpoint-down(sm) {
          background: none;
          padding: rem(10);

          .row {
              border-top: none;
          }
      }

      .breadcrumb-item {
          padding-left: rem(5);
          + .breadcrumb-item {
              &::before {
                  @include media-breakpoint-down(sm) {
                      padding-right: rem(5);
                  }
              }
          }
      }
      
      .social-container {
          display: flex;
          align-items: center;

          > span {
              font-family: $font-book;
              color: $black;
              font-size: rem(11);
              text-transform: uppercase;
          }

          .social-icons {
              display: flex;
          }

          a {
              font-size: rem(16);
              margin: 0;
              padding-left: rem(25);

              &:hover {
                  color: $dark-red;
                  text-decoration: none;
              }
          }
      }

      .breadcrumb {
          padding: 0;
          margin: 0;

          @include media-breakpoint-down(sm) {
              opacity: 0.69;
              padding : rem(0);
          }

          &-item {
              a {
                  font-family: $font-book;
                  font-size: rem(11);
                  letter-spacing: 1.5;
                  text-transform: uppercase;
                  @include media-breakpoint-down(sm) {
                      font-size: rem(10);
                      letter-spacing: 0;
                      color: $light-black;
                      font-weight: 300;
                      line-height: rem(20);
                      text-transform: capitalize;
                      font-family: $font-book;
                  }
              }

              &:last-child {

                  a {
                      font-family: $font-bold;
                  }
                  @include media-breakpoint-down(sm) {
                      a {
                          font-family: $font-book;
                      }
                  }
              }
          }
      }
  }

}