.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  border: rem(2) solid $black;
  transition: .3s ease-in;
  min-width: rem(200);
  padding: rem(14) rem(20);
  font-size: rem(14);
  letter-spacing: rem(1.87);
  line-height: rem(18);
  text-align: center;
  text-transform: uppercase;
  font-family: $font-bold;
  font-weight: 600;
}

.button__primary {
  color: $white;
  background-color: $black;
}

.button__primary.hover,
.button__primary:focus,
.button__primary:hover {
  color: $black;
  background-color: $white;
}

.button__primary.disabled {
  background-color: $light-gray2;
  border-color: $light-gray2;
  pointer-events: none;
  padding: rem(20);
  border-width: rem(1);
}

.button__primary--white {
  color: $black;
  border-color: $white;
  background-color: $white;
}

.button__primary--white.hover,
.button__primary--white:focus,
.button__primary--white:hover {
  color: $white;
  border-color: $white;
  background-color: $black;
}

.button__primary--mobile {
  min-width: rem(140);
  font-size: rem(9);
  line-height: rem(10);
  padding: rem(9);
}

.button__primary--mobile.hover,
.button__primary--mobile:focus,
.button__primary--mobile:hover {
  color: $white;
  border-color: $black;
  background-color: $black
}

.button__outline {
  color: $black;
  font-size: rem(12);
  letter-spacing: rem(1.6);
  line-height: rem(18);
}

.button__outline.hover,
.button__outline:focus,
.button__outline:hover {
  color: $white;
  background-color: $black;
}

.button__outline.disabled {
  color: $light-gray2;
  border-color: $light-gray2;
  pointer-events: none;
  padding: rem(20);
  border-width: rem(1);
}

.button__outline--white {
  color: $white;
  border-color: $white;
}

.button__outline--white.hover,
.button__outline--white:focus,
.button__outline--white:hover {
  background-color: $white;
  color: $black
}

.button__cart {
  color: $white;
  font-size: rem(12);
  letter-spacing: rem(1.6);
  line-height: rem(18);
  border-color: $light-green;
  background-color: $light-green;
}

.button__cart.hover,
.button__cart:focus,
.button__cart:hover {
  border-color: $black;
  background-color: $black
}

.button__cart.disabled {
  background-color: $light-gray2;
  border-color: $light-gray2;
  pointer-events: none;
  padding: rem(20);
  border-width: rem(1);
}

.button__red {
  color: $white;
  background-color: $black
}

.button__red.hover,
.button__red:focus,
.button__red:hover {
  border-color: $dark-red;
  background-color: $dark-red;
  color: $white
}

.button__full-width {
  padding: 1rem 1.75rem;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  min-width: auto
}

.button.button--primary-alt,
.button.button--secondary-alt {
  background-color: transparent;
  transition: all .3s ease-in-out
}

.button.button--black-alt {
  background-color: transparent
}

.button.button--black-skeleton {
  padding: 0 rem(12);
  line-height: rem(30);
  text-align: center;
  border: rem(1) solid $black;
  color: $black;
  transition: all .25s ease-in-out;
  font-size: rem(12);
}

.button.button--black-skeleton:hover {
  background: $black;
  color: $white
}

.button.button--reset,
.button.button--text {
  border: 0 none;
  background: none;
  padding: 0;
  user-select: text;
}

a.button {
  cursor: pointer;
}

.button--content {
  width: 100%
}

.button--inline {
  display: inline-flex
}

.insider-card-button {
  letter-spacing: rem(1.5);
  width: 90%;
  min-width: auto;
  max-width: rem(200);
}

button {
  cursor: pointer
}