.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  border: 2px solid #000;
  transition: .3s ease-in;
  min-width: 200px;
  padding: 14px 20px;
  font-size: 14px;
  letter-spacing: 1.87px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: Futura-pt, arial, sans-serif;
  font-weight: 600
}

.button__primary {
  color: #fff;
  background-color: #000
}

.button__primary.hover,
.button__primary:focus,
.button__primary:hover {
  color: #000;
  background-color: #fff
}

.button__primary.disabled {
  background-color: #929292;
  border-color: #929292;
  pointer-events: none;
  padding: 20px;
  border-width: 1px
}

.button__primary--white {
  color: #000;
  border-color: #fff;
  background-color: #fff
}

.button__primary--white.hover,
.button__primary--white:focus,
.button__primary--white:hover {
  color: #fff;
  border-color: #fff;
  background-color: #000
}

.button__primary--mobile {
  min-width: 140px;
  font-size: 9px;
  line-height: 10px;
  padding: 9px
}

.button__primary--mobile.hover,
.button__primary--mobile:focus,
.button__primary--mobile:hover {
  color: #fff;
  border-color: #000;
  background-color: #000
}

.button__outline {
  color: #000;
  font-size: 12px;
  letter-spacing: 1.6px;
  line-height: 18px
}

.button__outline.hover,
.button__outline:focus,
.button__outline:hover {
  color: #fff;
  background-color: #000
}

.button__outline.disabled {
  color: #929292;
  border-color: #929292;
  pointer-events: none;
  padding: 20px;
  border-width: 1px
}

.button__outline--white {
  color: #fff;
  border-color: #fff
}

.button__outline--white.hover,
.button__outline--white:focus,
.button__outline--white:hover {
  background-color: #fff;
  color: #000
}

.button__cart {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.6px;
  line-height: 18px;
  border-color: #53c563;
  background-color: #53c563
}

.button__cart.hover,
.button__cart:focus,
.button__cart:hover {
  border-color: #000;
  background-color: #000
}

.button__cart.disabled {
  background-color: #929292;
  border-color: #929292;
  pointer-events: none;
  padding: 20px;
  border-width: 1px
}

.button__red {
  color: #fff;
  background-color: #000
}

.button__red.hover,
.button__red:focus,
.button__red:hover {
  border-color: #a40000;
  background-color: #a40000;
  color: #fff
}

.button__full-width {
  padding: 1rem 1.75rem;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  min-width: auto
}

.button.button--primary-alt,
.button.button--secondary-alt {
  background-color: transparent;
  transition: all .3s ease-in-out
}

.button.button--black-alt {
  background-color: transparent
}

.button.button--black-skeleton {
  padding: 0 12px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #000;
  color: #000;
  transition: all .25s ease-in-out;
  font-size: 12px
}

.button.button--black-skeleton:hover {
  background: #000;
  color: #fff
}

.button.button--reset,
.button.button--text {
  border: 0 none;
  background: none;
  padding: 0;
  user-select: text
}

a.button {
  cursor: pointer
}

.button--content {
  width: 100%
}

.button--inline {
  display: -ms-inline-flexbox;
  display: inline-flex
}

.insider-card-button {
  letter-spacing: 1.5px;
  width: 90%!important;
  min-width: auto!important;
  max-width: 200px
}

button {
  cursor: pointer
}