.clp-banner {
    position: relative;

    .shop-all-hero-image {
        width: 100%;

        &--mobile {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        &--desktop {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    .shop-all-hero-scroll-trigger {
        display: none;

        @include media-breakpoint-up(lg) {
            bottom: 0;
            display: block;
            left: 50%;
            padding: rem(15);
            position: absolute;
            text-align: center;
            transform: translateX(-50%);
        }

        .js-smooth-scroll {
            text-decoration: none;
            display: inline-block;

            p {
                font-size: rem(14);
                margin: 0;
                color: $white;
                text-transform: uppercase;
                font-family: $font-book;
            }

            svg {
                width: rem(10);
            }
        }
    }
}

.shop-all-mini-nav {

    &-slider {
        display: flex;
        flex-wrap: nowrap;
        padding: rem(15) 0 rem(20);
        overflow-x: auto;
        justify-content: flex-start;

        @include media-breakpoint-up(lg) {
            justify-content: center;
            padding: rem(20) 0 rem(35);
        }
    }

    &-slide {
        max-width: rem(130);
        flex: 0 0 auto;
        margin: 0 rem(5);
        transition: all .3s ease;
        cursor: pointer;
        text-align: center;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            transform: translateY(-15px);
        }

        @include media-breakpoint-up(lg) {
            margin: 0 rem(25);
        }

        @include media-breakpoint-up(lg) {
            margin: 0 rem(50);
        }

        &-label {
            color: $black;
            font-size: rem(14);
            font-weight: 500;
            letter-spacing: 1.17;
            text-align: center;
            text-transform: uppercase;
        }
    }
}