
.content-slot-container {
    padding: rem(20) 0;
    max-width: rem(1680);
    margin: 0 rem(20);

    @include media-breakpoint-up(md-down) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: rem(25) rem(25) 0;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
        padding: rem(20) rem(60);
    }

    @include media-breakpoint-up(xl) {
        padding: rem(35) rem(60) rem(25);
    }

    .home-content {

        &-top {

            .home-content-text {

                @include media-breakpoint-up(md-down) {
                    justify-content: flex-start;
                }

                .home-content-text-wrapper {

                    @include media-breakpoint-up(lg) {
                        transform: translateY(-15px);
                    }
                }
            }
        }

        &-center {

            .home-content-text {
                @include media-breakpoint-up(md-down) {
                    justify-content: center;
                }
            }
        }

        &-bottom {

            .home-content-text {
                @include media-breakpoint-up(md-down) {
                    justify-content: flex-end;
                }
            }
        }

        &-block {
            position: relative;
            margin-bottom: rem(10);
            box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,.25), 0 0.3rem 0.5rem -0.4rem rgba(0,0,0,.4);
            width: 100%;
            min-height: 1px;

            @include media-breakpoint-up(md-down) {
                display: flex;
                height: rem(485);
                flex: 1 1 100%;
                margin-bottom: rem(30);
            }
        }

        &-block-2 {
            @include media-breakpoint-up(md-down) {
                flex: none;
                width: calc(50% - 12.5px);
            }

            @include media-breakpoint-up(lg) {
                width: calc(50% - 20px);
            }

            @include media-breakpoint-up(xl) {
                width: calc(50% - 30px);
            }

            @include media-breakpoint-up(xl-custom) {
                height: rem(600);
            }
        }

        &-block-3 {
            @include media-breakpoint-up(md-down) {
                max-width: 31%;
            }
        }

        &-block-full {
            width: 100%;
            position: relative;
            min-height: rem(320);
            height: auto;
            box-shadow: none;

            @include media-breakpoint-up(md-down) {
                max-width: 100%;
                height: 40vw;
                max-height: rem(425);
                margin: 0;
            }

            @include media-breakpoint-up(lg) {
                height: 45vw;
                max-height: rem(600);
            }

            @include media-breakpoint-up(xl-custom) {
                max-height: rem(760);
            }

            .home-content-img {

                img {
                    object-fit: cover;
                    height: rem(255);

                    @include media-breakpoint-up(sm) {
                        height: 75vw;
                    }

                    @include media-breakpoint-up(md-down) {
                        max-width: 100%;
                        height: 40vw;
                        min-height: 100%;
                        max-height: rem(425);
                    }

                    @include media-breakpoint-up(lg) {
                        height: 45vw;
                        max-height: rem(600);
                    }

                    @include media-breakpoint-up(xl-custom) {
                        object-fit: fill;
                        height: 100%;
                        max-height: inherit;
                    }
                }
            }

            .home-content-text-wrapper {
                width: 100%;
                margin: rem(0);

                @include media-breakpoint-up(md-down) {
                    max-width: none;
                    margin: rem(25);
                    padding: rem(20) rem(30) rem(25);
                    width: auto;
                }

                @include media-breakpoint-up(lg) {
                    margin: rem(50);
                }
            }

            &.block-bottom-right {
                .home-content-text {
                    @include media-breakpoint-up(md-down) {
                        justify-content: flex-end;
                        align-items: flex-end;
                    }
                }
            }

            &.block-bottom-left {
                .home-content-text {
                    @include media-breakpoint-up(md-down) {
                        justify-content: flex-end;
                        align-items: flex-start;
                    }
                }
            }

            &.block-top-right {
                .home-content-text {
                    @include media-breakpoint-up(md-down) {
                        justify-content: flex-start;
                        align-items: flex-end;
                    }
                }
            }

            &.block-top-left {
                .home-content-text {
                    @include media-breakpoint-up(md-down) {
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                }
            }

            &.block-center {
                .home-content-text {
                    @include media-breakpoint-up(md-down) {
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .home-content-text-title {

                h2 {

                    @include media-breakpoint-up(lg) {
                        font-size: rem(40);
                        line-height: rem(42);
                        letter-spacing: rem(4.2);
                    }
                }
            }

            .home-content-text-link-btn {

                .btn {
                    background-color: $black;
                    color: $white;
                    padding: rem(12) rem(8);
                    max-width: rem(200);
                    white-space: normal;
                    min-width: auto;

                    @include media-breakpoint-up(md-down) {
                        padding: rem(14) rem(20);
                        white-space: nowrap;
                        min-width: rem(200);
                        max-width: none;
                    }

                    @include media-breakpoint-down(md-down) {
                        color: $black;
                        background-color: $white;
                        border-color: $black;
                    }

                    &:hover {
                        background-color: $white;
                        color: $black;
                    }
                }
            }
        }

        &-img {
            display: block;
            width: 100%;
            height: 100%;
            z-index: -1;

            @include media-breakpoint-up(md-down) {
                position: absolute;
                left: 0;
                top: 0;
            }

            img {
                object-fit: cover;
                height: rem(275);
                width: 100%;

                @include media-breakpoint-up(md-down) {
                    height: rem(485);
                }

                @include media-breakpoint-up(xl-custom) {
                    height: 100%;
                }
            }
        }

        &-text {
            display: flex;
            position: relative;
            flex-direction: column;
            width: 100%;
            align-items: center;

            @include media-breakpoint-up(md-down) {
                justify-content: flex-end;
            }

            &-link {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 1;
            }

            &-wrapper {
                background: $white;
                box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,.25), 0 0.3rem 0.5rem -0.4rem rgba(0,0,0,.4);
                max-width: rem(295);
                width: 100%;
                padding: rem(15) rem(20) rem(25);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                z-index: 3;

                @include media-breakpoint-up(lg) {
                    transform: translateY(15px);
                }

                @include media-breakpoint-down(md-down) {
                    max-width: 100%;
                }
            }

            &-title {
                position: relative;
                margin-bottom: rem(20);

                h2 {
                    font-family: $font-book;
                    font-weight: 400;
                    font-size: rem(34);
                    line-height: rem(40);
                    letter-spacing: rem(1.92);
                    text-transform: uppercase;
                    margin: 0;

                    @include media-breakpoint-up(lg) {
                        font-size: rem(32);
                        line-height: rem(38);
                    }
                }
            }

            &-link-btn {
                position: relative;
                z-index: 3;

                a {
                    color: $black;
                    background: transparent;
                    border: rem(2) solid $black;
                    transition: .3s ease-in;
                    min-width: rem(200);
                    padding: rem(14) rem(20);
                    font-family: $font-bold;
                    font-weight: 600;
                    font-size: rem(14);

                    &:hover {
                        color: $white;
                        background: $black;
                    }

                    @include media-breakpoint-down(md) {
                        color: $white;
                        background: $black;
                        border-color: $black;

                        &:hover {
                            color: $black;
                            background: $white;
                        }
                    }
                }
            }
        }
    }
}

.home-slots {

    .product-slot-slider {

        .cs-carousel-wrapper {

            .product-slider-aside {

                .carousel-title {
                    font-size: rem(26);

                    @include media-breakpoint-up(xl) {
                        font-size: rem(36);
                    }
                }

                .prev, .next {

                    @include media-breakpoint-down(sm) {
                        display: none;
                    }

                    @include media-breakpoint-down(xs) {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .product-tile-redesign {

        .tile-body {

            .color-swatches {
                margin: 0 auto;
            }
        }

        &:hover {

            .tile-content {
                top:0;
            }
        }
    }
}

.homepage-carousel {
    padding: rem(40) 0;

    @include media-breakpoint-up(sm) {
        padding: rem(40) rem(25);
    }

    h2 {
        font-size: rem(24);
        font-family: $font-medium;
        font-weight: 500;
        line-height: rem(24);
        letter-spacing: rem(1.5);
        text-transform: uppercase;
        margin: 0;
        text-align: center;
        padding: 0 0 rem(15);

        @include media-breakpoint-up(lg) {
            font-size: rem(30);
            line-height: rem(42);
            letter-spacing: 2.5px;
            padding: 0 0 rem(40);
        }
    }

    .category-tile {

        img {
            width: 100%;
            height: rem(275);
            object-fit: contain;
        }

        h3 {
            font-size: rem(12);
            font-family: $font-medium;
            font-weight: 500;
            line-height: rem(14);
            letter-spacing: .38px;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            padding: rem(10) 0;

            @include media-breakpoint-up(md-down) {
                text-align: left;
                font-size: rem(13);
            }

            @include media-breakpoint-up(lg) {
                font-size: rem(14);
                line-height: rem(20);
                letter-spacing: rem(1.25);
            }
        }
    }

    .slick {

        &-arrow {
            border: rem(1) solid $chinese-silver;
            box-shadow: 0 2rem 5rem -2.5rem rgba(0,0,0,.25), 0 0.3rem 1rem 0 rgba(0,0,0,.3);
            cursor: pointer;
            font-size: rem(0);
            padding: rem(23) rem(25);
            position: absolute;
            top: 50%;
            z-index: 5;
            background: $white;
            transform: translateY(-50%);
            display: none !important;
            font-family: FontAwesome;

            @include media-breakpoint-up(sm) {
                display: block !important;
            }

            &:before {
                font-size: rem(10);
            }
        }

        &-prev {
            left: rem(-25);

            &:before {
                content: "\f053";
            }
        }

        &-next {
            right: rem(-25);

            &:before {
                content: "\f054";
            }
        }

        &-slide {
            margin: 0 rem(5);

            a {
                text-decoration: none;
            }
        }
    }
}

.product-slot-slider {
    max-width: rem(1680);
    margin: 0 auto;
}