.main-menu {
  height: auto;

  .nav-item {

    .nav-link {
      text-transform: capitalize;
    }

    &.show {

      .nav-link {
        position: relative;
        background: none;
      }
    }
  }

  li {

    &:hover {
      background: none;
    }
  }

  .navbar-nav {
    position: static;
  }

  nav {
    position: static;
  }

  .dropdown-menu {

    .menu-pane {

      > h3 {
        @include font-medium;
        font-size: rem(12);
        text-transform: uppercase;
        letter-spacing: .8px;
        margin-bottom: rem(15);
        line-height: 1;
        color: $black;
        white-space: nowrap;

        &::after {
          content: '';
          display: block;
          width: rem(80);
          white-space: nowrap;
          border-bottom: 1px solid $black;
          margin-top: rem(10);
        }
      }
    }
  }
}

.desktop-menu {

  .dropdown-item {

    a {
      @include font-book;
      font-size: rem(15);
      letter-spacing: normal;
    }
  }

  .html-slot-container {

    p {
      margin: 0;
    }
  }

  .dropdown-menu {
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: auto;
    min-height: rem(260);
    transform-origin: top center;
    transition: transform .2s cubic-bezier(0,0,.2,1);
    padding: 0;
    display: none;

    .dropdown-link {
      display: block;

      &:hover {

        &::after {
          width: 100%;
        }
      }
    }

    &::after {
      content: "";
      width: 100vw;
      background-color: $white;
      top: 1px;
      bottom: 0;
      z-index: -1;
      border-bottom: 1px solid $white-gray;
      box-shadow: 0 10px 15px rgba(0,0,0,.075);
      position: absolute;
      left: 50%;
      transform: scaleY(0) translateX(-50%);
      transform-origin: top center;
      transition: transform .2s cubic-bezier(0,0,.2,1);
    }
  }

  .menu-group {
    margin-left: rem(150);

    @include media-breakpoint-down(lg) {
      margin-left: rem(70);
    }

    &:hover {
      .dropdown-menu {
        z-index: 0;
        opacity: 0;
        border-top: rem(1) solid $gray94;
        margin-top: rem(-1);

        &::after {
          margin-top: rem(-1);
        }
      }

      .dropdown-menu.show {
        z-index: 99999;
        opacity: 1;
        padding-top: 0;
      }
    }
  }

  .nav-item {

    &:first-child{
      margin-left: 0;
    }

    .nav-link {
      color: $white;
      font-size: rem(12);
      @include font-medium;
      letter-spacing: normal;
      letter-spacing: rem(1.5);
      text-transform: uppercase;
      line-height: 1;
      position: relative;
    }

    &.dropdown {

      .nav-link {

        &::after {
          content: "";
          position: absolute;
          bottom: -1px;
          right: 0;
          left: 0;
          margin: 0 auto;
          opacity: 0;
          transition: opacity .3s ease 0s,transform .24s ease 0s;
          width: 75%;
          height: rem(2);
          background: $black;

          @include media-breakpoint-down(lg) {
           top: auto;
          }
        }
      }

      &:hover {

        .nav-link {

          &::after {
            transform: rotateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  .menu-content {
    display: flex;
    margin: 0 auto;
    padding: rem(40) rem(50);
    padding-bottom: rem(30);
    max-width: $container-max-width;
    padding-left: rem(100);

    .submenu {
      width: 100%;
    }

    .sub-menu-title {
      font-family: $font-medium;
      font-weight: 500;
      font-size: rem(12);
      text-transform: uppercase;
      letter-spacing: .8px;
      margin-bottom: rem(20);
      line-height: 1;
      color: $night-rider;
      white-space: nowrap;
      line-height: 1;
      display: block;
      opacity: 0.5;
    }

    .browse-collection {
      margin: 0;
      min-width: rem(330);
      flex:1;

      &:not(.no-static-content) {
        max-width: rem(380);
      }

      .third-level-menu {

        ul {
          padding: 0;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
        }

        .submenu-item {
          display: inline-block;
          margin-bottom: rem(20);
          text-align: left;
          display: inline-block;

          @include media-breakpoint-up(lg) {
            width: 50%;
          }

          a {
            align-items: center;
            display: flex;

            &:hover {
              text-decoration: underline;
            }

            .dropdown-menu-item-img-wrap {

              &.no-img {
                opacity: 0;
                width: 0;
              }

              img {
                height: rem(62);
                width: rem(62);
                margin-right: rem(15);
                display: inline-block;
                border-radius: 50%;
              }
            }

            .dropdown-menu-item-text {
              @include font-medium;
              font-size: rem(12);
              line-height: 1.4;
              letter-spacing: normal;
              text-transform: uppercase;
            }
          }
        }
      }

      &.no-static-content {
        width: 100%;

        .third-level-menu {

          .submenu-item {

            @include media-breakpoint-up(lg) {
              width: 25%;
              max-width: rem(175);
              margin-right: rem(25);
              padding: 0;
              margin-bottom: rem(25);

              &:last-child {
                margin-right: 0;
              }
            }
            @include media-breakpoint-up(xl) {
              margin-right: rem(50);
              margin-bottom: rem(50);
            }

          }
        }
      }

      + .featured-promotion {

        .header-tiles {
          > div:not(.no-margin) {
            margin-top: rem(31);
          }
        }
      }
    }

    .featured-promotion {
      flex:1;
    }
  }
}

@include media-breakpoint-up(lg) {

  .main-menu {

    .nav-item {
      box-shadow: none;

      >.dropdown-menu {
        box-shadow: 0px rem(4) rem(7) rem(-3) $grey-dark;
        padding-top: rem(25);
        justify-content: center;

        &.show{
          display: block;
        }
      }

      &.show {
        box-shadow: none;
      }
    }

    .dropdown-menu {

      .movado-header-dropdown {

          .header-tiles  {
            display: flex;
            max-width: rem(930);
            overflow-x: auto;
            overflow-y: auto;
            padding-bottom: rem(20);

            .html-content {
              margin-right: rem(40);
              min-width: rem(275);

              &:last-child {
                margin-right: 0;
              }

              a {
                position: relative;
                display: block;

                img {
                  width: 100%;
                  height: rem(300);
                }

                span {
                  position: absolute;
                  left: 0;
                  bottom: rem(-15);
                  background-color: $black;
                  color: $white;
                  font-family: $font-medium;
                  font-size: rem(14);
                  text-transform: uppercase;
                  padding: rem(10) rem(20);
                  letter-spacing: rem(1.5);
                }

                p {
                  position: relative;
                  text-align: left;
                  bottom: rem(-20);
                }
              }
            }
          }
      }

      .dropdown-item {
        margin-bottom: rem(18);
        position: relative;
        line-height: 1.4;
        overflow: initial;
        display: block;
        background: transparent;
        white-space: nowrap;
        width: auto;

        .dropdown-link {
          @include font-medium;
          font-size: rem(12);
          transition: transform .24s ease 0s;
          display: inline-block;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: rem(-4);
            right: 0;
            left: 0;
            margin: 0 auto;
            opacity: 0;
            transition: opacity .3s ease 0s,transform .24s ease 0s;
            width: 100%;
            height: rem(1);
            background: $black;
          }

          &:hover {

            &::before {
              opacity: 1;
            }
          }
        }

        &.active {

          .dropdown-link {

            &::before {
              opacity: 1;
            }
          }
        }
      }
    }

    .menu-pane {
      display: block;
      margin-right: 15%;
      width: 100px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
    }
  }
}

@include media-breakpoint-down(lg) {

  .dropdown-toggle {

    &:after {
      content: '';
      background-size: 100%;
      height: rem(12);
      padding: 0;
      width: rem(6);
      border: 0;
      position: absolute;
      right: 0;
      top: rem(7);
      width: rem(3);
    }
  }
}

.tab{

  &-list {
    margin-bottom: rem(30);
    display: flex;

    button {
      font-family: $font-book;
      font-size: rem(12);
      width: rem(100);
      height: rem(25);
      display: inline-block;
      border: rem(1) solid $black;
      background: $white;
      color: $black;
      transition: ease 0.3s;
      outline: none;

      &.active, &:hover {
        background: $black;
        color: $white;
      }
    }

    li {

      &:first-child {
        button {
          border-radius: rem(5) 0  0 rem(5);
          border-right: 0;
        }
      }

      &:last-child {
        button {
          border-radius: 0 rem(5) rem(5) 0;
          border-left: 0;
        }
      }
    }
  }

  &-content {
    
    &-list {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.menu-right-aside {
  margin: 0 0 0;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex: 1;
  min-width: rem(640);
  max-width: rem(640);
  margin-right: rem(25);

  img {
    transition: opacity .25s;
    min-width: rem(300);
    max-width: rem(300);
    height: rem(350);
    object-fit: cover;
  }

  &-content {
    margin-left: rem(40);
  }

  &-header {
    font-family: $font-medium;
    text-transform: uppercase;
    max-width: rem(300);
    font-weight: 500;
    font-size: rem(30);
    line-height: 1.3;
    margin: 0 0 rem(20);
  }

  &-text {
    font-family: $font-book;
    font-weight: 400;
    font-size: rem(12);
    line-height: 1.6;
    margin-bottom: rem(25);
    letter-spacing: rem(1.5);
  }

  &-button {
    display: flex;
    height: rem(48);
    font-size: rem(14);
    line-height: 1;
    width: auto;
    padding: 0 rem(30);
    min-width: auto;
    background-color: $black;
    color: $white;

    &:hover, &:focus {
      border-color: $dark-red;
      background-color: $dark-red;
      color: $white;
    }
  }
}

.category-custom {

  &-content  {
    align-items: flex-start;
  }

  &-block {
    margin-left: rem(70);

    @include media-breakpoint-up(xl) {
      margin-left: rem(100);
    }
  }

  &-links-list {
    padding: 0;
    max-height: rem(380);
    overflow: auto;
    min-width: rem(190);

    li {
      line-height: rem(20);

      &:last-child {
        a {
          margin-bottom: rem(5);
        }
      }
    }
  }

  &-img-link {
    align-items: center;
    display: flex;
    margin-bottom: rem(20);
    
    .category-custom-link {
      margin: 0;
    }
  }

  &-link {
    @include font-medium;
    font-size: rem(12);
    transition: transform .24s ease 0s;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
    letter-spacing: 0.82px;
    margin-bottom: rem(20);
    line-height: normal;
  
    &::before {
      content: "";
      position: absolute;
      bottom: rem(-4);
      right: 0;
      left: 0;
      margin: 0 auto;
      opacity: 0;
      transition: opacity .3s ease 0s,transform .24s ease 0s;
      width: 100%;
      height: rem(1);
      background: $black;
    }

    &:hover {

      &::before {
        opacity: 1;
      }
    }
  }

  &-img {

    &-link {
      
      &:hover {

        .category-custom-link {

          &::before {
            opacity: 1;
          }
        }
      }
    }

    &-wrap {

      &.no-img {
        opacity: 0;
        width: 0;
      }
  
      img {
        height: rem(52);
        width: rem(52);
        margin-right: rem(25);
        display: inline-block;
        border-radius: 50%;
        min-width: auto;
      }
    }
  }
}

.main-menu.menu-toggleable-left {

  &.right {
    transition: right 0.5s cubic-bezier(0, 1, 0.5, 1);
    right: rem(-340);
    left: auto;
    background-color: $light-gray11;
  
    .dropdown-menu {
      left: auto;
      overflow-x: hidden;
      right: rem(-355);
      transition: right 0.5s cubic-bezier(0, 1, 0.5, 1);
    }
  
    &.in {
      right: 0;
      margin: 0;
      .show {
        > .dropdown-menu{
          right: 0;
        }
      }
    }
  }

  &.in {
 
    .dropdown-menu {

      @include media-breakpoint-down(lg) {
        height: 100%;
        overflow-y: hidden;
        z-index: 999999;
      }
    }
  }
}