@import "~movado/components/progressMeter";
.mini-cart-data {
    
    .progress-meter-container {
        margin-top: 0;
      
        .got-free-shipping {
            margin-bottom: rem(0);

            &.free-shipping-text {
                background: $light-blue1;
                padding: rem(15) rem(40);
                height: rem(43);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: rem(10);

                img {
                    width: rem(26);
                    height: rem(13);
                }
            }

            p {
                color: $white;
                font-size: rem(12);
                font-weight: 400;
                line-height: rem(14.4);
            }

            &.free-order-text {
                background: $light-blue1;
                padding: rem(7) rem(40);
                height: rem(43);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: rem(10);
                
                p {
                    color: $white;
                    font-size: rem(12);
                    font-weight: 400;
                    line-height: rem(14.4);
                }
            }
         }

         .progress-meter {
            width: 100%;

            &.progress-meter-order-text {
                background: $light-blue4;
                padding: rem(15) rem(40);
                height: rem(60);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: rem(10);
                margin-top: 0;  
            }
            &-box {

                &-bar {
                    height: rem(8);
                }
            }

            &.progress-meter-text {
                background: $light-blue4;
                padding: rem(15) rem(40);
                height: rem(60);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: rem(10);
                margin-top: 0;        
            }
         }
    }
    
    .popover {

        .product-summary {
            
            &:has(.progress-meter, .got-free-shipping ) {
                padding-top: rem(0);
            }
        }
    }
    
}
.progress-meter-container {
    margin-top: rem(20);

    .progress-meter {
        margin-bottom: 0;

        &-free-shipping {
            color: $dark-gray2;
            font-size: rem(12);
            line-height: rem(14);
            margin-bottom: rem(8);
        }

        &-box {
            border-radius: rem(4);
            background-color: $transparent-gray-4;

            &-bar {
                border-radius: rem(4);

                &.bar-green {
                    background-color: $light-blue1;
                }

                &.bar-grey {
                    background-color: $light-blue1;
                }
            }
        }
    }
}