.product-slot-slider {

    @include media-breakpoint-down(md-down) {
        padding: 0;
    }

    @include media-breakpoint-up(sm) {
        padding: rem(25) rem(25) 0;
    }

    @include media-breakpoint-up(lg) {
        padding: rem(25) rem(60);
    }

    @include media-breakpoint-up(xl) {
        padding: rem(35) rem(60) rem(25);
    }

    .cs-carousel-wrapper {
        position: relative;

        .product-slider-aside {
            width: 100%;
            padding: rem(20) 0;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0%;
            flex-direction: column;
            border: none;

            @include media-breakpoint-up(lg) {
                width: 100%;
            }

            .carousel-title {
                margin: 0;
                letter-spacing: 0.125rem;
                font-size: rem(30);
                color: $mardi-gras;
                font-family: $font-book;
                font-weight: 300;
                text-transform: uppercase;
                line-height: rem(42);


                @include media-breakpoint-up(sm) {
                    font-size: rem(25);
                    font-weight: 300;
                    line-height: 1.625rem;
                    margin-bottom: 1.25rem;
                }

                @include media-breakpoint-up(md) {
                    font-size: rem(32);
                    font-weight: 300;
                    line-height: rem(45);
                }
            }

            > ul {

                margin: 0;
                padding: 0;
                text-align: center;

                @include media-breakpoint-up(md-down) {
                    margin-top: rem(40);
                }
            }
        }

        .js-carousel, .cs-carousel {
            margin: 0;
            padding: 0;
        }

        .slick {

            &-arrow {
                position: absolute;
                cursor: pointer;
                display: inline;
                font-size: rem(10);
                padding: rem(10) rem(10);
                background: $white;
                z-index: 1;
                width: auto;
                height: auto;

                &:hover {
                    background: $white;
                }

                @include media-breakpoint-down(sm) {
                    top: 44%;
                    transform: translateY(-50%);
                }
                @include media-breakpoint-up(sm) {
                    top: 43%;
                }
                @include media-breakpoint-up(md-down) {
                    position: absolute;
                    z-index: 7;
                    top: 38%;
                }
                @include media-breakpoint-up(md) {
                    top: 40%;
                }
                @include media-breakpoint-up(lg) {
                    top: 48%;
                }

                &.prev {
                    left: 0;

                    @include media-breakpoint-up(md-down) {
                        margin-right: rem(10);
                    }
                }

                &.next {
                    right: 0;

                    @include media-breakpoint-up(md-down) {
                        margin-left: rem(10);
                    }
                }
            }

            &-slide {
                margin: 0;

                .tile-img {
                    max-width: rem(280);
                    margin: 0 auto;
                }
            }

            &-list {
                margin: 0;

                @include media-breakpoint-up(sm) {
                    margin-top: rem(-25);
                }

                @include media-breakpoint-up(md-down) {
                    padding-top: rem(25) !important;
                }
            }
        }
    }

    .product-tile-redesign {
        min-height: auto;

        .tile-body {
            padding-top: 0;
        }
    }
}

.prices-add-to-cart-actions {
    z-index: 2;
}