.plp-filter-redesign {

    .plp-filter {

        &-bar {
            border-top: none;
            border-bottom: none;
            background: $white;
            padding-top: rem(30);


            &-inner {
                justify-content: flex-start;
                flex-wrap: nowrap;
            }
        }

        &-list {
            box-sizing: border-box;
            height: rem(41);
            margin-left: rem(20);

            .filter-group {
                padding-left: rem(20);
                top: rem(41);
                background-color: $white;

                @include media-breakpoint-up(md) {
                    width: 100%;
                }


                &-outer {
                    display: block;

                    @include media-breakpoint-up(md) {
                        max-width: 100%;
                    }

                    >.refinement-name {
                        position: relative;
                        text-transform: uppercase;
                        font-size: rem(16);
                        font-weight: 500;
                        letter-spacing: rem(2);
                        line-height: rem(20);
                    }
                }
            }
        }


        &-btn {
            border: none;
            background: $white;
            line-height: normal;
            height: 100%;
            padding-left: rem(20.5);
            padding-right: rem(34.5);
            text-transform: none;
            border: rem(1) solid $black;
            border-radius: rem(3);
            position: relative;

            &:hover {
                outline: none;
                background: $black;
                background-color: $black;
                color: $white;
                
                .arrow-down  {
                    border-color: $white;
                }
            }

            .arrow-down {
                border: solid $black;
                border-width: 0 rem(1.5) rem(1.5) 0;
                display: inline-block;
                padding: rem(3);
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                position: absolute;
                height: rem(3.84);
                width: rem(6.52);
                top: rem(13);
                right: rem(20.5);
            }

            &.active {
                background: $black;
                background-color: $black;
                color: $white;

                .arrow-down  {
                    border: solid $white;
                    border-width: 0 rem(1.5) rem(1.5) 0;
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                    top: rem(16.84);

                }

            }

        }

        &-lists {

            .sort-dropdown {

                right: rem(20);

                &-menu {
                    width: rem(192);
                    left: auto;
                    top: rem(39);
                }

                &-toggle {
                    right: rem(1);
                    border: rem(1) solid $black;
                    border-radius: rem(3);
                    height: rem(40);
                    width: rem(190);

                    &:after {
                        display: none;
                    }
        
                    &:hover {
                        outline: none;
                        background-color: $light-gray4;
                    }

                    .sort-by-text {
                        height: rem(20);
                        width: rem(34);
                        opacity: 0.7;
                        color: $black;
                        font-size: rem(10);
                        font-weight: 300;
                        letter-spacing: rem(0.83);
                        line-height: rem(20);
                        position: absolute;

                      }
        
                    .arrow-down {
                        border: solid $black;
                        border-width: 0 rem(1.5) rem(1.5) 0;
                        display: inline-block;
                        padding: rem(3);
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        position: absolute;
                        height: rem(3.84);
                        width: rem(6.52);
                        top: rem(13);
                        right: rem(20.5);
                    }

                    .selected-value {
                        height: rem(20);
                        width: rem(75);
                        color: $black;
                        font-size: rem(14);
                        font-weight: 300;
                        letter-spacing: rem(1.17);
                        line-height: rem(20);
                    }
                    
                    &.active {
        
                        .arrow-down  {
                            transform: rotate(-135deg);
                            -webkit-transform: rotate(-135deg);
                            top: rem(16.84);
                        }
        
                    }
                }

                &-item {
                    box-sizing: border-box;
                    height: rem(41);
                    border: rem(1) solid $black;
                    width: rem(190);
                    border-top: 0;

                    &:first-child {
                        border-top: rem(1) solid $black;
                    }

                    &:hover {
                        background-color: $light-gray4;
                    }
                }

            }
        }

    }

}