.welcomeMat {
    
    .movado-welcome-mat {

        .eswModalWrapper {

            .eswModal {

                .selector-container {

                    p {
                        font-family: $font-brandon-grotesque;
    
                    }
                }

                h3 {
                    font-family: $font-brandon-grotesque;
                }

                .esw-btn {

                    &:hover {
                        background-color: $dark-blue-btn;
                        border-color: $dark-blue-btn;
                        color: $white;
                    }
                }
            }
        }
    }
}