@import "../variables";
@import "../mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../utilities/shapes";
@import "../utilities/responsiveUtils";
@import "../utilities/swatch";
@import "./recommendation";
@import "../components/_backInStockNotification";

.product-detail .swatch-circle {
    // $white will be replaced by color image background in ISML
    @include swatch(2.5em, $white);
}

.product-detail [disabled] .swatch-circle,
.product-detail .swatch-circle.unselectable {
    cursor: not-allowed;

    &.color-value.selected::after {
        background-color: $gray-700;
    }
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.description-and-detail {
    margin: 2rem 0;
    .title {
        font-family: $font-medium;
        font-size: rem(20);
        font-weight: 500;
        letter-spacing: rem(2);
        line-height: rem(20);
    }
    @include media-breakpoint-only(xs) {
        margin-top: 0;
        > div:last-child {
            margin-bottom: 1em;
        }
    }
}

.product-detail .description {

    margin-bottom: rem(30);
    width: 100%;

    @include media-breakpoint-up(sm) {
        margin-bottom: 2rem;
    }
}

.social-icons {
    font-size: 1.875em;

    @include media-breakpoint-down(md) {
        font-size: 1.5625em;
    }
}

label.availability {
    padding-right: 0.3125em;
}

.ratings {
    width: rem(212);
    height: rem(20);
    
    @include media-breakpoint-up(sm) {
        margin-top: 0.625em;
        width: rem(212);
        height: rem(20);
    }

    @include media-breakpoint-only(xs) {
        background-color: $white;
        margin-top: -1.875em; /* 30/16 */
        margin-right: -0.9375em; /* 15/16 */
        padding: 0.1875em; /* 3/16 */
    }
}

.promotions {
    font-weight: normal;
    text-align: center;
    color: $danger;
    width: 100%;

    .callout {
        font-size: rem(16);
        padding-top: rem(23);
        text-align: left;
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
        a{
          color: $danger;
          text-decoration: underline;
        }
    }
}

.product-breadcrumb {

    .row {
        @include media-breakpoint-down(sm) {
            border-top: 1px solid $grey3;
        }
    }

    .breadcrumb {
        border-bottom: none;
        margin: 0;
        @include media-breakpoint-up(md) {
            padding: 0 0 rem(14) 0;
        }
    }
}

.product-options {

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.product-detail {
    .carousel-indicators {
        position: static;
    }
}

@include media-breakpoint-up(md) {
	.description-and-detail {
		.title {
			font-size: rem(26);
			line-height: rem(26);
			font-weight: 300;
		}
    }
}

@include media-breakpoint-down(xs) {
    .klarna-promo-parent-container {
        margin: auto;
    }
}

@include media-breakpoint-up(lg) {
	.description-and-detail {
		.title {
			font-size: rem(32);
			line-height: rem(38);
		}
	}
}

@include media-breakpoint-up(sm) {
	.klarna-promo-parent-container {
    .klarna-placement {
      max-width: 351px !important;
    }
  }
}

.klarna-promo-parent-container {
    margin-bottom: 5px;
}

.smartgift-btn {
    background: url(../../images/sg-gift-box.svg) left rem(15) top rem(6) no-repeat;
    background-size: 19px;
    padding-left: rem(42);
    letter-spacing: normal;
    font-weight: 600;
    padding-right: rem(15);
    outline: none;
    border-radius: 0px;
    &:hover, &:focus {
        color: inherit;
        background-color: transparent;
        border-color: inherit;
        box-shadow: none;
        box-radius: none;
    }
}

.dw-apple-pay-button.apple-pay-pdp,
.dw-apple-pay-button.apple-pay-pdp:hover {
    min-width: 30%;
    @include media-breakpoint-down(lg) {
        min-width: 100%;
        font-size: rem(16);
        margin-top: rem(5);
        margin-left: rem(0);
    }
    &:after {
        font-size: rem(6);
    }
}

.cta-add-to-cart {
    @include media-breakpoint-down(lg) {
        min-width: 100%;
    }
}
.add-to-cart {
    @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: rem(5); 
    }
}

.smartgift-medium-scr {
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
    @include media-breakpoint-down(xs) {
        width: auto;
    }
}

.dw-apple-pay-button.apple-pay-pdp,
.dw-apple-pay-button.apple-pay-pdp:hover {
    @include media-breakpoint-down(sm) {
        min-width: 100%;
    }
}

.smartgift-btn {
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.add-to-cart {
    border-radius: 0px;
}

.product-not-available-msg {
    color: $red;

    @include media-breakpoint-down(xs) {
        font-size: rem(14);
        padding-bottom: rem(6);
    }
}

.smartgift-bottom-text {
    letter-spacing: rem(0);
}

.product-detail, .description-and-detail {

    .btn.quickview, .btn.title {
        background-color: transparent;
    }
}

.affirm-as-low-as {
    width: 100%;
    height: rem(45);
}

.cta-add-to-cart {

    .add-to-cart {
        width: rem(151);
        height: rem(38.4);
        margin-right: rem(8);
    }

    @include media-breakpoint-down(lg) {
        .add-to-cart {
            width: 100%;
            height: rem(38.4);
        }
    }
}
.slick-slider{
    touch-action: auto!important;
}

.gift-box-wrapper-pdp {
    display: flex;
    align-items: center;
    margin-bottom: rem(8);

    .gift-box-wrapper-label {
        margin-left: rem(8);
        margin-bottom: 0;
    }
}