.account {
  &-pages {
    div.card {
      &-body {
        dt {
          font-family: $font-gills-light;
          font-weight: 300;
        }
      }

      &-header {
        h4,
        h3 {
          font-family: $font-gill-std;
        }
      }
    }
  }
}
