.cart-section-wrapper {
  .fa-angle-down {
    background: url(../images/icons/arrow_down.png) center no-repeat;
    height: rem(15);
    width: rem(15);
    background-size: contain;

    &::before {
      content: '';
    }
  }
  
  .cart {
    &-empty {
      .empty {
        &-cart {
          &-header {
            font-family: $font-gill-std;
            font-weight: $font-semi-bolder;
          }
        }
      }
    }
  }

  select.custom-select + i {
    top: rem(11.2);
  }

  select.custom-select {
    padding-right: rem(45);
  }

  .cart-header-wrapper {
    .cart-header {
      font-family: $font-adobe;
      font-size: $font-size-title6;
      font-style: normal;
      letter-spacing: rem(1.8);
      text-transform: capitalize;
    }
  }

  .estimate-price-wrapper {
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);

    .estimated-total {
      color: $black-opacity-6;
    }

    p {
      color: $black;

      a {
        font-family: $font-museo-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.9);
        font-weight: $font-light;
      }
    }
  }

  .product-card-wrapper {
    .product-gift-wrap {
      label.custom-control-label {
        color: $black-opacity-8;
        font-family: $font-gills-light;
        font-size: $font-size-text-heading2;
        letter-spacing: rem(1.3);
      }

      &::after {
        border: rem(1) solid $dark-grey2;
        background-color: $white;
      }

      .gift-text {
        color: $dark-grey1;
        font-family: $font-gills-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.4);
        border: rem(1) solid $black-opacity-6;
      }

      .character-limit {
        color: $black-opacity-5;
        font-family: $font-gills-light;
        font-size: $font-size-text1;
        letter-spacing: rem(0.4);
      }
    }
  }

  .totals {
    label {
      color: $black-opacity-8;
      font-family: $font-gills-light;
      font-size: $font-size-text-heading2;
      letter-spacing: rem(1.3);
      font-weight: normal;
    }

    .shippingMethods + i {
      top: rem(35);
    }

    .shippingMethods {
      font-family: $font-gills-light;
      font-size: $font-size-heading2;
      letter-spacing: rem(0.4);
    }

    .price-label,
    .cost {
      font-family: $font-gills-light;
      font-size: $font-size-heading2;
      letter-spacing: rem(0.4);
      font-weight: normal;
    }

    p.grand-total-label,
    p.grand-total {
      font-family: $font-gill-std;
      font-size: $font-size-heading1;
      font-weight: $font-semi-bolder;
    }
  }

  .more-ways-text {
    color: $black;
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);
    font-weight: normal;
  }

  .promo-code-btn {
    border: rem(1) solid $black;
    background-color: $white;
    letter-spacing: rem(1);
  }

  .coupon-code-field {
    font-family: $font-gills-light;
    font-size: $font-size-heading3;
    letter-spacing: rem(1.6);
    color: $dark-grey3;
  }

  .promo-code-btn,
  .coupon-code-field {
    height: rem(36);
  }
}

.product-card-wrapper {
  color: $black;

  .line-item-name {
    font-family: $font-museo-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(2);
    font-weight: $font-light;
  }

  .item-info {
    .item-attributes {
      .model-name,
      .line-item-attributes,
      .personalize-msg,
      .personalize-price,
      .savings,
      .original-price,
      .line-item-promo,
      .total-amount {
        font-family: $font-gills-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.4);
      }

      .model-name {
        color: $dark-grey1;
      }

      .product-edit {
        a {
          font-family: $font-museo-light;
          font-size: $font-size-text-heading1;
          letter-spacing: rem(0.9);
          font-weight: $font-light;
        }
      }

      .total-amount {
        color: $black;
        font-size: $font-size-heading1;
      }
    }
  }
}

div.checkout-button-wrapper {
  .estimated-price {
    span {
      font-family: $font-gill-std;
      font-size: $font-size-heading2;
      font-weight: $font-semi-bolder;
      letter-spacing: rem(0.46);
    }
  }

  .why-buy-me {
    font-size: rem(13px);
    font-weight: 600;

    &-details {
      padding-bottom: rem(20px);
    }
  }

  .checkout-btn {
    color: $black;
    font-family: $font-museo-std;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(2);
    border: rem(1) solid $pink-hot;
    background-color: $pink-hot;
  }
}

.product-info {
  .remove-btn {
    color: $black;
  }
}

.minicart {
  h4 {
    font-family: $font-adobe;
    font-size: $font-size-main-heading4;
    font-style: normal;
    letter-spacing: rem(2);
    text-transform: capitalize;
  }

  .estimated-total {
    .sub-total-label,
    .sub-total {
      font-family: $font-gill-std;
      font-size: $font-size-heading2;
      font-weight: $font-semi-bolder;
      letter-spacing: rem(0.46);
    }
  }

  .item {
    &-info {
      .item {
        &-attributes {
          .total {
            &-amount {
              font-size: rem(18);
            }
          }
        }
      }
    }
  }

  .view-cart {
    font-family: $font-museo-std;
    font-weight: $font-semi-bold;
  }
}

.prices-add-to-cart-text-center {

    @include media-breakpoint-down(xs) {
        padding-top: rem(1.6px);

        .price {
            text-align: center;
            font-weight: bold;
        }
    }
}

@include media-breakpoint-down(xs) {
  div.checkout-button-wrapper,
  .prices-add-to-cart-actions {
    background: $black-opacity-8;

    .estimated-price,
    .price {
      span {
        color: $white;
      }
    }
  }

  .cart {
    .checkout-button-wrapper {
      background: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  .cart-section-wrapper {
    .cart-header-wrapper {
      .cart-header {
        font-size: $font-size-main-heading1;
        letter-spacing: rem(1.5);
      }
    }

    .product-card-wrapper {
      .product-gift-wrap {
        .gift-text {
          font-size: $font-size-heading3;
          letter-spacing: rem(1.6);
        }

        .character-limit {
          font-size: $font-size-text-heading1;
          letter-spacing: rem(0.4);
        }
      }
    }

    .totals {
      .shippingMethods {
        font-size: $font-size-text-heading1;
        letter-spacing: rem(1);
      }

      .price-label,
      .cost {
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.88);
      }

      p.grand-total-label,
      p.grand-total {
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.4);
      }
    }
  }
}

.checkout-button-without-sticky {
    padding: rem(8px) 0;
    border-top: rem(1px) solid $grey4;
}

.checkout-button-without-sticky + .more-ways-text {
    padding: 0;
    border-top: 0;
}

.cart-disclaimer-message {

    p {
            font-size: rem(15);
            letter-spacing: rem(2);
            color: $black;
            font-family: $font-medium;
            margin-top: rem(10);
            font-weight: 300;
    }
}

// giftbox css
.gift-box-wrapper-cart {
  display: flex;
  align-items: center;
  margin-bottom: rem(8);
  margin-top: rem(7);

  .gift-box-wrapper-label {
    margin-left: rem(0);
    margin-bottom: 0;
    font-size: rem(16);
    text-transform: none;
    font-weight: 400;

    .cart-giftbox-img {
      margin-right: rem(10);
      @include media-breakpoint-down(xs) {
        height: rem(15);
      }
    }

    &.custom-control-label-pdp {
      display: block;
      position: relative;
      padding-left: rem(35);
      margin-bottom: rem(12);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: rem(10);
      .gift-box-text{
        color: $black;
      }
      @include custom-media-query($small-screen-width375){
        font-size: rem(13);
      }
      @include media-breakpoint-up(md) {
        font-size: rem(16);
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: rem(1);
        left: 0;
        height: rem(20);
        width: rem(20);
        background-color: transparent;
        border: rem(1) solid $black;
        border-radius: rem(4);
        @include media-breakpoint-down(sm) {
          top: rem(0);
        }
      }

      input {
        &:checked ~ .checkmark {
          background-color: $gossamer;
          border-color: $gossamer;
        }
      }

      input {
        &:checked ~ .checkmark {
          &:after {
            display: block;
          }
        }
      }

      .checkmark {
        &:after {
          content: "";
          position: absolute;
          display: none;
          left: rem(7);
          top: rem(3);
          width: rem(5);
          height: rem(10);
          border: solid white;
          border-width: 0 rem(3) rem(3) 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      &.label-add {
        padding-left: rem(0);
        display: flex;
        align-items: center;
        font-weight: 600;

        .checkmark {
          &-add {
            border: rem(1) solid $black;
            border-radius: rem(100);
            font-weight: 600;
            color: $black;
            font-size: rem(10);
            margin-left: rem(10);
            padding: rem(3) rem(10);
            color: $black;
            margin-left: rem(10);
            height: rem(24);
            position: relative;
            width: rem(76);

            .inner-span {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
            @include custom-media-query($small-screen-width375){
              font-size: rem(13);
            }
            @include custom-media-query($small-screen-width){
              width: 82px;
            }
            @include media-breakpoint-up(md) {
              font-size: rem(16);
            }
          }
        }
      }
    }
  }
}

// only safari giftbox css
.safari {
  .gift-box-wrapper-cart {

    .gift-box-wrapper-label {

      &.custom-control-label-pdp {

        .gift-box-text{
          transform: translateY(3px);
        }


        &.label-add {

          .checkmark {

            &-add {

              .inner-span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: rem(14);
              }

            }
          }
        }
      }
    }
  }
}