body {
  @include primary-font-obuk;
}

.hero {
  h1.page-title {
    font-family: $font-adobe;
    font-size: $font-size-title6;
    letter-spacing: rem(1.8);
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.compare-bar-wrapper {
  .compare.btn {
    background: $pink-grey;
    border: rem(1) solid $pink-grey;
    color: $black;
  }

  .clear-all {
    font-family: $font-museo-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(0.9);
    font-weight: $font-light;
  }
}

.btn {
  font-family: $font-museo-std;
  font-size: $font-size-text-heading1;
  font-weight: $font-semi-bold;
  letter-spacing: rem(2);
  background-color: transparent;
}

.btn-primary {
  background: $pink-hot;
  border: rem(1) solid $pink-hot;
  color: $black;

  &:hover {
    background: $pink-hot;
    border: rem(1) solid $pink-hot;
    color: $black;
  }
  
  &-cta {
    background: $pink-hot;
    border: rem(1) solid $pink-hot;
    color: $black;

      &:hover {
          background: $pink-hot;
          border: rem(1) solid $pink-hot;
      }
  }
}

.custom-select {
  color: $black;
  font-family: $font-gills-light;
  font-size: $font-size-heading2;
  letter-spacing: rem(1.6);
  font-weight: normal;
}

.custom-select + i {
  top: rem(8.92);
}

select + i.fa {
  font-size: rem(16);
}

.checkout-coupon-code-field,
.checkout-promo-code-btn {
  height: rem(36);
}

.heading-one {
  font-family: $font-adobe;
  font-size: $font-size-title6;
  letter-spacing: rem(1.8);
}

a {
  color: $black;
}

.heading-two {
  font-family: $font-gills-light;
  font-size: $font-size-main-heading6;
  letter-spacing: rem(0.4);
}

.heading-three {
  font-family: $font-gills-light;
  font-size: $font-size-heading1;
  letter-spacing: rem(0.4);
}

.heading-four {
  font-family:  $font-gills-light;
  font-size: $font-size-heading3;
  letter-spacing: rem(0.4);
}

.pt_customerservice {
  .heading-two {
    font-family: $font-adobe;
    font-size: rem(30);
    letter-spacing: rem(0.4);
  }

  .heading-three {
    font-family: $font-adobe;
    font-size: $font-size-heading1;
    letter-spacing: rem(0.4);
  }

  .heading-four {
    font-family:  $font-adobe;
    font-size: $font-size-heading3;
    letter-spacing: rem(0.4);
  }
}

body {
  .order-summary-title {
    h5,
    .grand-total-label {
      font-family: $font-gills-light;
      font-size: $font-size-heading3;
      letter-spacing: rem(0.4);
      font-weight: normal;
    }
  }

  .summary-details {
    color: $black-opacity-6;
    font-family: $font-gills-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(0.4);
    font-weight: normal;
  }

  .summary-section-label {
    color: $black;
    font-family: $font-gills-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(0.4);
    font-weight: normal;
  }
}

label {
  @include primary-font-label;
}

form {
  input.form-control {
    border: rem(1) solid $black;
    font-family: $font-gills-light;
    font-size: $font-size-heading3;
    letter-spacing: rem(1.6);
    color: $black;
  }
}

.password-description {
  font-family: $font-gills-light;
  font-size: $font-size-text-heading1;
  letter-spacing: rem(0.4);
  font-weight: normal;
}

.pricing {
  font-size: $font-size-text-heading1;
  font-weight: normal;
}

.header-banner {
  background-color: $pink-grey;

  .html-slot-container {
    color: $black;
    font-family: $font-gills-light;
    font-size: $font-size-text1;
    letter-spacing: rem(0.35);
    font-weight: normal;
    text-transform: unset;
  }
}

.container {
  .breadcrumb {
    .breadcrumb-item {
      a {
        font-family: $font-gills-light;
        font-size: $font-size-text-heading2;
        letter-spacing: rem(1.3);
        font-weight: normal;
        color: $grey;
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: rem(4.8);

  &::before {
    padding-right: unset;
  }
}

.coupon-error-message,
.coupon-missing-error,
.invalid-feedback {
  font-family: $font-gills-light;
  letter-spacing: rem(1);
}

.alert-danger,
.error-message {
  font-family: $font-gills-light;
}

.filter-bar {
  li.filter-value {
    background: $pink-grey;
  }
}

.body-text {
  font-family: $font-gills-light;
  font-size: $font-size-heading2;
  letter-spacing: rem(0.4);
}

.description {
  font-family: $font-gills-light;
  font-size: $font-size-text-heading1;
  letter-spacing: rem(0.35);
  font-weight: normal;
}

@include media-breakpoint-down(xs) {
  .hero {
    img {
      min-height: rem(80);
    }
  }
}

.search-banner {
  padding: unset;
}

@include media-breakpoint-up(sm) {
  .hero {
    h1.page-title {
      font-size: $font-size-title5;
      letter-spacing: rem(2);
    }
  }

  .header-banner {
    .html-slot-container {
      font-size: $font-size-text-heading1;
      letter-spacing: rem(0.4);
    }
  }

  .heading-three {
    font-size: $font-size-main-heading6;
    letter-spacing: rem(0.5);
  }
}

.grand-total-label,
.grand-total-price,
.grand-total {
  font-family: $font-gill-std;
  font-size: $font-size-heading3;
  letter-spacing: rem(0.4);
  font-weight: $font-semi-bold;
}

.coupons {
  &-wrapper {
    .coupon {
      &-code {
        font-family: $font-gills-light;
        font-size: $font-size-heading2;
        letter-spacing: rem(0.4);
        font-weight: normal;
      }

      &-applied {
        font-family: $font-gills-light;
        font-size: $font-size-text-heading2;
        letter-spacing: rem(0.7);
        font-weight: normal;
        margin-top: rem(5);
      }

      &-promotion {
        &-relationship {
          margin-top: rem(5);
          font-family: $font-gills-light;
          font-size: $font-size-text1;
          letter-spacing: rem(0.34);
          font-weight: normal;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .hero {
    h1.page-title {
      font-size: $font-size-title-heading1;
      letter-spacing: rem(3);
    }
  }

  .description {
    font-size: $font-size-text-heading1;
  }

  .heading-three {
    font-size: $font-size-main-heading5;
    letter-spacing: rem(0.6);
  }
}

.full-width-max-1300 {
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}