.product-comparison {
  .product-tile {
    .tile-body {
      .pdp-link {
        a {
          font-family: $font-gill-std;
          font-size: $font-size-text-heading1;
          letter-spacing: rem(2);
          font-weight: $font-light;
        }
      }

      .price {
        font-family: $font-gills-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.4);
        font-weight: normal;
        color: $black-opacity-6;
      }
    }
  }

  tbody {
    th {
      font-family: $font-gill-std;
      font-size: $font-size-text-heading1;
      font-weight: $font-semi-bolder;
      letter-spacing: rem(0.4);
    }

    td {
      font-family: $font-gills-light;
      font-size: $font-size-text1;
      font-weight: normal;
      letter-spacing: rem(0.4);
    }
  }

  .back-to-results {
    button {
      background: $gray;
      border: rem(1) solid $gray;
    }
  }
}

.compare {
  &-banner {
    &.hero {
      h1 {
        &.page {
          &-title {
            font-size: $font-size-title5;
            letter-spacing: rem(2);
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .product-comparison {
    .product-tile {
      .tile-body {
        .pdp-link {
          a {
            font-family: $font-gills-light;
            font-size: $font-size-heading2;
            letter-spacing: rem(0.4);
            font-weight: normal;
          }
        }

        .price {
          font-size: $font-size-heading1;
        }
      }
    }

    tbody {
      td {
        font-size: $font-size-text-heading1;
      }
    }
  }
}
