.search-results {
  .reset-container {
    .secondary-bar {
      a.reset {
        font-family: $font-museo-std;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(2);
        font-weight: $font-semi-bold;
        background: $pink-hot;
        border: rem(1) solid $pink-hot;
      }
    }
  }

  .result-count {
    span,
    span.make-bold {
      color: $black-opacity-5;
      font-family: $font-museo-std;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(1.3);
      font-weight: $font-semi-bold;
    }
  }

  .refinements {
    .values {
      li {
        .fa-check-square {
          font-size: rem(20);
        }

        a {
          font-family: $font-museo-light;
          font-size: $font-size-text1;
          letter-spacing: rem(1.6);
          font-weight: $font-light;
          text-transform: uppercase;
        }
      }
    }

    .refinement.card {
      .card-header {
        font-family: $font-adobe;
        font-size: $font-size-main-heading6;
        font-style: normal;
        letter-spacing: rem(2);
        text-transform: capitalize;

        &::after {
          font-style: normal;
          content: url('../images/icons/right_arrow_down.png');
        }
      }

      &.active {
        .card-header {
          &::after {
            font-style: normal;
            content: url('../images/icons/right_arrow_up.png');
          }
        }
      }
    }
  }

  .filter-header {
    .header-bar {
      button.close {
        font-family: $font-museo-std;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(1.4);
        font-weight: $font-semi-bold;
      }
    }
  }

  select.custom-select {
    font-family: $font-museo-std;
    font-size: $font-size-text-heading1;
    height: rem(36);
    letter-spacing: rem(0.4);
    font-weight: $font-semi-bold;
    text-transform: none;
  }

  button.filter-results {
    font-family: $font-museo-std;
    font-size: $font-size-text-heading1;
    font-weight: $font-semi-bold;
    letter-spacing: rem(2);
    color: $black;
    background: $pink-hot;
    border: rem(1) solid $pink-hot;
  }

  .filter-bar {
    li.swatch-filter {
      &::before,
      &::after {
        pointer-events: none;
      }
    }

    li.filter-value {
      background: $pink-grey;

      a {
        font-family: $font-museo-light;
        font-size: $font-size-text1;
        letter-spacing: rem(1.6);
        font-weight: $font-light;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .search-results {
    select.custom-select + i.fa-angle-down {
      right: rem(20.4);
    }
  }
}

@include media-breakpoint-up(sm) {
  .search-results {
    select.custom-select {
      font-size: $font-size-text-heading1;
    }
  }
}

@include media-breakpoint-up(md) {
  .search-results {
    select.custom-select {
      font-size: $font-size-text-heading1;
    }
  }
}
