footer {
  background-color: $white;

  .home-email-signup {
    .email-description {
      font-family: $font-gills-light;
      font-size: $font-size-text1;
      letter-spacing: rem(0.4);
    }

    .input-group-btn {
      .btn-primary {
        font-family: $font-museo-std;
        font-size: $font-size-text-heading1;
        font-weight: $font-semi-bold;
        letter-spacing: rem(2);
        border: rem(1) solid $gray;
        background-color: $gray;
        color: $white;
      }
    }

    .form-control {
      font-family: $font-gill-std;
      font-size: $font-size-heading3;
      letter-spacing: rem(1.6);
    }
  }

  h3 {
    color: $black;
    font-family: $font-gill-std;
    font-size: $font-size-heading3;
    letter-spacing: rem(0.4);
    font-weight: $font-semi-bolder;
  }

  .content {
    li {
      a {
        color: $black;
        font-family: $font-gill-std;
        font-size: $font-size-text-heading1;
        font-weight: $font-light;
        letter-spacing: rem(0.4);
      }
    }
  }

  .copyright {
    letter-spacing: rem(0.4);
  }

  .store {
    .selectors {
      .esw-country-selector-ob {
        z-index: 99;
      }
    }
  }

}

.home {
  &-email {
    &-signup {
      background-color: $gray;

      .input {
        &-group {
          &-btn {
            border-right: rem(1) solid $black;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  footer {
    .home-email-signup {
      .email-description {
        font-size: $font-size-heading2;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  footer {
    .footer {
      &-item {
        h3 {
          font-family: $font-museo-std;
          font-size: $font-size-heading3;
          letter-spacing: rem(0.4);
          font-weight: $font-semi-bold;
        }
      }
    }
  }
}
