footer {
  background-color: $white-smoke-light;

  .home-email-signup {
    .email-description {
      font-family: $font-gill-std;
      font-size: $font-size-text1;
      letter-spacing: 0.4px;
    }

    .input-group-btn {
      .btn-primary {
        font-family: $font-museo-std;
        font-size: $font-size-text-heading1;
        font-weight: $font-semi-bold;
        letter-spacing: 2px;
        border: 1px solid $pink-grey;
        background-color: $pink-grey;
      }
    }

    .form-control {
      font-family: $font-gill-std;
      font-size: $font-size-heading3;
      letter-spacing: 1.6px;
    }
  }

  h3 {
    color: $black;
    font-family: $font-gill-std;
    font-size: $font-size-text-heading1;
    letter-spacing: 0.4px;
    font-weight: $font-semi-bold;
  }

  .content {
    li {
      a {
        color: $black;
        font-family: $font-museo-light;
        font-size: $font-size-text-heading1;
        font-weight: $font-light;
        letter-spacing: 0.4px;
      }
    }
  }

  .copyright {
    color: $black;
    font-family: $font-gill-std;
    font-size: $font-size-text-heading2;
    letter-spacing: 0.4px;
  }
}

@include media-breakpoint-up(sm) {
  footer {
    .home-email-signup {
      .email-description {
        font-size: $font-size-heading2;
      }
    }
  }
}
