.main-menu {
  .nav-item {
    .nav-link {
      font-family: $font-museo-std;
      font-weight: $font-semi-bold;
      letter-spacing: rem(1.4);
      font-size: $font-size-text-heading1;
    }
  }

  .close-menu {
    a {
      color: $black;
      font-family: $font-museo-std;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(1.4);
    }
  }

  li.top-category {
    .nav-link {
      color: $black-opacity-5;
      font-family: $font-museo-std;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(1.3);
    }
  }

  .dropdown-menu {
    .dropdown-link {
      font-family: $font-museo-light;
      font-size: $font-size-text1;
      letter-spacing: rem(1.4);
      font-weight: $font-light;
    }

    .featured-promotion {
      p {
        span {
          font-family: $font-gills-light;
          font-size: $font-size-text-heading1;
          letter-spacing: rem(1);
          color: $black;
        }
      }
    }
  }
}

.country-selector-mobile {
  .country-selector-wrapper {
    select {
      font-family: $font-museo-std;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(1.4);
      font-weight: $font-semi-bold;
    }
  }
}

@include media-breakpoint-down(md) {
  .main-menu {
    .close-menu {
      background: $white-smoke;
    }

    .dropdown-menu {
      .dropdown-link {
        font-family: $font-museo-std;
        font-size: $font-size-text-heading1;
        font-weight: $font-semi-bold;
      }
    }
  }
}


.ob-old-menu-design {
  .browse-collection {
    @include media-breakpoint-up(lg) {
      margin-left: rem(16);
      margin-right: 0;
    }
    .dropdown-menu {
      @include media-breakpoint-up(lg) {
        padding-left: 0;
        display: inline;
      }
    }
  } 
}
