.product-tile {
  .tile-body {
    .pdp-link {
      a {
        font-family: $font-museo-light;
        font-size: $font-size-text-heading1;
        letter-spacing: 2px;
        font-weight: $font-light;
      }
    }

    .price {
      font-family: $font-gills-light;
      font-size: $font-size-text-heading1;
      letter-spacing: 0.4px;
      font-weight: normal;
    }

    .compare {
      label {
        font-size: $font-size-text-heading1;
        letter-spacing: 0.4px;
        font-weight: normal;
      }
    }
  }

  .out-of-stock {
    font-family: $font-gills-light;
    font-size: 10px;
    letter-spacing: 0.4px;
    font-weight: normal;
  }
}

.pagination-container {
  .page-item.active {
    .btn {
      color: $black;
      background: $pink-grey;
    }
  }
}

@include media-breakpoint-up(sm) {
  .product-tile {
    .out-of-stock {
      font-size: $font-size-text1;
    }
  }
}

@include media-breakpoint-up(md) {
  .product-tile {
    .tile-body {
      .price {
        font-size: $font-size-heading1;
      }
    }
  }
}
