.product-detail {
  .product-name {
    font-family: $font-adobe;
    font-size: $font-size-main-heading3;
    font-style: italic;
    letter-spacing: rem(1);
    text-transform: unset !important;
    width: 96%;
  }

  .product-availability {
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);
    font-weight: normal;
  }

  p.affirm-as-low-as {
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);
    font-weight: normal;

    a {
      font-family: $font-museo-light;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(0.9);
      font-weight: $font-light;
    }
  }

  .price {
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);
    font-weight: $font-semi-bold;
  }

  button.add-to-cart {
    color: $black;
    background: $pink-grey;
    border: rem(1) solid $pink-grey;
  }

  .description {
    font-family: $font-gills-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(0.35);
    font-weight: normal;
  }

  .product-options {
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);
    font-weight: normal;

    a {
      font-family: $font-museo-light;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(0.9);
      font-weight: $font-light;
    }

    p {
      font-family: $font-gills-light;
      font-size: $font-size-text1;
      letter-spacing: rem(0.4);
      color: $black-opacity-8;
      font-weight: normal;
    }

    .option-message {
      .form-control {
        font-family: $font-gills-light;
        font-weight: normal;
        border-radius: rem(2);
      }
    }

    button {
      font-family: $font-museo-std;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(2);
      font-weight: $font-semi-bold;
    }
  }

  .more-styles-wrapper {
    h3 {
      font-family: $font-adobe;
      font-size: $font-size-heading3;
      font-style: italic;
      letter-spacing: rem(1);
      text-transform: lowercase;

      &::first-line {
        text-transform: capitalize;
      }
    }
  }

  .product-number {
    font-family: $font-gills-light;
    color: $dim-grey;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(1);
    font-weight: normal;
  }
}

.description-and-detail {
  button.title {
    font-family: $font-adobe;
    font-size: $font-size-main-heading6;
    font-style: italic;
    letter-spacing: rem(2);
    text-transform: capitalize !important;

    &::after {
      font-style: normal;
    }
  }

  .attribute {
    font-family: $font-gills-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(0.4);
    font-weight: normal;

    &-name {
      color: $grey;
      margin-bottom: rem(8);
    }
  }

  .description {
    font-family: $font-gills-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(0.35);
    font-weight: normal;
  }
}

.cs-carousel-wrapper {
  .carousel-title {
    font-family: $font-adobe;
    font-size: $font-size-main-heading6;
    font-style: italic;
    letter-spacing: rem(2);
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.addToCartModal {
  p {
    font-family: $font-gills-light;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(0.4);
    font-weight: $font-semi-bold;
  }

  a.btn-primary {
    font-family: $font-museo-std;
    font-size: $font-size-text-heading1;
    letter-spacing: rem(2);
    font-weight: $font-semi-bold;
    background: $pink-grey;
    color: $black;
    border: none;
  }

  a.btn-link {
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);
    font-weight: normal;
    color: $black;
  }
}

.product-quickview {
  .heading-two {
    font-family: $font-adobe;
    font-size: $font-size-main-heading3;
    font-style: italic;
    letter-spacing: rem(1);
    text-transform: unset !important;
  }

  .product-options {
    font-family: $font-gills-light;
  }

  .availability {
    font-family: $font-gills-light;
    font-size: $font-size-heading2;
    letter-spacing: rem(0.4);
    font-weight: normal;
  }

  .promotions {
    letter-spacing: rem(1.4);
  }

  .prices {
    .sales {
      font-size: $font-size-main-heading6;
    }
  }
}

.quick-view-dialog {
  .modal-header {
    background-color: $white-smoke;

    .close {
      opacity: unset;

      &-icon {
        font-family: $font-museo-std;
        color: $black;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(1.4);
        font-weight: $font-semi-bold;
      }
    }

    .full-pdp-link {
      color: $extra-dark-grey;
      font-family: $font-museo-light;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(0.9);
    }
  }
}

@include media-breakpoint-up(sm) {
  .product-detail {
    .price {
      font-size: $font-size-main-heading6;
      letter-spacing: rem(2);
      font-weight: normal;
    }

    .description {
      font-size: $font-size-heading3;
      letter-spacing: rem(0.4);
    }
  }

  .description-and-detail {
    button.title {
      font-size: $font-size-main-heading4;
    }

    .description {
      font-size: $font-size-heading3;
    }
  }

  .cs-carousel-wrapper {
    .carousel-title {
      font-size: $font-size-main-heading4;
    }
  }
}

@include media-breakpoint-up(md) {
  .product-detail {
    .product-name {
      font-size: $font-size-main-heading1;
      letter-spacing: rem(1.5);
      color: #060506;
    }

    .description {
      font-size: $font-size-heading2;
      letter-spacing: rem(0.4);
    }
  }

  .description-and-detail {
    button.title {
      font-size: $font-size-main-heading1;
      letter-spacing: rem(1.5);
    }

    .description {
      font-size: $font-size-text-heading1;
    }
  }

  .cs-carousel-wrapper {
    .carousel-title {
      font-size: $font-size-main-heading1;
      letter-spacing: rem(1.5);
    }

    .product-tile {
      .tile-body {
        .price {
          font-size: $font-size-text-heading1;
          letter-spacing: rem(0.4);
        }
      }
    }
  }

  .product-quickview {
    .heading-two {
      font-size: $font-size-main-heading1;
    }
  }
}
