#product {
  &-search {
    &-results {
      .product {
        &-tile {
          .image {
            &-container {
              border-width: 2px;
            }
          }
        }

        &-tile {
          .tile {
            &-body {
              .price.price-to-center {
                width: 100%;
                font-weight: $font-semi-bolder;
                font-family: $font-gill-std;
              }

              .pdp {
                &-link {
                  a {
                    font-family: $font-gills-light;
                    text-transform: capitalize;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.product-tile {
  .promo {
    &-msg.callout {
      font-family: $font-gills-light;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(1.4);
      font-weight: normal;
    }
  }

  .tile-body {
    .pdp-link {
      a {
        font-family: $font-museo-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(2);
        font-weight: $font-light;
      }
    }

    .price {
      font-family: $font-gills-light;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(0.4);
      font-weight: normal;
    }

    .compare {
      label {
        font-family: $font-gills-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.4);
        font-weight: normal;
      }
    }

    .adjust-soldout-badge {
      margin-bottom: rem(10);
    }
  }

  .out-of-stock {
    font-family: $font-gills-light;
    font-size: rem(10);
    letter-spacing: rem(0.4);
    font-weight: normal;
  }
}

.pagination-container {
  .page-item.active {
    .btn {
      color: $black;
      background: $pink-grey;
    }
  }

  .page-item {
    .btn {
      font-family: $font-gills-light;
      font-size: rem(16);
    }
  }
}

@include media-breakpoint-up(sm) {
  .product-tile {
    .out-of-stock {
      font-size: $font-size-text1;
    }
  }
}
