.store-locator-container {
  select.custom-select + i {
    top: rem(12.464);
    right: rem(11.2);
  }

  .fa-angle-down {
    background: url(../images/icons/arrow_down.png) center no-repeat;
    height: rem(15);
    width: rem(15);
    background-size: contain;

    &::before {
      content: '';
    }
  }

  .find-store-form {
    font-family: $font-gills-light;

    p {
      font-size: $font-size-heading3;
      letter-spacing: rem(0.4);
      font-weight: normal;
    }

    .card-button {
      font-family: $font-gill-std-medium;
      color: $white;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(2);
      background: $black;
      border: rem(1) solid $black;

      &:hover,
      &:focus {
          background: $white;
          border: rem(1) solid $black;
          color: $black;
      }
    }

    label.form-control-label {
      font-family: $font-gills-light;
      color: $black-opacity-8;
      font-size: $font-size-text-heading2;
      letter-spacing: rem(1.3);
      font-weight: normal;
    }

    input {
      border: rem(1) solid $black;
      color: $dark-grey3;
      font-size: $font-size-heading3;
      letter-spacing: rem(1.6);
    }
  }

  div.results-card,
  div.find-store-form {
    box-shadow: $form-box-shadow;
    border-radius: rem(3);
    border: rem(1) solid $extra-light-grey;
  }

  .find-store-select {
    select.radius,
    select.store-country-code {
      font-family: $font-gills-light;
      font-size: $font-size-heading2;
      letter-spacing: rem(1.6);
      font-weight: normal;
      color: $black;
      border: rem(1) solid $black;
    }
  }

  .results-card {
    font-family: $font-gills-light;

    .store-details {
      .store-name {
        font-family: $font-gill-std;
        font-size: $font-size-heading2;
        font-weight: $font-semi-bolder;
        letter-spacing: rem(0.4);
        color: $black;
        text-transform: unset;
      }

      a {
        font-family: $font-gills-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.37);
        font-weight: normal;
      }

      address {
        p,
        .store-map {
          font-family: $font-gills-light;
          font-size: $font-size-text-heading1;
          letter-spacing: rem(0.37);
          font-weight: normal;
        }
      }
    }

    label {
      color: $black-opacity-8;
      font-size: $font-size-text-heading2;
      letter-spacing: rem(1.3);
      font-weight: normal;
    }

    .map-marker {
      color: $white;
      background-color: $black-opacity-6;
    }
  }
}

.map-canvas {
  .gm-style-iw .store-details {
    .store-name {
      font-family: $font-gill-std;
      font-size: $font-size-heading2;
      font-weight: $font-semi-bolder;
      letter-spacing: rem(0.4);
      color: $black;
      text-transform: unset;
    }

    a {
      font-family: $font-gills-light;
      font-size: $font-size-text-heading1;
      letter-spacing: rem(0.37);
      font-weight: normal;
      color: $black;
    }

    address {
      p,
      .store-map {
        color: $black;
        font-family: $font-gills-light;
        font-size: $font-size-text-heading1;
        letter-spacing: rem(0.37);
        font-weight: normal;
      }
    }
  }
}

div.store-locator-hero {
  h1.page-title {
    font-family: $font-gills-light;
    font-size: $font-size-title6;
    letter-spacing: rem(1.8);
    color: $white;
  }
}

@include media-breakpoint-down(lg) {
  .store-locator-container {
    .find-store-form {
      label.form-control-label,
      input {
        font-family: $font-gills-light;
      }
    }
  }

  .map-canvas {
    .store-details {
      address {
        .storelocator-phone {
          letter-spacing: rem(0.4);
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .store-locator-container {
    .find-store-form {
      p {
        font-size: $font-size-text-heading1;
      }

      label.form-control-label {
        font-family: $font-gills-light;
      }
    }
  }

  .map-canvas {
    .store-details {
      address {
        .storelocator-phone {
          letter-spacing: rem(0.4);
        }
      }
    }
  }
}
