.back-in-stock-notification {

    &-confirmation-copy {
        font-family: $font-medium;
    }

    &-email-notification-copy {
        color: $mine-shaft;
        font-family: $font-medium;
        font-size: rem(17);
        font-weight: 300;
        letter-spacing: rem(1);
        line-height: rem(22);
    }

    &-phone {
        width: 100%;
        border-radius: 0;
        border: rem(1) solid $black;
        height: rem(45);
        padding-left: rem(15);
        padding-right: rem(97);
        background: transparent;

        &:focus {
            outline: $black;
        }

        &:-ms-clear {
            display: none;
        }
    }

    &-container-success {
        p {
            color: $black;
        }
    }

    &-form {
        max-width: rem(350);

        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }

        .error-msg {
            text-align: left;
            color: $red;
            margin: rem(5) 0;

        }
    }
}