.back-in-stock-notification {

    &-marketing-container {
    
        .checkmark {
            left: 0;

            @include media-breakpoint-down(sm) {
                left: rem(30);
            }
        }
    }

    &-button {
        font-family: $font-medium;
    }

    &-confirmation-copy {
        font-family: $font-medium;
    }

    &-email-notification-copy {
        color: $black;
        font-family: $the-futura-font;
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: rem(20);
        letter-spacing: rem(0.25);
        position: absolute;
        margin: 0;
        top: rem(20);
        transition: .4s ease all;
        height: auto;
    }

    &-email {
        border: 0;
        border-bottom: rem(1) solid $black;
        height: rem(48);
        padding-left: 0;

        &::placeholder {
            color: transparent;
            font-family: $the-futura-font;
            font-size: rem(16);
            font-weight: 400;
        }
    }

    
    &-phone {
        width: 100%;
        border-radius: 0;
        border: rem(1) solid $black;
        height: rem(45);
        padding-left: rem(15);
        padding-right: rem(97);
        background: transparent;

        &:focus {
            outline: $black;
        }

        &:-ms-clear {
            display: none;
        }

    }

    &-container-success {
        p {
            color: $black;
        }
    }

    &-form {
        max-width: rem(350);

        @include media-breakpoint-down(lg) {
            max-width: 100%;
        }

        .error-msg {
            text-align: left;
            color: $red;
            margin: rem(5) 0;
            font-size: rem(10);
        }
    }
}

.back-in-stock-notification-container-main {
    position: relative;

    &.input-validation-error {

        &.input-blur {

            .back-in-stock-notification-email-notification-copy {
                color: $invalidRed;
            }
        }
    }

    .back-in-stock-notification-error {
        color: $invalidRed;
        font-family: $the-futura-font;
        font-size: rem(10);
        font-style: normal;
        font-weight: 500;
        line-height: rem(10);
        letter-spacing: rem(0.5);
        margin-top: rem(9);
    }

    &:hover {

        .back-in-stock-notification-email {
            border-bottom: rem(2) solid $black;
        }
    }

    &.input-blur {

        .back-in-stock-notification-email-notification-copy {
            top: 0;
            color: $black;
            font-family: $the-futura-font;
            font-size: rem(10);
            font-style: normal;
            font-weight: 500;
            line-height: rem(10);
            letter-spacing: rem(0.5);
        }
    }
}