body {
    font-family: $movado-font;
}

h1,h2,h3,h4,h5,h6,p,span,button,.btn,.btn_primary,.btn-secondary, .btn-danger,.btn-success,.btn-info,.btn-warning,.btn-light,.btn-dark {
    font-family: $movado-font;
}

a {
    font-family: $the-futura-font;
}