.cs-carousel-update {
    
    .cs-carousel {
        
        .carousel-tile {
            
            .product-tile {
                
                .promotions {
                    
                    .callout {
                        
                        &.promo-msg {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}

header {
    
    &.new-header {

        .top-search-update {

            .product {

                .product-tile {

                    .promo-msg {
                        color: $black;
                        font-family: $the-futura-font;
                    }
                }
            }
        }
    }
}

.cs-carousel-update {
    &.plp-aruliden-tile {
        .cs-carousel {
            .carousel-tile {
            
                .product-tile {
                    background: $grey-silver-light;
                
                    @include media-breakpoint-down(md) {
                        margin-bottom: 0;
                    }
            
                    .out-of-stock, .pre-order {
                        right: rem(16);
                        color: $black;
                        font-size: rem(10);
                        letter-spacing: rem(0.5);
                        padding: rem(3) rem(10);
                        background: $white;
                        font-weight: 500;
                        border-radius: rem(18.682);
                        border: rem(0.701) solid $silver-light;
                        line-height: rem(11.5);
                        font-family: $the-futura-font;

                        @include media-breakpoint-down(sm) {
                            right: rem(5);
                        }
    
                        @include media-breakpoint-down(xs) {
                            font-size: rem(8);
                        }
                    }
            
                    .new-product {
                        color: $black;
                        right: rem(1);
                        letter-spacing: rem(0.5);
                        padding: rem(3) rem(10);
                        background: $white;
                        border-radius: rem(18.682);
                        border: rem(0.701) solid $silver-light;
                        font-family: $the-futura-font;   
                        font-weight: 500;

                        @include media-breakpoint-down(sm) {
                            right: rem(5);
                        }
    
                        @include media-breakpoint-down(xs) {
                            font-size: rem(8);
                        }
                    }
            
                    .tile-body {
                        background: $white;
                        font-family: $the-futura-font;
                
                        .product-name {
                            font-size: rem(16);
                            color: $black;
                            letter-spacing: rem(0.25);
                            font-family: $movado-font;
                            line-height: rem(20);
                
                            @include media-breakpoint-down(md){
                                font-size: rem(12);
                            }
                        }

                        .tile-body-content {
                            font-family: $the-futura-font;
                        }
                
                        .price {
                            font-size: rem(14);
                            letter-spacing: rem(0.25);
                            font-weight: 400;
                            font-family: $the-futura-font;
                            line-height: rem(16);
                
                            @include media-breakpoint-down(md) {
                                font-size: rem(10);
                            }
                        }

                        .callout {
                            &.promo-msg {
                                font-family: $the-futura-font;
                            }
                        }
                    }
                }
            }
        }
    }
}