
.heading-one {
  font-family: $movado-font;
}
.heading-two {
  font-family: $movado-font;
}
.heading-three {
  font-family: $movado-font;
}
.heading-four {
  font-family: $movado-font;
}
.body-text {
  font-family: $font-book;
}

@include media-breakpoint-up(md) {
  .heading-two {
    font-family: $movado-font;
  }

}

// Styles for coupons on cart and checkout page
.coupons-wrapper {

  .coupon-code {
    font-family: $movado-font;
  }

  .coupon-applied,
  .coupon-not-applied {
    font-family: $movado-font;
  }

}

.form-group {
	.form-control-field-label {
		font-family: $the-futura-font;
    font-weight: 500;
	}
}
