body {
    font-weight: 400;
}
.heading-one,.heading-two, .heading-three, .heading-four {
    font-family: $movado-font;
}

@include media-breakpoint-down(sm) {

    .search-banner {
            
        &.category-banner {

            .page-title {

                &.heading-one {
                    font-size: rem(20);
                }
            }
        }
    }
}

.body-text {
    font-family: $the-futura-font;
    font-weight: 300;
}

@include media-breakpoint-up(md) {
    .heading-two {
        font-family: $movado-font;
    }
}

// Styles for coupons on cart and checkout page
.coupons-wrapper {

    .coupon-code {
        font-family: $movado-font;
    }

    .coupon-applied,
    .coupon-not-applied {
        font-family: $movado-font;
    }

}

.form-group {
  
    .form-control-field-label {
        font-family: $the-futura-font;
    }
}
