.footer {

    &-redesign {
        background-color: $footer-redesign-bg;
        padding-bottom: rem(10);

        .title { 
            &:hover, &:focus {
                text-decoration: none;
            }
        }

        .footer-item {
            letter-spacing: rem(0.75);
            
            h3 {
                border-bottom: 0;
                color: $light-black;
                a {
                    color: $light-black;
                    display: block;
                }
            }

            &.collapsible-xs {
                
                .title {
                
                    &:after {
                        @include media-breakpoint-down(md) {
                            content: '';
                            width: rem(15);
                            height: rem(15);
                            background: url(../../images/icons/arrow-down-mobile.png) center center no-repeat;
                            position: relative;
                            top: rem(12);
                        }
                    }
                }
                
                &.active {
                    .title {
                    
                        &:after {
                            @include media-breakpoint-down(md) {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }

            &-singup {
                @include media-breakpoint-down(md) {
                    padding: 0;
                }
            }
        }

        .content {
            li {
                a {
                    font-size: rem(13);
                }
            }
        }

        h3 {
            a {
                font-family: $font-book;
                font-size: rem(14);
                font-weight: 600;
            }
        }
        .store-locator-heading {
            margin-top: rem(15);
        }

        .selectCountry,.selectLanguage {
            width: auto;

            .btn {
                @include font-book;
                font-size: rem(15);
                letter-spacing: normal;
                text-transform: capitalize;
                padding: 0;

                @include media-breakpoint-up(lg) {
                    font-size: rem(12);
                }

                @include media-breakpoint-up(xl) {
                    font-size: rem(13);
                }
            }
  
            .content {
                position: absolute;
                background: $white;
                bottom: 2.2rem;
                width: 80%;
                padding: 0;
                border-radius: rem(5);
                box-shadow: rem(1) rem(4) rem(8) rgba(0, 0, 0, 0.1);
                right: rem(40);
                @include media-breakpoint-up(sm) {
                    width: 100%;
                    right: 0;
                    left: 0;
                }
                @include media-breakpoint-up(lg) {
                    width: 100%;
                    left: rem(-15);
                }
                .collapse-inner {
                    max-height: rem(255);
                    overflow-y: auto;
                    margin: rem(10) 0;
                    margin-bottom: 0;
                }
            }

            .title {
                @include font-book;
                font-size: rem(15);

                &:focus {
                    box-shadow: none;
                }
            }

            span {
                position: relative;
                &::after, &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0.8rem .6rem 0;
                    left: 50%;
                    transform: translateX(-50%);
                    top: rem(-15);
                    z-index: 9;
                    display: none;
                }

                &::after {
                    bottom: rem(-15);
                    border-top-color: $white;
                }

                &::before {
                    bottom: rem(-15);
                    border-top-color: rgba(0,0,0,.25);
                }
            }
        }

        .selectCountry {
            min-width: rem(155);
            margin-right: rem(10);

            &.active {
                span {
                    &::after, &::before {
                        display: inline-block;
                    }
                }
            }
            .flag-icon {
                border: none;
                margin-right: rem(5);
            }
        }

        .selectLanguage {
            &.active {
                span {
                    &::after, &::before {
                        display: inline-block;
                    }
                }
            }
            .title {
                &:after {
                    margin-left: rem(10);
                }
            }

            .content {
                padding: rem(5) 0;
                
                &:after, &::before {
                    left: auto;
                    right: calc(20% - 10px);
                }
            }
        }

        .container-1366 {
            max-width: $container-1366;
            margin: 0 auto;
            
            @include media-breakpoint-up(lg) {
                padding-left: 2rem;
            }

            @include media-breakpoint-up(xl) {
                padding-left: 3rem;
                padding-right: 2rem;
            }
        }

        .footer-signup-container {
            max-width: none;

            .footer-newsletter-email-field {
                height: rem(46) !important;
                font-family: $font-book;
                font-size: rem(15);
                border: rem(2) solid $sonic-silver;
                background: transparent;
                border-right: 0;
                padding-top: 0.475rem;

                @include media-breakpoint-up(lg) {
                    padding-top: 0.375rem;
                }
            }

            .footer-newsletter-email-button {
                height: rem(46);
                width: rem(46);
                background: url(../../images/arrow_forward-24px.png) center center no-repeat;

                &:focus,&:active {
                    background: url(../../images/arrow_forward-24px.png) center center no-repeat;
                    box-shadow: none;
                }

                &:focus:active {
                    box-shadow: none;
                }
            }

            .input-group {
                align-items: center;
                border-bottom: 0.0625rem solid $white;
                max-width: rem(306);
                width: 100%;

                @include media-breakpoint-down(md) {
                    max-width: rem(316);
                    margin-top: rem(16);
                }
            }
        }

        .footerDropdown.selectors {
            margin-top: 0;
            width: auto;
            text-align: center;
            position: relative;

            @include media-breakpoint-up(sm) {
                text-align: left;
                display: flex;
                flex-direction: row;
            }

            .esw-country-selector { 
                width: auto;
            }
        }

        .flag-icon {
            width: rem(29);
            height: rem(20);
            border-radius: rem(5);
            vertical-align: text-bottom;
        }

        #dropdownCountrySelector {
            
            &::after {
                margin-left: rem(5);
            }
        }

        .mCSB {

            &_scrollTools { 
                width: rem(16);

                .mCSB_dragger {

                    .mCSB_dragger_bar {
                        display: none;
                    }
                }
    
            }

            &_draggerRail {
                background-color: $dim-gray;
                width: rem(5);
                margin-right: rem(10);
            }

            &_draggerContainer {
                right: rem(25);
            }

            &_inside {
                .dropdown-item {
                    text-align: left;
                }
            }
        }

        .mCSB_inside > .mCSB_container {
            margin-right: 0;
        }

        .dropdown-item {
            text-align: left;
            font-size: rem(15);
            margin-bottom: rem(10);
            color: $grey8;
            padding: 0.25rem 1.2rem;

            &:hover {
                background: $white-grey;
            }
        }

        .copyright-footer-row {
            padding: 0;
        }

        .social-links {
            float: left;

            @include media-breakpoint-up(xl) {
                padding-left: 0;
            }

            a {
                font-size: rem(25);
            }
            li {
                float: left;
                margin: 0;
                margin-right: rem(12);

                &:last-child {
                    margin: 0;
                }
            }
        }

        .copyright {
            margin-top: 0;
            color: $storm-gray;
            font-family: $font-medium;
            font-size: rem(12);
            font-weight: 600;
            text-align: center;

            @include media-breakpoint-up(sm) {
                font-size: rem(15);
                text-align: left;
            }

            @include media-breakpoint-down(md) {
                padding-left: rem(15);
            }
        }

        .back-to-top {
            bottom: rem(30);
            right: 0;
            position: absolute;

            @include media-breakpoint-up(sm) {
                position: relative;
                bottom: rem(12);
                float: none;
                margin-left: rem(20);
            }

            @include media-breakpoint-up(xl) {
                margin-left: rem(25);
            }
        }

        .social {
            margin-top: 0;
        }

        .UsableNetAssistive {
            h3 {
                font-size: rem(15);
                font-weight: 600; 
                text-transform: capitalize;
            }
        }

        .menu-footer {

            @include media-breakpoint-down(xs) {
                margin-top: 0;
            }
        }

        &-row { 
            justify-content: center;
            @include media-breakpoint-up(md) {
                margin-top: rem(25);
            }

            @include media-breakpoint-down(md) {
                padding-left: rem(15);
                padding-right: rem(15);
            }
        }

        .custom-col {
            @include media-breakpoint-up(sm) {
                flex: 0 0 59.33333%;
                max-width: 59.33333%;
            }

            @include media-breakpoint-up(lg) {
                flex: 0 0 66.66667%;
                max-width: 66.66667%;
            }

            @include media-breakpoint-up(xl) {
                flex: 0 0 75%;
                max-width: 75%;
            }
        }
    }

    &-top {
        background-color: $black;
        &-inner {
            
            @include media-breakpoint-up(sm) {
                padding: rem(20) 0;
            }
        }
        &-item {
            min-width: rem(250);
            margin-bottom: rem(40);
            padding-left: 2rem;

            &:first-child {
                margin-top: rem(40);

                @include media-breakpoint-up(sm) {
                    margin: 0;
                    padding: 0;
                }
    
            }

            @include media-breakpoint-up(sm) {
                min-width: auto;
                margin: 0;
                margin-left: rem(25);
                padding: 0;
            }

            @include media-breakpoint-up(lg) {
                min-width: rem(250);
                margin: 0;
            }

            &-heading {
                display: inline-block;
                
                h2 {
                    color: $white;
                    font-family: $font-fotter;
                    font-size: rem(14);
                    margin: 0;
                    margin-left: rem(15);

                    @include media-breakpoint-down(md) {
                        margin-left: rem(0);
                        font-size: rem(9);
                        line-height: rem(9);
                    }
                }
            }

            &-icon {
                display: inline-block;

                i {
                    color: $white;
                }
            }
        }
        &-wrapper {
            flex-wrap: wrap;

            @include media-breakpoint-up(sm) {
                flex-wrap: nowrap;
            }
        }
    }

    &-item {
        letter-spacing: rem(1.75);

        @include media-breakpoint-down(md) {
            flex: 1;
        }

        @include media-breakpoint-down(xs) {
            flex: auto;
            width: 100%;
        } 

        &-singup {
            @include media-breakpoint-down(md) {
                flex: 2;
                min-width: rem(300);
            }  
            @include media-breakpoint-down(xs) {
                flex: auto;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-top: rem(12);
        }
    
        h3 {
            color: $light-black;
            a {
                color: $light-black;
                display: block;
            }
        }
    }
}


.footer-signup-container {

    .footer-newsletter-email-field {
        height: rem(55);

        &:focus {
            box-shadow: none;
        }
    }
    .footer-newsletter-email-button {
        height: rem(55);
        width: rem(50);
    }
    .submission-status {
        font-size: rem(15);
        color: $red;
        margin-top: rem(10);

        .error {
            color: $red;
        }

        .success {
            color: $grey8;
        }
    }
}
.copyright-footer-row {
    padding-left: rem(135);
    padding-right: rem(105);

    .social {
        @include media-breakpoint-up(xl) {
            padding-right: rem(15);
            padding-left: rem(15);
        }

        @include media-breakpoint-down(md) {
            padding-left: 0;
        }
    }
}

// MSS-2361
.footer-new-design {
    background-color: $black;
    padding-bottom: rem(4);

    .footer-top {
        background-color: $light-black6;

        .footer-top-inner {
            padding: rem(34) rem(15);

            @include media-breakpoint-down(sm) {
                padding: rem(30) rem(32);
            }

            .footer-top-wrapper {
                gap: rem(74);

               @include media-breakpoint-down(md) {
                   gap: rem(30);
               }

                .footer-top-item {
                    min-width: auto;
                }
            }

            .footer-top-item {
                display: flex;
                align-items: center;

                .footer-top-item-icon {
                    display: inline-flex;
                    align-items: center;

                    img {
                        width: 100%;
                    }

                    &.footer-icon {
                     
                        &-first {
                            width: rem(14);
                
                            @include media-breakpoint-down(md) {
                                width: rem(16);
                                margin-right: rem(28);
                            }
                        }
                
                        &-second {
                            width: rem(18.422);
                
                            @include media-breakpoint-down(md) {
                                width: rem(25.999);
                                margin-right: rem(19);
                            }
                        }
                
                        &-third {
                            width: rem(17.84);
                
                            @include media-breakpoint-down(md) {
                                width: rem(26);
                                margin-right: rem(24);
                            }
                        }
                
                        &-fourth {
                            width: rem(14.821);
                
                            @include media-breakpoint-down(md) {
                                width: rem(20);
                                margin-right: rem(25);
                            }
                        }
                    }
                }
            }
        }

        .footer-top-item-heading {
            
            h2 {
                font-size: rem(10);
                font-family: $movado-font;
                letter-spacing: rem(1);
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }
    .container-1366 {
        max-width: rem(1440);
        padding: 0 rem(48);

        .copyright-notice {
            margin-top: rem(25);

            @include media-breakpoint-down(xs) {
                margin-top: rem(24);
            }

            .copyright {
                
                @include media-breakpoint-down(xs) {
                    margin-bottom: rem(24);
                }
            }
        }

        @include media-breakpoint-down(md) {
            padding: 0;

            .footer-redesign-row {
                padding: 0;
            }

            .footer-container {
                display: none;
            }
        }

        .footer-content {
            display: flex;
            gap: rem(40);

            @include media-breakpoint-down(xs) {
                gap: unset;
            }

            @include media-breakpoint-up(md) {
                
                .footer-item {

                    &.collapsible-xs{
                        margin-top: rem(68);
                    }  
                }
            }

            @include media-breakpoint-down(md) {
                flex-direction: row;
                padding: 0 rem(24);
                flex-wrap: wrap;
                
                @include media-breakpoint-down(xs) {

                    .collapsible-xs {
                        border-bottom: rem(1) solid $white;
                        padding-bottom: rem(16);
                    }
                }

                .footer-item {
                    margin-top: rem(-8);

                    @include media-breakpoint-down(xs) {
                        margin-top: unset;
                    }
                }

                
            }

            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }

            .footer-item {
               
                @include media-breakpoint-up(xl) {
                    margin-top: rem(60);
                    width: 100%;
                    min-width: rem(190);
                }

                @media (min-width:$custom-xll) {
                    max-width: rem(306);
                    width: auto;
                }

                @include media-breakpoint-down(md) {
                    width: 20%;
                    flex-basis: 20%;
                    max-width: 100%;
                }
                
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    flex-basis: 100%;
                    max-width: 100%;
                }

                &:nth-child(2) {
                    margin-left: rem(116);

                    @include media-breakpoint-down(lg) {
                        margin-left: 0;
                    }

                    @include media-breakpoint-down(xs) {
                        margin-top: rem(0);
                    }
                }

                &:nth-child(3) {
                    
                    @include media-breakpoint-down(xs) {
                        margin-top: rem(32);
                    }
                }

                &:nth-child(4) {
                    
                    @include media-breakpoint-down(xs) {
                        margin-top: rem(32);
                    }
                }

                &.footer-item-singup {
                    max-width: rem(306);
                    margin-top: rem(60);
                    padding: 0;
                    margin-right: 0;
    
                    @include media-breakpoint-down(md) {
                        padding: 0;                    
                        max-width: 100%;
                        width: 100%;
                        flex-basis:100%;
                    }
    
                    @include media-breakpoint-down(xs) {
                        margin-right: 0;
                        margin-top: 0;
                        max-width: 100%;
                        padding: rem(64) rem(66) rem(64) rem(0);
                    }
    
                    .footer-signup-container {

                        .container {
                            @include media-breakpoint-down(md) {
                                max-width: 100%;
                            }
                            .input-group {
                                @include media-breakpoint-down(md) {
                                    max-width: 100%;
                                }
                            }
                            
                        }
    
                        .submission-status {
    
                            .success {
                                color: $dark-green;
                            }
                        }
                    }
                   
    
                    .footer-signup-container {
                        margin-top: rem(32);
                    }
    
                    .heading-content {
                        
                        h3 {
    
                            a {
                                font-size: rem(24);
                                font-weight: 400;
                                font-family: $movado-font;
                                line-height: rem(32);
                                color: $white;
                            }
                        }
                    }
    
                    .footer-newsletter-email-field {
                        padding: rem(12) rem(0);
                        border: none;
                        color: $white;
                    }
    
                    .header-container {
                        
                        h3 {
    
                            a {
                                display: none;
                            }
                        }
                    }
    
                    .footer-newsletter-email-field {
    
                        &::placeholder {
                            color: $white;
                        }
                    }
                }
            }

            .content-asset {
    
                .social-links {
                    display: none;
                }

                @include media-breakpoint-down(md) {
                    margin-top: rem(0);
                }
            }
        }

        .custom-col {
            max-width: 100%;
        }

        .footer-logo-section {
            display: flex;
            justify-content: space-between;
            margin-top: rem(133);
            align-items: center;

            @include media-breakpoint-down(md) {
                flex-direction: column;
                padding: 0 rem(24);
            }

            @include media-breakpoint-down(xs) {
                flex-direction: column-reverse;
                margin-top: rem(163);
                align-items: flex-start;
            }

            #dropdownCountrySelector {
                
                &::after {
                    margin-left: rem(5);
                    display: none;
                }
            }
        }

        .footer-item {

            .content-asset {
               
                h3 {

                    a {
                        font-size: rem(18);
                        font-weight: 400;
                        line-height: rem(12.14);
                        letter-spacing: rem(0.36);
                        font-family: $movado-font;
                        color: $white;

                        @include media-breakpoint-down(xs) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }

                .social-desktop {
                    margin-top: rem(24);

                    li {

                        a {
                            font-size: rem(14);
                            font-weight: 400;
                            line-height: rem(32);
                            letter-spacing: rem(0.5);
                            font-family: $the-futura-font;
                            color: $white;
                        }
                    }
                }
            }

            .menu-footer {
                margin: rem(24) rem(0) rem(18);

                li {

                    a {
                        font-size: rem(14);
                        font-weight: 400;
                        line-height: rem(32);
                        letter-spacing: rem(0.5);
                        font-family: $the-futura-font;
                        color: $white;
                    }
                }
            }
        }
        .footer-logo-section {

            .movado-logo {

                @include media-breakpoint-down(sm) {
                    order: 1;
                }
                
                @include media-breakpoint-down(xs) {
                    order: 0;
                }

                .black-logo {
                    display: none;
                }

                .white-logo {
                    margin-top: rem(20);
                    width: 18.875rem;
                    height: 2.3125rem;
                }

                @include media-breakpoint-down(md){
                    width: unset;
                    height: unset;
                }

                @include media-breakpoint-down(xs) {
                    margin-top: rem(73);
                    width: 100%;
                    max-width: rem(382);
                    height: rem(46);

                    .logo-link {
                        display: flex;
                        max-width: rem(382);
                        width: 100%;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .social {
        display: none;
    }

    .copyright {
        text-align: right;
        font-size: rem(10);
        font-family: $the-futura-font;
        letter-spacing: rem(0.5);
        font-weight: 400;
        color: $dark-storm-grey;
        padding: rem(10) 0;

        @include media-breakpoint-down(md) {
            text-align: center;
            padding: 0 rem(24);
        }

        @include media-breakpoint-down(xs) {
            font-size: rem(14);
            padding: rem(20) rem(43) 0 rem(43);
        }
    }

    .footer-signup-container {

        .footer-newsletter-email-button {
            all: unset;
            background: url(../../images/enter-icon.svg) center center no-repeat;
            width: rem(20);
            height: rem(20);
            display: flex;

            &:focus {
                background: url(../../images/enter-icon.svg) center center no-repeat;
            }
        }
    }
    
    .footer-country-section {
        margin-right: rem(3);

        .selectCountry {
            padding: 0;
            z-index: 3;
            .content {
                width: rem(291);
            }

            .title {
                border: none;
                border-bottom: rem(1) solid $white;
                min-width: rem(190);
                display: flex;
                align-items: center;
                padding: rem(10) 0;
                height: rem(44);
            }
         
            span {
                font-size: rem(14);
                font-weight: 400;
                font-family: $the-futura-font;
                line-height: rem(16);
                letter-spacing: rem(0.14);
                color: $white;

                &::before, &::after {
                    left: rem(60);

                    @include media-breakpoint-down(xs) {
                        left: 50%;
                        bottom: 0;
                        top: rem(-24);
                    }
                }
            }

            @include media-breakpoint-down(sm) {

                .content {
                    bottom: rem(73.6);

                    @include media-breakpoint-down(xs) {
                        bottom: rem(41.6);
                    }
                }
            }

            .flag-icon {
                margin-right: rem(8);
            }
        }

        .selectLanguage {
            padding: 0;
            display: flex;

            .title {
                border: none;
                border-bottom: rem(1) solid $white;
                min-width: rem(190);
                display: flex;
                align-items: center;
                padding: rem(10) 0;
                height: rem(44);

                &::after {
                    display: none;
                }

                span {
                    &::before {
                        display: none;
                    }
                }
            }
           
            span {
                font-size: rem(14);
                font-weight: 400;
                font-family: $the-futura-font;
                line-height: rem(16);
                letter-spacing: rem(0.14);
                color: $white;

                &::before, &::after {
                    left: rem(94);
                }
            }

            .content {

                @include media-breakpoint-down(xs) {
                    bottom: rem(32);
                    width: 100%;
                }
            }
        } 

        .selector-container {
            gap: rem(30);

            @include media-breakpoint-down(xs) {
                gap: rem(32);
                padding: 0;
            }
        }
    }
   
    @include media-breakpoint-down(sm) {
        
        .justify-content-center {
            justify-content: initial;
            flex-direction: column;
        }

        .footer-top-inner {
            padding: rem(20) rem(15);
        }

        .footer-top-item {
            margin: rem(0) rem(0) rem(24);
            padding-left: rem(0);

            &:first-child {
                order: 4;
                margin-bottom: rem(0);
            }

            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(3) {
                order: 2;
            }

            &:last-child {
                order: 1;
            }
        }
    
    }

    @include media-breakpoint-down(xs) {

        .footer-item {

            &.collapsible-xs {

                &:nth-child(5) {
                    display: none;
                }

                &.active {

                    .title {

                        &::after {
                            background: url(../../images/minus-icon.svg) center center no-repeat;
                        }
                    }
                }

                .title {
                    transition: .3s ease all;
                    
                    &::after {
                        background: url(../../images/plus.svg) center center no-repeat;
                        top: 0;
                        width: rem(24);
                        height: rem(24);
                    }
                }
            }
        }

        .footerDropdown {

            &.selectors {
                display: flex;
                text-align: left;

                .selectCountry {

                    .collapsible-xl {

                        .title {
                            border-bottom: rem(1) solid $white;

                            &::after {
                                display: none;
                            }
                        }
                    }

                }
            }
        }
    }

    .mobile-social-icon {
        display: none;

        @include media-breakpoint-down(xs) {
            display: block;
        }

        .social-desktop {
            @include media-breakpoint-down(xs) {
                display: none;
            }
        }

        .mb-title {
            @include media-breakpoint-down(xs) {
                display: none;
            }
        }

        .social-links {
            width: 100%;
            max-width: 100%;
            margin: 0;
            display: flex;
            gap: rem(70);
            padding: 0 rem(24);
            margin-top: rem(48);
            justify-content: space-between;

            &::after {
                display: none;
            }

            @include media-breakpoint-down(xs) {
                gap: unset;
            }

            li {
                margin: 0;
                width: auto;
            }
        }
    }

    .heading-container {

        .content-asset {
            width: 100%;
        }

        .email-text {
            color: $white;
            font-family: $movado-font;
            font-size: rem(24);
            font-style: normal;
            font-weight: 400;
            line-height: rem(32);
        }
        
        .email-lower-text {
            color: $dark-light-grey;
            font-family: $the-futura-font;
            font-size: rem(16);
            font-style: normal;
            font-weight: 400;
            line-height: rem(20);
            letter-spacing: rem(0.5);
            margin-top: rem(8);
        }
    }

    input {

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active{
            -webkit-background-clip: text;
            -webkit-text-fill-color: $white;
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 rem(20) rem(20) $black;
        }
    }
    
    .footer-top-icon {
        padding: 0;
    }

    .esw-country-selector { 
        width: auto;
        position: relative;
        max-width: rem(190);
        
        .content {
            left: 0;
        }

        span {

            &::after {
                left: 50%;
            }
        }
    }
}


