.progress-meter {
    font-family: $the-futura-font;

    &-free-shipping {
        font-family: $the-futura-font;

        span {
            font-family: $the-futura-font;
        }
    }

    &-box {
        font-family: $the-futura-font;
    }
}

.got-free-shipping {
    
    font-family: $the-futura-font;

    p {
        font-family: $the-futura-font;
    }
}