.container-fluid {

    &.pdp-v-one {

        .product-aruliden-sec {

            .product-gallery {
                max-width: rem(720);
                width: 100%;

                &.primary-images {
                    display: none;

                    @include media-breakpoint-up(custom-md) {
                        display: block;
                    }
                }

                @include media-breakpoint-down(lg) {
                    max-width: rem(480);
                }

                @include media-breakpoint-down(md) {
                    max-width: rem(345);
                }

                .gallery {
                    
                    &-image {

                        .carousel-tile {
                            margin-bottom: rem(2);
                            position: relative;
                            background: $grey-silver-light;

                            img {
                                aspect-ratio: 0.9/1;

                                &:hover {
                                    cursor: zoom-in;
                                }
                            }

                            .slide-video {
                                position: static;
                                aspect-ratio: 0.9/1;
                            }
                        }
                    }
                }
            }

            .primary-images {
                
                .cs-carousel-wrapper {

                    .carousel-tile {
                        
                        @include media-breakpoint-down(sm) {
                            background-color: $grey-silver-light;
                        }
                    }
                }
            } 
        }
    }
}