.container-fluid {

    &.pdp-v-one {

        .product-aruliden-sec {

            .product-gallery {
                max-width: rem(720);
                width: 100%;

                display: none;

                @include media-breakpoint-up(custom-md) {
                    display: block;
                }

                @include media-breakpoint-down(lg) {
                    max-width: rem(480);
                }

                @include media-breakpoint-down(md) {
                    max-width: rem(345);
                }

                .gallery {

                    &-image {

                        .carousel-tile {
                            margin-bottom: rem(2);
                            position: relative;
                            background: $grey-silver-light;

                            img {
                                aspect-ratio: 0.9/1;
                                height: 100%;
                                width: 100%;

                                &:hover {
                                    cursor: zoom-in;
                                }
                            }

                            .slide-video {
                                position: static;
                                aspect-ratio: 0.9/1;
                                min-width: 100%;
                                max-width: 100%;
                                height: 100%;
                                width: inherit;
                                max-height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .cs-carousel-wrapper {

                .traditional-main-carousel {
                    
                    .slick-slide {

                        .carousel-tile {

                            @include media-breakpoint-down(sm) {
                                background-color: $grey-silver-light;
                            }


                            img {

                                @include media-breakpoint-up(xl) {
                                    min-width: auto;
                                    max-width: 100%;
                                    height: 100%;
                                    width: 100%;
                                }

                                @media (max-width: $custom-sm4) {
                                    height: 100%;
                                    width: 100%;
                                }

                                @media (max-width: $small-screen-width375) {
                                    height: 100%;
                                    width: 100%;
                                }

                                @media (max-width: $small-screen-width) {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}