@import '~movado/variables';
@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

header {
    &.new-header {
        &.transparent-header {

            .sticky-header-placeholder {
                display: none;
            }

            // Custom:MSS-2083  this style only works when the header transparent
            &.home-header-transparent {
                // Custom:MSS-2083 text white class
                &.header-white-text{

                    .sticky-header-wrapper {

                        .header-menu-wrapper {
                            &.non-sticky{
                                filter: brightness(0.5) invert(1);
                                -webkit-filter: brightness(0.5) invert(1);

                                &.sticky-header {
                                    &:hover {
                                        background-color: $white;
                                        filter: unset;
                                        -webkit-filter: unset;
                                    }
                                }
                            }
                        }
                    }
                }

                // Custom:MSS-2083 text black class
                &.header-black-text{

                    .sticky-header-wrapper {

                        .header-menu-wrapper {
                            &.non-sticky{
                                filter: unset;
                                -webkit-filter: unset;
                            }
                        }
                    }
                }

                // Custom:MSS-2083 when search open than the header solid
                &.solid-header {

                    .sticky-header-wrapper {

                        .header-menu-wrapper {
                            &.non-sticky{
                                background-color: $white;
                                position: fixed;
                                filter: unset;
                                -webkit-filter: unset;
    
                                &.sticky-header {
                                    background-color: $white;
                                }
    
                                .header-wrapper {
                                   background-color: $white;
    
                                    .header-container {
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                    }
                }

                // Custom:MSS-2083 when header transparent active
                .sticky-header-wrapper {

                    .header-menu-wrapper {
                        &.non-sticky{
                            background-color: transparent;
                            position: absolute;
                            width: 100%;
                            filter: brightness(0.5) invert(1);
                            -webkit-filter: brightness(0.5) invert(1);
                            z-index: 1005;

                            &:hover {
                                background-color: $white;
                                filter: unset;
                                -webkit-filter: unset;
                            }

                            &.sticky-header {
                                position: fixed;
                                background-color: transparent;
                                &:hover {
                                    background-color: $white;
                                    filter: unset;
                                    -webkit-filter: unset;
                                    
                                    .header-wrapper { 
                                        background-color: $white;
                                    }
                                }
                            }

                            .header-wrapper {
                               background-color: transparent;

                                .header-container {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}