@import "~movado/checkout/checkoutLogin";
@import "../variables";
@import "../mixins";

.total-items-label {
    font-weight: bold;
}

.total-price {
    font-weight: bold;
}
.checkout-page{
    input[placeholder],label{
        font-family: $font-medium;
    }
    .hidden-xs-down{
        font-size: rem(14);
        font-family: $font-medium;
    }
}
