@import "~movado/checkout/orderConfirmation";
@import "./../variables";
@import "./../mixins";

.progressbar-container {
  &.confirmation-container {

    li {
      p {
          font-size: rem(12);
          @include media-breakpoint-down(sm) {
              font-size: rem(10);
          }
      }
    }
  }
}

.order-thank-you-email-msg {
  font-family: $font-book;
  font-size: rem(14);
  font-weight: 500;
  @include media-breakpoint-up(md) {
    font-size: rem(15);
  }
  @include media-breakpoint-up(lg) {
    font-size: rem(16);
  }
}

.grand-total{
   span{
     font-weight: 700;
     font-size: rem(18);
   }
}

.order-summary-title{
  h5{
    font-size: rem(16);
    font-family: $font-medium;
    font-weight: 500;
  }
  .order-item-quantity{
    font-size: rem(16);
  }
}
