@import '~movado/miniCart';
@import "productCard";



.minicart {

    .minicart-quantity {
        background-color: $black;
        height: rem(4);
        width: rem(4);
    }
    
    .bonus-line-item-heading {
        font-family: $movado-font;
    }

    .sub-total-label {
        font-family: $the-futura-font;
        font-weight: bold;
    }

    .promo-msg {
        font-family: $the-futura-font;
    }

    .sub-total {
        font-family: $the-futura-font;
        font-weight: bold;
    }

    .line-item-attributes {
        font-family: $the-futura-font;
        font-weight: 400;
    }

    .view-cart {
        font-family: $movado-font;
    }
}

.model-name {
    font-family: $the-futura-font;
}

label.quantity-label {
    font-family: $the-futura-font;
}