
  @mixin headline($fontSize:16){
      font-size: rem($fontSize);
      letter-spacing: 2px;
      font-weight: 500;
      font-family: $movado-font !important;
  }
  @mixin formlabel($fontSize:14){
    font-size: rem($fontSize);
    letter-spacing: 1px;
    font-weight: 300;
    font-family: $movado-font !important;
  }
