@import 'vars';
@import '~movado/login';


.login-form-nav {

    .hidden-xs-down {
        font-family: $the-futura-font;
    }

    .privacy-policy {
        font-family: $the-futura-font;
    }

    .nav-item {

        .nav-link {
            font-family: $the-futura-font;
        }
    }
}

.login-page {

    .custom-select {
        font-family: $the-futura-font;
    }

    input[placeholder],label {
        font-family: $the-futura-font;
    }

    button {
        font-family: $movado-font;
    }
}

.track-order-header-description {
    & a {
        font-family: $the-futura-font;
    }
}
