@import '~movado/storeLocator';
@import "storeLocator/storeLocator";
@import "vars";


.gm-style-iw {

    .store-details {
        font-family: $the-futura-font;
        
        .store-name {
            font-family: $the-futura-font;
        }
    }
}


.store-locator-hero {

    h1.page-title {
        font-family: $movado-font;
    }
}

.store-locator-container {

    .results-card {

        .store-map,.store-hours {
            font-family: $the-futura-font;
        }

        label {
            font-family: $the-futura-font;
        }
    }

    .search-form {
        
        .find-store-form {

            .store-locator {

               .form-group {

                   .form-control-label {
                       font-family: $the-futura-font;
                   }

                   input[placeholder] {
                       font-family: $the-futura-font;
                   }
               }
            }
        }
    }


}

.find-store-select {

    .custom-select  {
        font-family: $the-futura-font;
    }
}