$white: #fff;
$gray49: #7d7d7d;
//font Families:
$font-medium : "Ubuntu-Medium", Arial, sans-serif !default;
$font-book : "Ubuntu-Regular", Arial, sans-serif !default;
$font-bold : "Ubuntu-Bold", Arial, sans-serif !default;
$font-primary: $font-book;