.blog-featured-post {

    line-height: 1.5;
    font-size: 100%;
    text-size-adjust: 100%;
    box-sizing: inherit;
    display: block;
    letter-spacing: rem(1.5);
    font-family: $blog-font-primary;
    margin: 0 rem(-8);

    &-title {
        text-size-adjust: 100%;
        font-family: $blog-font-primary;
        box-sizing: inherit;
        letter-spacing: rem(1.92);
        text-transform: uppercase;
        font-size: rem(34);
        line-height: 1;
        text-align: center;
        margin: rem(25) 0 rem(20);
        font-family: $font-bold;

        @include media-up ($mvmt-custom-lg) {
            font-size: rem(50);
            padding: 0;
            text-align: left;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            margin: 0 rem(35) 0 0;
            width: rem(50);
            margin: 0 rem(35) 0 0;
            font-weight: bold;
        }
    }

    &.blog-featured-post {

        &-disruptor {
            margin-top: rem(50);
        }
    }

    @include media-up (xl) {
        padding: 0 rem(60);
    }

    @include media-up ($mvmt-custom-lg) {
        padding: 0 rem(40);
        display: flex;
        margin: rem(45) auto rem(80);
    }
}

.article-grid-item {

    line-height: 1.5;
    font-size: 100%;
    text-size-adjust: 100%;
    letter-spacing: rem(1.5);
    font-family: $blog-font-primary;
    box-sizing: inherit;
    display: block;
    box-shadow: 0 0 rem(27) rem(-3) rgba(0, 0, 0, .3);
    width: 100%;
    margin: 0 0 rem(40);

    @include media-up (xl) {
        margin: 0 rem(30) rem(100);
    }

    &-separator {
        background-color: $black;
        color: $white;
    }

    &-link {
        line-height: 1.5;
        font-size: 100%;
        text-size-adjust: 100%;
        box-sizing: inherit;
        background-color: transparent;
        color: inherit;
        text-decoration: none;
        font-family: $blog-font-primary;
        letter-spacing: rem(1.5);
        display: block;

        &:hover {
            color: inherit; 
            text-decoration: none; 
        }
    }

    &-image {
        line-height: 1.5;
        font-size: 100%;
        text-size-adjust: 100%;
        color: inherit;
        font-family: $blog-font-primary;
        letter-spacing: rem(1.5);
        box-sizing: inherit;
        border-style: none;
        height: auto;
        max-width: 100%;
        font-style: italic;
        vertical-align: middle;
        display: block;
        width: 100%;
    }

    &-main {
        line-height: 1.5;
        font-size: 100%;
        text-size-adjust: 100%;
        box-sizing: inherit;
        letter-spacing: rem(1.5);
        font-family: $blog-font-primary;
        padding: 0 0 rem(40);
        text-align: center;
        background-color: $white;
    }

    &-tag {
        -webkit-font-smoothing: antialiased;
        text-size-adjust: 100%;
        text-align: center;
        box-sizing: inherit;
        text-decoration: none;
        font-family: $blog-font-primary;
        letter-spacing: rem(1.5);
        background-color: $black;
        color: $white;
        text-transform: uppercase;
        font-size: rem(12);
        line-height: 2.1;
        display: block;
        padding-left: rem(10);
        padding-right: rem(10);

        &:hover {
            color: $white;
            text-decoration: underline;
        }

        &-wrapper {
            line-height: 1.5;
            font-size: 100%;
            text-size-adjust: 100%;
            text-align: center;
            box-sizing: inherit;
            letter-spacing: rem(1.5);
            font-family: $blog-font-primary;
            display: flex;
            justify-content: center;
            margin-bottom: rem(40);
        }
    }

    &-title {
        text-size-adjust: 100%;
        text-align: center;
        color: inherit;
        font-family: $blog-font-primary;
        box-sizing: inherit;
        font-weight: bold;
        letter-spacing: rem(1.5);
        text-transform: uppercase;
        margin: 0;
        margin-bottom: rem(10);
        line-height: 1;
        font-size: rem(24);
        padding: 0 rem(25);
    }

    &-view {
        text-size-adjust: 100%;
        letter-spacing: rem(1.5);
        box-sizing: inherit;
        text-align: center;
        font-size: rem(12);
        line-height: 1;
        color: $black;
        margin: rem(30) rem(35) 0;
        display: inline-block;
        font-family: $font-bold;
        font-weight: bold;
        text-transform: uppercase;
        font-style: normal;

        &:after {
            content: "";
            background-image: url(../../images/arrow-right.svg);
            background-size: cover;
            background-repeat: no-repeat;
            display: inline-block;
            height: rem(8);
            width: rem(5);
            margin-left: rem(7);
        }
    }

    &-excerpt {
        text-size-adjust: 100%;
        text-align: center;
        box-sizing: inherit;
        font-size: rem(12);
        line-height: rem(14);
        color: $light-gray;
        padding: 0 rem(35);
        letter-spacing: rem(1.5);
        font-family: $blog-font-primary;
        font-weight: bold;
        text-transform: uppercase;
        font-style: normal;
    }

    &.article-grid-item {

        &-featured {
            box-shadow: none;
            width: 100%;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
    
            @include media-up ($mvmt-custom-lg) {
                margin: 0;
            }
        }

        &-disruptor {
        
            box-shadow: none;
            position: relative;
    
            .article-grid-item {
    
                &-main {
                    box-shadow: 0 0 rem(27) rem(-3) rgba(0, 0, 0, .3);
                    width: 80%;
                    margin: rem(-30) auto 0;
                    position: relative;
                    z-index: 2;
    
                    @include media-up (md) { 
                        margin: rem(-40) auto 0;
                    }
    
                    @include media-up ($mvmt-custom-xl2) {
                        position: absolute;
                        right: 0;
                        top: 10%;
                        width: 40%;
                        margin: 0;
                        padding-bottom: rem(20);
                    }
                }
    
                &-title {
                    margin-bottom: rem(10);
                    padding: 0 rem(25);
    
                    @include media-up ($mvmt-custom-lg) {
                        font-size: rem(21);
                    }
                }
    
                &-view {
                    margin-top: rem(20);
                }
    
                &-image {
                    @include media-up ($mvmt-custom-xl2) {
                        width: 65%;
                    }
                }
            }
    
            @include media-up (xl) { 
                width: calc(50% - 60px);
            }
    
            @include media-up ($mvmt-custom-xl2) {
                max-width: 100%;
                width: calc(50% - rem(40));
            }
    
        }

        &-highlight {

            @include media-up ($mvmt-custom-lg) {
    
                width: calc(66.66% - 60px);
                max-width: 100%;
                box-shadow: none;
                position: relative;
                text-align: right;
    
                .article-grid-item {
    
                    &-link {
                        height: 100%;
                        display: inline-block;
                        overflow: visible;
                        text-align: left;
                        position: relative;
                    }
    
                    &-image {
                        max-width: none;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: auto;
                    }
    
                    &-main {
                        position: absolute;
                        width: 50%;
                        top: 25%;
                        left: 0;
                        box-shadow: 0 0 rem(27) rem(-3) rgba(0, 0, 0, .3);
                    }
    
                    &-tag-wrapper {
                        margin: rem(35) 0 rem(25) rem(-15);
                        -ms-flex-pack: start;
                        justify-content: flex-start;
                    }
    
                    &-title {
                        font-size: rem(40);
                        text-align: left;
                        padding: 0 rem(35);
                    }
    
                    &-excerpt {
                        text-align: left;
    
                            p {
                                text-align: left;
                                font-family:$font-brandon-grotesque;
                            }
                    }
    
                    &-view {
                        margin-top: rem(20);
                    }
                }
            }
        }
    }
}

.article-grid-item-featured {
    position: relative;

    .article-grid-item {
            
        &-main {
            box-shadow: 0 0 rem(27) rem(-3) rgba(0, 0, 0, .3);
            width: calc(100% - 80px);
            margin: rem(-30) auto 0;
            position: relative;

            @include media-up ($mvmt-custom-lg) {
                max-width: rem(425);
                position: absolute ;
                right: 0 ;
                top: 40% ;
                text-align: left;
                margin: 0 ;
                padding: 0 0 rem(40) ;
            }

            @include media-up (md) {
                width: calc(100% - 80px);
            }
            
        }

        &-title {
            font-size: rem(24);
            line-height: 1;


            @include media-up ($mvmt-custom-lg) {
                text-align: left;
                letter-spacing: rem(4.4);
                font-weight: bold;
                font-size: rem(40);
                text-size-adjust: 100%;
                text-align: left;
                color: inherit;
                font-family: $blog-font-primary;
                box-sizing: inherit;
                text-transform: uppercase;
                margin: 0;
                letter-spacing: rem(2.5);
                margin-bottom: rem(10);
                padding: 0 rem(25);
            }
        }

        &-excerpt {
            font-size: rem(12);
            line-height: rem(14);

            @include media-up ($mvmt-custom-lg) {
                font-size: rem(14);
                line-height: rem(20);
            }
        }

        &-tag-wrapper {

            @include media-up ($mvmt-custom-lg) {
                margin: rem(35) 0 rem(30) rem(-15);
                -ms-flex-pack: start;
                justify-content: flex-start;
            }
        }
        
        &-image {
            @include media-up ($mvmt-custom-lg) {
                width: 80%;
            }
        }

    }

    @include media-up ($mvmt-custom-lg) {

        width: 100% ;
    }

    &.left-aligned {

        .article-grid-item {

            &-main {
                right: auto;
            }

            &-image {
                margin-left: auto;
            }

            &-link:first-child {
                display: flex;
            }
        }
        
    }
}

.post-container {
    height: 100%;

    section:not(.blog-featured-post) {
        height: 100%;
    }

    .article-grid-item {
        height: 93%; 
    }

    &.grid-featured-tile {

        @include media-up ($mvmt-custom-xxl) {
            width: 66.6%;
        }

        .blog-featured-post {
            margin: 0;
            padding: 0;
            height: 100%;

            .article-grid-item {
                height: 100%;

                @include media-down ($mvmt-custom-down-xxl) {
                    height: 93%;
                    box-shadow: 0 0 rem(27) rem(-3) rgba(0, 0, 0, .3);
                }

                &-link {
                    height: 100%;

                    @include media-down ($mvmt-custom-down-xxl) {
                        display: block;
                        height: auto;
                    }
                }

                &-main {
                    top: 25%;
                    width: 50%;

                    @include media-down ($mvmt-custom-down-xxl) {
                        position: relative;
                        top: 0;
                        width: 100%;
                        box-shadow: none;
                        text-align: center;
                        margin: 0;
                    }
                }

                &-tag {

                    &-wrapper {

                        @include media-down ($mvmt-custom-down-xxl) {
                            margin: 0 0 rem(40) 0;
                            justify-content: center;    
                        }
                        
                    }
                }

                &-title {
                    
                    @include media-down ($mvmt-custom-down-xxl) {
                        text-size-adjust: 100%;
                        text-align: center;
                        color: inherit;
                        font-family: $blog-font-primary;
                        box-sizing: inherit;
                        font-weight: bold;
                        letter-spacing: rem(1.5);
                        text-transform: uppercase;
                        margin: 0;
                        margin-bottom: rem(10);
                        line-height: 1;
                        font-size: rem(24);
                        padding: 0 rem(25);
                    }
                }

                &-image {
                    height: 93%;
                    width: 85%;

                    @include media-down ($mvmt-custom-down-xxl) {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}