.view-all {
    width: auto;
    box-shadow: none;
    background-color: $white;
    border: rem(1) solid $light-gray4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center; 
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: rem(60) 0;
    margin: 0 auto;

    &:focus {
        outline: none;
    }

    &:hover {
        text-decoration: none;
    }

    &-content {
        display: block;
        text-align: center;
    }

    &-title {
        font-size: rem(20);
        line-height: rem(24);
        font-weight: 400;
        width: 100%;
        margin-bottom: rem(15);
        padding: 0 rem(25);
    }

    &-btn {
        display: inline-block;
        font-size: rem(11);
        line-height: 1;
        position: relative;
        text-transform: uppercase;
        font-weight: 500;

        &:after {
            content: "";
            display: block;
            border-bottom: rem(2) solid $black;
            position: absolute;
            bottom: rem(-4);
            width: 100%;
        }
    }
    
    @include media-up (xl) {
        margin: 0 rem(30) rem(100);
    }

    @include media-up (md) {
        margin: 0 rem(20) rem(50);
    }

    @include media-up ($mvmt-custom-xl2) {
        margin: 0 rem(20) rem(60);
    }
}

.view-more-container {
    height: 100%;

    .article-grid-item {
        height: 93%;
    }
}