@import "~movado/checkout/checkoutComponents";

.klarna {
  &-panel {
    &-image {
      width: rem(68);
      background: url("../../../images/klarna.svg") center center no-repeat;
      height: rem(15);
      position: absolute;
      left: rem(23);
      top: rem(13);
      @include media-breakpoint-down(sm) {
        background: url("../../../images/klarna-mobile.svg") center center no-repeat;
        left: 11px;
        top: 10px; 
      }
    }
  }
}

.payment-options{
  .nav-link {
    position: relative;
  }

  .klarna-payment-button {
    background-color: #FFBBCE!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-check {
    .panel-title {
      .accordion-link {
        + label {
          &:before {
            width: rem(22)!important;
            height: rem(22)!important;
          } 
        }
      }
    }
  } 
}
