@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

.item-attributes {
    vertical-align: top;
    padding-left: 0;
}

.line-item-attributes,
.line-item-option {
    font-size: 0.813rem;
    margin: 0;
    font-weight: 500;   
}

.line-item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $darker-gray;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.313em;
}

.line-item-pricing-info {
    margin-bottom: 0;

    + .price {
        font-size: 0.875rem;
        font-weight: bolder;
    }
}

.line-item-price-quantity-info {
    margin-top: 0.625em;
    border-top: 1px solid $horizontal-rule-grey;
}

.flex {
    display: flex;
}

.line-item-total-text {
    font-size: 0.813em;
}

.pricing {
    font-size: 1em;
    font-weight: bolder;
}

.item-image {
    height: rem(80);
    width: rem(80);
    margin-right: rem(16);
    flex-grow: 0;
    flex-shrink: 0;

    img.product-image {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        max-height: rem(80);
    }
}

.non-adjusted-price {
    display: none;
}

.line-item-promo {
    color: $success;
    font-size: 0.813em;
}

.line-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
}

.bundled-line-item + .bundled-line-item {
    margin-top: 0.625em;
}

.bundle-includes {
    font-size: 0.813em;
    margin-bottom: 0.625em;
}

.line-item-divider {
    margin: 0.625em -1.225em 0.625em -1.325em;
}

.line-dotted {
    border-top: 0.063em dashed #ccc;
}

.line-item-availability {
    font-size: 0.813rem;
}

.product-line-item-details {
    overflow-y: auto;
}
// mss-1854
.cart-quantity-btn {

    .arrow-down {
        z-index: 10;
        width: rem(5);
        height: rem(5);
        border-bottom: rem(1) solid $google-grey1;
        border-right: rem(1) solid $google-grey1;
        pointer-events: none;
        transform: rotate(45deg);
        position: relative;
        left: rem(-11);

        @include media-breakpoint-down(xs) {
            width: rem(10);
            height: rem(10);
            left: rem(-17);
            margin-top: rem(-5);
        }
    }
    
    .quantity-label-mbl {
        display: none;

        @include media-breakpoint-down(xs) {
            display: block;
            font-size: rem(18);
            font-weight: 500;
        }
    }

    .quantity-label {
        font-size: rem(18);
        font-weight: 500;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    .quantity-form {

        .form-control {

            &.custom-select {
                margin-left: rem(7);
                padding: 0 rem(10);
                width: rem(45);
                min-width: unset;
                height: rem(20);
                font-weight: 500;

                @include media-breakpoint-down(sm) {
                    padding: 0 rem(7);
                }
            }
        }
    }

    .quantity-form {
        display: flex;
        align-items: center;
    }
}