@font-face {
    font-family: "FuturaStd-Book";
    font-display: block;
    src: url('fonts/38DBC0_0_0.eot');src: url('fonts/38DBC0_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/38DBC0_0_0.woff2') format('woff2'),url('fonts/38DBC0_0_0.woff') format('woff'),url('fonts/38DBC0_0_0.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "FuturaStd-Medium";
    font-display: block;
    src: url('fonts/38DBC0_1_0.eot');src: url('fonts/38DBC0_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/38DBC0_1_0.woff2') format('woff2'),url('fonts/38DBC0_1_0.woff') format('woff'),url('fonts/38DBC0_1_0.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "FuturaStd-Bold";
    font-display: block;
    src: url('fonts/38DBC0_2_0.eot');src: url('fonts/38DBC0_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/38DBC0_2_0.woff2') format('woff2'),url('fonts/38DBC0_2_0.woff') format('woff'),url('fonts/38DBC0_2_0.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
  }
