.trending-category-recommendation {

    .cs-carousel-wrapper {

        .carousel-title {
            font-family: $font-raleway-medium;   
        }
    }

    .product {

        .product-tile {

            .out-of-stock {
               font-family: $font-raleway-book;
            }

            .new-product, .pre-order, .out-of-stock  {       
                font-family: $font-raleway-book;
            }

            .tile-body {

                .price {       
                    font-family: $font-raleway-book;
                }
    
                .product-name {            
                    font-family: $font-raleway-medium;
                }
            }
        }
    }
}
