@import "~movado/components/_carousel";

.cs-carousel-wrapper {
    
    .slick-arrow {
        padding: rem(0) rem(0);

        &.slick-prev {
            left: rem(10);
        }
        &.slick-next {
            right: rem(10);
        }
    }
}

@include media-breakpoint-up(sm) {
    .cs-carousel-wrapper {
        
        .slick-arrow {
            
            &.slick-prev {
                left: rem(-5);
            }
            &.slick-next {
                right: rem(-5);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .cs-carousel-wrapper {
        
        .slick-arrow {
            &.slick-prev {
                left: rem(20);
                border-radius: 50%;
                border: 0.0625rem solid #B0B0B0;
                background-color: #F2F2F2;
            }
            &.slick-next {
                right: rem(20);
                border-radius: 50%;
                border: 0.0625rem solid #B0B0B0;
                background-color: #F2F2F2;
            }
        }
    }
}

.cs-carousel-wrapper {

    @include media-breakpoint-down(xs) {
        .cs-carousel {
            padding-bottom: rem(40.59);
        }
    }
    .carousel-title {
        font-family: $font-bold;
        font-size: rem(30);
        font-weight: bold;
      }

    .slick-dots {
        button {
            font-size: 0;
        }
    }
    .slick-arrow {
        font-size: 0;
    }
}

@include media-breakpoint-up(md) {
  .cs-carousel-wrapper {
    .carousel-title {
        font-size: rem(26);
        font-weight: 300;
    }
  }
}

@include media-breakpoint-up(lg) {
    .cs-carousel-wrapper {
        .carousel-title {
            font-size: rem(36);   
            font-weight: bold;
        }
    }
}
