@import "~movado/components/_cartProductTile";
@import "../commonPlaceholders";
@import "../variables";


.product-card-wrapper {
    .line-item-name {
        font-family: $font-medium;
        font-size: rem(16);
        font-weight: 500;
    }
    .item-info {
        .item-attributes {
            .total-amount {
                font-family: $font-medium;
                font-weight: 500;
                font-size: rem(18);
            }
            .model-name, .original-price, .savings {
                font-family: $font-medium;
                font-weight: 500;
                font-size: rem(14);
            }
            .savings {
                color: $green;
            }
            .personalize-msg, .personalize-price {
                font-family: $font-book;
                font-weight: 300;
                font-size: rem(14);

            }
        }
    }
}
