@import "~movado/components/_carousel";

.cs-carousel-wrapper {

.pdp-carousel {

        .slick-arrow {
            padding: rem(0) rem(0);
    
            &.slick-prev {
                left: rem(10);
            }
            &.slick-next {
                right: rem(10);
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .cs-carousel-wrapper {

        .pdp-carousel { 
            
            .slick-arrow {
            
                &.slick-prev {
                    left: rem(0);
                }
                &.slick-next {
                    right: rem(0);
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .cs-carousel-wrapper {
        
        .slick-arrow {
            &.slick-prev {
                left: rem(20);
                border-radius: 50%;
                border: 0.052rem solid $silver;
                background-color: $white-smoke;
                height: rem(50.83);
                width: rem(50.83);
                margin-top: rem(70);
                background-image: url(../../images/icons/long-arrow-left.svg);
                box-shadow: 0 rem(2) rem(8) 0 $silver2;left: rem(-25);
            }
            &.slick-next {
                right: rem(20);
                border-radius: 50%;
                border: 0.052rem solid $silver;
                background-color: $white-smoke;
                height: rem(50.83);
                width: rem(50.83);
                margin-top: rem(70);
                background-image: url(../../images/icons/long-arrow-right.svg);
                box-shadow: 0 rem(2) rem(8) 0 $silver2;
            }
        }
    }
}

.cs-carousel-wrapper {

    @include media-breakpoint-down(xs) {
        .cs-carousel {
            padding-bottom: rem(40.59);
        }
    }
    .carousel-title {
        font-family: $font-bold;
        font-size: rem(30);
        font-weight: bold;
        letter-spacing: rem(0);
      }

    .slick-dots {
        button {
            font-size: 0;
            width: 2.5rem;
            height: 0.1125rem;
            border-radius: 0rem;
        }
    }
    .slick-arrow {
        font-size: 0;
    }
}

@include media-breakpoint-up(md) {
  .cs-carousel-wrapper {
    .carousel-title {
        font-size: rem(26);
        font-weight: 300;
    }
  }
}

@include media-breakpoint-up(lg) {
    .cs-carousel-wrapper {
        
        .carousel-title {
            font-size: rem(36);   
            font-weight: bold;
        }
    }
}
