@import "~movado/components/_common";
@import "../variables";

body {
  @include primary-font;
}

h1 {
  font-size: rem(38);
}

.heading-one {
  font-family: $font-bold;
  font-size: rem(30);
  font-weight: bold;
}
.heading-two {
  font-family: $font-medium;
  font-size: rem(20);
}
.heading-three {
  font-family: $font-medium;
  font-size: rem(18);

}
.heading-four {
  font-family: $font-medium;
  font-size: rem(16);
}
.body-text {
  font-family: $font-book;
  font-size: rem(14);
}



@include media-breakpoint-up(md) {
  .heading-one {
    font-family: $font-bold;
    font-weight: bold;
    font-size: rem(40);
  }
  .heading-two {
    font-size: rem(32);
    font-family: $font-bold;
    font-weight: bold;
  }
  .heading-three {
    font-size: rem(24);
  }
  .heading-four {
    font-size: rem(20);
  }
}
@include media-breakpoint-only(md) {
  .body-text {
    font-size: rem(15);
  }
}
@include media-breakpoint-up(lg) {
  .body-text {
    font-size: rem(16);
  }
}


// Styles for promo code form on cart and checkout page
.collapsible-promo-wrapper {


  [class*="collapsible-"] {

    .title {
      font-family: $font-medium;
      font-weight: 500;
      font-size: rem(14);

      &::after {
        font-size: rem(24);
      }
    }

    &.active {
      .title::after {
        font-size: rem(24);
      }
    }
  }

}

// Styles for coupons on cart and checkout page
.coupons-wrapper {

  .coupon-promotion-relationship {
    font-size: rem(14);
  }

  .coupon-code {
    font-family: $font-medium;
    font-size: rem(16);
  }


  .coupon-applied,
  .coupon-not-applied {
    font-family: $font-medium;
    font-size: rem(12);
  }

  .remove-coupon {
    font-size: rem(24);
  }
}


.form-group {
	.form-control-field-label {
		font-family: $font-medium;
		font-size: rem(14);
	}
}


.password-description {
  font-size: rem(14);
}

.custom-select {
  background: none !important;
  font-family: $font-medium;
  font-weight: 400;
}

.btn-outline-primary {
  font-size: rem(20);
}

.btn-primary {
  font-weight: 500;
  font-family: $font-medium;
  font-size: rem(16);
}

.btn-outline-primary {
  font-family: $font-regular;
    font-weight: 400;
    font-size: rem(16);
}

.yotpo .text-m {
  font-family: $font-medium;
  font-weight: 500;
}

.yotpo-sum-reviews {
  .font-color-gray.based-on {
    font-family: $font-medium;
    font-weight: 500;
  }
}

.yotpo-label {
  .yotpo-default-button span {
      font-family: $font-medium;
      font-weight: 500;
  }
}

.show-more {
  .text-center {
    button {
      font-family: $font-regular;
      font-weight: 400;
      font-size: rem(20);
    }
  }
}

@include media-breakpoint-down(xs) {
  font-size: rem(30);
}

.yotpo .yotpo-regular-box {
  font-family: $font-book;
  border-radius: rem(3);
  background-color: #FFFFFF;
  box-shadow: 0 rem(2) rem(8) 0 $grey-dark-2;
}

.yotpo-review.yotpo-regular-box {
  .content-title {
    font-family: $font-medium;
    font-weight: 500;
  }
}
.yotpo-review.yotpo-regular-box {
  .content-review {
    font-family: $font-regular;
    font-weight: 400;
  }
}

.yotpo-review.yotpo-regular-box {
  .yotpo-header-element  {
    font-family: $font-medium;
    font-weight: 500;
  }
}

.yotpo-footer {
  font-family: $font-medium !important;

  .footer-actions {
    font-family: $font-medium;

  .yotpo-action {

      .y-label {
        font-family: $font-medium;
      }
    }
  }
}

.yotpo-footer {
  font-family: $font-medium;

  .label-helpful {
    font-family: $font-regular;
    font-weight: 400;
  }

  .footer-additional-actions {
    font-family: $font-medium;

    .y-label.yotpo-review-date {
      font-family: $font-medium;
    }
  }
}

.yotpo.yotpo-main-widget {
    .yotpo-review {
      .yotpo-review-date {
        font-family: $font-medium;
        font-weight: 500;
      }
    }
}

.yotpo-label.yotpo-small-box {
  font-family: $font-medium;
  .yotpo-logo-title {
    font-family: $font-medium;
 }
}

.yotpo-small-box {
  .yotpo-nav.yotpo-nav-primary ul {
    font-family: $font-medium;
    .yotpo-nav-tab {
    .yotpo-nav-wrapper span {
      font-family: $font-medium;
      }
    }
  }
}
.nav-tabs {
  .nav-link {
    font-weight: 500;
  }
}

.value {
  .b {
    font-family: $font-medium;
    font-weight: 500;
  }
}

.yotpo-nav-content {

  .yotpo-first-review {
    
    .yotpo-default-button {
      font-family: $font-regular;
      font-weight: 400;
    }
  }
  .yotpo-reviews {
    .yotpo-regular-box {
      margin-bottom: rem(30);
    }
    .yotpo-header{
      .yotpo-icon-profile {
        display: none !important;
    }
    }
  }
}

.main-widget.yotpo-display-wrapper {
  .yotpo-header-element .yotpo-user-name {
    font-family: $font-medium;
    font-weight: 500 !important;
  }

  .y-label.yotpo-user-title {
    font-family: $font-book-std;
    font-weight: 300 !important;
  }
}