@import "~movado/components/_common";
@import "../variables";

body {
  @include primary-font;
}

h1 {
  font-size: rem(38);
}

.heading-one {
  font-family: $font-bold;
  font-size: rem(30);
  font-weight: bold;
}
.heading-two {
  font-family: $font-medium;
  font-size: rem(20);
}
.heading-three {
  font-family: $font-medium;
  font-size: rem(18);
}
.heading-four {
  font-family: $font-medium;
  font-size: rem(16);
}
.body-text {
  font-family: $font-book;
  font-size: rem(14);
}

@include media-breakpoint-up(md) {
  .heading-one {
    font-family: $font-bold;
    font-weight: bold;
    font-size: rem(40);
  }
  .heading-two {
    font-size: rem(32);
    font-family: $font-bold;
    font-weight: bold;
  }
  .heading-three {
    font-size: rem(24);
  }
  .heading-four {
    font-size: rem(20);
  }
}
@include media-breakpoint-only(md) {
  .body-text {
    font-size: rem(15);
  }
}
@include media-breakpoint-up(lg) {
  .body-text {
    font-size: rem(16);
  }
}

// Styles for promo code form on cart and checkout page
.collapsible-promo-wrapper {
  [class*="collapsible-"] {
    .title {
      font-family: $font-medium;
      font-weight: 500;
      font-size: rem(14);

      &::after {
        font-size: rem(24);
      }
    }

    &.active {
      .title::after {
        font-size: rem(24);
      }
    }
  }
}

// Styles for coupons on cart and checkout page
.coupons-wrapper {
  .coupon-promotion-relationship {
    font-size: rem(14);
  }

  .coupon-code {
    font-family: $font-medium;
    font-size: rem(16);
  }

  .coupon-applied,
  .coupon-not-applied {
    font-family: $font-medium;
    font-size: rem(12);
  }

  .remove-coupon {
    font-size: rem(24);
  }
}

.form-group {
  .form-control-field-label {
    font-family: $font-medium;
    font-size: rem(14);
  }
}

.password-description {
  font-size: rem(14);
}

.custom-select {
  background: none !important;
  font-family: $font-medium;
  font-weight: 400;
}

.btn-outline-primary {
  font-size: rem(20);
}

.btn-primary {
  font-weight: 500;
  font-family: $font-medium;
  font-size: rem(16);
}

.btn-outline-primary {
  font-family: $font-regular;
  font-weight: 400;
  font-size: rem(16);
}

.yotpo .text-m {
  font-family: $font-medium;
  font-weight: 500;
  font-size: rem(16) !important;
}

.yotpo-sum-reviews {
  .font-color-gray.based-on {
    font-family: $font-medium;
    font-weight: 500;
  }
}

.yotpo-label {
  .yotpo-default-button span {
    font-family: $font-medium;
    font-weight: 500;
  }
}

.show-more {
  .text-center {
    button {
      font-family: $font-regular;
      font-weight: 400;
      font-size: rem(20);
    }
  }
}

@include media-breakpoint-down(xs) {
  font-size: rem(30);
}
.mcs-yotpo-reviews {
  .title {
    font-family: $font-bold;
    font-size: rem(36);
    color: $black1;
    font-weight: bold;
    letter-spacing: rem(0);
    text-align: center;
  }

  .yotpo {
    &.yotpo-main-widget {
      @mixin ReviewText() {
        font-family: $font-medium;
        font-size: rem(20);
        font-weight: 500;
        letter-spacing: rem(0);
        color: $black1;
      }

      .main-widget {
        .yotpo-bottomline-3-boxes {
          position: relative;
          display: flex;
          justify-content: center;
          box-shadow: none;
          border: none;
          @include media-breakpoint-down(md) {
           flex-direction: column;
           justify-content: center;
        }
          .yotpo-regular-box {
            .yotpo-bottomline-box-2 {
              @include media-breakpoint-down(md) {
                display: none;
            }
            }
          }

        }

        .yotpo-small-box {
          border: none;
          display: none;
        }

        .yotpo-nav-content {
          & > div.yotpo-active {
            margin-left: rem(45);
            margin-right: rem(51);

            @include media-breakpoint-down(md) {
              margin-left: rem(10);
              margin-right: rem(10);
            }
          }

          .yotpo-header {
            .yotpo-review-stars {
              .yotpo-icon {
                color: $amber3;
              }
            }
          }
          .yotpo-review {
            &.yotpo-regular-box {
              border-radius: rem(3);
              background-color: $white1;
              box-shadow: 0 rem(2) rem(8) 0 rgba(207, 207, 207, 0.5);
              min-height: rem(278);
              padding: rem(30) rem(50);
              margin-left: auto;
              margin-right: auto;
              @include media-breakpoint-down(md) {
                background-color: transparent;
                box-shadow: none;
                border-bottom: rem(1) solid $grey10;
                border-top: none;
                padding: rem(0);
              }

              .yotpo-header-element  {

                .yotpo-user-name {
                  position: absolute;
                  top: rem(165);
                  bottom: rem(0);
                  color: $grayish-blue;
                  font-family: $font-medium;
                  font-size: rem(16);
                  font-weight: 500;
                  letter-spacing: 0;
                  line-height: rem(25);
                  margin-top: rem(15);
                }

                .yotpo-user-title {
                  position: absolute;
                  top: rem(204);
                  bottom: rem(0);
                  color: rgba(0, 0, 0, 0.4);
                  font-family: $font-user;
                  font-size: rem(12);
                  font-weight: 300;
                  letter-spacing: rem(0.6);
                }
              }

            }

            .yotpo-review-date {
              margin-right: rem(0);
            }

            .yotpo-main {
                margin-top: rem(0);
                margin-bottom: rem(0);

              .content-title {
                color: $grayish-blue;
                font-family: $font-medium;
                font-size: rem(24);
                font-weight: 500;
                letter-spacing: 0; 
                padding-top: rem(15);
                padding-bottom: rem(15);
              }

              .content-review {
                color: $grayish-blue;
                font-family: $font-medium;
                font-weight: 400;
                font-size: rem(16);
                letter-spacing: 0;
                margin-top: rem(15);
              }
            }
          }

          .yotpo-main {
            margin-left: rem(0);
          }
        }

        .yotpo-bottomline {
          .yotpo-star-digits {
            @include ReviewText;
          }
        }

        .yotpo-label {
          &.yotpo-small-box {
            .yotpo-icon-btn {
              display: block;
              padding: rem(6) rem(11);
              left: 50%;
              top: 65%;
              z-index: 11;
              transform: translate(-335%, 647%);
              margin: auto;
            }
          }
        }

        .yotpo-regular-box {
          .yotpo-bottomline-box-2 {
            .yotpo-star-distribution {
              border: none;

              &-content {
                .yotpo-distibutions-stars {
                  .review-stars {
                    .yotpo-icon {
                      &.yotpo-icon-star {
                        &.pull-left {
                          float: right;
                        }
                      }
                      &.yotpo-icon-empty-star {
                        display: none;
                      }
                    }
                  }
                }

                .yotpo-distributions-graphs {
                  .yotpo-star-distribution-graph {
                    width: rem(325) !important;

                    &-background {
                      height: rem(6);
                      width: rem(325);
                      border-radius: rem(5);
                      background-color: $light-grey;
                    }

                    &-score {
                      background-color: $black;
                    }
                  }
                }
              }
              .yotpo-star-distribution-content {
                @include media-breakpoint-down(md) {
                  display: none;
                }
              }
            }
          }
          .yotpo-bottomline-box-1 {
            display: flex;
            align-items: center;
            margin-right: rem(100);
            
            @include media-breakpoint-down(md) {
              justify-content: center;
              width: 100%;
            }
            .yotpo-stars {
              .yotpo-icon {
                &.yotpo-icon-star:nth-child(1),
                &.yotpo-icon-star:nth-child(2),
                &.yotpo-icon-star:nth-child(3),
                &.yotpo-icon-star:nth-child(4) {
                  display: none;
                }

                &.yotpo-icon-star:nth-child(5) {
                  font-size: rem(31);
                  height: rem(32);
                  width: rem(30);
                }
              }
            }
            .yotpo-sum-reviews {
              position: relative !important;
              left: rem(10) !important;
              top: 0 !important;
              @include ReviewText;

              .based-on {
                @include ReviewText;
              }

              .star-digits {
                @include ReviewText;
              }

              &::before {
                position: absolute;
                left: rem(-4.5);
                top: rem(5);
                content: "(";
                @include ReviewText;
              }

              &::after {
                position: absolute;
                right: rem(-4.5);
                top: rem(5);
                content: ")";
                @include ReviewText;
              }
            }
          }
        }
      }
    }

    .yotpo-regular-box {
      padding: rem(30) 0 rem(22);
    }

    .yotpo-icon-star:before {
      color: $amber;
    }
  }

  .yotpo-label {
    &.yotpo-small-box {
      padding: rem(0);
      display: none;
    }
  }
}

.yotpo .yotpo-regular-box {
  font-family: $font-book;
  border-radius: rem(3);
  background-color: $white1;
  box-shadow: 0 rem(2) rem(8) 0 $grey-dark-2;
}

.yotpo-review.yotpo-regular-box {
  .content-title {
    font-family: $font-medium;
    font-weight: 500;
  }
}
.yotpo-review.yotpo-regular-box {
  .content-review {
    font-family: $font-regular;
    font-weight: 400;
  }
}

.yotpo-review.yotpo-regular-box {
  .yotpo-header-element {
    font-family: $font-medium;
    font-weight: 500;
  }
}

.yotpo-footer {
  font-family: $font-medium !important;

  .footer-actions {
    font-family: $font-medium;

    .yotpo-action {
      display: none;
    }
  }
}

.yotpo-footer {
  font-family: $font-medium;

  .yotpo-helpful {
    .label-helpful {
      font-family: $font-regular;
      font-weight: 400;
      display: none;
    }
  }

  .footer-additional-actions {
    font-family: $font-medium;

    .y-label.yotpo-review-date {
      font-family: $font-medium;
    }
  }
}

.yotpo.yotpo-main-widget {
  .yotpo-review {
    .yotpo-review-date {
      font-family: $font-medium;
      font-weight: 500;
      font-size: rem(14);
      margin-right: rem(50);
    }
  }
  .yotpo-icon-btn {
    .yotpo-icon-button-text {
      color: $black1;
    }
    .yotpo-icon {
      display: none;
    }
  }
}

.yotpo-label.yotpo-small-box {
  font-family: $font-medium;
  .yotpo-logo-title {
    font-family: $font-medium;
  }
}

.yotpo-small-box {
  .yotpo-nav.yotpo-nav-primary ul {
    font-family: $font-medium;
    .yotpo-nav-tab {
      .yotpo-nav-wrapper span {
        font-family: $font-medium;
      }
    }
  }
}
.nav-tabs {
  .nav-link {
    font-weight: 500;
  }
}

.value {
  .b {
    font-family: $font-medium;
    font-weight: 500;
  }
}

.yotpo-nav-content {
  .yotpo-first-review {
    .yotpo-default-button {
      font-family: $font-regular;
      font-weight: 400;
    }
  }
  .yotpo-reviews {
    .yotpo-regular-box {
      margin-bottom: rem(30);
      margin-left: rem(50);
      margin-left: rem(50);
    }
    .yotpo-header {
      .yotpo-icon-profile {
        display: none !important;
        height: rem(0) !important;
        width: rem(0) !important
      }
    }
  }
}

.main-widget.yotpo-display-wrapper {
  .yotpo-header-element {
    .yotpo-user-name {
      position: absolute;
      top: rem(90);
    }
    .yotpo-user-title {
      position: absolute;
      top: rem(110);
    }
  }
}

.product-number-rating {
  &.flex-box-column {
    display: flex;
    flex-direction: column;
  }

  .yotpo .text-m {
    font-size: rem(16);
    padding-left: rem(10);
  }
}

.ratings-two {
  .yotpo {
    .yotpo-bottomline {
      .yotpo-stars {
        .yotpo-icon-star {
          &.rating-star {
            color: $amber;
          }
        }
      }
    }
  }
}
