@import "~movado/components/_header";
@import "menu";
@import "../variables";

.header-banner {
  background-color: $light-grey3;

  .html-slot-container {
    font-family: $font-medium;
    font-size: rem(14);
    font-weight: 500;
    color: $grayish-blue;
  }
}
header .header-wrapper .header-container {
  height: rem(75);

  @include media-breakpoint-down(custom-md) {
    padding-left: rem(10);
    padding-right: rem(10);
  }
}

header {
  &-menu {
      &-container {
          @include media-breakpoint-up(xl) {
              @include equal-padding-container(rem(30));
              max-width: 100%;
          }
      }
  }

  .sticky-header-wrapper {
    position: relative;
    // z-index: 999;
  }
}


header {
  .main-menu {
    background-color: $Grey;
  }

  .menu-text {
    font-size: rem(16);
  }

  .minicart {
    margin-left: rem(10);
    top: rem(-1);

    @include media-breakpoint-up(custom-md) {
      margin-right: rem(30);
      margin-left: rem(10);
      top: rem(6);
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: end;
      justify-content: flex-end;

    }

    @include media-breakpoint-up(lg) {
      margin-right: rem(30);
      margin-left: rem(10);
      top: rem(4);
    }

    @include media-breakpoint-down(xs) {
      margin-right: rem(15);
    }

    @include media-breakpoint-down(md) {
      margin-left: rem(8);
      margin-right: rem(8);
    }

    .minicart-icon {
      @include media-breakpoint-down(xs) {
        width: rem(16);
        height: rem(20);
      }

      @include media-breakpoint-down(sm) {
        width: rem(16);
        height: rem(20);
      }

      @include media-breakpoint-down(custom-md) {
        width: rem(16);
        height: rem(20);
      }
    }
  }

  .fixed-header {
    .header-wrapper {
        @include media-breakpoint-down(md) {
          position: fixed;
          z-index: 2;
        }
    }
  }

  .header-wrapper {
    .account-wrapper {
      margin-left: rem(30);
    }
    @include media-breakpoint-down(md) {
      z-index: auto;
    }
  }

}

@include media-breakpoint-up(md) {
  .header-banner {
    .html-slot-container {
      font-size: rem(15);
    }
  }
}


@include media-breakpoint-up(lg) {
  .header-banner {
    .html-slot-container {
      font-size: rem(14);
    }
  }
}

header {

  .user {
    position: relative;

    &-message {
      cursor: pointer;
      font-family: $font-medium;
      font-weight: 500;
      font-size: rem(14);
      text-transform: capitalize;
      padding-right: rem(10);

      @include media-breakpoint-up(lg) {
        padding-right: rem(30);
      }
    }

    .login-icon {
        width: rem(25);
        height: rem(25);
        background: url(../images/sign-in-icon.svg) center center no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }

     .popover a {
      display: block;
      margin-bottom: rem(10);
      font-family: $font-medium;
      font-weight: 500;
    }

  }

  .menu-group { 
    .nav-item {
      .fa.stores-icon {
        width: rem(25);
        height: rem(25);
        background: url(../images/icon-location.svg) center center no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .navbar-header {
    display: flex;
    align-items: center;

    .btn-store-locator {
        background: none;
        font-family: $font-medium;
        font-weight: 500;
        font-size: rem(14);
        text-transform: capitalize;
        
        @include media-breakpoint-up(xs) {
            display: none;
        }

        @include media-breakpoint-up(lg) {
            display: block;
            padding-left: rem(0);
            margin-left: rem(30);
        }
        
        .location {

          &-link {
            text-decoration: none;
          }
          
          &-icon {
            width: rem(25);
            height: rem(25);
            background: url(../images/icon-location.svg) center center no-repeat;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
          }

          &-text {
            font-size: inherit;
            display: inline-block;
            vertical-align: middle;
            padding-left: rem(5);
            padding-top: rem(2);
          }
        }
    }
  }

  .navbar-toggler {
   display: inline-flex;
   align-items: center;

   .menu-text {
     margin-left: rem(10);
   }

   .new-hamburger {
     background: url(../images/icon_hamburger.svg) center center no-repeat;
     width: rem(22.05);
     height: rem(12.75);
     display: block;
   }
  }

 }

.accessible-link {
  color: $black;
}


.header-menu-wrapper {

    .header-wrapper {

        .header-menu-container {

            .navbar-toggler {

                .menu-text {
                    color: $black;
                }
            }
        }
    }
}