@import "~movado/components/_header";
@import "menu";
@import "../variables";
@import "../vars";

.header-banner {
  background-color: $light-silver;
  .html-slot-container {
    font-family: $font-medium;
    font-size: rem(14);
    font-weight: 500;
    color: $Grey;
  }
}


header {
  .main-menu {
    background-color: $Grey;
  }

  .menu-text {
    font-size: rem(16);
  }

  .minicart {
    margin-right: rem(30);
    margin-left: rem(10);
    top: rem(6);

    @include media-breakpoint-down(md) {
      margin-left: rem(0);
    }

  }

  .header-wrapper {
    .account-wrapper {
      margin-left: rem(30);
    }
  }

}

@include media-breakpoint-up(md) {
  .header-banner {
    .html-slot-container {
      font-size: rem(15);
    }
  }
}


@include media-breakpoint-up(lg) {
  .header-banner {
    .html-slot-container {
      font-size: rem(14);
    }
  }
}
header {
  .user {
    position: relative;
    .user-message {
      cursor: pointer;
      font-family: $font-medium;
      font-weight: 500;
      font-size: rem(14);
      text-transform: capitalize;
      padding-right: rem(10);
    }

    .login-icon {
        width: rem(25);
        height: rem(25);
        background: url(../images/sign-in-icon.svg) center center no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }
  }
  .navbar-toggler {

    .new-hamburger {
      background: url(../images/icon_hamburger.svg) center center no-repeat;
      width: rem(22.05);
      height: rem(12.75);
      display: block;
    }

  }
}

.accessible-link {
  color: $black;
}


