.main-menu.menu-toggleable-left {
    &.in {
        .mcs-show {
            > .dropdown-menu {
                left: 0;
            }
        }
        
        .dropdown-menu {
            overflow-y: auto;
        }
    }
}

.main-menu {
    .nav-item {
        .nav-link {
            text-transform: capitalize;
        }
    }
}

nav {
    .menu-group {
        .navbar-nav {
            li {
                &:hover {
                    a {
                        color: $black;
                    }

                }
            }
        }
    }
}