@import "../vars";
.navbar {
    .navbar-nav {
        .nav-link {
            color: $white;
            
            &:hover {
                color: $black;
            }

            @include media-breakpoint-down(md) {
                color: $black;
            }

        }
    }
}