@import "~movado/components/_newsletterSignUp";
@import "../variables";

.home-email-signup {
    .email-description {
        font-size: rem(12);
        font-family: $font-medium;
        font-weight: 500;
    }
    .form-control{
      font-family: $font-medium;
      font-weight: 500;
    }
    .input-group-btn{

      .btn-primary{
        font-family: $font-medium;
        font-weight: 500;

      }
    }

}
@include media-breakpoint-up(sm) {
  .home-email-signup {
    .email-description {
      font-size: rem(16);
    }
  }
}
