@import "~movado/components/_productTiles";
@import "../variables";

.product-tile {

    .tile-body {

        .color-swatches {
          min-height: 1rem;
          text-align: left;

            .product-tile-color-label {
                cursor: pointer;
                font-size: 1em;

                @include media-breakpoint-down(md) {
                  font-size: 0.9375em;
                }

                @include media-breakpoint-down(sm) {
                  font-size: 0.8125em;
                }
            }
        }

        .price {
          margin-bottom: rem(10);
          width: 100%;
          font-size: rem(16);
          font-weight: 500;
          font-family: $font-medium;
          text-align: left;
          padding-left: rem(0);

          @include media-breakpoint-down(sm) {
            font-size: rem(14);
          }

            .tiered {
                font-size: 0.875em;
                .value {
                    font-weight: bold;
                }
            }
        }

        .pdp-link {
            font-size: rem(20);
            margin-top: rem(10);
            text-align: left;

            a {
                font-size: rem(12.8);
                font-weight: 500;
                height: rem(40);

                @include media-breakpoint-down(sm) {
                    height: rem(25);
                }
                
                @include media-breakpoint-down(md) {
                    font-size: rem(12.8);
                    font-weight: 500;
                    font-family: $font-medium;
                }

                @include media-breakpoint-down(sm) {
                    font-size: rem(12.8);
                    font-weight:500;
                    font-family: $font-medium;
                }
            }
        }

        .ratings {
            font-size: 0.9em;
        }
        .compare{
          float: none;
          text-align: left;
          label{
            font-weight: 500;
            font-family: $font-medium;
            font-size: rem(16);
            @include media-breakpoint-down(md) {
                font-size: rem(14);
            }
          }
        }

        .yotpo-display-wrapper {
          .yotpo-bottomline {
            margin-bottom: rem(10);   
          }
        }
    }

    .image-container {
      border: none;

      .fa-stack-2x {
        font-size: rem(36);
      }
      .fa-stack-1x {
        font-size: rem(18);
      }
      .quickview {
        background: url('../../images/quickview_eye.svg') no-repeat center center;
        width: rem(20);
        height: rem(20);
        bottom: rem(10);
        right: rem(10);
        display: block;
      }
    }

    .promo-msg.callout {
      font-size: rem(16);
      font-weight: 500;
      font-family: $font-medium;letter-spacing: rem(0);
      text-align: left;
      
      @include media-breakpoint-down(md){
        font-size: rem(14);
      }
      @include media-breakpoint-down(xs){
        font-size: rem(14);
        font-family: $font-medium;
        font-weight: 500;
      }
      
    }

    .out-of-stock {
      font-size: rem(12);
      font-family: $font-regular;
      font-weight: 400;
      text-align: left;
    }
    .exclusive-product {
        font-size: rem(12);
    }
}
.container {
  &.plp-tiles-wrapper {
    .breadcrumbs-wrapper-main {
      margin: rem(0) rem(-8);
    }
    
    .col-space-inner {
      padding: rem(0) rem(8);
    }
    .breadcrumb {
      border-bottom: none;
      margin: rem(12.8) 0 rem(12.8);
      padding: rem(9.6) 0 rem(8);
    }
  }
}