.welcomeMat {
    padding-left: 0 !important;
    span {
        font-size: rem(24);
    }

    .movado-welcome-mat {

        &.modal-body {
            padding: 0;
        }

        .eswModalWrapper {

            .eswModal {
                position: static;
                transform: none;
                border: 0;
                background: $white;
                padding: 0;
                margin: 0;
                max-width: 100%;

                .closeLandingPage {
                    display: none;
                }

                h3 {
                    padding: rem(16);
                    font-size: rem(18);
                    letter-spacing: rem(1);

                    @include media-breakpoint-down(sm) {
                        font-size: rem(14);
                        padding: rem(16) rem(8);
                        line-height: rem(20);
                    }

                    span {
                        font-size: rem(16);
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    .content-asset {
                        display: inline-block;
                    }
                }

                .continue-here {
                    text-transform: uppercase;
                }

                .selector-container {
                    width: auto;
                    margin: rem(25) auto rem(32) auto;
                    max-width: none;
                    padding: 0 rem(15);

                    p {
                        display: inline-block;
                        letter-spacing: rem(1);
                        margin-bottom: rem(10);

                        @include media-breakpoint-down(sm) {
                            display: block;
                        }
                    }

                    .selectCountry {
                        display: inline-block;

                        .current-country {
                            width: 100%;
                        }

                        .selector {
                            @include media-breakpoint-down(sm) {
                                min-width: rem(247);

                                .selected-link {
                                    font-size: rem(14);
                                }
                            }
                        }
                    }

                    .content-asset {
                        display: inline-block;
                    }
                }

                .selector-icon {
                    margin-top: rem(6);
                    transform: rotate(90deg);
                    float: right;
                }

                .esw-header-wrapper {
                    background-color: $grey-light;
                    padding: 0;
                    margin: 0;
                    max-width: 100%;

                    h1 {
                        margin: 0;
                        padding: rem(32);
                        font-size: rem(32);
                        text-transform: uppercase;

                        @include media-breakpoint-down(xs) {
                            padding: rem(16);
                            font-size: rem(28);
                        }
                    }
                }

                .esw-body-wrapper {

                    h2 {
                        padding: rem(16) 0 0 0;
                        font-size: rem(24);
                    }

                    ul {
                        list-style: disc;
                        display: inline-block;
                        text-align: left;
                        margin: 0;

                        li {
                            font-size: rem(14);
                        }
                    }
                }

                .esw-country-selector {
                    width: 100%;

                    &.selectLanguage {
                        display: none;
                    }

                    &.selectCountry {
                        text-align: left;
                        min-width: rem(150);
                        width: auto;

                        @include media-breakpoint-down(sm) {
                            width: auto;
                            margin: 0 auto;
                            display: inline-block;
                        }

                        label {
                            display: none;
                        }

                        .select-field {
                            float: none;
                        }

                    }
                }

                .esw-btn {

                    &:hover, &:focus {
                        background-color: $white;
                        color: $black;
                        outline: none;
                        box-shadow: none;
                    }
                }
            }

            + .modalBg {
                position: relative;
                background-color: transparent;
            }
            
        }
    }

    .logo-link {
        img {
            height: rem(48);
        }
    }

    @include media-breakpoint-down(sm) {
        .logo-link {
            img {
                height: rem(28);
            }
        }
    }

    select + i {
        &.fa {
            right: rem(4);
            font-size: rem(24);
            top: rem(6.4);
        }
    }
    
    .modal-header {
    	background-color: $grey-light;
    }
    
    .continue-here {
        text-transform: none;
    }
}

.want-to-ship {
    background-color: black !important;
}

.welcome-mat-body {
    letter-spacing: normal;
    font-weight: 600;
}

.welcomeMat {
     span {
        font-size: rem(18);
    }
}