@font-face {
    font-family: "Raleway-Regular";
    font-display: block;
    src: url('fonts/Raleway-Regular.eot');src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),url('fonts/Raleway-Regular.woff2') format('woff2'),url('fonts/Raleway-Regular.woff') format('woff'),url('fonts/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    font-display: block;
    src: url('fonts/Raleway-Medium.eot');src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),url('fonts/Raleway-Medium.woff2') format('woff2'),url('fonts/Raleway-Medium.woff') format('woff'),url('fonts/Raleway-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Raleway-SemiBold";
    font-display: block;
    src: url('fonts/Raleway-SemiBold.eot');src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),url('fonts/Raleway-SemiBold.woff2') format('woff2'),url('fonts/Raleway-SemiBold.woff') format('woff'),url('fonts/Raleway-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}