.choose-bonus-product-dialog {
    .modal-body,
    .modal-footer {
        padding: 0;
    }
    .modal-header {
        button.close {
            padding: rem(16);
            line-height: initial;
        }
    }
    .modal-body {
        padding: rem(25) 0;
    }
    .modal-content {
        padding-bottom: rem(25);
    }
    .modal-footer {
        text-align: center;
    }
    .bonus-product-item-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem(-10);
    }
    .bonus-product-item {
        margin: 0 rem(10);
        max-width: rem(256);
    }
    .selected-bonus-products {
        margin-bottom: rem(20);
    }
    .bonus-summary {
        text-align: left;
        font-size: rem(14);
        display: inline-block;
        &.alert-danger {
            padding: rem(10);
        }
    }
}

@include media-breakpoint-up(sm) {
    .choose-bonus-product-dialog {
        .modal-body,
        .modal-footer {
            padding: rem(10);
        }
        .add-bonus-to-cart {
            text-align: right;
        }
        .selected-bonus-products {
            margin-bottom: 0;
            text-align: left;
        }
    }
}
