@import "../variables";
@import "../mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../utilities/shapes";
@import "../utilities/responsiveUtils";
@import "../utilities/swatch";
@import "./recommendation";

.product-detail .swatch-circle {
    // $white will be replaced by color image background in ISML
    @include swatch(2.5em, $white);
}

.product-detail [disabled] .swatch-circle,
.product-detail .swatch-circle.unselectable {
    cursor: not-allowed;

    &.color-value.selected::after {
        background-color: $gray-700;
    }
}

label.color ~ a:hover {
    // Removes weird dash after the swatch circle on hover.
    text-decoration: none;
}

.description-and-detail {
    margin: 2rem 0;
    line-height: rem(24);
    .title {
        font-family: $font-medium;
        font-size: rem(20);
        font-weight: 500;
        letter-spacing: rem(2);
    }
    @include media-breakpoint-only(xs) {
        margin-top: 0;
        > div:last-child {
            margin-bottom: 1em;
        }
    }
}

.product-detail .description {
    font-size: rem(16);
    line-height: rem(24);
    margin-bottom: rem(30);
    font-size: rem(16);
    line-height: rem(24);
    width: 100%;

    @include media-breakpoint-up(sm) {
        margin-bottom: 2rem;
    }
}
.social-container {
    max-width: 100%;
}

.social-icons {
    font-size: 1.875em;

    @include media-breakpoint-down(md) {
        font-size: 1.5625em;
    }
}

label.availability {
    padding-right: 0.3125em;
}

.ratings {
    width: rem(212);
    height: rem(20);

    @include media-breakpoint-up(sm) {
        margin-top: 0.625em;
        width: rem(212);
        height: rem(20);
    }

    @include media-breakpoint-only(xs) {
        background-color: $white;
        margin-top: -1.875em; /* 30/16 */
        margin-right: -0.9375em; /* 15/16 */
        padding: 0.1875em; /* 3/16 */
    }
}

.promotions {
    font-weight: normal;
    text-align: center;
    color: $danger;
    width: 100%;

    .callout {
        font-size: rem(16);
        padding-top: rem(23);
        text-align: left;
        @include media-breakpoint-down(xs) {
            text-align: center;
        }
        a{
          color: $danger;
          text-decoration: underline;
        }
    }
}

.product-breadcrumb {

    .row {
        @include media-breakpoint-down(sm) {
            border-top: 1px solid $grey3;
        }
    }

    .breadcrumb {
        border-bottom: none;
        margin: 0;
        @include media-breakpoint-up(md) {
            padding: 0 0 rem(14) 0;
        }
    }
}

.product-options {

    .quantity {
        bottom: 0;
        min-width: 6.25em;
        padding-left: 0.938em;
        padding-right: 0.938em;
        position: absolute;
        right: 0;
    }
}

.size-chart {
    .size-chart-collapsible {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0, 1);

        &.active {
            max-height: 100%;
            transition-timing-function: ease-in-out;
        }
    }
}

.product-detail {
    .carousel-indicators {
        position: static;
    }
}

@include media-breakpoint-up(md) {
	.description-and-detail {
		.title {
			font-size: rem(26);
			line-height: normal;
		}
	}
}

@include media-breakpoint-up(lg) {
	.description-and-detail {
		.title {
            font-size: rem(32);
            line-height: normal;
		}
	}
}

.product-detail, .description-and-detail {

    .btn.quickview, .btn.title {
        background-color: transparent;
    }
}

.affirm-as-low-as {
    width: 100%;
    height: rem(45);
}

.cta-add-to-cart {

    .add-to-cart {
        width: rem(151);
        height: rem(38.4);
        margin-right: rem(8);
    }

    .google-pay-container {
        .gpay-button.black.plain {
            width: rem(151);
            height: rem(38.4);
            margin-top: rem(4);
            border-radius: rem(0);

            @include media-breakpoint-down(md) {
                margin-top: rem(4);
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
                height: rem(38.4);
                margin-top: rem(4);
                border-radius: rem(0);
            }
        }
    }


    @include media-breakpoint-down(xs) {
        .add-to-cart {
            width: 100%;
            height: rem(38.4);
        }
        .apple-pay-pdp {
            margin-top: rem(15);

            &:hover {
                margin-top: rem(15);
            }
        }
    }
}
c
.slick-slider{
    touch-action: auto!important;
}