//font Families:
@import "bootstrap/scss/functions";
@import "~mcsus/variables";

/**************************/

//font Families:
$futura-medium : "FuturaStd-Medium", Arial, sans-serif !default;
$futura-book : "FuturaStd-Book", Arial, sans-serif !default;
$futura-bold : "FuturaStd-Bold", Arial, sans-serif !default;

$granite-gray1:  #3c4043;
$light-gray2: #797979;
$light-gray3: #C4C1C1;
$light-gray4: #E2E2E2;
$light-grey5: #6C757D;
$gray4: #E7E7E7;
$grey-light4: rgba(207,207,207,0.3) !default;
$light-pink: #FFAAAA;
$light-pink2: rgba(255,91,91,0.2);