@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "../commonPlaceholders";

$checkout-font-weight: 600;
$custom-weight: 400;
$receipt-font-size: rem(14);
$receipt-spacing: 0.625em;
$stored-payment-spacing: rem(16);

.page {
  background-color: $white;
}

.checkout-card-header {
  color: $grey14;
  text-transform: uppercase;
}

.grand-total-price {
  float: right;
}

.grand-total-label,
.grand-total-price {
  @extend %card-header;
  margin-bottom: rem(10);
}

.order-receipt-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-divider {
  margin-left: -$receipt-spacing;
  margin-right: -$receipt-spacing;

  hr {
    border-top: dashed 0.063em;
  }
}

.shipment-block + .shipment-block::before {
  content: "";
  display: block;
  border-bottom: 0.063em dashed $horizontal-rule-grey;
  margin: $receipt-spacing -0.625em;

  @include media-breakpoint-up(lg) {
    margin: $receipt-spacing -1.225em;
  }
}

.data-checkout-stage {
  padding-top: rem(10);
  margin-bottom: rem(50);

  .top-grandtotal-label {
    text-transform: uppercase;
  }

  .card-body {
    padding: rem(15) rem(10);
  }

  .card-header {
    @extend %card-header;
    padding-left: rem(10);
    padding-right: rem(10);
    padding-bottom: rem(7);
  }

  .form-group {
    .form-control-label {
      margin-bottom: 0;
      font-family: inherit;
      font-size: rem(14);
      line-height: rem(17);
      letter-spacing: rem(.4);
      color: $grey-transparent-8;
      padding-bottom: rem(4);
    }

    > .info-icon {
        padding-bottom: rem(4);
    }

    .form-control {
      border: rem(1) solid $grey14;
      color: $grey14;
    }

    .expirationDate {
      margin-top: rem(2);
    }

    #securityCode {
      margin-top: rem(-2);
    }

    .add-address,
    .edit-address {
      margin-top: rem(10);
    }
  }

  .custom-select {
    font-family: $font-medium;
    font-size: rem(14);
    line-height: rem(17);
    letter-spacing: rem(2);

    @include media-breakpoint-down(sm) {
      font-size: rem(16);
    }
    + i {
      top: rem(30);
      right: rem(8);
    }
  }

  .single-shipping {
    .card-header {
      color: $grey14;
    }

    .summary-section-label {
      margin-bottom: 0;
    }
  }

  .shipping-method-block {
    .ship-method-header {
      @extend %card-header;
      color: $grey14;
      margin-top: rem(10);
      margin-bottom: rem(10);
      text-transform: uppercase;
    }
  }

  .order-total-summary {
    &.card-body {
      .order-receipt-label,
      .text-right,
      .sub-total {
        font-family: $font-medium;
        font-size: rem(16);
        letter-spacing: rem(2);
        line-height: rem(21);
        color: $grey14;
        font-weight: $custom-weight;
      }
    }
  
    .grand-total {
      .order-receipt-label,
      .text-right {
        font-family: $font-bold;
        font-size: rem(18);
        letter-spacing: rem(2);
        line-height: rem(22);
        color: $grey14;
      }
    }
  }

  .multi-shipping-checkbox-block {
    display: none;
  }
  .checkout-promo-code-form .form-group {
    padding: 0 rem(10);
  }

  @include media-breakpoint-down(xs) {
    padding-left: rem(10);
    padding-right: rem(10);
    overflow-x: hidden;
    .order-summary-card {
      border: none;
      box-shadow: unset;
      .card-header {
        border: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .field-right,
    .right-section {
      padding-left: rem(5);
      font-size: rem(16);
    }
    .field-left,
    .left-section {
      padding-right: rem(5);
    }
    .checkout-promo-code-form .form-group {
      padding: 0;
    }
  }
}

.shipping-method {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hero-confirmation {
  background-image: url("../../images/thankyou.jpg");
  background-position-y: -8.125em;
}

.product-summary-block {
  margin: 1em 0;
  .line-item-name {
    @extend %card-header;
    text-transform: uppercase;
  }
}

.leading-lines {
  overflow: hidden;
  margin: 0;

  label {
    background-color: white;
  }

  .start-lines {
    padding: 1px;

    span {
      position: relative;
      background-color: white;
      z-index: 2;
    }

    &::before {
      float: left;
      width: 0;
      white-space: nowrap;
      content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      z-index: 1;
      color: #adadad;
    }
  }

  .end-lines {
    padding: 1px;

    span {
      position: relative;
      background-color: white;
      z-index: 2;
    }
  }

  &.justify-content-between {
    .end-lines {
      background: $white;
    }
  }
}

.summary-details {
  font-family: $font-book;
  font-size: rem(14);
  letter-spacing: rem(2);
  line-height: rem(21);
  margin-bottom: rem(16);
  color: $grey-dark-1;
}

.summary-details .address-summary {
  margin-bottom: 0.5em;
  line-height: rem(21);
}

.summary-section-label {
  font-family: $font-medium;
  font-size: rem(14);
  letter-spacing: rem(2);
  line-height: rem(17);
  color: $grey14;
  text-transform: uppercase;
}

.add-payment {
  margin-top: $stored-payment-spacing;
}

.selected-payment {
  background-color: $gray-200;
}

.saved-security-code {
  margin-top: $stored-payment-spacing;
}

.saved-credit-card-type {
  font-weight: 600;
}

.saved-payment-information {
  margin-top: $stored-payment-spacing;
  margin-bottom: $stored-payment-spacing;
}

.payment-form {
  margin-bottom: 0;
  .card-body {
    padding-bottom: 0;
  }
  .payment-information {
    .panel {
      padding-right: rem(10);
      padding-left: rem(10);
      margin-left: rem(-10);
      margin-right: rem(-10);
      border-top: rem(1) solid $border-color;
    }

    .accordion-link {
      margin-top: rem(8);
      + label {
        &:after,
        &:before {
          top: 50%;
          transform: translateY(-50%);
        }
        &:after {
          content: "\F107";
          position: absolute;
          font-family: "FontAwesome";
          font-size: rem(18);
          right: 0;
        }
      }
      &:checked {
        + label::after {
          content: "\F106";
        }
      }
    }

    .affirm-payment-method {
      padding: 0 rem(10) rem(10) rem(10);
      margin: 0;
      width: 100%;
      .affirm-product-modal {
        text-decoration: underline;
      }
    }

    .affirm-panel-image {
      width: rem(75);
    }
  }
}

.checkout-hidden {
  display: none;
}

.card-image {
  margin-top: rem(8);
  width: 100%;
}

.cancel-new-payment {
  margin-top: $stored-payment-spacing;
}

.form-check.start-lines {
  padding-left: rem(24);
}

.multi-ship .single-shipping .shipping-content {
  display: none;
}

.multi-ship .shipping-summary .single-shipping {
  display: none;
}

.gift-message-block {
  padding-top: rem(16);
}
.confirm-details {
  .heading-three {
    text-transform: uppercase;
  }
}

.confirm-details .shipping-method,
.confirm-details .shipping-method-price {
  margin-bottom: 0;
}

.multi-ship .confirm-details .single-shipping {
  display: none;
}

.multi-shipping {
  display: none;
}
