@import "../variables";
@import "../mixins";
@import "bootstrap/scss/variables";
@import "checkoutComponents";
@import "bootstrap/scss/mixins/breakpoints";
@import "../components/formFields";
@import "../components/creditCardField";

$checkout-font-weight: 600;

.card.ghost {
    opacity: 0.5;
}

.arrival-time {
    white-space: pre;
}

.billing-address {
    display: block;
}

.checkout-checkbox {
    font-size: 0.875em;
}

.edit-button,
.btn-show-details,
.btn-add-new {
    color: $primary;
    float: right;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.error-message {
    display: none;
}

.next-step-button {
    padding-bottom: rem(30);
}

.shipping-methods {
    font-size: 1.125em;
    font-weight: $checkout-font-weight;
}

.shipping-method-option {
    font-family: $font-book;
    font-size: rem(16);
    color: $grey14;
    letter-spacing: rem(2);
    line-height: rem(20);
    margin-bottom: rem(10);

    & span {
        text-transform: none;
    }
}

.shipping-method-pricing {
    font-family: $font-medium;
    font-size: rem(16);
    line-height: rem(19);
    letter-spacing: rem(2);
    margin-bottom: rem(10);
}

.multi-ship .multi-shipping {
    display: block;
}

span.ship-to-name,
span.ship-to-address1,
span.ship-to-address2,
span.ship-to-phone,
span.ship-to-city-st-zip {
    display: block;
}

.data-checkout-stage {
    // Initial states ------------------------
    &[data-checkout-stage] {
        .card.payment-summary,
        .shipping-summary {
            display: none;
        }

        button.place-order {
            display: none;
        }

        button.submit-payment {
            display: none;
        }

        button.submit-shipping {
            display: none;
        }
    }

    .order-product-summary {
        .price {
            margin-top: auto;
        }

        .leading-lines {
            @include media-breakpoint-down(sm) {
                margin: 0 rem(10);
            }

            .grand-total-label {
                text-transform: uppercase;
            }
        }
    }

    .card-header {
        h4 {
            text-transform: uppercase;
            @include headline;
            &.pull-left {
                max-width: 90%;
                @include media-breakpoint-up(lg) {
                    font-size: rem(20);
                }
            }
        }
    }

    // Shipping ------------------------------
    &[data-checkout-stage=shipping] {
        &.multi-ship .order-product-summary {
            display: none;
        }

        .card.payment-form {
            display: none;
        }

        button.submit-shipping {
            display: block;
        }

        [data-address-mode=customer] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .shipping-address-form {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Payment -------------------------------
    &[data-checkout-stage=payment] {
        .shipping-section,
        .card.ghost {
            display: none;
        }

        .card.payment-form,
        .shipping-summary {
            display: block;
        }

        button.submit-payment {
            display: block;
        }

        [data-address-mode=customer] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=shipment] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=edit] {
            .billing-address {
                display: none;
            }
        }

        [data-address-mode=new] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }

        [data-address-mode=details] {
            .btn-show-details,
            .btn-add-new {
                display: none;
            }
        }
    }

    // Place Order -----------------------------
    &[data-checkout-stage=placeOrder] {
        .shipping-section,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: block;
        }
    }

    &[data-checkout-stage=submitted] {
        .shipping-form,
        .card.payment-form,
        .card.ghost {
            display: none;
        }

        .summary-section-label.shipping-addr-label {
            display: none;
        }

        .card.payment-summary,
        .shipping-summary {
            display: block;
        }

        button.place-order {
            display: none;
        }
    }

    option[value=new] {
        display: none;
    }

    h5 > span {
        font-size: 0.8em;
    }
}

[data-customer-type=guest] .single-shipping .shipment-selector-block {
    display: none;
}

.single-shipping .multi-ship-action-buttons {
    display: none;
}

.single-shipping .view-address-block {
    display: none;
}

.btn-show-details {
    padding-top: 0;
}

.multi-ship-address-actions .btn-save-multi-ship {
    margin-left: 10px;
}

.form-control-label {
    > .content-asset {
        display: inline-block;
    }
}

.shipping-method-option {
    .arrival-time {
        white-space: pre-wrap;
    }
}
//  Import movado-checkout at the end to prevent variable overwrite

@import "~movado/checkout/checkout";
header {
    &.checkout-header {
        .checkout-header-placeholder {
            height: rem(85);
        }

        .sticky-header {
            &.header-menu-wrapper {
                .header-wrapper {
                    &.checkout-header-wrapper {
                        .header-left {
                            .checkout-logo {
                                @include media-breakpoint-up(xs) {
                                    display: flex;
                                    align-items: flex-start;
                                }

                                &:before {
                                    display: none;
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }

        }

        .sticky-header-wrapper {
            &.fixed-header {
                .header-menu-wrapper {
                    .header-wrapper {
                        &.checkout-header-wrapper .header-left {                    
                            @include media-breakpoint-up(xl) {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                    
                }
            }
        }

        .header-menu-wrapper {
            @include media-breakpoint-up(sm) {
                background-color: $white;
            }

            .header-wrapper {
                background-color: $white;

                &.checkout-header-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: rem(60);
                    padding: 0 rem(20);

                    @include media-breakpoint-up(sm) {
                        padding: rem(0) rem(15);
                    }

                    @include media-breakpoint-down(md) {
                        justify-content: space-between;
                        padding: rem(0) rem(20);
                    }
                    @include media-breakpoint-up(lg) {
                        padding: rem(0) rem(20);
                    }

                    @include media-breakpoint-up(xl) {
                        padding: rem(0) rem(30) rem(0) rem(40);
                    }
        
                    @include custom-media-query-1440($large-screen-width-1440) {
                        padding: rem(0) rem(60) rem(0) rem(100);
                    }

                    .right {
                        margin-left: auto;
                    }

                    .header-left {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        max-width: 58.33333%;
                        width: 100%;

                        @include media-breakpoint-up(sm) {
                            max-width: 70%;
                        }

                        @include media-breakpoint-up(md) {
                            max-width: 58.33333%;
                        }

                        @include media-breakpoint-up(xl) {
                            justify-content: space-between;
                            max-width: 100%;
                            margin: auto;
                        }
                        
                        @include custom-media-query-1440($large-screen-width-1440) {
                            max-width: 100%;
                        }

                        .checkout-logo {
                            width: rem(155);

                            @include media-breakpoint-up(xs) {
                                display: flex;
                                align-items: flex-end;
                            }

                            @include media-breakpoint-up(md) {
                                width: rem(155);
                                height: rem(44);
                            }

                            @include media-breakpoint-up(lg) {
                                width: rem(155);
                                height: rem(25);
                            }

                            &:before {
                                font-family: "FontAwesome";
                                content: '\f023';
                                font-size: rem(18);
                                margin-right: rem(5);
                                margin-bottom: rem(0);

                                @include media-breakpoint-up(sm) {
                                    content: "";
                                    display: none;
                                }

                                @include media-breakpoint-down(xs) {
                                    margin-bottom: rem(-2);
                                }
                            }

                            &.concord-logo {
                                overflow: hidden;
                                height: auto;

                                @include media-breakpoint-up(xs) {
                                    height: auto;
                                }

                                @include media-breakpoint-up(md) {
                                    height: rem(32);
                                }
                                
                                img {
                                    @include media-breakpoint-up(md) {
                                        transform: translateY(1px);
                                    }
                                    @include media-breakpoint-up(lg) {
                                        transform: translateY(3px);
                                    }
                                    @include media-breakpoint-up(xl) {
                                        transform: translateY(4px);
                                    }

                                    @include custom-media-query-1440($large-screen-width-1440) {
                                        transform: translateY(8px);
                                    }
                                }
                            }

                            p,
                            span {
                                margin: 0;
                            }

                            .logo-link {
                                img {
                                    width: rem(144);

                                    @include media-breakpoint-down(md) {
                                        width: rem(128);
                                    }
                                }
                            }
                            
                        }

                        .checkout-text {
                            display: block;

                            @include media-breakpoint-down(xs) {
                                display: none;
                            }
                        }

                        .minicart-link {
                            @include media-breakpoint-down(xs) {
                                margin-right: rem(0);
                            }
                        }
                    }
                }
            }
        }

        .checkout-header-wrapper {
            .minicart {
                &-link {
                    @include media-breakpoint-down(xs) {
                        margin-right: rem(0);
                    }
                }
                &-quantity {
                    color: $black;
                    background-color: $grey10;
                }
            }
        }

    }

    .logo-link {
        img {
            width: rem(128);
        }
    }

    @include media-breakpoint-up(md) {
        .checkout-logo {
            .logo-checkout-text {
                font-size: rem(16);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .checkout-header-wrapper {
            padding: 0 rem(80);
        }
    }
}

.checkout-progressbar {
    margin-bottom: rem(45);

    @include media-breakpoint-up(xs) {
        display: none;
    }

    @include media-breakpoint-up(sm) {
        display: block;
        margin: rem(32) auto rem(24);
        padding: 0;
    }

    @include media-breakpoint-up(md) {
        margin: rem(125) auto rem(32);
        max-width: 100%;
    }
    
    @include media-breakpoint-up(lg) {
        margin: rem(75) auto rem(32);
    }
    
    @include media-breakpoint-up(xl) {
        padding: 0;
        margin: rem(71) auto rem(51);
    }
    
    @include custom-media-query-1440($large-screen-width-1440) {
        padding: 0 rem(15) 0 rem(0);
        margin: rem(71) auto rem(51);
    }

    li {
        @include media-breakpoint-up(sm) {
            margin-bottom: rem(10);
        }

        @include media-breakpoint-up(xxl) {
            margin-bottom: rem(0);
        }

        p {
            display: flex;
            align-items: center;
            font-size: rem(12);
            text-transform: uppercase;
            text-decoration: none;
            margin-bottom: rem(0);
            line-height: 1.45;

            @include media-breakpoint-down(sm) {
                font-size: rem(10);
            }

            &:after {
                content: "";
                box-sizing: border-box;
                height: rem(1.8);
                width: rem(30);
                background-color: $black;
                opacity: 0.4;
                margin: rem(0) rem(10);

                @include media-breakpoint-down(sm) {
                    height: rem(2);
                    width: rem(14);
                    margin: rem(0) rem(5);
                }
            }

            .step {
                &-text {
                    color: $grey15;
                    opacity: 0.4;
                }

                &-no {
                    height: rem(21);
                    width: rem(21);
                    line-height: 1.4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $white;
                    border: 1px solid $grey15;
                    color: $grey15;
                    opacity: 0.4;
                    border-radius: 50%;
                    font-size: rem(12);
                    margin-right: rem(10);

                    @include media-breakpoint-down(sm) {
                        height: rem(16);
                        width: rem(16);
                        margin-right: rem(8);
                        font-size: rem(8);
                    }
                }
            }
        }
    }

    li {
        &.active {
            p {
                .step {
                    &-text {
                        color: $black;
                        opacity: 1;
                    }

                    &-no {
                        background: $black;
                        border: 1px solid $black;
                        color: $white;
                        opacity: 1;
                    }
                }
            }
        }

        &.completed {
            p {
                &:after {
                    color: $black;
                    opacity: 1;
                }

                .step {
                    &-text {
                        color: $parrot-green;
                        opacity: 1;
                    }

                    &-no {
                        background: $parrot-green;
                        border: 1px solid $parrot-green;
                        color: $white;
                        opacity: 1;
                    }
                }
            }
        }

        &:nth-child(4) p {
            &:after {
                content: "";
                height: rem(0);
                width: rem(0);
            }
        }
    }
}

@include media-breakpoint-up(md) {
    header.checkout-header {
        .sticky-header-placeholder {
            height: rem(0);
        }
    }
}

@include media-breakpoint-up(lg) {
    header.checkout-header {
        .sticky-header-placeholder {
            height: rem(60);
        }
    }
}

.checkout-label-custom {

    h5 {
        margin-bottom: rem(0);
    }
}

.mini-cart-wrapper {
    @include media-breakpoint-up(xl) {
        position: absolute;
        right: rem(76);
        top: rem(6);
    }
}

.checkout-content-container-inner {

    .right-section {

        .right-content {
            @include media-breakpoint-down(md) {
                padding-top: rem(121.6);
            }
            
            @include media-breakpoint-down(sm) {
                padding-top: rem(0);
            }
        }
    }
}

