@import "../commonPlaceholders";

.product-card-wrapper {
      @extend %card-box;
      margin-bottom: rem(16);
      padding: rem(10);

  .line-item-name {
      font-family: $font-medium;
      font-size: rem(16);
      letter-spacing: rem(0.4);
      line-height: rem(19);
      font-weight: 500;
      color: $grey14;
      text-transform: uppercase;
  }
  .item-info {
      .item-attributes {
          color: $grey14;
          .total-amount {
              font-family: $font-medium;
              font-weight: 500;
              font-size: rem(18);
              letter-spacing: rem(0.4);
              line-height: rem(22);
              color: $grey14;
          }
          .line-item-total-price {
              margin-top: auto;
          }
          .model-name, .original-price, .savings {
              font-family: $font-medium;
              font-weight: 500;
              font-size: rem(14);
              letter-spacing: rem(0.4);
              line-height: rem(17);
              color: $grey4;
          }
          .savings {
              color: $green;
          }
          .personalize-msg, .personalize-price {
              font-family: $font-book;
              font-weight: 300;
              font-size: rem(14);
              letter-spacing: rem(1);
              line-height: rem(20);
          }
          .personalize-msg {
              color: $grey4;
          }
          .out-of-stock {
              color:  $danger;
          }
      }
  }

    &.product-card-container {
        margin-bottom: rem(30);

        &:last-child {
            border-bottom: none !important;
        }
        
        .product-line-item-details {

            .item-attributes {

                .item-model {

                    &.model-name {
                        font-size: rem(12);
                        font-weight: 500;
                        letter-spacing: rem(0.7);
                        line-height: rem(10);
                        color: $grey18;
                        margin-bottom: rem(10);
                    }
                }
                
                .item-options {

                    .line-item-option {
                        margin-bottom: rem(10);
                    }
                }

                .line-item-availability {
                    display: none;
                }

                .item-quantity-wrapper {
                    font-size: rem(12);
                    font-weight: 500;
                    letter-spacing: rem(0.86);
                    line-height: rem(18);
                    color: $grey8;
                }

                .price-box-container {
                    color: $grey8;
                    
                    .line-item-total-price-amount {
                        font-size: rem(12);
                        font-weight: 500;
                        letter-spacing: rem(0.86);
                        line-height: rem(18);
                        color: $grey8;
                    }

                    .original-price {
                        font-size: rem(12);
                        font-weight: 500;
                        letter-spacing: rem(0.86);
                        line-height: rem(10);
                        color: $grey8;
                        margin-bottom: rem(10);
                    }

                    .savings {
                        font-size: rem(12);
                        font-weight: 500;
                        letter-spacing: rem(0.86);
                        line-height: rem(10);
                        margin-bottom: rem(10);
                    }
                    .total-amount {
                        font-size: rem(14);
                        letter-spacing: rem(0.86);
                        line-height: rem(10);
                        margin-bottom: rem(10);
                        color: $grey8;
                    }
                }
                
                .item-quantity-container-box {
                    margin-top: rem(10);
                }

                .item-options {

                    .line-item-option {
                      font-size: rem(12);
                      font-weight: 500;
                      letter-spacing: rem(0.7);
                      line-height: rem(10);
                      color: $grey18;
                      margin-bottom: rem(10);

                    }
                }
                
                .item-personalization {

                    .line-item-option {
                        font-size: rem(12);
                        font-weight: 500;
                        letter-spacing: rem(0.7);
                        line-height: rem(10);
                        color: $grey18;
                        margin-bottom: rem(10);

                        .personalize-price {
                            font-size: rem(12);
                            font-weight: 500;
                            letter-spacing: rem(0.7);
                            line-height: rem(10);
                            color: $grey18;
                            margin-bottom: rem(10);
        
                        }

                        .personalize-msg {
                            font-size: rem(12);
                            font-weight: 500;
                            letter-spacing: rem(0.7);
                            line-height: rem(10);
                            color: $grey18;
                            margin-bottom: rem(10);
        
                        }
                    }
                }
            }
        }
    }
}
