@import "../variables";
@import "../mixins";

.hero {
    position: relative;
    h1.page-title {
      text-align:center;
      position: absolute;
      top: 50%;
      margin: 0;
      left: 50%;
      padding: 0;
      @include translate(-50%, -50%);
      color: $white;
      font-weight:300;
      line-height: rem(31);
      @include media-breakpoint-up(md){
        line-height: rem(55);
      }
      &.dark-text-on-light{
        color: $black;
      }
      &.text-in-uppercase{
        text-transform:uppercase;
      }
  }
}

.slant-down {

    @include media-breakpoint-up(sm) {
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-right-width: 0;
            border-left-width: 90vw;
            border-bottom: 4vw solid $body-bg;
        }
    }
}

.slant-up {

    @include media-breakpoint-up(sm) {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-left-width: 0;
            border-right-width: 90vw;
            border-top: 4vw solid $body-bg;
        }
    }
}
