@import '~movado/components/_welcomeMatModal';

.welcomeMat {

    span {
        font-size: rem(24);
    }

    .esw-country-selector {

        .current-country {

            span {
                font-size: rem(18);
            }
        }
    }

    .modal-header {
        background-color: $white;
    }

    .movado-welcome-mat {

        .eswModalWrapper {

            .eswModal {

                .esw-header-wrapper {

                    background-color: $white;
                }

                .esw-btn {
                    letter-spacing: rem(2);
                }
            }
        }
    }
}
