@font-face {
    font-family: "PTSans-Regular";
    font-display: Block;
    src: url('fonts/PTSans-Regular.ttf');src: url('fonts/PTSans-Regular.ttf?#iefix') format('embedded-opentype'),url('fonts/PTSans-Regular.ttf') format('ttf'),url('fonts/PTSans-Regular.ttf') format('ttf'),url('fonts/PTSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "PTSans-Medium";
    font-display: Block;
    src: url('fonts/PTSans-Regular.ttf');src: url('fonts/PTSans-Regular.ttf?#iefix') format('embedded-opentype'),url('fonts/PTSans-Regular.ttf') format('ttf'),url('fonts/PTSans-Regular.ttf') format('ttf'),url('fonts/PTSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
  }

@font-face {
    font-family: "PTSans-Bold";
    font-display: Block;
    src: url('fonts/PTSans-Bold.ttf');src: url('fonts/PTSans-Bold.ttf?#iefix') format('embedded-opentype'),url('fonts/PTSans-Bold.ttf') format('ttf'),url('fonts/PTSans-Bold.ttf') format('ttf'),url('fonts/PTSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
