//font Families:
$font-medium : "PTSans-Medium", Arial, sans-serif !default;
$font-book : "PTSans-Regular", Arial, sans-serif !default;
$font-bold : "PTSans-Bold", Arial, sans-serif !default;
$font-primary: $font-book;
